<div id="browse">
  <ul class="type">
    <% for(var i = 0; i < types.length ; i++){ %>
      <li data-categories="<%= types[i].categories.join(',') %>"><%= types[i].name %></li>
    <% } %>
  </ul>
  <div id="categories">
  </div>
</div>