
/ DREAM THUMBS 1D
.dreamThumbs_1d

  / DREAM THUMB - ALL
  .thumb.thumbAll.light

    / LEFT SIDE
    .left
      .image
      / TAG CLOUD
      <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags">
      <div class="TC s-1 water">hanging</div>
      <div class="TC s-1 water">friend</div>
      <div class="TC s-7 water">plans</div>
      <div class="TC s-1 water">mystical</div>
      <div class="TC s-7 water">future</div>
      <div class="TC s-2 water">love</div>
      <div class="TC s-8 water">friends</div>
      <div class="TC s-2 water">joy</div>
      <div class="TC s-1 water">make</div>
      <div class="TC s-6 water">lost</div>
      <div class="TC s-7 water">long</div>
      </div>

    / RIGHT SIDE
    .right
      .user.light.round-12
        %p.name XAVI
      .title
        %h1.alpha-10 Chaos Back to School
        %h2 Chaos Back to School...
      %p.text The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.
      .clear-both

  / DREAM THUMB - TAG ONLY
  .thumb.thumbTag.light