
/ DREAM THUMBS 1D
.dreamThumbs_1d
  .thumb.round-16
    .left
  	  .user.light.round-12 style="background:#fff url(avatarPlaceholder.jpg) no-repeat left;">
        %p.font-15.font-bold XAVI
      .title.font-bold
        %h1.alpha-10.font-48 Chaos Back to School
        %p.font-17 Chaos Back to School...
      %p style="color:#666; margin-left:15px;" The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.
      
    .Right
    	<div class="postImage" style="background:url(postImagePlaceholder.jpg) no-repeat top;"></div>
    	<!-- TAG CLOUD -->
        <div id="tagCloud-1075" class="dark O dream_thumb-tags" style="height:64px; overflow:hidden;  -moz-border-radius:0 0 16px 0;">
            <div class="TC s-1 water">hanging</div>
            <div class="TC s-1 water">friend</div>
            <div class="TC s-7 water">plans</div>
            <div class="TC s-1 water">mystical</div>
            <div class="TC s-7 water">future</div>
            <div class="TC s-2 water">love</div>
            <div class="TC s-8 water">friends</div>
            <div class="TC s-2 water">joy</div>
            <div class="TC s-1 water">make</div>
            <div class="TC s-6 water">lost</div>
            <div class="TC s-7 water">long</div>
        </div><!-- CLOSE TAG CLOUD -->
      </div>