
/ DREAM THUMBS 1D
.dreamThumbs_1d
  .thumb.round-16

    / LEFT SIDE
    .left
      .user.light.round-12
        %p XAVI
      .title
        %h1.alpha-10 Chaos Back to School
        %p Chaos Back to School...
      %p The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.

    / RIGHT SIDE
    .right
      .image

      / TAG CLOUD
      <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags" style="height:64px; overflow:hidden;  -moz-border-radius:0 0 16px 0;">
      <div class="TC s-1 water">hanging</div>
      <div class="TC s-1 water">friend</div>
      <div class="TC s-7 water">plans</div>
      <div class="TC s-1 water">mystical</div>
      <div class="TC s-7 water">future</div>
      <div class="TC s-2 water">love</div>
      <div class="TC s-8 water">friends</div>
      <div class="TC s-2 water">joy</div>
      <div class="TC s-1 water">make</div>
      <div class="TC s-6 water">lost</div>
      <div class="TC s-7 water">long</div>
      </div>