/ DREAM THUMB 1D - ALL
.thumb-1d.all.bevel.round-16
  / LEFT SIDE
  .left
    .image
    / TAG CLOUD
    <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags">
    <div class="TC s-1 water">hanging</div>
    <div class="TC s-1 water">friend</div>
    <div class="TC s-7 water">plans</div>
    <div class="TC s-1 water">mystical</div>
    <div class="TC s-7 water">future</div>
    <div class="TC s-2 water">love</div>
    <div class="TC s-8 water">friends</div>
    <div class="TC s-2 water">joy</div>
    <div class="TC s-1 water">make</div>
    <div class="TC s-6 water">lost</div>
    <div class="TC s-7 water">long</div>
    </div>
  / RIGHT SIDE
  .right
    .user.round-12
      %p.name XAVI
    .title
      %h1.alpha-10 Chaos Back to School
      %h2 Chaos Back to School...
    %p.text The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.

/ DREAM THUMB - TAG ONLY
.thumb-1d.tag.bevel.round-16
  .user.light.round-12
    %p.name XAVI
  .tagText "Onward to auspicious victory!" @Phadroid

/ DREAM THUMB - NO IMAGE
.thumb-1d.noImage.bevel.round-16
  / LEFT SIDE
  .left
    / TAG CLOUD
    <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags">
    <div class="TC s-1 water">hanging</div>
    <div class="TC s-1 water">friend</div>
    <div class="TC s-7 water">plans</div>
    <div class="TC s-1 water">mystical</div>
    <div class="TC s-7 water">future</div>
    <div class="TC s-2 water">love</div>
    <div class="TC s-8 water">friends</div>
    <div class="TC s-2 water">joy</div>
    <div class="TC s-1 water">make</div>
    <div class="TC s-6 water">lost</div>
    <div class="TC s-7 water">long</div>
    </div>
  / RIGHT SIDE
  .right
    .user.round-12
      %p.name XAVI
    .title
      %h1.alpha-10 Chaos Back to School
      %h2 Chaos Back to School...
    %p.text The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.

/ DREAM THUMB - NEW IMAGEs
.thumb-1d.newImages.bevel.round-16
  / LEFT SIDE
  .left
    .image
  / RIGHT SIDE
  .right
    .user.light.round-12
      %p.name XAVI
    .display
      %h1.gallery Jacob's Ladder
      %p.text Added 6 images to a gallery

/ DREAM THUMB - ALL
.thumb-1d.all.bevel.round-16
  / LEFT SIDE
  .left

    / DREAM THUMB DETAILS - ON HOVER
    .details
      / DATE
      .date.dark.transparent-50
        Dec 22, 2010 - 7:30am
      / LOCATION
      .location.dark.transparent-50
        Greenwood House

    .image
    / TAG CLOUD
    <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags">
    <div class="TC s-1 water">hanging</div>
    <div class="TC s-1 water">friend</div>
    <div class="TC s-7 water">plans</div>
    <div class="TC s-1 water">mystical</div>
    <div class="TC s-7 water">future</div>
    <div class="TC s-2 water">love</div>
    <div class="TC s-8 water">friends</div>
    <div class="TC s-2 water">joy</div>
    <div class="TC s-1 water">make</div>
    <div class="TC s-6 water">lost</div>
    <div class="TC s-7 water">long</div>
    </div>
  / RIGHT SIDE
  .right
    .user.round-12
      %p.name XAVI
    .title
      %h1.alpha-10 Chaos Back to School
      %h2 Chaos Back to School...
    %p.text The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.