/ FRIEND'S LIST
#userStream

  .user.light.B-bevel.A-outline.round-8
    .userStatus
    .statusHover.round-8.dark.B-bevel
      %span unfollow
    .userThumb.round-8
    .userInfo
      %h3 Sporeganic
      %p Portland, OR
      %p.mutual 90 mutual followers
    .clear-both