/ FRIEND'S LIST
#userStream

  .user.light.B-bevel.A-outline.round-8
    .userStatus
    .statusHover.round-8.dark.B-bevel.hidden
      %span unfollow
    .userThumb.round-8
    .userInfo
      %h3 Duke
      %p Oakland, CA
      %p.mutual 90 mutual followers
    .expanded.light.inner-shadow-10.round-8.hidden
      .item
        .label.bevel.round-12.flat-right dreams
        .image
          %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right starlight
        .image
          %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right friends
        .image
          %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .close.dark.round-8 close
  
  .user.light.B-bevel.A-outline.round-8
    .userStatus
    .statusHover.round-8.dark.B-bevel.hidden
      %span unfollow
    .userThumb.round-8
    .userInfo
      %h3 Sporeganic
      %p Portland, OR
      %p.mutual 90 mutual followers
    .expanded.light.inner-shadow-10.round-8.hidden
      .item
        .label.bevel.round-12.flat-right dreams
        .image
          %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right starlight
        .image
          %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right friends
        .image
          %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .close.dark.round-8 close
      
  .user.light.B-bevel.A-outline.round-8
    .userStatus
    .statusHover.round-8.dark.B-bevel.hidden
      %span unfollow
    .userThumb.round-8
    .userInfo
      %h3 Phong
      %p Oakland, CA
      %p.mutual 90 mutual followers
    .expanded.light.inner-shadow-10.round-8.hidden
      .item
        .label.bevel.round-12.flat-right dreams
        .image
          %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right starlight
        .image
          %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right friends
        .image
          %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .close.dark.round-8 close