/ FRIEND'S LIST
#userStream

  .user.light.B-bevel.A-outline.round-8
    .status
    .statusHover.round-8.dark.B-bevel
      %span unfollow
    .thumb.round-8
    .info
      %h3 Sporeganic
      %p Portland, OR
      %p.mutual 90 mutual followers