#new_dream-images.newDream_assets.light.transparent-50
 #imagesHeaderWrap
  #imagesHeader.headers
   %img{src: '/images/icons/eye-images-16.png'}
   images
  #addFromImageBank.round8button-0-15
   %img{src: '/images/icons/green-plus-20.png'}
   from Image Bank
  #imageDropArea
   %img{src: '/images/icons/green-plus-20.png'}
   drag files here
 %br{style: 'clear: both;'}
 #currentImages
  .dreamImageContainer
   .dreamImage{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.dark.O-bevel X
   %textarea.dreamImageCaption
  .dreamImageContainer
   .dreamImage{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.dark.O-bevel X
   %textarea.dreamImageCaption
  .dreamImageContainer
   .dreamImage{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.dark.O-bevel X
   %textarea.dreamImageCaption
  .dreamImageContainer
   .dreamImage{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.dark.O-bevel X
   %textarea.dreamImageCaption
  %br{style: 'clear: both;'}
   