#new_dream-images.round-16.light.transparent-50.padding-12
 #imagesHeaderWrap
  #imagesHeader.float-left.padding-0-8.new_dream_Headers
   %img.float-left.padding-8{src: '/images/icons/eye-images-16.png'}
   images
  #addFromImageBank.float-left.round-8.padding-1-8.round8button-0-15
   %img.float-left.padding-4{src: '/images/icons/green-plus-20.png'}
   from Image Bank
  #imageDropArea.float-right.round-8
   %img.float-left.padding-6{src: '/images/icons/green-plus-20.png'}
   drag files here
 %br{style: 'clear: both;'}
 #currentImages
  .dreamImageContainer.round-8
   .dreamImage.round-8{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.round-4.padding-8.margin-8.dark.O-bevel X
   %textarea.dreamImageCaption
  .dreamImageContainer.round-8
   .dreamImage.round-8{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.round-4.padding-8.margin-8.dark.O-bevel X
   %textarea.dreamImageCaption
  .dreamImageContainer.round-8
   .dreamImage.round-8{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.round-4.padding-8.margin-8.dark.O-bevel X
   %textarea.dreamImageCaption
  .dreamImageContainer.round-8
   .dreamImage.round-8{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
    .imageRemoveButton.round-4.padding-8.margin-8.dark.O-bevel X
   %textarea.dreamImageCaption
  %br{style: 'clear: both;'}
   