#new_dream-images.newDream_assets.light.transparent-50
  .imagesHeader.headers.indent.button
    %img{src: '/images/icons/eye-images-16.png'}
    images
  #addFromImageBank.round8button-0-15
    %img{src: '/images/icons/green-plus-20.png'}
    from Image Bank
  #imageDropArea
    %img{src: '/images/icons/green-plus-20.png'}
    drag files here
  %br{style: 'clear: both;'}
  #currentImages.hidden
    %br{style: 'clear: both;'}
   