#new_dream-images.round-16.glow-40.light.transparent-50.padding-8-12
 #imagesHeaderWrap
  #imagesHeader.float-left.padding-4
   %img.float-left.padding-2{src: '/images/icons/eye-images-16.png'}
   images
  #addFromImageBank.float-left.round-8.padding-4
   %img.float-left{src: '/images/icons/green-plus-20.png'}
   from Image Bank
  #imageDropArea.float-right.round-8
   %img.float-left.padding-6{src: '/images/icons/green-plus-20.png'}
   drag files here
 %br{style: 'clear: both;'}
 #currentImages
  .dreamImageContainer.round-8
   .dreamImage.round-8-left{style: "background: url('/images/art/red-skies-banner.jpg') no-repeat"}
   %textarea.dreamImageCaption
 
   