/ NEW DREAM LOCATION
#locationPanel.newDream_assets.light.transparent-50
  .locationHeader.headers.indent.button
    %img{src: '/images/icons/location-21.png', height: '16', width: '16'}
    location
  %select#locationList.locations.input.round-8
    %option{value: 'Home'} Home
    %option{value: 'The Pearl'} The Pearl
    %option{value: 'Flow Space'} Flow Space
    %option{value: 'Under I580'} Under I580
    %option{value: 'No Location'} No Location
    %option{disabled: 'true'} -----------
    %option{value: 'New Location'} New Location
  .cancel.indent.button.round-16 cancel
  .expander.hidden
    .name
      %p Location Name
      %input.input
    .city
      %p City
      %input.input
    .state
      %p State / province
      %input.input
    .country
      %p Country
      %input.input
    %br{:style => 'clear: both'}
