/ NEW DREAM LOCATION
#locationPanel.newDream_assets.light.transparent-50
  .locationHeader.headers.indent.button
    %img{src: '/images/icons/location-21.png', height: '16', width: '16'}
    location
  %select#locationList.locations.input.round-8
    %option.finding Finding your location...
    %option{value: 'Home'} Home
    %option{value: 'The Pearl'} The Pearl
    %option{value: 'Flow Space'} Flow Space
    %option{value: 'Under I580'} Under I580
    %option{value: 'No Location'} No Location
    %option.divider{disabled: 'true'}
    %option.newLocation{value: 'New location'} New location
  .bevel.button.delete.round-16 X
  .expander.hidden
    .name
      %input.input{value: 'Location Name'}
    .city
      %input.input{value: 'City'}
    .state
      %input.input{value: 'State/Province'}
    .country
      %input.input{value: 'Country'}
    %br.clear-both
