<div class="ui-dialog ui-widget ui-widget-content ui-corner-all  ui-draggable ui-resizable static-glow-40" style="display: block; z-index: 1002; outline: 0px none; position: relative; height: auto; width: 358px; top: 228px; left: 603px;" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-1">
  <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
    <span class="ui-dialog-title" id="ui-dialog-title-1">Install Chrome Frame</span>
    <a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a>
  </div>
  <div class="ui-dialog-content ui-widget-content" style="width: auto; height: auto;">You should use Chrome Frame. Our site doesn't work on jank browsers like IE 6.</div>
  <div class="ui-resizable-handle ui-resizable-n"></div>
  <div class="ui-resizable-handle ui-resizable-e"></div>
  <div class="ui-resizable-handle ui-resizable-s"></div>
  <div class="ui-resizable-handle ui-resizable-w"></div>
  <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se ui-icon-grip-diagonal-se" style="z-index: 1001;"></div>
  <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 1002;"></div>
  <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 1003;"></div>
  <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 1004;"></div>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
      <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">cancel</span></button>
      <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">install</span></button>
    </div>
  </div>
</div>