#entryBar.round-16.light.transparent-50
  %a.entry{href: new_dream_path} new entry
  .tag tag
  .quote quote
  / Save for later  .book book

#tagEntry.round-16.light.glow-40
  .entryWrap
    %img{src: '/images/slices/inputLeftLight-40.png', width: '26', height: '40'}
    .input
      %input{id: 'tagInput', maxlength: '60', name: 'dreamTitle', title: 'WHO / WHAT / WHERE are you dreaming?', value: 'WHO / WHAT / WHERE are you dreaming?'}
      .add
        %span +
        Add
      %img#sharingExpand.sharing{src: '/images/icons/sharing-16.png'}
      %img#locationExpand.location{src: '/images/icons/location-21.png'}
    %img{src: '/images/slices/inputRightLight-40.png', width: '14', height: '40'}

  #share.round-8.hidden
    %img.arrow{src: '/images/icons/uparrow-black.png'}
    %select.light.O-input.round-8
      %option{value: 'Public'} Public
      %option{value: 'Friends Only'} Friends Only
      %option{value: 'Private'} Private
    .social.round-8
      %label
        %img.icon{src: '/images/icons/facebook-16.png'}
        %span.name Facebook
        %input.checkbox{type: 'checkbox'}

  #autoComplete.light.A-bevel.round-12.hidden
    %ul
      %li.searching &nbsp;SEARCHING
      %li.results
        .avatar
          %img{src: '/images/avatars/xavitar.jpg'}
        %a{href: '#'} Xavi
        // User-follow
        .userStatus

  .tagNode.round-8.hidden
    .avatar.round-8
      %img{src: '/images/avatars/xavitar.jpg'}
    %span Xavi
    %img.removeTag{src: '/images/icons/removeTag-16.png'}