/ STREAM FILTER
.streamFilter
  .filterList.round-12
    %label#title.light.C-shine
      Stream
      %input{type: 'checkbox'}

    / FILTER BY NETWORKS
    #networksFilter.filterType.round-12
      %label.type
        %img{src: '/images/icons/arrow-down-16.png'} 
        %span Network:
        %input{type: 'checkbox'}
      %label
        %img{src: '/images/icons/facebook-16.png'} 
        %span Facebook
        %input{type: 'checkbox'}
      %label
        %img{src: '/images/icons/twitter-16.png'} 
        %span Twitter
        %input{type: 'checkbox'}
      %label
        %img{src: '/images/icons/iconDc.gif'} 
        %span Friends
        %input{type: 'checkbox'}
      %label
        %img{src: '/images/icons/iconDc.gif'} 
        %span Dreamcatcher
        %input{type: 'checkbox'}

    / FILTER BY WHO'S DREAMING ABOUUT ME
    #whoFilter.filterType.round-12
      %label.type
        <span>Who's dreaming <br> about me:</span>
        %input{type: 'checkbox'}

    / FILTER BY FOLLOWING
    #followFilter.filterType.round-12
      %label.type
        %img{src: '/images/icons/arrow-right-16.png'} 
        %span Following:
        %input{type: 'checkbox'}

    / FILTER BY TAGS
    #tagFilter.filterType.round-12
      %label.type
        %img{src: '/images/icons/arrow-down-16.png'} 
        %span Tags:
        %input{type: 'checkbox'}
      %label
        %span dolphins
        %input{type: 'checkbox'}
      %label
        %span victory
        %input{type: 'checkbox'}

    / FILTER BY CHANNELS
    #channelsFilter.filterType.round-12
      %label.type
        %img{src: '/images/icons/arrow-right-16.png'} 
        %span Channels:
        %input{type: 'checkbox'}

    / FILTER BY CATEGORY
    #categoryFilter.filterType.round-12
      %label.type
        %img{src: '/images/icons/arrow-down-16.png'} 
        %span Category:
        %input{type: 'checkbox'}
      %label
        %img{src: '/images/icons/'} 
        %span Dreams
        %input{type: 'checkbox'}
      %label
        %img{src: '/images/icons/'} 
        %span Vision
        %input{type: 'checkbox'}
      %label
        %img{src: '/images/icons/'} 
        %span Experience
        %input{type: 'checkbox'}

    .refresh.dark.round-12 Refresh