<div id="stream-post" class="light A-bevel round-12 padding-12" style="margin-top: 16px;">
  
        <div id="live-stream" class="dark A-indent round-8">
          
          <!-- NORMAL TAG NODE -->
          <div class="stream-node">
            <!-- EXPANDED CONVO STATE -->
              <div status="closed" class="stream-convo light A-bevel padding-4 round-12 glow-40">
                <img src="stream_files/uparrow-white.png" class="connector-arrow-convo" />
                <div style="margin-bottom: 4px;" class="tag-description light A-indent A-outline padding-8 round-8">
                  Swimming with a pod of dolphins.
                </div>
                
                <div class="user-bar padding-4">
                  <img class="user-bar-img" src="stream_files/xavitar.jpg" />
                  
                  <div class="user-title round-4">
                    phong
                  </div>
                  
                  <div class="post-time">
                    1 second ago
                  </div>
                  
                  <div class="post-title-social">
                    <img src="stream_files/facebook-16.png" />
                  </div>
                  <br style="clear: both;" />
                </div>
                
                <div style="margin-top: 4px;" class="convo-input round-8 padding-4 light A-indent">
                  <div class="light A-outline round-4 padding-8" style="background: #fff;">
                    <img class="float-right" style="margin-top: 2px;" src="stream_files/comments-16.png" />
                    input here
                  </div>
                </div>
              </div>
            <span>collectivation</span>
          </div>
          
          <!-- NORMAL TAG NODE -->
          <div class="stream-node">
            <span>conglomorate<div class="stream-count round-8">2</div></span>
          </div>
          
          <!-- USER TAG NODE -->
          <div class="round-8 stream-node stream-node-user dark A-bevel">
            <div class="stream-avatar round-8">
              <img src="stream_files/xavitar.jpg" />
            </div>
            <span style="float: left; margin-left: 10px;">phongnesskrishna</span>
          </div>
          
          <!-- NORMAL TAG NODE -->
          <div class="stream-node">
            <span>trombone<div class="stream-count round-8">12</div></span>
          </div>
          
          <!-- NORMAL TAG NODE -->
          <div class="stream-node">
            <span>vibesquad<div class="stream-count round-8">4</div></span>
          </div>
          
          <!-- NORMAL TAG NODE -->
          <div class="stream-node">
            <span>ice cream</span>
          </div>
          
          <!-- NORMAL TAG NODE -->
          <div class="stream-node">
            <span>automagic</span>
          </div>
          
          <!-- NORMAL TAG NODE -->
          <div class="stream-node">
            <span>paris<div class="stream-count round-8">5</div></span>
          </div>
          
        </div>
        <div id="stream-input" class="light A-indent O-outline round-8" style="margin-top: 8px;">
          
          <div id="autocomplete" class="light A-bevel round-12 padding-4">
            <ul>
              <li id="searching-temp" class="light A-bevel round-8">
                &nbsp;SEARCHING
              </li>
              <li user-id="7438" class="result-listing light A-bevel round-8">
                
                <div class="auto-avatar round-8" style="width: 32px;">
                  <img src="stream_files/xavitar.jpg">
                </div>
                
                <a href="#">Xavi</a>
                
                <!-- User-follow  -->
                <div class="user-stream-node">
                  <div class="user-stream-status margin-8" style="top: 0px !important; left: 0px !important;" follow-status="follow"></div>
                </div>
              </li>
            </ul>
          </div>
          
          <!-- LOCATION INPUT -->
          <div id="location-input">
            <img class="input-expander" id="location-icon" src="stream_files/location-24.png" />
            <div id="location-expand" class="light O round-8 O-bevel glow-20 padding-4">
              <img class="connector-arrow" src="stream_files/uparrow.png" />
              <ul class="general-list">
                <li id="location-data" class="block light B-outline align-left font-15 font-light round-4 padding-8">
                  
                </li>
                <li id="location-title" class="block light B-outline align-left font-15 font-light round-4 padding-8">
                  Detect location...
                </li>
                <li>
                  <select tabindex="4" name="locationInput" class="A B-outline font-17 round-4 padding-4 pointer light" id="location-select" style="width: 100%;">
                    <optgroup class="font-17 pointer" label="Locations">
                      <option selected="selected" value="Portland, OR">Portland, OR</option>
                      <option value="Oakland, CA">Oakland, CA</option>
                      <option value="New">New Location...</option>
                    </optgroup>
                  </select>
                </li>
              </ul>
            </div>
          </div>

          <!-- SHARING INPUT -->
          <div id="sharing-input">
            <img class="input-expander" id="sharing-icon-display" src="stream_files/sharinggrey-icon-16.png" />
            <div id="sharing-expand" class="light O round-8 O-bevel glow-20 padding-4">
              <img class="connector-arrow" src="stream_files/uparrow.png" />
              <ul class="general-list">
                <li>
                  <select tabindex="4" name="sharingInput" class="A B-outline font-17 round-4 padding-4 pointer light" id="sharing-select" style="width: 100%;">
                    <optgroup class="font-17 pointer" label="Sharing">
                      <option selected="selected" value="public">Public</option>
                      <option value="private">Private</option>
                      <option value="friends">Friends Only</option>
                      <option value="anon">Anonymous</option>
                    </optgroup>
                  </select>
                </li>

                <li id="public-options" class="block light B-outline B-bevel align-left font-15 font-light round-4 padding-8">
                  <img src="stream_files/facebook-16.png"  class="sharing-icon" style="position: relative; top: 3px !important;" width="16" height="16" />&nbsp;<span class="font-bold">Facebook</span>
                  <div id="share-fb-button" class="sharing-checkbox light A A-outline float-right round-4" style="background-color: #fff;">
                    <img style="display: none; position: relative; top: -15px; left: -2px;" src="stream_files/check.png">
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div id="stream-post-button" class="padding-4-8 round-8"><img src="stream_files/plus-icon-8.png" /> add</div>

          <div id="stream-help"><img src="stream_files/info-icon-16.png" /></div>
          <!--<div id="tag-node" class="round-8">
            <div class="auto-avatar round-8" style="width: 32px;">
              <img src="stream_files/xavitar.jpg">
            </div>

            <span style="float: left; margin-left: 10px;">Xavi</span>
          </div>-->

          <input id="stream-form" type="text" tabindex="1" maxlength="60" name="dreamTitle" value="WHO / WHAT / WHERE are you dreaming?" style="width: 70%; float: left; margin-left: 10px;" class="input-title font-bold alpha-80">

          <input id="stream-desc-form" type="text" tabindex="2" maxlength="60" name="dreamDesc" value="What where they doing?" style="width: 55%; float: left; margin-left: 10px; display: none;" class="input-title font-bold alpha-80">
        </div>
      </div>