.tagStream.dark.transparent-50.round-16
  .stream.round-16
 

    // EXPANDED CONVO STATE
    .tagChat.light.A.round-12.glow-40.hidden
      %img.arrow{src: '/images/icons/uparrow-white.png'}
      .description.light.A-indent.A-outline.round-8 Swimming with a pod of dolphins.
      .postInfo
        %img.avatar{src: '/images/avatars/xavitar.jpg'}
        .name phong
        .time 1 second ago
        %img.shared{src: '/images/icons/facebook-16.png'}
        .clear-both
      .chat.round-8.light.A-indent
        .userComment
          %img.avatar{src: '/images/avatars/xavitar.jpg'}
          .name phong
          .comment this is a comment
        .userComment
          %img.avatar{src: '/images/avatars/xavitar.jpg'}
          .name phong
          .comment yes i see, very well
        .userComment
          %img.avatar{src: '/images/avatars/xavitar.jpg'}
          .name phong
          .comment ahh, you do, how about now?
        .input.light.A-outline.round-4
          %input{value: 'comment'}
          %img{src: '/images/icons/comments-16.png'}


    <!-- NORMAL TAG NODE -->
    <div class="stream-node" style="opacity: 100; color: rgb(107, 185, 255); left: 0px; top: 0px;">
    <span>collectivation</span> </div>

    <!-- NORMAL TAG NODE -->
    <div class="stream-node" style="opacity: 100; color: rgb(159, 243, 255); left: 40px; top: 35px;"> <span style="font-size: 14.4px;">conglomorate
    <div class="stream-count round-8">2</div>
    </span> </div>

    <!-- USER TAG NODE -->
    <div class="stream-node stream-node-user dark" style="opacity: 100; color: rgb(107, 185, 255); left: 160px; top: 0px;">
    <div class="stream-avatar round-8"> <img src="stream_files/xavitar.jpg"> </div>
    <span style="float: left; margin-left: 10px;">phongnesskrishna</span> </div>

    <!-- NORMAL TAG NODE -->
    <div class="stream-node" style="opacity: 100; color: rgb(159, 243, 255); left: 200px; top: 35px;"> <span style="font-size: 21.4px;">trombone
    <div class="stream-count round-8">12</div>
    </span> </div>

    <!-- NORMAL TAG NODE -->
    <div class="stream-node" style="opacity: 100; color: rgb(159, 243, 255); left: 320px; top: 0px;"> <span style="font-size: 15.8px;">vibesquad
    <div class="stream-count round-8">4</div>
    </span> </div>

    <!-- NORMAL TAG NODE -->
    <div class="stream-node" style="opacity: 100; color: rgb(107, 185, 255); left: 360px; top: 35px;"> <span>ice cream</span> </div>

    <!-- NORMAL TAG NODE -->
    <div class="stream-node" style="opacity: 100; color: rgb(107, 185, 255); left: 480px; top: 0px;"> <span>automagic</span> </div>

    <!-- NORMAL TAG NODE -->
    <div class="stream-node" style="opacity: 100; color: rgb(159, 243, 255); left: 520px; top: 35px;"> <span style="font-size: 16.5px;">paris
    <div class="stream-count round-8">5</div>
    </span> </div>
    