/ DREAM THUMB - NEW IMAGES
.thumb-1d.newImages.bevel.round-16
  / LEFT SIDE
  .left
    .image
  / RIGHT SIDE
  .right
    .user.light.round-12
      %p.name XAVI
    .display
      %h1.gallery Jacob's Ladder
      %p.text Added 6 images to a gallery

