- content_for :head do
  = stylesheet_link_tag 'dreamThumbs', 'contextPanel', 'entryBar', 'tagStream', 'modal', 'dreamStream'
  = javascript_include_tag 'modal', 'tagStream'


/ CONTEXT PANEL
= render :partial => "shared/context_panel", :locals => {:user => @user}




/ DREAM FIELD
#dreamField

  / NEW ENTRY BAR
  =render :partial => 'entry_bar'
  
  / TAG ENTRY & STREAM
  =render :partial => 'tag_stream'

  / DREAM MATRIX
  .matrix

    / DREAM THUMBS
    - @dreams.each do |dream|
      = render :partial => 'dream_thumb', :locals => {:dream => dream}

    / DREAM THUMBS 1D
    /= render :partial => 'dream_thumb_1d'

    / NO DREAMS TO DISPLAY
    - if @dreams.empty?
      .noDreams.hidden.light.transparent-50.round-16.padding-8.font-21 there are no public dreams to display



/ MODAL WINDOW
/:javascript
/  $(document).ready(function(){ dc.modal(); });

/= render :partial => "modal_temp"


/ DEBUG
/  .light.transparent-50.round-16.padding-8
/    = debug current_user