- content_for :head do
  = stylesheet_link_tag 'dreamThumbs', 'contextPanel', 'newEntry', 'tagStream'
  = javascript_include_tag 'jquery-ui.min', 'modal', 'jquery-1', 'jquery', 'ga'



/ CONTEXT PANEL
= render :partial => "shared/context_panel", :locals => {:user => @user}




/ DREAM FIELD
#dreamField

  / NEW ENTRY BAR
  =render :partial => 'newEntry'
  
  / TAG ENTRY & STREAM
  =render :partial => 'tag_stream'

  / DREAM THUMBS
  - @dreams.each do |dream|
    = render :partial => 'dream_thumb', :locals => {:dream => dream}

  / NO DREAMS TO DISPLAY
  - if @dreams.empty?
    .noDreams.light.transparent-50.round-16.padding-8.font-21 there are no public dreams to display



/ MODAL WINDOW
/= render :partial => "blah"


/ DEBUG
/  .light.transparent-50.round-16.padding-8
/    = debug current_user