- content_for :head do
  = sass_link_tag 'context_panel', 'dreams'









/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => current_user}

#dreamField

  / SHOW DREAM
  #showDream.transparent-80.round-16.glow-40

    .type.round-12 Dream

    %a.next.button.round-12-right{:href => dreams_path}
      %span &rsaquo;
    .stream.button.flat-all sream
    %a.prev.button.round-12-left{:href => dreams_path}
      %span &lsaquo;
    .books.button.round-8 My Book of Dreams

    .imageHeader.round-16.flat-bottom
      .title.round-8-top.transparent-50= @dream.title

    .content.flat-top.round-12-bottom
      .body= @dream.body

      %ul.gallery
        %li.round-8
        %li.round-8
        %li.round-8
        %li.round-8
        %li.round-8
        %li.round-8
        %li.round-8
        %li.round-8
        %li.round-8
        %li.round-8

      .sharePanel.round-4
        .facebook.button.round-16
          %img{src: '/images/icons/facebook-16.png'}
          %span Link on Facebook
        .www.button.round-16
          %img{src: '/images/icons/link-16.gif'}
          %span Link on WWW
        .rePost.button.round-16
          %img{src: '/images/icons/facebook-16.png'}
          %span Another Related Dream
        .clear-both
      .clear-both
