- content_for :head do
  = sass_link_tag 'context_panel', 'dreams'



/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @dream.user}



#dreamField

  / SHOW DREAM
  #showDream.transparent-50.round-16.glow-40

    .type.bevel.border.round-16 Dream

    %a.next.button.shine.round-16-right{:href => dreams_path}
      %span &rsaquo;
    .stream.button.shine.flat-all sream
    %a.prev.button.shine.round-16-left{:href => dreams_path}
      %span &lsaquo;

    / 
      Save for later
      .books.button.round-8 My Book of Dreams

    / HEADER IMAGE & TITLE
    .imageHeader.round-16.flat-bottom

      / MOOD ICON
      .moodIcon.button.glow-10
        %img{src: '/images/moods/plants/Fungi.png'}

      .title.round-8-top.transparent-50= @dream.title

    .content.flat-top.round-16

      / BODY
      .body= @dream.body

      / IMAGE GALLERY
      %ul.gallery
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
        %li.button.round-8
      .clear-both

      / SHARING
      #sharePanel.round-8
        .facebook.button.bevel.round-16
          %img{src: '/images/icons/facebook-16.png'}
          %span Link on Facebook
        .www.button.bevel.round-16
          %img{src: '/images/icons/link-16.gif'}
          %span Link on WWW
        .rePost.button.bevel.round-16
          %img{src: '/images/icons/facebook-16.png'}
          %span Another Related Dream
        .clear-both

      / INFO
      #infoPanel
        .postTime.infoTab.round-16 2 hours ago
        .postLocation.infoTab.round-16 Tokyo, Japan
        .starlightCount.infoTab.round-16
          %img.starlight{src: '/images/icons/starlight-22.png'}
          %span 23,243
        .shareOptions.infoTab.round-16
          .love.selected
          .share
          .repost.selected
        .clear-both
      .clear-both

    / TAG
    #tagDream.panel.round-12
      .tagHeader.headers.indent.button
        tag
        %img{src: '/images/icons/tag-20.png'}
      .tagInputWrap
        %img{src: '/images/slices/inputLeftLight-40.png', width: '26', height: '40'}
        .tagInput
          %input#newTag
          .tagAdd.button.bevel.round-4
            %span +
            Add
        %img{src: '/images/slices/inputRightLight-40.png', width: '14', height: '40'}
      %img.tagCheck{src: '/images/icons/check-33.png', width: '33', height: '33'}

    / ANALYSIS
    #analysis.panel.round-12
      .analysisHeader.headers.indent.button
        analysis
        %img{src: '/images/icons/analysis-10.png', width: '10', height: '16'}

      / ANALYSIS TAGS
      / * with avatar on background, bevel class becomes null *
      .analysisTags.bevel.button.round-12
        %span dolphin
        .arrow
      .analysisTags.bevel.button.round-12
        %span tsunami
        .arrow
      .analysisTags.expanded.bevel.button.round-12
        %span flying
        .arrow
        .clear-both
        %P To dream that you are flying, signifies a sense of freedom where you had initially felt restricted and limited. To dream that you are flying with black wings, signifies bitter disappointments.
        .dreamMoods.button.bevel.round-12 Dream Moods
        .clear-both
      .analysisTags.bevel.button.round-12
        %span telepathy
        .arrow

    / COMMENTS
    .commentsPanel.panel.shine-alpha.round-12
      .commentsHeader.headers.indent.button
        comments
        %img{src: '/images/icons/comments-16.png', width: '16', height: '16'}
        .counter (6)

      .newCommentWrap
        .avatar.button.round-12
        .newComment.inputTextarea.round-12
          %textarea
          .save.shine.button.round-16 post
          .links
            %img{src: '/images/icons/link-16.gif', width: '16', height: '16'}
            links
          .images
            %img{src: '/images/icons/eye-images-16.png', width: '19', height: '13'}
            images
        .clear-both

      .prevCommentWrap
        .avatar.button.round-12
        .prevComment.input.round-12
          .user.button.bevel.round-8 Iotus
          .postTime 15 minutes ago
          %ul
            %li.button.round-8
            %li.button.round-8
            %li.button.round-8
            %li.button.round-8
          .comment Check it out, did it look like this??
          .rePost.bevel.button.round-16
            %img{src: '', width: '16', height: '16'}
            Another Related Dream
        .clear-both

      .clear-both

