// USER MENU

#userMenu
  +hidden
  +absolute
  +clear
  +round(16)
  left: 0px
  top: 80px
  z-index: 1400
  +panel-light

  .arrow
    +absolute
    top: -12px
    left: 16px
    +arrow-light(up, 12)

  .settings
    +round(16)
    +flat-bottom
    @extend .settings-24
    &:hover
      @extend .settings-24-hover

  .faq
    @extend .settings-24
    &:hover
      @extend .settings-24-hover

  .feedback
    @extend .settings-24
    &:hover
      @extend .settings-24-hover

  .logout
    +round(16)
    +flat-top
    @extend .logout-24
    &:hover
      @extend .logout-24-hover

  .settings, .faq, .feedback, .logout
    +pointer
    height: 36px
    line-height: 36px
    width: 180px
    background-position: 8px center
    color: #222
    &:hover
      color: #ddd
      background-color: black
      background-position: 8px center

    span
      padding-left: 40px



