// DREAMSTARS MINI
.dreamstarsMiniWrap
  +relative
  +round(16)
  +transparent
  +glow-blue(40)
  +user-select
  width: 220px
  img.logo
    +absolute
    top: -18px
    z-index: 100
  span
    +absolute
    +font(14)
    right: 20px
    top: 24px
    color: #b9d6f6
    z-index: 100

.dreamstarsMini
  // +transparent-light(50)
  +shine-blue(16)
  +border-blue
  +round(16)
  +clear
  +overflow
  margin: 0
  padding: 8px

  a
    +relative
    +block
    +round(32)
    +pointer
    width: 196px
    height: 32px
    line-height: 32px
    margin-bottom: 4px

    &:hover
      border: 4px solid #fff
      color: #fff
      background: rgba(0,0,0,0.1)
      // +transparent-dark(10)

      .badge, .rank, .name
        color: #fff !important

    .badge, .rank, .name
      +absolute
      +bold

    .badge
      left: -6px
      top: -12px
      width: 56px
      height: 56px
      // margin: -12px 0 -4px -6px
    .name
      left: 0
      top: 0
      +overflow
      +center
      width: 196px
      color: #111 !important
    .rank
      right: 16px





  .dreamstar-1:hover
    box-shadow: 0 0 30px #ff40d9
    -webkit-box-shadow: 0 0 30px #ff40d9
    -moz-box-shadow: 0 0 30px #ff40d9
  .dreamstar-2:hover
    box-shadow: 0 0 30px #7140ff
    -webkit-box-shadow: 0 0 30px #7140ff
    -moz-box-shadow: 0 0 30px #7140ff
  .dreamstar-3:hover
    box-shadow: 0 0 30px #4049ff
    -webkit-box-shadow: 0 0 30px #4049ff
    -moz-box-shadow: 0 0 30px #4049ff
  .dreamstar-4:hover
    box-shadow: 0 0 30px #407aff
    -webkit-box-shadow: 0 0 30px #407aff
    -moz-box-shadow: 0 0 30px #407aff
  .dreamstar-5:hover
    box-shadow: 0 0 30px #409aff
    -moz-box-shadow: 0 0 30px #409aff
    -webkit-box-shadow: 0 0 30px #409aff
  .dreamstar-6:hover
    box-shadow: 0 0 30px #40bfff
    -moz-box-shadow: 0 0 30px #40bfff
    -webkit-box-shadow: 0 0 30px #40bfff

  .dreamstar-1
    margin: 38px 0 4px
    border: 4px solid #FF40D9
    +gradient(#fff, #fdfcc4)
    .rank
      color: #e7d44d
  .dreamstar-2
    border: 4px solid #7140FF
    +gradient(#fff, #cce5c5)
    .rank
      color: #448e09
  .dreamstar-3
    border: 4px solid #4049FF
    +gradient(#fff, #afe4ca)
    .rank
      color: #419b69
  .dreamstar-4
    border: 4px solid #407AFF
    +gradient(#fff, #9ddbe6)
    .rank
      color: #338c9b
  .dreamstar-5
    border: 4px solid #409AFF
    +gradient(#fff, #9ccbe7)
    .rank
      color: #3375a5
  .dreamstar-6
    border: 4px solid #40BFFF
    +gradient(#fff, #a8c0e6)
    margin-bottom: 0
    .rank
      color: #365ba6


