
// FRIEND AND FOLLOWING
#relationship
  +clear
  +user-select
  +round(12)
  +flat-top
  +relative
  width: 100%
  margin-bottom: 2px

  .relation
    +bold
    +center
    padding: 3px
    margin: 0


  .icon
    +absolute
    right: 22px
    top: 0px
    width: 24px
    height: 24px

  &.following .icon
    @extend .friend-24-follow
  &.friend




  .changeRelation.follow, .changeRelation.unfollow, .changeRelation.befriend, .changeRelation.unfriend
    +block
    +round(12)
    +flat-top
    color: #fff

  .changeRelation.follow, .changeRelation.befriend
    +bg-shine(16)
    +gradient(#70d03b, #235b1b)
    +pointer
    color: #fff
    border: 1px solid #54943d
    &:active
      +gradient(#235b1b, #70d03b)
  .changeRelation.unfollow, .changeRelation.unfriend
    +unfollow(16)




.light #relationship
  +button-light
  +transparent-light(50)

.dark #relationship
  +button-dark
  +transparent-dark(50)








