.bundle
vendor/bundle
db/*.sqlite3
log/*.log*
tmp/*
tmp/**/*
.DS_Store
public/imagebank/*
public/imagebank-cache/*
public/dreamcatcher/production.js
public/dreamcatcher/dreamcatcher.js
public/assets
public/compiled
config/initializers/dump.rdb

