.bundle
vendor/bundle
db/*.sqlite3
log/*.log*
tmp/*
tmp/**/*
.DS_Store
.idea
public/imagebank
public/imagebank-cache/*
public/dreamcatcher/production.js
public/dreamcatcher/dreamcatcher.js
public/compiled
config/initializers/dump.rdb
config/database.yml
