<li class="uploading">
  <div class="file"></div>
  <div class="size"></div>
  <a href="#" class="cancel">cancel</a>
  <div class="failed hidden">failed</div>
  <p class="progress"></p>
  <div class="spinner"></div>
  <div class="close hidden"></div>
</li>