<li class="uploading">
  <div class="progress-bar"></div>
  <div class="file"></div>
  <div class="size"></div>
  <a class="cancel">cancel</a>
  <div class="failed hidden">failed</div>
  <div class="progress"></div>
  <div class="spinner"></div>
  <div class="close hidden"></div>
</li>