<div class="trigger showhide">
  <div class="commentsHeader headers">
    <div class="count">
      <div class="img"></div>
      <span></span>
    </div>
    comments
  </div>
</div>
<div class="clear"></div>
<div class="target showhide">
  <div class="showAll">
    show all
    <span></span>
    comments
  </div>
  <div class="comments">

  </div>
  <% if (userId != null) { %>
  <a name="bottom" href="#"></a>
  <div class="newCommentWrap">
    <% if (imageId) { %>
      <div style="background-image: url('/images/uploads/<%= imageId %>-avatar-64.jpg')" class="avatar"></div>
    <% } else { %>
      <div class="avatar"></div>
    <% } %>
    <div class="newComment">
      <textarea id="entryComment_<%= entryId %>" rows="20" cols="40" class="comment_body" placeholder="add comment..."></textarea>
      <input type="button" value="post" class="save hidden">
      <div class="links hidden">
        <div class="img"></div>
        links
      </div>
      <div class="images hidden">
        <div class="img"></div>
        image
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <% } %>
  <div class="clear"></div>
</div>




