# Geoff - please transform into haml
Thanks submitting your new username -
it has now been changed and is currently in effect. You can login to Dreamcatcher with your new username as follows.

username : <%= @user.username %>

Thanks!
The Dreamcatcher Team
http://dreamcatcher.net