# Geoff - please transform into haml
Hello Dreamer!
We have made some changes to the Dreamcatcher system - one of the changes includes a new maximum username length of 15 characters! You seem to have a username longer than that. We sent a notice to change it 30 days ago and have not received a response, so your username has automatically been changed to :

username : <%= @user.username %>

If you would like to change it, please send us an email and let us know.

Thanks!
The Dreamcatcher Team
http://dreamcatcher.net