!!! 5
%html
  %head
    %meta(content="text/html charset=UTF-8" http-equiv="Content-Type")

  %body
    Hello 
    = @user.name
    ,
    %p
      You requested a password reset in dreamcatcher.  
    %p
      You can accomplish this by clicking 
      = link_to "this reset link.", @reset_url
    %p
      = @reset_url
    %br
    %p
      Sincerely,
    %h4
      %i The Dreamcatcher Team
