!!! 5
%html
  %head
    %meta(content="text/html charset=UTF-8" http-equiv="Content-Type")

  %body{style: "color: #0b3f6f", "font-family: calibri, Lucida Sans Unicode, Lucida Grande, sans-serif", "font-size: 16px"}
    Hello 
    = @user.name
    ,
    %h1{style: "font-size: 18px"} Forgot your Dreamcatcher Password?!

    %p Click this link to complete the password reset process:

    %div{style: "background-color: #d0d9e3", "padding: 4px"}
      = link_to "this reset link.", @reset_url

    %p
      = @reset_url

    %p 
      If your issue persists, please email:
      %a{href: 'mailto:password@dreamcatcher.net'} password@dreamcatcher.net

    %p Thanks for dreaming with us!
    %br The Dream Team
    %br
    %a{href: 'http://dreamcatcher.net'} http://dreamcatcher.net