Hello #{@user.username},

Need to reset your Dreamcatcher password?

Follow this link to complete the password reset process:
= @reset_url

If your issue persists, please email password@dreamcatcher.net

Thanks for dreaming with us!

The Dream Team
http://dreamcatcher.net

