!!! 5
%html
  %head
    %meta(content="text/html charset=UTF-8" http-equiv="Content-Type")

  %body{style: "color: #0b3f6f, font-family: calibri, Lucida Sans Unicode, Lucida Grande, sans-serif, font-size: 16px"}
    %p{style: "color: #0b3f6f"} 
      Hello
      = @user.username
      ,
    %h1{style: "color: #0b3f6f, font-size: 16px"} Need to reset your Dreamcatcher password?

    %p{style: "color: #0b3f6f"} Follow this link to complete the password reset process:

    %p{style: "color: #0b3f6f"}
      = link_to @reset_url, @reset_url

    %p{style: "color: #0b3f6f"} If your issue persists, please email:
    %a{href: 'mailto:password@dreamcatcher.net', style: "color: #0b3f6f"} password@dreamcatcher.net

    %p{style: "color: #0b3f6f, margin:10px 0 0"} Thanks for dreaming with us!
    %p{style: "color: #0b3f6f, margin:0"} The Dream Team
    %a{href: 'http://dreamcatcher.net', style: "color: #0b3f6f, margin:0"} http://dreamcatcher.net