!!! 5
%html
  %head
    %meta{:content => "text/html charset=UTF-8", :'http-equiv' => "Content-Type"}

  %body

    / DECLARE VISITED LINK STYLING HERE
    %style{type: "text/css"}
      a{text-decoration: none}
      a:hover{text-decoration: underline}
      a:visited{color: #6383a5}


    %table{width: "639", border: "0", cellspacing: "0", cellpadding: "0", style: "border-top-left-radius: 20px; -moz-border-radius-topleft: 20px; -webkit-border-radius-topleft: 20px; border-top-right-radius: 20px; -moz-border-radius-topright: 20px; -webkit-border-radius-topright: 20px; border-bottom-right-radius: 20px; -moz-border-radius-bottomright: 20px; -webkit-border-radius-bottomright: 20px; border-bottom-left-radius: 20px; -moz-border-radius-bottomleft: 20px; -webkit-border-radius-bottomleft: 20px; margin-top: 20px; margin-left: auto; margin-right: auto; box-shadow: 0 0 20px black; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; "}
      %tr
        %td{height: "92", valign: "bottom", background: "#{host_url_for '/images/email/email-header.jpg'}", style: "border-bottom: 8px solid #0b3f6f; border-radius: 20px 20px 0 0; -moz-border-radius: 20px 20px 0 0; -webkit-border-radius: 20px 20px 0 0; "}

      %tr
        %td{bgcolor: "#e6ebf0", style: "color: #0b3f6f; padding: 10px 29px; font-family:calibri, Lucida Sans Unicode, Lucida Grande, sans-serif; font-size:16px;"}

          %h1{style: "color: #0b3f6f; font-size: 28px; font-weight: normal; margin: 0;"}
            Hello Dreamer! 
            %a{href: "http://dreamcatcher.net/#{@user.username}", style: "color: #0B3F6F; font-weight: normal;"}= @user.username

          %p{style: "color: #6383a5; font-size: 19px"}
            We are making some changes to the Dreamcatcher system - one of the changes includes a new maximum username length of 15 characters! You seem to have a username longer than that.
            %br
            %br
            
            username : 
            ="#{@user.username}" 
            %br
            %br

            This is a warning that you have 30 days to respond to this email with your new username (under 15 characters.) If you do not respond after 30 days, then your username will be automatically truncated (reduced to the first 15 characters.)
            %br
            %br
            

            Thanks for playing long!<br />
            The Dreamcatcher Team
            %br
            %br
                     
            %a{href: "http://dreamcatcher.net/", target: "_blank", style: "color: #0b3f6f; font-size: 28px; text-shadow: #fff 0 1px 1px; text-decoration: none;"}
              http://dreamcatcher.net
