!!! 5
%html
  %head
    %meta{:content => "text/html charset=UTF-8", :'http-equiv' => "Content-Type"}

  %body

    / BLUE BACKGROUND
    %table{width: "98%", border: "0", cellspacing: "0", cellpadding: "0"}
      %tr
        %td{align: "center", valign: "middle", bgcolor: "#e6ebf1", style: "padding: 30px 0 30px 0"}


          / EMAIL CONTENTS
          %table{width: "677", border: "0", cellspacing: "0", cellpadding: "0"}

            / HEADER
            %tr
              %td{background: "http://localhost:3000/images/email/email-header.jpg", bgcolor: "#fff", height: "114", valign: "bottom"}



            / BODY
            %tr
              %td{background: "http://localhost:3000/images/email/email-center.gif", bgcolor: "#fff", style: "font-family:calibri, Lucida Sans Unicode, Lucida Grande, sans-serif; font-size:16px; padding: 0 30px 0 45px"}

                / WELCOME
                %h1{style: "color: #000; font-size: 27px; font-weight: normal; margin-top: 28px;"}
                  welcome to Dreamcatcher, 
                  %a{href: "http://dreamcatcher.net/#{@user.username}", style: "color: #0B3F6F; font-weight: normal; text-decoration: none;"}= @user.username

                %p{style: "color: #555; font-size: 19px"}
                  discover a deeper part of yourself<br>
                  explore your subconscious mind<br>
                  share your creative journey with the world


                / LIFE IS A DREAM
                %table{style: "padding-top: 4px"}
                  %tr
                    %td{:'vertical-align' => "middle", align: "left"}
                      %h2{style: "color: #000; font-size: 23px; font-weight: normal; margin: 0px"} Life is a dream...
                    %td{:'vertical-align' => "middle"}
                      %img{src: "http://localhost:3000/images/email/line.gif", width: "100%", height: "2"}

                %table{style: "padding: 10px 0 0 15px"}
                  %tr
                    %td{:'vertical-align' => "middle", align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/dream.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      explore your <b style="color: #333;">dreams</b> with other dreamers
                  %tr
                    %td{:'vertical-align' => "middle", align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/vision.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      share your <b style="color: #333;">vision</b> with the world
                  %tr
                    %td{:'vertical-align' => "middle", align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/experience.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      chart your peak <b style="color: #333;">experiences</b>
                  %tr
                    %td{:'vertical-align' => "middle", align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/article.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      compose <b style="color: #333;">articles</b> to share with your network
                  %tr
                    %td{:'vertical-align' => "middle", align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/journal.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      use as your multi-media diary and <b style="color: #333;">journal</b>



                / USING DREAMCATCHER
                %table{style: "padding: 15px 0 22px 0"}
                  %tr
                    %td{:'vertical-align' => "middle", align: "left"}
                      %h2{style: "color: #000; font-size: 23px; font-weight: normal; margin: 0px"} using Dreamcatcher
                    %td{:'vertical-align' => "middle"}
                      %img{src: "http://localhost:3000/images/email/line.gif", width: "100%", height: "2"}

                %table{style: "padding: 15px 0 0 15px"}
                  %tr
                    %td{:'vertical-align' => "middle", align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/home.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      improve your dream recall and <b style="color: #0b3f6f;">log last night's dream ›</b>
                  %tr
                    %td{align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/stream.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      build networks and follow other dreamers in the <b style="color: #0b3f6f;">Dream Stream ›</b>
                  %tr
                    %td{align: "right"}
                      %img{src: "http://localhost:3000/images/email/icons/quasm.png", width: "24", height: "24", style: "vertical-align: middle"}
                    %td{align: "left", style: "vertical-align: middle; color:#555; font-size: 18px;"}
                      check out what's trending at <b style="color: #0b3f6f;">Today in Dreams ›</b>





            / FOOTER
            %tr
              %td{background: "http://localhost:3000/images/email/email-footer.gif", bgcolor: "#fff", height: "85", style: "padding: 0 30px 0 45px"}

                %table{width: "100%"}
                  %tr

                    / LINK
                    %td{align: "left", height: "85", style: "vertical-align: top;"}
                      %a{href: "http://dreamcatcher.net/#{@user.username}", target: "_blank", style: "color: #0b3f6f; font-size: 27px; text-shadow: #bbb 0 1px 1px; text-decoration: none;"}
                        http://dreamcatcher.net/#{@user.username}

                    / POST BUTTON
                    %td{align: "right", width: "100", style: "vertical-align: top;"}
                      %a{href: "http://dreamcatcher.net/entries/new", target: "_blank"}
                        %img{src: "http://localhost:3000/images/email/post-button.gif",  width: "66", height: "36", border: "0", alt: "post a dream on Dreamcatcher.net!", style: "border: 0px;"}






