!!! 5
%html
  %head
    %meta{:content => "text/html charset=UTF-8", :'http-equiv' => "Content-Type"}

  %body

    / BLUE BACKGROUND
    %table{width: "98%", border: "0", cellspacing: "0", cellpadding: "0"}
      %tr
        %td{align: "center", style: "background-color: #e6ebf1; padding: 30px 0 30px 0"}


          / EMAIL CONTENTS
          %table{width: "677", border: "0", cellspacing: "0", cellpadding: "0"}

            / HEADER
            %tr
              %td{background: "http://theta.dreamcatcher.net/images/email/email-header.jpg", style: "background-color: #f2f5f8;", height: "114"}



            / BODY
            %tr
              %td{background: "http://theta.dreamcatcher.net/images/email/email-center.gif", style: "background-color: #fff; font-family:calibri, Lucida Sans Unicode, Lucida Grande, sans-serif; font-size:16px; padding: 0 30px 0 45px", align: "left"}

                / WELCOME
                %table{style: "padding-top: 28px"}
                  %tr
                    %td
                      %h1{  style: "font-weight: normal; color: #000; font-size: 28px; margin: 0"}
                        welcome to Dreamcatcher, 
                        %a{ style: "font-weight: normal; color: #49abe5; text-decoration: none;", href: "http://dreamcatcher.net/#{@user.username}"}= @user.username
                  %tr
                    %td{style: "padding-top: 4px"}
                      %p{style: "color: #555; font-size: 18px; margin: 0"}
                        discover a deeper part of yourself<br>
                        explore your subconscious mind<br>
                        share your creative journey with the world


                / LIFE IS A DREAM
                %table{style: "padding-top: 24px", width: "100%"}
                  %tr
                    %td{style: "padding-right: 30px"}
                      %h2{style: "vertical-align: middle; color: #000; font-size: 22px; font-weight: normal; margin: 0px; white-space: nowrap"} Life is a dream...
                    %td{width: "100%"}
                      %img{style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/line.gif", width: "100%", height: "2"}

                %table{style: "padding: 10px 0 0 20px"}

                  %tr
                    %td{align: "right"}
                      %img{style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/dream.png", width: "24", height: "24"}
                    %td{style: "vertical-align: middle; color:#555; font-size: 18px; padding-left: 6px;"}
                      explore your <b style="color: #333;">dreams</b> with other dreamers

                  %tr
                    %td{align: "right"}
                      %img{style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/vision.png", width: "24", height: "24"}
                    %td{style: "vertical-align: middle; color:#555; font-size: 18px; padding-left: 6px;"}
                      share your <b style="color: #333;">vision</b> with the world

                  %tr
                    %td{align: "right"}
                      %img{style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/experience.png", width: "24", height: "24"}
                    %td{style: "vertical-align: middle; color:#555; font-size: 18px; padding-left: 6px;"}
                      chart your peak <b style="color: #333;">experiences</b>

                  %tr
                    %td{align: "right"}
                      %img{style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/article.png", width: "24", height: "24"}
                    %td{style: "vertical-align: middle, color:#555; font-size: 18px; padding-left: 6px;"}
                      write <b style="color: #333;">articles</b> to share with your network

                  %tr
                    %td{align: "right"}
                      %img{style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/journal.png", width: "24", height: "24"}
                    %td{style: "vertical-align: middle; color:#555; font-size: 18px; padding-left: 6px;"}
                      use as your multi-media diary and <b style="color: #333;">journal</b>



                / USING DREAMCATCHER
                %table{width: "100%", style: "padding: 15px 0 8px 0"}
                  %tr
                    %td{style: "padding-right: 30px"}
                      %h2{  style: "vertical-align: middle; color: #000; font-size: 22px; font-weight: normal; margin: 0px; white-space: nowrap"} Using Dreamcatcher
                    %td{width: "100%"}
                      %img{ style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/line.gif", width: "100%", height: "2"}


                %table{style: "padding: 0 0 40px 20px"}
                  %tr
                    %td{align: "right"}
                      %img{ style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/home.png", width: "24", height: "24"}
                    %td{style: "padding-left: 6px;"}
                      %a{   style: "vertical-align: middle; font-size: 18px; color: #555; text-decoration: none;", href: "http://dreamcatcher.net/entries/new", target: "_blank"}
                        improve your dream recall and <b style="color: #49abe5;">log last night's dream ›</b>

                  %tr
                    %td{align: "right"}
                      %img{ style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/stream.png", width: "24", height: "24"}
                    %td{style: "padding-left: 6px;"}
                      %a{   style: "vertical-align: middle; font-size: 18px; color: #555; text-decoration: none;", href: "http://dreamcatcher.net/stream", target: "_blank"}
                        build networks and follow other dreamers in the <b style="color: #49abe5;">Dream Stream ›</b>

                  %tr
                    %td{align: "right"}
                      %img{ style: "vertical-align: middle", src: "http://theta.dreamcatcher.net/images/email/icons/quasm.png", width: "24", height: "24"}
                    %td{style: "padding-left: 6px;"}
                      %a{   style: "vertical-align: middle; font-size: 18px; color: #555; text-decoration: none;", href: "http://dreamcatcher.net/today", target: "_blank"}
                        check out what's trending at <b style="color: #49abe5;">Today in Dreams ›</b>





            / FOOTER
            %tr
              %td{background: "http://theta.dreamcatcher.net/images/email/email-footer.gif", style: "background-color: #f2f5f8; vertical-align: top; padding: 0 20px 0 45px", height: "85"}

                %table{width: "100%", style: "padding-top: 4px"}
                  %tr

                    / LINK
                    %td
                      %a{href: "http://dreamcatcher.net/#{@user.username}", target: "_blank", style: "color: #244171; font-size: 25px; text-decoration: none; line-height: 0; font-family: calibri, Lucida Sans Unicode, Lucida Grande, sans-serif"}
                        http://dreamcatcher.net/#{@user.username}

                    / POST BUTTON
                    %td{align: "right", width: "148"}
                      %a{href: "http://dreamcatcher.net/entries/new", target: "_blank"}
                        %img{src: "http://theta.dreamcatcher.net/images/email/post-button.gif",  width: "148", height: "52", border: "0", alt: "post a dream on Dreamcatcher.net!", style: "border: 0px;"}






