!!! 5
%html
  %head
    %meta{:content => "text/html charset=UTF-8", :'http-equiv' => "Content-Type"}

  %body

    %table{width: "639", border: "0", cellspacing: "0", cellpadding: "0", style: "margin: auto"}
      %tr
        %td{height: "100", valign: "bottom"}
          %img{src: "http://dreamcatcher.net/images/logos/emailHeader.jpg", width: "639", height: "92", alt: " ", style: "border-bottom: 8px solid #0b3f6f"}

      %tr
        %td{bgcolor: "#e6ebf0", style: "color: #0b3f6f; padding: 10px 29px; font-family:calibri, Lucida Sans Unicode, Lucida Grande, sans-serif; font-size:16px;"}

          %h1{style: "color: #0b3f6f; font-size: 28px; font-weight: normal; margin: 0;"}
            welcome to Dreamcatcher, 
            %a{href: "http://dreamcatcher.net/#{@user.username}", style: "color: #0B3F6F; font-weight: normal; text-decoration: none;"}= @user.username

          %br
          %h2{style: "color: #0b3f6f; font-size: 24px; font-weight: normal; margin: 0px"} using Dreamcatcher

          %ul{style: "font-size: 19px;"}

            %li{style: "color:#0b3f6f; list-style: none; margin: 0 0 15px 15px"}
              %a{href: "http://dreamcatcher.net/entries/new", target: "_blank", style: "text-decoration: none;"}
                %img{src: "http://dreamcatcher.net/images/icons/dream-24-hover.png", width: "24", height: "24", alt: " ", style: "border: 0px; margin: 0px 6px -6px -32px;"}
                improve your dream recall by logging last night's dream ›

            %li{style: "color:#0b3f6f; list-style: none; margin: 0 0 15px 15px"}
              %a{href: "http://dreamcatcher.net/stream", target: "_blank", style: "color: #0b3f6f; text-decoration: none;"}
                %img{src: "http://dreamcatcher.net/images/icons/stream-24-hover.png", width: "24", height: "24", alt: " ", style: "border: 0px; margin: 0px 6px -6px -32px;"}
                find other dreamers and build networks in the Dream Stream ›


            %li{style: "color:#0b3f6f; list-style: none; margin: 0 0 15px 15px"}
              %a{href: "http://dreamcatcher.net/today", target: "_blank", style: "color: #0b3f6f; text-decoration: none;"}
                %img{src: "http://dreamcatcher.net/images/icons/quasm-24.png", width: "24", height: "24", alt: " ", style: "border: 0px; margin: 0px 6px -6px -32px"}
                check out what's trending at Today in Dreams ›


          %br
          %a{href: "http://dreamcatcher.net/#{@user.username}", target: "_blank", style: "display: block; postiion: relative; bottom: -54px; z-index: 2; color: #fff; font-size: 28px; margin: -48px"}
            http://dreamcatcher.net/
            = @user.username


      %tr
        %td
          %img{src: "http://dreamcatcher.net/images/logos/emailFooter.jpg", width: "639", height: "44", alt: " ", style: "border-top:8px solid #0b3f6f; z-index: -1"}




