!!! 5
%html
  %head
    %meta(content="text/html charset=UTF-8" http-equiv="Content-Type")

  %body

    <table width="639" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td height="100" valign="bottom"><img src="http://dreamcatcher.net/images/logos/emailHeader.jpg" width="639" height="92" alt=" " style="border-bottom:8px solid #0b3f6f" /></td>
    </tr>
    <tr>

    <td bgcolor="#e6ebf0" style="color:#0b3f6f; padding:18px; font-family:calibri, Lucida Sans Unicode, Lucida Grande, sans-serif; font-size:16px;">

    <h1 style="color:#0b3f6f; font-size:24px; font-weight:bold; margin:0;">Welcome to Dreamcatcher!</h1>

    <p style="color:#0b3f6f; margin:0;">Get ready to discover a deeper part of yourself, explore your subconscious mind, and share your creative journey with the world.</p>
    <br>
    <p style="color:#0b3f6f; display:inline;">You have created a new username: <a href="http://dreamcatcher.net/#{@user.username}" style="color:#0B3F6F; font-weight:bold; text-decoration:none; font-size:24px; margin-left: 6px">
    = @user.username
    </a></p>
    <br>

    <h1 style="color:#0b3f6f; font-size:18px; font-weight:bold;">Get Started on Dreamcatcher</h1>

    <ul>
    <li style="color:#0b3f6f;"> Check out the <a href="http://dreamcatcher.net/dreamstars" target="_blank" style="color:#0b3f6f;"><strong>Dreamstars</strong></a> to find other dreamers.</li>
    <li style="color:#0b3f6f;"> Invite your friends to join and follow their dreams!</li>
    <li style="color:#0b3f6f;"> Follow your favorite dreamers and get real-time updates in your <a href="http://dreamcatcher.net/stream" target="_blank" style="color:#0b3f6f;"><strong>Dream Stream</strong></a>.</li>
    <li style="color:#0b3f6f;"> Post last night's dream or enter your Dream Journal into your Dreamcatcher,<br> and become part of the digital dreamsphere.</li>
    </ul>

    <br>
    <p style="color:#0b3f6f;">Thanks for dreaming with us!<br> The Dream Team<br>
    <a href="http://dreamcatcher.net" target="_blank" style="color:#0b3f6f;"><em>http://dreamcatcher.net</em></a></p>

    </td>
    </tr>

    <tr>
    <td><img src="http://dreamcatcher.net/images/logos/emailFooter.jpg" width="639" height="44" alt=" " style="border-top:8px solid #0b3f6f"/></td>
    </tr>
    </table>




