!!! 5
%html
  %head
    %meta(content="text/html charset=UTF-8" http-equiv="Content-Type")

  %body

    <table width="639" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td><img src="http://dreamcatcher.net/images/logos/emailHeader.jpg" width="639" height="92" alt="header logo" style="border-bottom:8px solid #0b3f6f" /></td>
    </tr>
    <tr>

    <td bgcolor="#e6ebf0" style="color:#0b3f6f; padding:18px; font-family:calibri, Lucida Sans Unicode, Lucida Grande, sans-serif; font-size:16px;">

    <h1 style="color:#0b3f6f; font-size:18px; font-weight:bold; margin:0;">Welcome to Dreamcatcher!</h1>

    <p style="color:#0b3f6f; margin:0;">Get ready to discover a deeper part of yourself, explore your subconscious mind, and share your creative journey with the world.</p>

    <p style="margin:20px 0; color:#0b3f6f; display:inline;">You have created a new username:</p>
    <strong>
    = @user.name
    </strong>

    <p style="color:#0b3f6f;">Follow this link to verify your email: <a href="
    = @confirmation_url
    " target="_blank">
    = @confirmation_url
    </a>

    <h1 style="color:#0b3f6f; font-size:18px; font-weight:bold;">Get Started on Dreamcatcher</h1>

    <ul style="color:#0b3f6f; list-style:none;">
    <li><strong>1</strong> Check out the <a href="#" target="_blank" style="color:#0b3f6f;"><strong>Dreamstars</strong></a> to see other hot users.</li>
    <li><strong>2</strong> Invite your friends to join and follow their dreams!</li>
    <li><strong>3</strong> Start following your favorite dreamers and get real-time updates on your <a href="#" target="_blank" style="color:#0b3f6f;"><strong>Dream Stream</strong></a>.</li>
    <li><strong>4</strong> Post last night's dream or enter your Dream Journal into your Dreamcatcher, and become part of the digital dreamsphere.</li>
    </ul>

    <p style="color:#0b3f6f;">Thanks for dreaming with us!<br /> The Dream Team<br />
    <a href="http://dreamcatcher.net" target="_blank" style="color:#0b3f6f;"><em>http://dreamcatcher.net</em></a></p>
    </td>
    </tr>

    <tr>
    <td><img src="http://dreamcatcher.net/images/logos/emailFooter.jpg" width="639" height="44" alt="footer image" style="border-top:8px solid #0b3f6f"/></td>
    </tr>
    </table>





