= host_url_for "images/email/email-header.jpg"
Welcome to Dreamcatcher, #{@user.name}
discover a deeper part of yourself
explore your subconscious mind
share your creative journey with the world

Life is a dream
explore your dreams with other dreamers
share your vision with the world
chart your peak experiences
compose articles to share with your network
use as your multi-media diary and journal

using Dreamcatcher
improve your dream recall and log last night's dream ›
build networks and follow other dreamers in the Dream Stream ›
check out what's trending at Today in Dreams ›

http://dreamcatcher.net/#{@user.username}
