/ BOOKS

.book


  %a.link{href: '/'}


  / CLOSED BOOK
  .closed.hidden

    .cover{style: 'background-image: url(/images/avatars/default-avatar-full.jpg)'}

    .fade{style: 'background: url(/images/books/fade-blue-dark.png) no-repeat center center'}

    .info

      .entries{style: 'background-image: url(/images/icons/entries-16.png)'}
        82

      .edit edit

      %input.title{type: 'text', value: 'Title of the Book Goes Here'}

      .comments{style: 'background-image: url(/images/icons/comment-16.png)'}
        4

      .sharing{style: 'background-image: url(/images/icons/friend-16.png)'}
        friends


  / OPEN BOOK
  .open{style: 'background: url(/images/books/open-blue-dark.png) no-repeat center center'}

    / CONTROL PANEL
    .control-panel

      .header

        %span My Book of Dreams

      .color
        color
        .icon

      .coverImage
        cover image
        .icon

      .access
        access
        .icon

      .settings
        settings
        .icon


    / COLOR PANEL
    .color-panel

      .header

        .back &lsaquo;

        .icon

        %span color

      %ul.swatches

        %li.blue-dark
        %li.purple-dark
        %li.purple-light
        %li.red
        %li.teal
        %li.green-light
        %li.yellow
        %li.orange
        %li.blue-light
        %li.green-dark
        %li.brown
        %li.maroon
        %li.white
        %li.grey-light
        %li.green-dark
        %li.black








