/ BOOK SHELF

#bookShelf


  / BOOK SPINE
  .bookSpine.blue-dark

    / .cover{style: 'background: url(/images/art/dream-eyes-banner-medium.jpg) no-repeat center center'}
    / 
    / .mask

    .title My Vacation

    .count 8


  / BOOK SPINE ADD
  .bookSpine-add

    .title Create New Book

    .dropbox

    .active