.commentsPanel.wrapper
  .trigger.showhide
    .commentsHeader.headers
      .img
      %span=entry.comments.count
      comments
  .clear

  .target.showhide

    .showAll{class: (entry.comments.count == 0 ? 'hidden' : '')}
      show all
      %span=entry.comments.count
      comments

    .comments

    %a{name: "bottom", href: "#"}

    - if current_user
      .newCommentWrap
        .avatar{style: "background-image: url('#{avatar_image(current_user, 64)}')"}
        .newComment
          = hidden_field :user_id_, current_user.id, :value => current_user.id, :class => "user_id"
          %textarea.comment_body{rows: 20, cols: 40}
          %input.save{type: 'button', value: 'post'}
          .links.hidden
            %img{src: '/images/icons/link-16.png', width: '16', height: '16'}
            links
          .images.hidden
            %img{src: '/images/icons/images-16.png', width: '16', height: '16'}
            image
          .clear

    .clear
