.prevCommentWrap
  .avatar{ style: "background-image: url('#{avatar_image(comment.user, 64)}')"}
  .prevComment
    .user= comment.user.username
    .postTime= comment.created_at
    /%ul
    /  %li
    /  %li
    /  %li
    /  %li
    .comment= comment.body
    /.rePost
    / %img{src: '', width: '16', height: '16'}
    / Another Related Dream
  .clear