
/ EMOTIONS PANEL DETAILS & THUMB
/ For details use .emotions-details
/ For details use .emotions-thumb


.arrow

%table.container

  %tr.love
    %td.name love
    %td.value

      %table.amount{width: "100%"}
        %tr
          %td


  %tr.joy
    %td.name joy
    %td.value

      %table.amount{width: "90%"}
        %tr
          %td


  %tr.surprise
    %td.name surprise
    %td.value

      %table.amount{width: "40%"}
        %tr
          %td


  %tr.anger
    %td.name anger
    %td.value

      %table.amount{width: "0%"}
        %tr
          %td


  %tr.mystical
    %td.name mystical
    %td.value

      %table.amount{width: "95%"}
        %tr
          %td


  %tr.wonder
    %td.name wonder
    %td.value

      %table.amount{width: "78%"}
        %tr
          %td


  %tr.sadness
    %td.name sadness
    %td.value

      %table.amount{width: "22%"}
        %tr
          %td


  %tr.stress
    %td.name stress
    %td.value

      %table.amount{width: "8%"}
        %tr
          %td


  %tr.confusion
    %td.name confusion
    %td.value

      %table.amount{width: "33%"}
        %tr
          %td


  %tr.fear
    %td.name fear
    %td.value

      %table.amount{width: "42%"}
        %tr
          %td
