
/ EMOTIONS PANEL DETAILS & THUMB
/ For details use .emotions-details
/ For thumbs use .emotions-thumb


.arrow

%table.container
  - emotion_tags.order(:noun_id).where('intensity > 0').each do |tag|
    - emotion = tag.noun
    %tr{class: emotion.name}
      %td.name= emotion.name
      %td.value
        %table.amount{width: "#{tag.intensity * 25}%"}
          %tr
            %td

