// ENTRY IMAGES
.entryImages.entryAssets.shine-alpha
  .imagesHeader.headers.indent.button
    %img{src: '/images/icons/eye-images-16.png'}
    images
  #addFromImageBank.round-8.bevel.button
    %img{src: '/images/icons/green-plus-20.png'}
    from Image Bank
  #imageDropArea.input.qq-upload-drop-area
    %img{src: '/images/icons/green-plus-20.png'}
    drag files here
  .clear
  #currentImages.hidden
    .clear
   