// ENTRY IMAGES
.entryImages.entryAssets
  .imagesHeader.headers
    %img{src: '/images/icons/eye-images-16.png'}
    images
  #addFromImageBank.hidden
    %img{src: '/images/icons/green-plus-20.png'}
    from Image Bank
  #imageDropArea.qq-upload-drop-area
    %img{src: '/images/icons/green-plus-20.png'}
    drag files here
  .clear
  #currentImages.hidden
    .clear
   