// ENTRY IMAGES
.entryImages.entryPanels
  .imagesHeader.headers
    .img
    images
  #addFromImageBank.hidden
    %img{src: '/images/icons/green-plus-20.png'}
    from Image Bank

  #imageDropArea


  .clear
  #currentImages
    - images.each do |image|
      .entryImageContainer{:'data-id' => image.id}
        .entryImage{style: "background: url(#{image.url(:thumb, :size => 122)}) no-repeat scroll center center transparent"}
          .close
          %label.radio{class: (@entry.main_image==image) ? 'selected' : ''}
            %input{type: 'radio', name: "entry[main_image_id]", value: image.id, checked: (@entry.main_image==image)}
            %span default
          .radioWrap

  .clear
   