/ ENTRY LOCATION
.entryLocation.entryPanels
  .locationHeader.headers
    .img
    location

  .data.hidden
    .name
      %input.input{placeholder: 'Location name', name: 'location_attributes[name]'}
    .city
      %input.input{placeholder: 'City', name: 'location_attributes[city]'}
    .state
      %input.input{placeholder: 'State / province', name: 'location_attributes[province]'}
    .country
      %input.input{placeholder: "Country", name: 'location_attributes[country]'}
    .more.hidden
      = hidden_field_tag 'location_attributes[longitude]', 'location_attributes_longitude'
      = hidden_field_tag 'location_attributes[latitude]', 'location_attributes_latitude'
    .clear

  .finding
    Finding your location...
    .spinner-small

  .cancelLocation

  .clear