/ ENTRY LOCATION
.entryLocation.entryAssets
  .locationHeader.headers
    %img{src: '/images/icons/location-21.png', height: '16', width: '16'}
    location
  %select#locationList.locations
    %option.finding Finding your location...
    %option.newLocation{value: 'New location'} Add new location
    %option.divider{disabled: 'true'}
    %option.saved{disabled: 'true'} Saved locations
    %option{value: 'Home'} Home
    %option{value: 'The Pearl'} The Pearl
    %option{value: 'Flow Space'} Flow Space
    %option{value: 'Under I580'} Under I580
    %option.noLocation{value: 'No location'} No location
  .spinner-small

  .cancelLocation X
  .expander.hidden
    .city
      %input.input{value: 'City'}
    .name
      %input.input{value: 'Location Name'}
    .country
      %input.input{value: 'Country'}
    .state
      %input.input{value: 'State/Province'}
    .clear
  .clear
