/ ENTRY LOCATION
.entryLocation.entryAssets
  .locationHeader.headers
    %img{src: '/images/icons/location-21.png', height: '16', width: '16'}
    location

  .data
    .name
      %input.input{placeholder: 'Location name'}
    .city
      %input.input{placeholder: 'City'}
    .state
      %input.input{placeholder: 'State / province'}
    .country
      %input.input{placeholder: "Country"}
    .clear


  .finding
    Finding your location...
    .spinner-small

  .cancelLocation X