// MOOD ICON
.moodIcon.trigger.fadeclick
  %img{src: '/images/moods/plants/Fungi.png'}

// EXPANDED MOOD ICONS
.moodIcon-picker.hidden.target.fadeclick
  .buttons
    .cancel cancel
    .clearMood clear
  .currentMood mood
  .currentIcon
    %img{src: '/images/moods/plants/Fungi.png'}
  %ul.moodIcon-list
    %li
      %img{src: '/images/moods/animals/Chameleon.png'}
      %p title
    %li
      %img{src: '/images/moods/chakras/Crown.png'}
      %p title
    %li
      %img{src: '/images/moods/famousArt/Bustofdora.png'}
      %p title
    %li
      %img{src: '/images/moods/hands/Chinmudra.png'}
      %p title
    %li
      %img{src: '/images/moods/plants/Fungi.png'}
      %p title
    %li
      %img{src: '/images/moods/weather/Cloudy.png'}
      %p title
    %li
      %img{src: '/images/moods/plants/Fungi.png'}
      %p title
    %li
      %img{src: '/images/moods/plants/Fungi.png'}
      %p title
    %li
      %img{src: '/images/moods/plants/Fungi.png'}
      %p title
  .clear