/ NEW LOGIN SPLASH
#welcomePanel
  .image

  %p.text <span>welcome</span> to the dream field, where you store and share your dreams

  .getStartedButtons
    %a.button{href: new_entry_path}
      %img.dream{src: '/images/icons/dream-32.png'}
      <span class="green">+</span> add your first dream
    .button{onclick: "toggleAppearance()"}
      %img.appearance{src: '/images/icons/appearance-32-alpha.png'}
      set your default theme
    .button{onclick: "$.publish('profile:toggle')"}
      %span.profile &lsaquo;
      customize your profile
    %a.button{href: "/dreamstars"}
      %img.starlight{src: '/images/icons/starlight-22.png'}
      find other dreamers