/ NEW LOGIN SPLASH
#welcomePanel
  .image


  %p.dream-message <span>welcome</span> to your dream field
  %p.dream-message Store and share your dreams, visions and experiences <br> with your friends and followers

  %p.stream-message <span>welcome</span> to the stream
  %p.stream-message Here you can see the dreams, visions and experiences <br> of your friends and people you follow
  %p.stream-message Use the filters to the left to expand or narrow your scope




  .getStartedButtons

    %a.button{href: new_entry_path}
      %img.dream{src: '/images/icons/dream-32-hover.png'}
      <span class="green">+</span> add a dream

    .button.appearance
      %img.appearance{src: '/images/icons/appearance-24-hover.png'}
      set your default theme

    .button.profile{onclick: "window.contextController.toggleProfile()"}
      %span &lsaquo;
      customize your profile

    %a.button.dreamButton{href: user_entries_path(@user.username)}
      %img.dreamfield{src: '/images/icons/dream-32-hover.png'}
      view your dream field

    %a.button{href: "/dreamstars"}
      %img.starlight{src: '/images/icons/starlight-32.png'}
      find other dreamers