/ NEW LOGIN SPLASH
#welcomePanel
  .image

  %h1.title Welcome Username
  %p.text To get started using Dreamcatcher, you may:

  .getStartedButtons
    .button set your default theme
    .button add your first dream
    .button check out the FAQ's
    .button customize your profile