/ NEW LOGIN SPLASH
#welcomePanel
  .image

  %h1.title
    welcome
    %span= @user.username
  %p.text to your dream field. Store and share your dreams here

  .getStartedButtons
    .button
      %img.dream{src: '/images/icons/dream-32.png'}
      <span class="green">+</span> add your first dream
    .button
      %img.appearance{src: '/images/icons/appearance-32-alpha.png'}
      set your default theme
    .button
      %img.appearance{src: '/images/icons/appearance-32-alpha.png'}
      customize your profile
    .button find other dreamers