/ NEW LOGIN SPLASH
#welcomePanel
  .image

  %h1.title
    welcome
    %span= @user.username
  %p.text To get started using Dreamcatcher, you can

  .getStartedButtons
    .button add your first dream
    .button set your default theme
    .button customize your profile
    .button find other dreamers