- content_for :foot do
  = javascript_include_tag 'context_menu'
  
/ CONTEXT PANEL
#streamContextPanel.transparent-50.glow-40.round-16

  / USER INFO
  .userInfo.flat.border.round-12
    %a.avatar-64.button.round-8.flat-right{href: "/", style: "background:url(/images/avatars/default-avatar-tiny.jpg) top left"}
    %a.userName{href: '/'}
      %h3= user.username
    .clear-both

    .following
      .count 142
      following
    .followers
      .count 142,342
      followers

  / LABEL
  .myStream.shine.round-12.flat-bottom
    my stream

  .wrapper

    / FILTER BY ENTRY TYPE
    .entryFilter.flat.button.round-8.trigger.slideArrow
      %img.icon{src: '/images/icons/allEntries-16.png'}
      %img.arrow{src: '/images/icons/arrow-down-16.png'} 
      %span all entries
    .filterList.border.flat.round-8.target.slideArrow.hidden
      .type.button.round-8.flat-bottom
        %img{src: '/images/icons/'} 
        %span all entries
      .type.button
        %img{src: '/images/icons/'} 
        %span dream
      .type.button
        %img{src: '/images/icons/'} 
        %span vision
      .type.button.round-8.flat-top
        %img{src: '/images/icons/'} 
        %span experience

  .wrapper

    / FILTER BY FOLLOW TYPE
    .followFilter.flat.button.round-8.trigger.slideArrow
      %img.icon{src: '/images/icons/friend-follow-16.png'}
      %img.arrow{src: '/images/icons/arrow-down-16.png'} 
      %span following
    .filterList.border.flat.round-8.target.slideArrow.hidden
      .type.button.round-8.flat-bottom
        %img{src: '/images/icons/'} 
        %span friends
      .type.button.round-8.flat-top
        %img{src: '/images/icons/'} 
        %span following

    .starlightTab.flat.button.round-8
      %img.icon{src: '/images/icons/starlight-17.png'}
      starlight
