- content_for :foot do
  = javascript_include_tag 'context_menu', 'stream_context_panel'
  
/ CONTEXT PANEL
#contextPanel.transparent-50.glow-40.round-16

  / DETAILS
  %a.avatar-64.button.round-8{href: "/", style: "background:url(/images/avatars/default-avatar-tiny.jpg) top left"}
  %a.userInfo{href: '/'}
    %h3= user.username
    %p Oakland, CA


  / LABEL
  %a.context.shine.round-12{href: '/stream'}
    DreamStream

  .find.button.bevel.round-12.padding-4-8
    Who's dreaming about me &rsaquo;

  / STREAM FILTER
  .streamFilter
    / FILTER BY NETWORKS
    .filterType.round-12
      .type
        %img{src: '/images/icons/arrow-right-16.png'} 
        %span Friends
      .expander.hidden
        %label
          %img{src: '/images/icons/iconDc.gif'} 
          %span Following
          %input{type: 'checkbox'}
        %label
          %img{src: '/images/icons/iconDc.gif'} 
          %span Dreamcatcher
          %input{type: 'checkbox'}
        %label
          %img{src: '/images/icons/facebook-16.png'} 
          %span Facebook
          %input{type: 'checkbox'}
        %label
          %img{src: '/images/icons/twitter-16.png'} 
          %span Twitter
          %input{type: 'checkbox'}


    / FILTER BY FOLLOWING
    .filterType.round-12
      .type
        %img{src: '/images/icons/arrow-right-16.png'} 
        %span Following


    / FILTER BY TAGS
    .filterType.round-12
      .type
        %img{src: '/images/icons/arrow-right-16.png'} 
        %span Tags
      .expander.hidden
        %label
          %span dolphins
          %input{type: 'checkbox'}
        %label
          %span victory
          %input{type: 'checkbox'}

    / FILTER BY CHANNELS
    .filterType.round-12
      .type
        %img{src: '/images/icons/arrow-right-16.png'} 
        %span Channels
      .expander.hidden
        %label
          %img{src: '/images/icons/'} 
          %span whatevs
          %input{type: 'checkbox'}
        %label
          %img{src: '/images/icons/'} 
          %span Vision
          %input{type: 'checkbox'}
        %label
          %img{src: '/images/icons/'} 
          %span Experience
          %input{type: 'checkbox'}

    / FILTER BY CATEGORY
    .filterType.round-12
      .type
        %img{src: '/images/icons/arrow-right-16.png'} 
        %span Category
      .expander.hidden
        %label
          %img{src: '/images/icons/'} 
          %span Dreams
          %input{type: 'checkbox'}
        %label
          %img{src: '/images/icons/'} 
          %span Vision
          %input{type: 'checkbox'}
        %label
          %img{src: '/images/icons/'} 
          %span Experience
          %input{type: 'checkbox'}

    .refresh.shine.button.cancel.round-12 Refresh
