/ CONTEXT PANEL
#streamContextPanel

  / USER INFO
  .userInfo
    %a.avatar-64{href: "/", style: "background:url(/images/avatars/default-avatar-tiny.jpg) top left"}

    .infoRight
      %a.userName{href: '/'}
        %h3= user.username
      .clear-both

      .following
        .count 142
        following
      .followers
        .count 142,342
        followers

  / LABEL
  .myStream
    my stream

  .wrapper

    / FILTER BY ENTRY TYPE
    .entryFilter.trigger.slideArrow
      %img.icon{src: '/images/icons/allEntries-16.png'}
      %img.arrow{src: '/images/icons/arrow-down-16.png'} 
      %span.value all entries
    .filterList.filter.target.slideArrow.hidden
      .type.top
        %img{src: '/images/icons/'} 
        %span all entries
      .type
        %img{src: '/images/icons/'} 
        %span dream
      .type
        %img{src: '/images/icons/'} 
        %span vision
      .type.bottom
        %img{src: '/images/icons/'} 
        %span experience

  .wrapper

    / FILTER BY FOLLOW TYPE
    .followFilter.trigger.slideArrow
      %img.icon{src: '/images/icons/friend-follow-16.png'}
      %img.arrow{src: '/images/icons/arrow-down-16.png'} 
      %span.value following
    .filterList.filter.target.slideArrow.hidden
      .type.top
        %img{src: '/images/icons/'} 
        %span friends
      .type.bottom
        %img{src: '/images/icons/'} 
        %span following

  .wrapper

    .starlightTab.round-8
      %img.icon{src: '/images/icons/starlight-17.png'}
      %span starlight
      .starlightFilter.trigger.slide
        %span.value hi
        .filterList.filter.target.slide.hidden
          .type.top
            %span hi
          .type
            %span medium
          .type.bottom
            %span low




