- content_for :foot do
  = javascript_include_tag 'context_menu'
  
/ CONTEXT PANEL
#streamContextPanel.transparent-50.glow-40.round-16

  / DETAILS
  %a.avatar-64.button.round-8{href: "/", style: "background:url(/images/avatars/default-avatar-tiny.jpg) top left"}
  %a.userInfo{href: '/'}
    %h3= user.username
    %p Oakland, CA


  / LABEL
  .myStream.shine.round-12.flat-bottom
    my stream

  .wrapper

    / FILTER BY ENTRY TYPE
    .filterType.flat.round-8.trigger.slideArrow
      %img{src: '/images/icons/arrow-down-16.png'} 
      %span all entries
    .typeList.flat.round-8.target.slideArrow.hidden
      .type
        %img{src: '/images/icons/'} 
        %span dream
      .type
        %img{src: '/images/icons/'} 
        %span vision
      .type
        %img{src: '/images/icons/'} 
        %span experience
