#tagStream.round-16

  / LIVE TAG STREAM
  #tagsLive

    / WHAT TAG
    .stream_tag.tagWhat{style: 'color: rgb(107, 185, 255)',}
      %span collectivation

      // EXPANDED CONVO STATE
      .tagChat.light.flat.round-12.glow-40.hidden
        %img.arrow{src: '/images/icons/uparrow-white.png'}
        .description.inner-shadow-10.A-outline.round-8 Swimming with a pod of dolphins.
        .postInfo
          %img.avatar{src: '/images/avatars/xavitar.jpg'}
          .name phong
          .time 1 second ago
          %img.shared{src: '/images/icons/facebook-16.png'}
          .clear-both
        .chat.round-8.inner-shadow-10
          .input.light.A-outline.round-4
            %input{value: 'comment'}
            %img.submit{src: '/images/icons/comments-16.png'}


    / WHERE TAG + COUNT
    .stream_tag.tagWhere{style: 'color: rgb(159, 243, 255)'}
      %span Seattle
      .count 2

    / WHO TAG
    .stream_tag.tagWho{style: 'color: rgb(107, 185, 255)'}
      .avatar
      %span phongnesskrishna

    / WHAT TAG + COUNT
    .stream_tag.tagWhat{style: 'color: rgb(159, 243, 255)'}
      %span trombone
      .count 8

    / WHAT TAG + COUNT
    .stream_tag.tagWhat{style: 'color: rgb(107, 185, 255)'}
      %span alignment
      .count 4

    / WHO TAG
    .stream_tag.tagWho{style: 'color: rgb(107, 185, 255)'}
      .avatar
      %span someoneDope

    / WHAT TAG + COUNT
    .stream_tag.tagWhat{style: 'color: rgb(107, 185, 255)'}
      %span automagic

    / WHERE TAG + COUNT
    .stream_tag.tagWhere{style: 'color: rgb(159, 243, 255)'}
      %span paris
      .count 5
  