.wrapper
  .tag.tagWhat.tagAnalysis.trigger.showhide{:'data-id' => what.id, :class => (@entry.user == current_user ? 'user' : '') }
    %span.tagContent= what.name
    - if close_button
      .close-16
    - unless what.dictionary_words.empty?
      .analysisIcon

      .analysis.hidden.target.showhide
        .arrow
        .description
          .alt
            %span.selected 1
            %span 2
            %span 3
            %span 4
            %span 5
          - what.dictionary_words.each_with_index do |word, i|
            .clear{:class => "definition-#{i}"}= simple_format(word.definition)
            %a.source{href: word.dictionary.attribution, target: '_blank'}= word.dictionary.name
