/ ENTRY THUMB 1D - GENERAL
.thumb-1d
  / LEFT SIDE
  .left
    .user{style: 'background: #fff url(/images/avatars/xavitar.jpg) no-repeat left'}
      %p.name= entry.user.username

    .commentCount
      .counter 20

    .image{style: 'background: url(/images/art/cloud-temple-banner.jpg) no-repeat top left'}

    %h1.title= entry.title
    %p.text= entry.body

    / ENTRY THUMB DETAILS
    .details
      / REPOSTED BY
      .rePost
        reposted by:
        %span.rePostBy Phong
      / DATE
      .date
        10 seconds ago
      / STARLIGHT
      .starlight
        %img{src: '/images/icons/starlight-17.png', width: '17', height: '17'}
        %span= entry.starlight._?.value || 0

    .divider

  / RIGHT SIDE
  %table.right

    / TOP ROW - IMAGE THUMBNAILS
    %tr
      %td.top
        %ul
          %li
          %li
          %li
          %li
          %li

    / MIDDLE ROW - TAG CLOUD
    %tr
      %td.middle
        / TAG CLOUD
        <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags">
        <div class="TC s-1 water">hanging</div>
        <div class="TC s-1 water">friend</div>
        <div class="TC s-7 water">plans</div>
        <div class="TC s-1 water">mystical</div>
        <div class="TC s-7 water">future</div>
        <div class="TC s-2 water">love</div>
        <div class="TC s-8 water">friends</div>
        <div class="TC s-2 water">joy</div>
        <div class="TC s-1 water">make</div>
        <div class="TC s-6 water">lost</div>
        <div class="TC s-7 water">long</div>
        <div class="TC s-1 water">hanging</div>
        <div class="TC s-1 water">friend</div>
        <div class="TC s-7 water">plans</div>
        <div class="TC s-1 water">mystical</div>
        <div class="TC s-7 water">future</div>
        <div class="TC s-2 water">love</div>
        <div class="TC s-8 water">friends</div>
        <div class="TC s-2 water">joy</div>
        <div class="TC s-1 water">make</div>
        <div class="TC s-6 water">lost</div>
        <div class="TC s-7 water">long</div>
        </div>

    / BOTTOM ROW - ENTRY TAGS
    %tr
      %td.entryTagList
        .tag Geo
        .tag Android
        .tag Geoff
        .tag Janell
        .tag Marisa
        .tag Phong
        .tag Scott
        .tag Ephraim
        .tag Sonja
        .tag Tom
        .tag Geo
        .tag Android
        .tag Geoff
        .tag Janell
        .tag Marisa
        .tag Phong
        .tag Scott
        .tag Ephraim
        .tag Sonja
        .tag Tom

        .clear
    