/ ENTRY THUMB 1D - GENERAL
.thumb-1d.flat.round-16
  / LEFT SIDE
  .left

    .user.round-12
      %p.name XAVI

    .commentCount
      .counter.flat.round-12 20

    .image

    %h1.title The Ultimate Dream Reality
    %p.text The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.

    / ENTRY THUMB DETAILS - ON HOVER
    .details
      /REPOSTED BY
      .rePost.border.round-4
        reposted by:
        %span.rePostBy Phong
      / DATE
      .date
        10 seconds ago
      / STARLIGHT
      .starlight.bevel.button.round-8
        212,423

  / RIGHT SIDE
  .right

    %ul
      %li
      %li
      %li
      %li
      %li

    / TAG CLOUD
    <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags">
    <div class="TC s-1 water">hanging</div>
    <div class="TC s-1 water">friend</div>
    <div class="TC s-7 water">plans</div>
    <div class="TC s-1 water">mystical</div>
    <div class="TC s-7 water">future</div>
    <div class="TC s-2 water">love</div>
    <div class="TC s-8 water">friends</div>
    <div class="TC s-2 water">joy</div>
    <div class="TC s-1 water">make</div>
    <div class="TC s-6 water">lost</div>
    <div class="TC s-7 water">long</div>
    </div>

    .entryTagList
      .round-8 Geo
      .round-8 Android
    