/ ENTRY THUMB 1D - GENERAL
.thumb-1d
  / LEFT SIDE
  .left

    .user
      %p.name XAVI

    .commentCount
      .counter 20

    .image

    %h1.title The Ultimate Dream Reality
    %p.text The boat is extremely high up and I'm not able to see much directly below, so I'm just hoping the driver is not actually running anyone over.

    / ENTRY THUMB DETAILS
    .details
      /REPOSTED BY
      .rePost
        reposted by:
        %span.rePostBy Phong
      / DATE
      .date
        10 seconds ago
      / STARLIGHT
      .starlight
        %img{src: '/images/icons/starlight-17.png', width: '17', height: '17'}
        212,423

  / RIGHT SIDE
  .right

    %ul
      %li
      %li
      %li
      %li
      %li

    / TAG CLOUD
    <div id="tagCloud-1075" class="tagCloud dark O dream_thumb-tags">
    <div class="TC s-1 water">hanging</div>
    <div class="TC s-1 water">friend</div>
    <div class="TC s-7 water">plans</div>
    <div class="TC s-1 water">mystical</div>
    <div class="TC s-7 water">future</div>
    <div class="TC s-2 water">love</div>
    <div class="TC s-8 water">friends</div>
    <div class="TC s-2 water">joy</div>
    <div class="TC s-1 water">make</div>
    <div class="TC s-6 water">lost</div>
    <div class="TC s-7 water">long</div>
    </div>

    .entryTagList
      .tag Geo
      .tag Android
    