/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @user}

/ ENTRY FIELD
#entryField
  = render :partial => "field"
  .matrix.stream{style: 'display:none'}
  #showEntry{style: 'display:none'}
  #newEditEntry{style: 'display:none'}

- content_for :foot do
  / APPLIES SELECTED CLASS TO META MENU
  - if @user == current_user
    :coffeescript
      $('.item.home').addClass('selected')

