- content_for :head do
  = sass_link_tag 'entries'
:coffeescript
  require({baseUrl: "/javascripts"}, [ 'tag_stream', 'dreams', 'geo' ])
  require({baseUrl: "/javascripts/compiled"}, ['modal', 'follow_hover'])


/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @user}

/ DREAM FIELD
#entryField

  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix

    - @entries.each do |entry|
      / DREAM THUMBS 2D
      = render :partial => 'thumb_2d', :locals => {:entry => entry}

    - if (@user == current_user) && @entries.empty?
      / NEW LOGIN SPLASH
      = render :partial => "new_login", :locals => {:user => @user}

    - elsif @entries.empty?
      / NO DREAMS TO DISPLAY
      .noEntrys there are no public entries to display


    - if @user == current_user
      :coffeescript

        # add current page highlight
        $find('.item.home').addClass('selected')