- content_for :head do
  = javascript_include_tag 'browserdetect', 'pubsub', 'userfileuploader', 'geo'
  = coffeescript_include_tag 'tag', 'sharing', 'cookies', 'fit_to_content', 'newentry'

/- content_for :foot do
/  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'


/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => current_user}

#entryField

  = render :partial => 'entries/new'
