/- content_for :head do
/  = include_javascripts 'new_entry'


/ CONTEXT PANEL
= render :partial => "layouts/context_panel", :locals => {:user => current_user}

#entryField
  #entriesIndex{style: 'display:none'}
    .matrix.books
  #showEntry{style: 'display:none'}
  #newEditEntry
    = render :partial => 'entries/new'
