- content_for :head do
  = include_javascripts 'new_entry'


/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => current_user}

#entryField
  .matrix.index{style: 'display:none'}
  #showEntry{style: 'display:none'}
  #newEditEntry
  = render :partial => 'entries/new'
