- content_for :head do
  = sass_link_tag 'context_panel'
  %style
    :sass
      #pageBrowser
        float: right
        a
          display: block
          vertical-align: bottom
          width: 48px
          height: 48px
          text-align: center
          float: right
          span
            display: block
            text-align: center
            padding: 4px 8px
            font-weight: bold
            color: #fff
      #pageNext
        margin-left: 4px
      #dreamWrapper
        max-width: 870px
        margin-right: 56px
      #dreamModule
        width: 680px
        margin: 0px
        padding: 8px
        margin-bottom: 16px
      #dreamHeader
        border: 0
        .image
          height: 180px
          background: url(../images/splashes/splash_x3.jpg) center center
      #dreamTitle
        margin: -39px 14px
        overflow: hidden
        max-width: 620px
        height: 25px
        padding: 8px 16px
        float: left
        font: bold
        font-size: 25px
      #dreamPanelText
        padding: 8px 8px 22px
      #dreamContent
        text-align: left
        margin: 10px 8px 0
        padding: 0px 12px

/ CONTEXT BAR
= render :partial => "users/context_panel", :locals => {:user => current_user}

#dreamField

  #dreamWrapper
    / PAGER
    #pageBrowser.light.glow-40.round-24.transparent-25.padding-6
      %a#pageNext.light.O-button.transparent-50.O-outline.round-16.round-4-left.padding-8.alpha-80{:href => dreams_path}
        %span.light.static-glow-inner-40.round-24.font-H1 &rsaquo;
      %a#pagePrev.light.O-button.transparent-50.O-outline.round-16.round-4-right.padding-8.alpha-80{:href => dreams_path}
        %span.light.static-glow-inner-40.round-24.font-H1 &lsaquo;
    / DREAM CONTENT
    #dreamModule.light.round-24.glow-80.transparent-25
      #dreamHeader.light.round-24.flat-bottom
        .image.round-24.flat-bottom
      #dreamTitle.light.transparent-66.round-16.flat-bottom= @dream.title
      #dreamPanelText.light.O.round-24.flat-top
        #dreamContent.light.font-17.round-8.font-arial= @dream.body

  / DEBUG
  /.light.transparent-50.round-16.padding-8
  /  = debug Dream.find params[:id]
