
/ CONTEXT PANEL
= render :partial => "common/context_panel_stream", :locals => {:user => @user}
#totem

/ ENTRY FIELD
#entryField
  #entriesIndex{style: 'display:none'}
    .matrix.books
  #entriesStream
    = render :partial => "stream"
  #showEntry{style: 'display:none'}
  #newEditEntry{style: 'display:none'}
