
/ CONTEXT PANEL
= render :partial => "stream_context_panel", :locals => {:user => @user}

/ ENTRY FIELD
#entryField
  = render :partial => "stream"



- content_for :foot do
  / APPLIES SELECTED CLASS TO META MENU
  :coffeescript
    $('.item.stream').addClass('selected')
