<div id="slideshow">
  <% for(var i = 0; i < images.length ; i++){ %>
  <div class="img" data-id="<%= images[i].id %>" data-image='<%= JSON.stringify(images[i]) %>'>
    <img src="" width="670" />
    <div class="add hidden">+</div>
  </div>
  <% } %>
</div>