.bedsheet-node
  .url
    %a{href: "/images/uploads/#{@data['id']}-bedsheet.jpg", target: "_new"}
      .bedsheet{style: "background: url(/images/uploads/#{@data['id']}-thumb.jpg) no-repeat center center transparent"}

  / link to the hi-res version of the bedsheet


  / number of users with this bedsheet
  .users
    .total= @data['user_count']
    users

  / number of entries with this bedsheet
  .entries
    .total= @data['entry_count']
    entries