- content_for :head do
  = sass_link_tag 'admin'

#entryField


  .user.panel
    .img
    %h1 users
    .total= User.count

    .module.newUsers
      %h2 new users

      - User.all.each do |user|
        %a.userNode{href: user_entries_path(user.username)}
          = user.username
          .postCount= user.entries.count

      .clear






    .module.allUsers
      .img
      %h2 user list




  .entries.panel
    .img
    %h1 entries
    .total
      32,514,987

    .module.activeUsers
      %h2 most active users

    .module.seedCodes
      %h2 seed codes

    .module.sharing
      %h2 sharing