<li data-id="<%= this.id %>" data-image='<%= JSON.stringify(this).replace("'","`") %>' style='background: asset-url("uploads/<%= this.id %>-thumb.<%= this.format %>) rgba(255,255,255,0.4") no-repeat center center'>
  <div class="message">
    <span>confirm delete</span>
    <div class="dontDelete">cancel</div>
  </div>
  <div class="close hidden"></div>
  <div class="replace tooltip" title="replace image"></div>
</li>
