


// IMAGES
.dcLogo
  background: no-repeat left center transparent url(/images/embed/logos/dc-logo-366.png)
.dcLogo-small
  background: no-repeat left center transparent url(/images/embed/logos/dc-logo.png)
.dreamstars-logo-mini
  background: no-repeat top left transparent url(/images/embed/logos/dreamstars-182.png)
.top-shadow
  background: repeat-x top url(/images/embed/gradients/top-shadow-80.png)






// BOOKS
.mask-blue
  background: url(/images/books/mask-blue.png) no-repeat center center
.open-blue
  background: url(/images/books/open-blue.png) no-repeat center center
.mask-purple
  background: url(/images/books/mask-purple.png) no-repeat center center
.open-purple
  background: url(/images/books/open-purple.png) no-repeat center center
.mask-pink
  background: url(/images/books/mask-pink.png) no-repeat center center
.open-pink
  background: url(/images/books/open-pink.png) no-repeat center center
.mask-red
  background: url(/images/books/mask-red.png) no-repeat center center
.open-red
  background: url(/images/books/open-red.png) no-repeat center center
.mask-aqua
  background: url(/images/books/mask-aqua.png) no-repeat center center
.open-aqua
  background: url(/images/books/open-aqua.png) no-repeat center center
.mask-green
  background: url(/images/books/mask-green.png) no-repeat center center
.open-green
  background: url(/images/books/open-green.png) no-repeat center center
.mask-yellow
  background: url(/images/books/mask-yellow.png) no-repeat center center
.open-yellow
  background: url(/images/books/open-yellow.png) no-repeat center center
.mask-orange
  background: url(/images/books/mask-orange.png) no-repeat center center
.open-orange
  background: url(/images/books/open-orange.png) no-repeat center center
.mask-blue-deep
  background: url(/images/books/mask-blue-deep.png) no-repeat center center
.open-blue-deep
  background: url(/images/books/open-blue-deep.png) no-repeat center center
.mask-green-deep
  background: url(/images/books/mask-green-deep.png) no-repeat center center
.open-green-deep
  background: url(/images/books/open-green-deep.png) no-repeat center center
.mask-brown
  background: url(/images/books/mask-brown.png) no-repeat center center
.open-brown
  background: url(/images/books/open-brown.png) no-repeat center center
.mask-maroon
  background: url(/images/books/mask-maroon.png) no-repeat center center
.open-maroon
  background: url(/images/books/open-maroon.png) no-repeat center center
.mask-white
  background: url(/images/books/mask-white.png) no-repeat center center
.open-white
  background: url(/images/books/open-white.png) no-repeat center center
.mask-grey-light
  background: url(/images/books/mask-grey-light.png) no-repeat center center
.open-grey-light
  background: url(/images/books/open-grey-light.png) no-repeat center center





// ICONS
.add-15
  background: no-repeat center center transparent url(/images/embed/icons/add-15.png)
.admin-16-active
  background: no-repeat center center transparent url(/images/embed/icons/admin-16-active.png)
.admin-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/admin-16-hover.png)
.admin-16
  background: no-repeat center center transparent url(/images/embed/icons/admin-16.png)
.admin-24-active
  background: no-repeat center center transparent url(/images/embed/icons/admin-24-active.png)
.admin-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/admin-24-hover.png)
.admin-24
  background: no-repeat center center transparent url(/images/embed/icons/admin-24.png)
.analysis-16-blue
  background: no-repeat center center transparent url(/images/embed/icons/analysis-16-blue.png)
.analysis-16
  background: no-repeat center center transparent url(/images/embed/icons/analysis-16.png)
.anon-16-active
  background: no-repeat center center transparent url(/images/embed/icons/anon-16-active.png)
.anon-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/anon-16-hover.png)
.anon-16
  background: no-repeat center center transparent url(/images/embed/icons/anon-16.png)
.anon-24-active
  background: no-repeat center center transparent url(/images/embed/icons/anon-24-active.png)
.anon-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/anon-24-hover.png)
.anon-24
  background: no-repeat center center transparent url(/images/embed/icons/anon-24.png)
.appearance-24-active
  background: no-repeat center center transparent url(/images/embed/icons/appearance-24-active.png)
.appearance-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/appearance-24-hover.png)
.appearance-24
  background: no-repeat center center transparent url(/images/embed/icons/appearance-24.png)
.arrow-down-16-dark
  background: no-repeat center center transparent url(/images/embed/icons/arrow-down-16-dark.png)
.arrow-down-16-light
  background: no-repeat center center transparent url(/images/embed/icons/arrow-down-16-light.png)
.arrow-down-16
  background: no-repeat center center transparent url(/images/embed/icons/arrow-down-16.png)
.arrow-right-16-dark
  background: no-repeat center center transparent url(/images/embed/icons/arrow-right-16-dark.png)
.arrow-right-16-light
  background: no-repeat center center transparent url(/images/embed/icons/arrow-right-16-light.png)
.arrow-right-55-dark
  background: no-repeat center center transparent url(/images/embed/icons/arrow-right-55-dark.png)
.arrow-right-55-light
  background: no-repeat center center transparent url(/images/embed/icons/arrow-right-55-light.png)
.arrow-up-16-dark
  background: no-repeat center center transparent url(/images/embed/icons/arrow-up-16-dark.png)
.arrow-up-16-light
  background: no-repeat center center transparent url(/images/embed/icons/arrow-up-16-light.png)
.arrow-up-27-dark
  background: no-repeat center center transparent url(/images/embed/icons/arrow-up-27-dark.png)
.arrow-up-27-light
  background: no-repeat center center transparent url(/images/embed/icons/arrow-up-27-light.png)
.arrow-up-32
  background: no-repeat center center transparent url(/images/embed/icons/arrow_up-32.png)
.article-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/article-16-hover.png)
.article-16
  background: no-repeat center center transparent url(/images/embed/icons/article-16.png)
.article-24-active
  background: no-repeat center center transparent url(/images/embed/icons/article-24-active.png)
.article-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/article-24-hover.png)
.article-24
  background: no-repeat center center transparent url(/images/embed/icons/article-24.png)
.article-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/article-32-hover.png)
.bedsheets-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/bedsheets-24-hover.png)
.books-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/books-16-hover.png)
.books-16
  background: no-repeat center center transparent url(/images/embed/icons/books-16.png)
.books-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/books-24-hover.png)
.books-24
  background: no-repeat center center transparent url(/images/embed/icons/books-24.png)
.buzz-16
  background: no-repeat center center transparent url(/images/embed/icons/buzz-16.png)
.check-16
  background: no-repeat center center transparent url(/images/embed/icons/check-16.png)
.check-31
  background: no-repeat center center transparent url(/images/embed/icons/check-31.png)
.close-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/close-16-hover.png)
.close-16
  background: no-repeat center center transparent url(/images/embed/icons/close-16.png)
.close-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/close-24-hover.png)
.close-24
  background: no-repeat center center transparent url(/images/embed/icons/close-24.png)
.color-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/color-24-hover.png)
.comment-16-active
  background: no-repeat center center transparent url(/images/embed/icons/comment-16-active.png)
.comment-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/comment-16-hover.png)
.comment-16
  background: no-repeat center center transparent url(/images/embed/icons/comment-16.png)
.date-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/date-16-hover.png)
.date-16
  background: no-repeat center center transparent url(/images/embed/icons/date-16.png)
.date-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/date-24-hover.png)
.date-24
  background: no-repeat center center transparent url(/images/embed/icons/date-24.png)
.download-24-active
  background: no-repeat center center transparent url(/images/embed/icons/download-24-active.png)
.download-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/download-24-hover.png)
.download-24
  background: no-repeat center center transparent url(/images/embed/icons/download-24.png)
.dream-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/dream-16-hover.png)
.dream-16
  background: no-repeat center center transparent url(/images/embed/icons/dream-16.png)
.dream-24-active
  background: no-repeat center center transparent url(/images/embed/icons/dream-24-active.png)
.dream-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/dream-24-hover.png)
.dream-24
  background: no-repeat center center transparent url(/images/embed/icons/dream-24.png)
.dream-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/dream-32-hover.png)
.dreamstar-148-scream
  background: no-repeat center center transparent url(/images/embed/icons/dreamstar-148-scream.png)
.dreamstar-148
  background: no-repeat center center transparent url(/images/embed/icons/dreamstar-148.png)

// dream-star mini's
.dreamstar-1 .badge
  background: no-repeat scroll left center transparent url(/images/embed/dreamstars/dreamstars-1-56.png)
.dreamstar-2 .badge
  background: no-repeat scroll left center transparent url(/images/embed/dreamstars/dreamstars-2-56.png)
.dreamstar-3 .badge
  background: no-repeat scroll left center transparent url(/images/embed/dreamstars/dreamstars-3-56.png)
.dreamstar-4 .badge
  background: no-repeat scroll left center transparent url(/images/embed/dreamstars/dreamstars-4-56.png)
.dreamstar-5 .badge
  background: no-repeat scroll left center transparent url(/images/embed/dreamstars/dreamstars-5-56.png)
.dreamstar-6 .badge
  background: no-repeat scroll left center transparent url(/images/embed/dreamstars/dreamstars-6-56.png)

.dropbox-26
  background: no-repeat center center transparent url(/images/embed/icons/dropbox-26.png)
.edit-16-active
  background: no-repeat center center transparent url(/images/embed/icons/edit-16-active.png)
.edit-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/edit-16-hover.png)
.edit-16
  background: no-repeat center center transparent url(/images/embed/icons/edit-16.png)
.edit-24-active
  background: no-repeat center center transparent url(/images/embed/icons/edit-24-active.png)
.edit-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/edit-24-hover.png)
.edit-24
  background: no-repeat center center transparent url(/images/embed/icons/edit-24.png)
.emotions-16-active
  background: no-repeat center center transparent url(/images/embed/icons/emotions-16-active.png)
.emotions-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/emotions-16-hover.png)
.emotions-16
  background: no-repeat center center transparent url(/images/embed/icons/emotions-16.png)
.emotions-24
  background: no-repeat center center transparent url(/images/embed/icons/emotions-24.png)
.entries-16
  background: no-repeat center center transparent url(/images/embed/icons/entries-16.png)
.entries-24
  background: no-repeat center center transparent url(/images/embed/icons/entries-24.png)
.experience-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/experience-16-hover.png)
.experience-16
  background: no-repeat center center transparent url(/images/embed/icons/experience-16.png)
.experience-24-active
  background: no-repeat center center transparent url(/images/embed/icons/experience-24-active.png)
.experience-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/experience-24-hover.png)
.experience-24
  background: no-repeat center center transparent url(/images/embed/icons/experience-24.png)
.experience-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/experience-32-hover.png)
.facebook-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/facebook-16-hover.png)
.facebook-16
  background: no-repeat center center transparent url(/images/embed/icons/facebook-16.png)
.facebook-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/facebook-24-hover.png)
.font-24
  background: no-repeat center center transparent url(/images/embed/icons/font-24.png)
.friend-16-follow
  background: no-repeat center center transparent url(/images/embed/icons/friend-16-follow.png)
.friend-16-follower
  background: no-repeat center center transparent url(/images/embed/icons/friend-16-follower.png)
.friend-16-none
  background: no-repeat center center transparent url(/images/embed/icons/friend-16-none.png)
.friend-16
  background: no-repeat center center transparent url(/images/embed/icons/friend-16.png)
.friend-24-follow
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-follow.png)
.friend-24-follower
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-follower.png)
.friend-24-none
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-none.png)
.friend-24-unfriend
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-unfriend.png)
.friend-24
  background: no-repeat center center transparent url(/images/embed/icons/friend-24.png)
.friend-32-follow
  background: no-repeat center center transparent url(/images/embed/icons/friend-32-follow.png)
.friend-32-follower
  background: no-repeat center center transparent url(/images/embed/icons/friend-32-follower.png)
.friend-32-none
  background: no-repeat center center transparent url(/images/embed/icons/friend-32-none.png)
.friend-32
  background: no-repeat center center transparent url(/images/embed/icons/friend-32.png)
.friend-stream-sprite
  background: no-repeat center center transparent url(/images/embed/icons/friend-stream-sprite.png)
.google-16
  background: no-repeat center center transparent url(/images/embed/icons/google-16.png)
.green-plus-20
  background: no-repeat center center transparent url(/images/embed/icons/green-plus-20.png)
.home-16-active
  background: no-repeat center center transparent url(/images/embed/icons/home-16-active.png)
.home-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/home-16-hover.png)
.home-16
  background: no-repeat center center transparent url(/images/embed/icons/home-16.png)
.home-24-active
  background: no-repeat center center transparent url(/images/embed/icons/home-24-active.png)
.home-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/home-24-hover.png)
.home-24
  background: no-repeat center center transparent url(/images/embed/icons/home-24.png)
.ib-icons
  background: no-repeat center center transparent url(/images/embed/icons/ib-icons.png)
.images-16-active
  background: no-repeat center center transparent url(/images/embed/icons/images-16-active.png)
.images-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/images-16-hover.png)
.images-16
  background: no-repeat center center transparent url(/images/embed/icons/images-16.png)
.info-24-active
  background: no-repeat center center transparent url(/images/embed/icons/info-24-active.png)
.info-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/info-24-hover.png)
.info-24-selected
  background: no-repeat center center transparent url(/images/embed/icons/info-24-selected.png)
.info-24
  background: no-repeat center center transparent url(/images/embed/icons/info-24.png)
.input_teaser
  background: no-repeat center center transparent url(/images/embed/icons/input_teaser.gif)
.journal-16-active
  background: no-repeat center center transparent url(/images/embed/icons/journal-16-active.png)
.journal-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/journal-16-hover.png)
.journal-16
  background: no-repeat center center transparent url(/images/embed/icons/journal-16.png)
.journal-24-active
  background: no-repeat center center transparent url(/images/embed/icons/journal-24-active.png)
.journal-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/journal-24-hover.png)
.journal-24
  background: no-repeat center center transparent url(/images/embed/icons/journal-24.png)
.journal-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/journal-32-hover.png)
.link-16-active
  background: no-repeat center center transparent url(/images/embed/icons/link-16-active.png)
.link-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/link-16-hover.png)
.link-16
  background: no-repeat center center transparent url(/images/embed/icons/link-16.png)
.list-16
  background: no-repeat center center transparent url(/images/embed/icons/list-16.png)
.location-16-active
  background: no-repeat center center transparent url(/images/embed/icons/location-16-active.png)
.location-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/location-16-hover.png)
.location-16
  background: no-repeat center center transparent url(/images/embed/icons/location-16.png)
.location-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/location-24-hover.png)
.location-24
  background: no-repeat center center transparent url(/images/embed/icons/location-24.png)
.login-24-active
  background: no-repeat center center transparent url(/images/embed/icons/login-24-active.png)
.login-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/login-24-hover.png)
.login-24
  background: no-repeat center center transparent url(/images/embed/icons/login-24.png)
.login-32-active
  background: no-repeat center center transparent url(/images/embed/icons/login-32-active.png)
.login-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/login-32-hover.png)
.login-32
  background: no-repeat center center transparent url(/images/embed/icons/login-32.png)
.logout-24-active
  background: no-repeat center center transparent url(/images/embed/icons/logout-24-active.png)
.logout-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/logout-24-hover.png)
.logout-24
  background: no-repeat center center transparent url(/images/embed/icons/logout-24.png)
.love-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/love-16-hover.png)
.love-16
  background: no-repeat center center transparent url(/images/embed/icons/love-16.png)
.manage-16-active
  background: no-repeat center center transparent url(/images/embed/icons/manage-16-active.png)
.manage-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/manage-16-hover.png)
.manage-16
  background: no-repeat center center transparent url(/images/embed/icons/manage-16.png)
.manage-24-active
  background: no-repeat center center transparent url(/images/embed/icons/manage-24-active.png)
.manage-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/manage-24-hover.png)
.manage-24
  background: no-repeat center center transparent url(/images/embed/icons/manage-24.png)
.manage-32-active
  background: no-repeat center center transparent url(/images/embed/icons/manage-32-active.png)
.manage-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/manage-32-hover.png)
.manage-32
  background: no-repeat center center transparent url(/images/embed/icons/manage-32.png)
.menu-24
  background: no-repeat center center transparent url(/images/embed/icons/menu-24.png)
.moon-24
  background: no-repeat center center transparent url(/images/embed/icons/moon-24.png)
.play-16-active
  background: no-repeat center center transparent url(/images/embed/icons/play-16-active.png)
.play-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/play-16-hover.png)
.play-16
  background: no-repeat center center transparent url(/images/embed/icons/play-16.png)
.play-24-active
  background: no-repeat center center transparent url(/images/embed/icons/play-24-active.png)
.play-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/play-24-hover.png)
.play-24
  background: no-repeat center center transparent url(/images/embed/icons/play-24.png)
.play-32-active
  background: no-repeat center center transparent url(/images/embed/icons/play-32-active.png)
.play-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/play-32-hover.png)
.play-32
  background: no-repeat center center transparent url(/images/embed/icons/play-32.png)
.plus-16-greenBlue
  background: no-repeat center center transparent url(/images/embed/icons/plus-16-greenBlue.png)
.plus-24-greenBlue
  background: no-repeat center center transparent url(/images/embed/icons/plus-24-greenBlue.png)
.plus-48
  background: no-repeat center center transparent url(/images/embed/icons/plus-48.png)
.private-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/private-16-hover.png)
.private-16
  background: no-repeat center center transparent url(/images/embed/icons/private-16.png)
.private-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/private-24-hover.png)
.quasm-16
  background: no-repeat center center transparent url(/images/embed/icons/quasm-16.png)
.quasm-24
  background: no-repeat center center transparent url(/images/embed/icons/quasm-24.png)
.radioWrap-31
  background: no-repeat center center transparent url(/images/embed/icons/radioWrap-31.png)
.reload-24-active
  background: no-repeat center center transparent url(/images/embed/icons/reload-24-active.png)
.reload-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/reload-24-hover.png)
.reload-24
  background: no-repeat center center transparent url(/images/embed/icons/reload-24.png)
.repost-24-active
  background: no-repeat center center transparent url(/images/embed/icons/repost-24-active.png)
.repost-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/repost-24-hover.png)
.repost-24
  background: no-repeat center center transparent url(/images/embed/icons/repost-24.png)
.search-16-active
  background: no-repeat center center transparent url(/images/embed/icons/search-16-active.png)
.search-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/search-16-hover.png)
.search-16
  background: no-repeat center center transparent url(/images/embed/icons/search-16.png)
.search-18
  background: no-repeat center center transparent url(/images/embed/icons/search-18.png)
.search-24-active
  background: no-repeat center center transparent url(/images/embed/icons/search-24-active.png)
.search-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/search-24-hover.png)
.search-24
  background: no-repeat center center transparent url(/images/embed/icons/search-24.png)
.search-32-active
  background: no-repeat center center transparent url(/images/embed/icons/search-32-active.png)
.search-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/search-32-hover.png)
.search-32
  background: no-repeat center center transparent url(/images/embed/icons/search-32.png)
.settings-24-active
  background: no-repeat center center transparent url(/images/embed/icons/settings-24-active.png)
.settings-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/settings-24-hover.png)
.settings-24
  background: no-repeat center center transparent url(/images/embed/icons/settings-24.png)
.sharing-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/sharing-16-hover.png)
.sharing-16
  background: no-repeat center center transparent url(/images/embed/icons/sharing-16.png)
.sharing-24-active
  background: no-repeat center center transparent url(/images/embed/icons/sharing-24-active.png)
.sharing-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/sharing-24-hover.png)
.sharing-24
  background: no-repeat center center transparent url(/images/embed/icons/sharing-24.png)
.shuffle-24-active
  background: no-repeat center center transparent url(/images/embed/icons/shuffle-24-active.png)
.shuffle-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/shuffle-24-hover.png)
.shuffle-24
  background: no-repeat center center transparent url(/images/embed/icons/shuffle-24.png)
.skype-16
  background: no-repeat center center transparent url(/images/embed/icons/skype-16.png)


.spinner-dark-32
  background: no-repeat center center transparent url(/images/embed/icons/spinner-dark-32.gif)
.spinner-grey-32
  background: no-repeat center center transparent url(/images/embed/icons/spinner-grey-32.gif)
.spinner-light-32
  background: no-repeat center center transparent url(/images/embed/icons/spinner-light-32.gif)
.spinner-light-grey-32
  background: no-repeat center center transparent url(/images/embed/icons/spinner-light-grey-32.gif)


.starlight-16-active
  background: no-repeat center center transparent url(/images/embed/icons/starlight-16-active.png)
.starlight-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/starlight-16-hover.png)
.starlight-16
  background: no-repeat center center transparent url(/images/embed/icons/starlight-16.png)
.starlight-17
  background: no-repeat center center transparent url(/images/embed/icons/starlight-17.png)
.starlight-24-active
  background: no-repeat center center transparent url(/images/embed/icons/starlight-24-active.png)
.starlight-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/starlight-24-hover.png)
.starlight-24
  background: no-repeat center center transparent url(/images/embed/icons/starlight-24.png)
.starlight-32
  background: no-repeat center center transparent url(/images/embed/icons/starlight-32.png)
.starlight-64
  background: no-repeat center center transparent url(/images/embed/icons/starlight-64.png)
.stream-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/stream-16-hover.png)
.stream-24-active
  background: no-repeat center center transparent url(/images/embed/icons/stream-24-active.png)
.stream-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/stream-24-hover.png)
.stream-24
  background: no-repeat center center transparent url(/images/embed/icons/stream-24.png)
.sun-24
  background: no-repeat center center transparent url(/images/embed/icons/sun-24.png)
.tag-16-active
  background: no-repeat center center transparent url(/images/embed/icons/tag-16-active.png)
.tag-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/tag-16-hover.png)
.tag-16
  background: no-repeat center center transparent url(/images/embed/icons/tag-16.png)
.tag-24-active
  background: no-repeat center center transparent url(/images/embed/icons/tag-24-active.png)
.tag-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/tag-24-hover.png)
.tag-24
  background: no-repeat center center transparent url(/images/embed/icons/tag-24.png)
.twitter-16
  background: no-repeat center center transparent url(/images/embed/icons/twitter-16.png)
.viewing-16
  background: no-repeat center center transparent url(/images/embed/icons/viewing-16.png)
.vimeo-24-active
  background: no-repeat center center transparent url(/images/embed/icons/vimeo-24-active.png)
.vimeo-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/vimeo-24-hover.png)
.vimeo-24
  background: no-repeat center center transparent url(/images/embed/icons/vimeo-24.png)
.vision-16-active
  background: no-repeat center center transparent url(/images/embed/icons/vision-16-active.png)
.vision-16-hover
  background: no-repeat center center transparent url(/images/embed/icons/vision-16-hover.png)
.vision-16
  background: no-repeat center center transparent url(/images/embed/icons/vision-16.png)
.vision-24-active
  background: no-repeat center center transparent url(/images/embed/icons/vision-24-active.png)
.vision-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/vision-24-hover.png)
.vision-24
  background: no-repeat center center transparent url(/images/embed/icons/vision-24.png)
.vision-32-hover
  background: no-repeat center center transparent url(/images/embed/icons/vision-32-hover.png)
.x-24-white
  background: no-repeat center center transparent url(/images/embed/icons/x-24-white.png)
.youtube-16
  background: no-repeat center center transparent url(/images/embed/icons/youtube-16.png)
.youtube-24-active
  background: no-repeat center center transparent url(/images/embed/icons/youtube-24-active.png)
.youtube-24-hover
  background: no-repeat center center transparent url(/images/embed/icons/youtube-24-hover.png)
.youtube-24
  background: no-repeat center center transparent url(/images/embed/icons/youtube-24.png)
.youtube-video-112
  background: no-repeat center center transparent url(/images/embed/icons/youtube-video-112.png)
.youtube-video-48
  background: no-repeat center center transparent url(/images/embed/icons/youtube-video-48.png)






