// PAGE HEADERS
.pageHeader
  +user-select
  +cursor
  +relative
  +left  
  border-radius:            16px 48px 0 0
  -moz-border-radius:       16px 48px 0 0
  -webkit-border-radius:    16px 48px 0 0
  background: #000
  background: -moz-linear-gradient(top, rgba(0,0,0,1.0), rgba(0,0,0,1.0) 4px, rgba(0,0,0,0.0))
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,1.0)), color-stop(.1,rgba(0,0,0,1.0)), to(rgba(0,0,0,0.0)))
  height: 54px
  line-height: 50px
  margin: 0 0 20px
  padding-right: 36px
  .img
    +left
    width: 32px
    height: 54px
    margin: 0 12px
    background-position: center center !important
    background-repeat: no-repeat !important
    &.dream
      @extend .dream-32-hover
    &.vision
    @extend .vision-32-hover
    &.experience
      @extend .experience-32-hover
    &.journal
      @extend .journal-32-hover
    &.article
      @extend .article-32-hover

    &.friends
      @extend .friend-32
    &.following
      @extend .friend-32-follow
    &.followers
      @extend .friend-32-follower
    
  h1
    +left
    +font(24)
    letter-spacing: 2px
    color: #fff



// PAGE HEADERS
// COLOR
.light .pageHeader
  background: #fff
  background: -moz-linear-gradient(top, rgba(255,255,255,1.0), rgba(255,255,255,1.0) 4px, rgba(255,255,255,0.0))
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,1.0)), color-stop(.1,rgba(255,255,255,1.0)), to(rgba(255,255,255,0.0)))

  h1
    color: #000
    text-shadow: #fff 0 0 15px



.dark .pageHeader
  background: #000
  background: -moz-linear-gradient(top, rgba(0,0,0,1.0), rgba(0,0,0,1.0) 4px, rgba(0,0,0,0.0))
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,1.0)), color-stop(.1,rgba(0,0,0,1.0)), to(rgba(0,0,0,0.0)))

  h1
    color: #fff
    text-shadow: #000 0 0 15px