

// EMBEDDED
// FRIEND and FOLLOWERS
.friend-16
  background: no-repeat center center transparent url(/images/embed/icons/friend-16.png)
.friend-16-follow
  background: no-repeat center center transparent url(/images/embed/icons/friend-16-follow.png)
.friend-16-follower
  background: no-repeat center center transparent url(/images/embed/icons/friend-16-follower.png)
.friend-16-none
  background: no-repeat center center transparent url(/images/embed/icons/friend-16-none.png)
.friend-24
  background: no-repeat center center transparent url(/images/embed/icons/friend-24.png)
.friend-24-follow
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-follow.png)
.friend-24-follower
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-follower.png)
.friend-24-none
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-none.png)
.friend-24-unfriend
  background: no-repeat center center transparent url(/images/embed/icons/friend-24-unfriend.png)
.friend-32
  background: no-repeat center center transparent url(/images/embed/icons/friend-32.png)
.friend-32-follow
  background: no-repeat center center transparent url(/images/embed/icons/friend-32-follow.png)
.friend-32-follower
  background: no-repeat center center transparent url(/images/embed/icons/friend-32-follower.png)
.friend-32-none
  background: no-repeat center center transparent url(/images/embed/icons/friend-32-none.png)





