// LOADING AJAX
#loading_ajax
  +hidden
  +round(24)
  position: fixed
  top: 20%
  left: 47%
  padding: 20px 50px
  z-index: 2000

  .spinner
    +left
    margin: 0 30px 0 0
    width: 32px
    height: 32px

  span
    @extend .font-dc
    +font(28)



// COLORS
#loading_ajax
  +transparent-dark(80)
  +glow-light(20)
  color: #fff

  .spinner
    @extend .spinner-dark-32

.dark #loading_ajax
  +glow-dark(20)


  // .spinner
  //   @extend .spinner-light-grey-32