// DREAM STREAM FILTER + THUMBS 1D
.streamFilter
  clear: both
  width: 178px
  margin: 20px 0 0
  padding: 10px
  .filterList
    background: #e8e8e8
    width: 178px
    label
      display: block
      text-align: center
      height: 40px
      line-height: 40px
      font-weight: bold
      cursor: pointer
      -moz-border-radius: 12px 12px 0 0
      input
        cursor: pointer
        margin-top: 15px
    .filterType, .refresh
      clear: both
      margin: 10px 0
      padding: 0 10px
      border: 2px solid #bdbdbd
      -moz-box-shadow: 0 4px 8px
      label
        height: 30px
        line-height: 30px
        width: 158px
        display: block
        font-weight: normal
        img, span
          float: left
        img
          margin: 8px 4px 0 0
        input
          float: right
          margin: 10px 0 0
      label.type, label.typeTall
        font-weight: bold
      label.typeTall
        height: 60px

    .refresh
      cursor: pointer
      height: 30px
      line-height: 30px
      font-weight: bold
      -moz-box-shadow: 0 0 0
      text-align: center
      background: -moz-linear-gradient(center top , rgb(153, 153, 153), rgb(51, 51, 51)) repeat scroll 0% 0% transparent
      border: 2px solid rgb(189, 189, 189)


// DREAM STREAM 1D
.dreamThumbs_1d
  height: auto

  .thumb:hover
    border-radius: 16px
    -moz-border-radius: 16px
    -webkit-border-radius: 16px
    box-shadow: 0px 0px 40px #000
    -moz-box-shadow: 0px 0px 40px #000
    -webkit-box-shadow: 0px 0px 40px #000
  .thumb
    clear: both
    margin: 20px 0 0
    width: 680px
    overflow: hidden
    .left
      .details
        position: absolute
        .date, .location
          float: left
          padding: 4px 8px
          margin: 4px
          font-size: 11px
          text-align: center
          border-radius: 12px
          -moz-border-radius: 12px
          -webkit-border-radius: 12px
  .thumbAll, .thumbNoImage
    height: 90px
  .thumbTag, .thumbNewImages
    height: 62px
    border-radius: 16px
    -moz-border-radius: 16px
    -webkit-border-radius: 16px
  .thumbTag
    padding: 15px 0
    height: 32px
    line-height: 32px
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc))
    background: -moz-linear-gradient(top, #fff, #ccc) /* gradient-0-30 */
    .user
      margin: 0 8px
    .tagText
      float: left
      margin: 0 0 0 12px
      font-size: 18px
  .thumbNoImage
    .left
      .tagCloud
        height: 90px
        border-radius-topleft: 16px
        -moz-border-radius-topleft: 16px
        -webkit-border-radius-topleft: 16px
  .thumbNewImages
    .left
      .image
        height: 62px
        border-radius-bottomleft: 16px
        -moz-border-radius-bottomleft: 16px
        -webkit-border-radius-bottomleft: 16px
    .right
      height: 62px
      .user
        margin: 15px 8px
      .display
        float: left
        margin: 10px 0 0
        .gallery
          margin: 0
          font-size: 18px
          color: #262626 /* 90% Black */
        .text
          margin: 0

  .left
    float: left
    width: 256px
    height: 90px
    margin: 0
    padding: 0
    .image
      width: 256px
      height: 45px
      border-radius-topleft: 16px
      -moz-border-radius-topleft: 16px
      -webkit-border-radius-topleft: 16px
      background: url(../images/art/cloud-temple-banner.jpg) no-repeat top
    .tagCloud
      height: 45px
      border-radius-bottomleft: 16px
      -moz-border-radius-bottomleft: 16px
      -webkit-border-radius-bottomleft: 16px
  .right
    float: right
    height: 90px
    width: 424px
    margin: 0
    padding: 0
    border-radius-topright: 16px
    -moz-border-radius-topright: 16px
    -webkit-border-radius-topright: 16px
    border-radius-bottomright: 16px
    -moz-border-radius-bottomright: 16px
    -webkit-border-radius-bottomright: 16px
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc))
    background: -moz-linear-gradient(top, #fff, #ccc) /* gradient-0-30 */
  .user
    float: left
    width: 90px
    height: 32px
    line-height: 35px
    margin: 7px 0 0 8px
    color: #034c99
    background: #fff url(../images/avatars/xavitar.jpg) no-repeat left
    .name
      margin: 0 0 0 40px
      font-size: 16px
      font-weight: bold
  .title
    width: 320px
    height: 48px
    line-height: 48px
    margin: -34px 0 0
    float: right
    font-weight: bold
    h1
      overflow: hidden
      height: 43px
      font-size: 48px
    h2
      margin-top: -74px
      font-size: 18px
      color: #262626 /* 90% Black */
  .text
    clear: both
    color: #666
    margin: 44px 0 0 15px