// DREAMSTREAM


// DREAM STREAM 1D
.dreamThumbs_1d
  .thumb
    width: 680px
    .left
      float: left
      width: 424px
      height: 82px
      margin: 0
      padding: 0
      .user
        width: 25%
        height: 33px
        line-height: 33px
        margin: 0 0 0 4px
        color: #034c99
        background: #fff url(../images/avatars/xavitar.jpg) no-repeat left
        p
          margin-left: 48px
          font-size: 16px
          font-weight: bold
      .title
        width: 73%
        height: 48px
        line-height: 48px
        margin: -74px 0 0 4px
        float: right
        font-weight: bold
        h1
          overflow: hidden
          height: 43px
          font-size: 48px
        p
          margin-top: -74px
          font-size: 17px
      p
        color: #666
        margin-left: 15px
    .right
      float: right
      width: 256px
      margin: 0
      padding: 0
      .image
        width: 256px
        height: 64px
        overflow: hidden
        -moz-border-radius: 0 16px 0 0
        background: url(../images/avatars/xavitar.jpg) no-repeat top