// FRIEND'S LIST
#userStream
  
  .user:hover
    box-shadow: 8px 8px 40px #000
    -moz-box-shadow: 0 0 40px #000
    -webkit-box-shadow: 2px 2px 40px #000
  .user 
    position: relative
    float: left
    min-height: 52px
    width: 222px
    margin: 0 10px 10px 0
    padding: 8px
    cursor: pointer
    .userStatus
      position: relative
      float: right
      margin: 0
      right: 3px
      top: 3px
      width: 17px
      height: 17px
      cursor: pointer
      overflow: hidden
      background: url(/images/icons/friend-stream-sprite.png) no-repeat 0% 33%
      z-index: 200
    .statusHover
      position: absolute
      cursor: pointer
      padding: 2px 4px
      margin: 0
      right: 8px
    .userThumb
      float: left
      margin: 0
      height: 60px
      overflow: hidden
      width: 60px
      background: url(/images/avatars/default-avatar-tiny.jpg) no-repeat
    .userInfo
      float: left
      margin: 0 0 0 8px
      width: auto
      h3
        margin: 0
      p
        color: #5C5C5C
        font-size: 10px
        margin: 0
      p.mutual
        color: #262626 /* 90% Black */
        background-position: 0 100%