.ui-dialog
  width: 370px
  background-color: #000
  border: 3px solid #fff
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  padding: 6px



  .ui-dialog-titlebar
  .ui-dialog-content
  .ui-dialog-buttonpane
    .ui-dialog-buttonset
      .ui-button
        cursor: pointer
        width: 172px
        height: 30px
        border: 2px solid
        border-color: #333
      .ui-button:hover
        border-color: #fff
