/*********** NEW DREAM ***********/
#dreamField

  .headers
    padding: 0 12px
    height: 34px
    line-height: 34px
    text-align: center
    float: left
    font-weight: bold
    color: #464646
    cursor: pointer
    border-radius: 16px
    -moz-border-radius: 16px
    -webkit-border-radius: 16px
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#fff))
    background: -moz-linear-gradient(top, #CCCCCC, #fff) /* gradient-25-0 */
    img
      float: left

  /* NEW DREAM INPUT PANEL */
  #newDream-panel
    width: 662px 
    padding: 8px
    #entryTypeWrap
      width: 126px
      border: 1px solid #E1E1E1
      img
        float: left
        margin: 3px 0 0 4px
      #entryType_current
        background: url(../images/icons/arrowDark-16-open.png) no-repeat 118px 3px
      #entryType_list
        background: transparent
        border: 0
    #dream_title, #dream_body
      margin: 16px 0 0 20px
      background: transparent
      border: none
    #dream_title
      width: 500px
      height: 26px
      line-height: 26px
    #dream_body
      width: 626px
      min-height: 134px
      height: 134px

    /* NEW DREAM ENTRY OPTIONS */
    #entryOptions
      width: 664px 
      height: 48px
      margin: 0 auto
      bottom: 8px
      border: 1px solid #D7D7D7
      background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#B7B7B7))
      background: -moz-linear-gradient(top, #EBEBEB, #B7B7B7) /* gradient-10-35 */
    .myBooks, .date, .location, .visibility, #dream_submit, #entryTypeWrap
      height: 34px
      line-height: 34px
      margin: 8px 0 0 8px
      text-align: center
      cursor: pointer
      float: right
      border-radius: 16px
      -moz-border-radius: 16px
      -webkit-border-radius: 16px
      background: -webkit-gradient(linear, left top, left bottom, from(#E1E1E1), to(#fff))
      background: -moz-linear-gradient(top, #E1E1E1, #fff) /* gradient-15-0 */
    .myBooks
      width: 184px
      float: left
      font-weight: bold
      img
        margin: 9px 0 0 14px
        float: left
    .date, .location
      width: 42px
      img
        margin: 9px 0 0
    .location
      img
        margin: 7px 0 0
    .visibility
      width: 104px
      img
        margin: 9px 10px 0 0
        float: right
    #dream_submit
      width: 64px
      height: 34px
      line-height: 28px
      margin-right: 8px
      color: #fff
      font-weight: bold
      font-size: 12px
      border: 1px solid #ACACAC /* gradient-45 */
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      background: -webkit-gradient(linear, left top, left bottom, from(#B7B7B7), to(#363636))
      background: -moz-linear-gradient(top, #B7B7B7, #363636) /* gradient-35-85 */

  /* NEW DREAM DATE */
  #newDream-dateTime
    display: none
  #dateTimeHeader
    img
      margin: 9px 8px 0 0
  .date, .time
    float: left
    margin: 3px 0 0 8px
  #hour, #month, #day, #year, #minute, #amPm
    padding: 2px
    font-size: 16px
  #hour, #month
    margin-left: 8px
  #day, #year, #minute, #amPm
    margin-left: -4px

  /* NEW DREAM LOCATION */
  #newDream-location
    height: 140px
    display: none
    #locationHeader
      img
        margin: 9px 8px 0 0
    #locations, #newLocation
      float: left
      font-size: 16px
      height: 28px
      line-height: 28px
      margin: 3px 0 0 8px
      padding: 0 8px
    #locations
      width: 120px
    #newLocation
      cursor: pointer
      padding: 0 8px
      background: #fff
    #name, #city, #state, #country
      float: left
      margin: 4px 0 0 8px
      p 
        margin: 2px 0 0 10px
        font-size: 11px
      input
        padding: 4px
        width: 244px
        font-size: 16px
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px
    #name
      clear: both

  /* NEW DREAM - IMAGES PANEL */
  #new_dream-images
    border: 1px solid #333
    display: none
    #imagesHeader
      img
        margin: 11px 8px 0 0
    #addFromImageBank
      float: left
      height: 32px
      line-height: 32px
      padding: 0 8px
      cursor: pointer
      margin-left: 8px
      img
        margin: 6px 8px 6px 0
        float: left
    #imageDropArea
      float: right
      color: #7f7f7f
      font-weight: bold
      font-size: 13px
      width: 380px
      height: 32px
      line-height: 32px
      border: 1px solid #fff
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      background: #fff
      box-shadow: 0 8px 5px #999 inset
      -moz-box-shadow: 0 8px 5px #999 inset
      -webkit-box-shadow: 0 8px 5px #999 inset
      img
        float: left
        margin: 6px 8px
    #currentImages
      margin: 12px 0 0 12px
      .dreamImageContainer, .dreamImage
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px 
      .dreamImageContainer
        float: left
        margin: 0px 8px 8px 0px
        height: 120px
        width: 120px
        overflow: hidden
        background: #fff
        position: relative
        .dreamImage
          float: left
          width: 120px
          height: 120px
          overflow: hidden
          cursor: pointer
          .imageRemoveButton
            margin: 8px
            padding: 8px
            width: 12px
            height: 12px
            cursor: pointer
            display: inline-block
            color: #ff1e00 !important
            font-size: 12px
            font-weight: bold
            text-align: center
            border-radius: 4px
            -moz-border-radius: 4px
            -webkit-border-radius: 4px
        .dreamImageCaption
          color: #333333
          font-size: 16px
          font-weight: bold
          height: 94px
          margin: 4px
          padding: 8px
          width: 184px
          border: 0px
          background: none
          position: absolute
          right: 0px

  /* NEW DREAM TAG */
  #newDream-tag
    min-height: 42px
    #tagInputWrap
      width: 520px
      height: 40px
      float: left
      margin: 0 0 0 8px
      img
        float: left
        margin: 0
      #tagInput
        width: 480px
        height: 40px
        float: left
        margin: 0
        background: url(../images/slices/inputContentLight-40.png) repeat-x
        input
          width: 410px
          height: 32px
          float: left
          line-height: 32px
          margin: 4px 0
          font-size: 18px
          background: transparent
          border: 0
      #tagAdd
        width: 62px
        float: right
        margin: 4px 0
    #tagBrowse
      width: 36px
      height: 32px
      float: right
      margin: 0
      padding: 4px 3px
      border: 1px solid #C2C2C2
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#C2C2C2))
      background: -moz-linear-gradient(top, #fff, #C2C2C2) /* gradient-0-30*/
    .tag-who, .tag-where, .tag-what
      height: 34px
      line-height: 34px 
      text-align: center
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px 
      background: #fff
    .tag-who
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#C2C2C2))
      background: -moz-linear-gradient(top, #fff, #C2C2C2) /* gradient-0-30*/
    .tag-list
      clear:both

  /* NEW DREAM LINK */
  #newDream-link
    #linkInputWrap
      box-shadow: 0 8px 5px #999 inset
      -moz-box-shadow: 0 8px 5px #999 inset
      -webkit-box-shadow: 0 8px 5px #999 inset
      margin: 0 8px 8px 8px
      float: left
      background: #fff
      border: 1px solid #fff 
      border-radius: 8px 
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      width: 550px
      height: 38px
      line-height: 38px
      input
        width: 460px
        height: 32px
        float: left
        line-height: 32px
        margin: 4px 0 4px 8px
        font-size: 18px
        background: transparent
        border: 0
      #linkAdd
        width: 62px
        float: right
        margin: 4px 14px 4px 0
    .linkContainer
      clear: both
      display: none
      margin: 8px 0 0
      padding: 3px 8px
      width: 632px
      height: 34px
      line-height: 34px
      background: #fff
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      .title
        float: left
        width: 122px
        margin: 0 0 0 10px
        cursor: pointer
      .linkTitleValue
        border: none
        background: #fff
        font-size: 14px
      .url
        text-align: left
        float: left
        margin: 0 0 0 102px
        width: 330px
        height: 24px
        overflow: hidden
        cursor: pointer
        a:link, a:visited
          height: 14px
          overflow: hidden
      .icon
        float: right
        width: 32px
        height: 32px
        line-height: 32px
        text-align: center
        padding-top: 4px
      .removeicon
        float: right
        width: 32px
        height: 32px
        line-height: 32px
        text-align: center
        padding-top: 4px
        cursor: pointer
        color: red
       
  /* NEW DREAM MOOD */
  #newDream-mood
    height: 160px
    ul
      list-style: none
      margin: 6px
    li, a:link, a:visited
      float: left
    a:link, a:visited
      padding: 0 16px

  /* NEW DREAM ATTACH */
  #newDream-attach
    height: 32px
    p
      height: 34px
      line-height: 34px
      margin: 0 30px
      float: left
    .tag, #attach-images, .mood, .links, .analysis
      height: 34px
      line-height: 34px
      margin: 0 0 0 8px
      text-align: center
      cursor: pointer
      float: left
      border-radius: 16px
      -moz-border-radius: 16px
      -webkit-border-radius: 16px
      background: #fff
    .tag
      width: 72px
    #attach-images
      width: 96px 
    .mood
      width: 90px
    .links
      width: 82px 
    .analysis
      width: 100px

/* UNIVERSAL STYLES */
.round8button-0-15
  cursor: pointer
  height: 30px
  line-height: 30px
  text-align: center
  border: 1px solid #C2C2C2
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E1E1E1))
  background: -moz-linear-gradient(top, #fff, #E1E1E1) /* gradient-0-15*/
.newDream_assets
  width: 662px
  padding: 8px
  border: 1px solid #464646 /* 80% Black */ 
  border-radius: 16px
  -moz-border-radius: 16px
  -webkit-border-radius: 16px