/* ENTRY BAR */
#entryBar
  width: 680px
  height: 48px
  margin: 0 0 15px
  a:link, a:visited
    display: block
    text-decoration: none
    color: #000
  .entry, .tag, .quote, .book
    height: 32px
    line-height: 32px
    float: left
    margin: 8px 0 0 10px
    padding: 0
    text-align: center
    border: 1px solid #ACACAC
    cursor: pointer
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ACACAC))
    background: -moz-linear-gradient(top, #fff, #ACACAC) /* gradient-0-40 */
    border-radius: 16px
    -moz-border-radius: 16px
    -webkit-border-radius: 16px
  .entry
    width: 114px
    background: #fff
    -moz-box-shadow: 0 8px 5px #CCCCCC inset
    -webkit-box-shadow: 0 8px 5px #CCCCCC inset
    box-shadow: 0 8px 5px #CCCCCC inset
    cursor: text
  .tag
    width: 70px
  .quote
    width: 96px
  .book
    width: 88px
    float: right
    margin: 8px 10px 0 10px


#tagEntry
  margin: 0 0 18px
  padding: 8px 12px
  width: 656px
  height: 40px
  background: #fff
  z-index: 1000
  .entryWrap, .input, input
    float: left
  .entryWrap
    width: 660px
    height: 40px
    margin: 0
    img
      float: left
      margin: 0
    .input
      width: 612px
      height: 40px
      margin: 0
      background: url(../images/slices/inputContentLight-40.png) repeat-x
      #tagInput
        width: 480px
        height: 32px
        line-height: 32px
        margin: 4px 0
        font-size: 18px
        background: transparent
        border: 0
      .location, .sharing
        margin: 14px 8px 0 0
        float: right
        cursor: pointer
      .location
        margin-top: 12px
    .add
      width: 62px
      height: 30px
      line-height: 30px
      float: right
      margin: 4px 0
      cursor: pointer
      text-align: center
      color: #fff
      border: 1px solid #C2C2C2
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#000))
      background: -moz-linear-gradient(top, #464646, #000) /* gradient-80-100 */
      span
        color: #349200

#share
  width: 148px
  padding: 8px
  position: absolute
  top: 112px
  left: 490px
  background: #fff
  -moz-box-shadow: 0 0 40px #000
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc))
  background: -moz-linear-gradient(top, #fff, #ccc) /* gradient-0-30 */
  border: 1px solid #fff
  z-index: 900
  .arrow
    position: absolute
    top: -12px
    left: 72px
  select, .social
    font-size: 16px
    width: 100%
    height: 28px
    line-height: 28px
    padding: 2px 4px
    margin: 2px 0
  .social
    border: 1px solid #C2C2C2
    width: 138px
    height: 22px
    line-height: 22px
    cursor: pointer
    background: #fff
    label
      display: block
    .icon, .name
      float: left
      cursor: pointer
    .icon
      margin: 4px 8px 0 4px
    .name
      text-align: center
    .checkbox
      float: right
      margin: 4px 0 0
      cursor: pointer

  /* AUTO COMPLETE */
  #autoComplete
    padding: 4px
    width: 207px
    min-height: 32px
    position: absolute 
    top: 48px
    left: 36px
    z-index: 100
    ul
      list-style-type: none
      margin: 0px
      padding: 0px
      li
        height: 32px
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px
        line-height: 32px
        color: #666
        border: 1px solid #ccc
        cursor: pointer
      .results
      .results:hover
        background: -webkit-gradient(linear, left top, left bottom, from(#7D7D7D), to(#000))
        background: -moz-linear-gradient(top, #7D7D7D, #000) /* gradient-60-100 */
      .results:hover a:link
        color: #fff
      a:link, a:visited
        float: left
        display: inline-block
        font-weight: bold
      .userStatus
        float: right
        z-index: 200
        position: relative
        top: 3px
        right: 3px
        float: right
        width: 17px 
        height: 17px
        overflow: hidden 
        cursor: pointer
        background: url('../images/icons/friend-stream-sprite.png') no-repeat 0% 0%
        margin: 8px
        top: 0px !important
        left: 0px !important


  /* TAG NODE */
  .tagNode
    width: 150px
    height: 32px
    position: absolute
    top: 12px
    left: 40px
    float: left
    line-height: 32px
    font-weight: bold
    background: #b6b5b3
    -moz-box-shadow: 0 15px 10px #e6e6e6 inset
    span
      float: left
      margin-left: 10px
    .removeTag
      position: absolute
      top: 7px
      right: 6px
      cursor: pointer


  /* UNIVERSAL NEW ENTRY STYLES */
  .avatar
    height: 32px
    border-radius: 8px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px
    width: 32px
    overflow: hidden
    float: left !important
    margin-right: 10px
    display: inline-block

.noDreams
  position: absolute
  top: 0px
