.notice, .alert
  position: absolute
  top: -16px
  width: 100%
  text-align: center

.notice
  background: lightgreen

.alert
  background: lightcoral



/* ALPHA */
=alpha($percent)
  filter: alpha(opacity=$percent)
  -moz-opacity: $percent / 100
  -khtml-opacity: $percent / 100
  -webkit-opacity: $percent / 100
  opacity: $percent / 100

.alpha-100
  +alpha(100)
.alpha-90
  +alpha(90)
.alpha-80
  +alpha(80)
.alpha-70
  +alpha(70)
.alpha-60
  +alpha(60)
.alpha-50
  +alpha(50)
.alpha-40
  +alpha(40)
.alpha-30
  +alpha(30)
.alpha-20
  +alpha(20)
.alpha-10
  +alpha(10)






/* POST BUTTONS */
.button-post:hover, .button-post a:hover
  cursor: pointer
  background-color: #7bbd0d
  color: #FFF
  box-shadow: inset 0px 15px 0px #99cc33
  -moz-box-shadow: inset 0px 15px 0px #99cc33
  -webkit-box-shadow: inset 0px 15px 0px #99cc33
.button-cancel:hover, .button-cancel a:hover
  cursor: pointer
  background-color: #656565
  color: #FFF
  box-shadow: inset 0px 15px 0px #7f7f7f
  -moz-box-shadow: inset 0px 15px 0px #7f7f7f
  -webkit-box-shadow: inset 0px 15px 0px #7f7f7f
.button-delete:hover, .button-delete a:hover
  cursor: pointer
  background: -webkit-gradient(linear, left top, left bottom, from(#ee7c44), to(#8b2e12))
  background: -moz-linear-gradient(top, #ee7c44, #8b2e12)
  border: 1px solid #c1633c
  color: #FFF
  box-shadow: inset 0px 15px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 15px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 15px rgba(255,255,255,0.1)

/* COLOR BUTTONS */
.button-big-blue
  border: 2px solid #999
  cursor: pointer
.button-big-blue:hover, .selected.button-big-blue
  border: 2px solid #0099ff
  box-shadow: 0px 0px 40px #0099ff inset
  -moz-box-shadow: 0px 0px 40px #0099ff inset
  -webkit-box-shadow: 0px 0px 40px #0099ff inset
.button-big-green
  border: 2px solid #999
  cursor: pointer
.button-big-green:hover, .selected.button-big-green
  border: 2px solid #7BBD0D
  box-shadow: 0px 0px 40px #7BBD0D inset
  -moz-box-shadow: 0px 0px 40px #7BBD0D inset
  -webkit-box-shadow: 0px 0px 40px #7BBD0D inset
.button-big-gray
  border: 2px solid #999
  cursor: pointer
.button-big-gray:hover, .selected.button-big-gray
  border: 2px solid #CCC
  box-shadow: 0px 0px 40px #CCC inset
  -moz-box-shadow: 0px 0px 40px #CCC inset
  -webkit-box-shadow: 0px 0px 40px #CCC inset



