.tagStream
  width: 656px
  margin: 0 0 12px 0
  padding: 12px
  .stream
    background: #000
    width: 656px
    height: 98px
    position:  relative
    z-index: 333
    .moodIcon, .moodIcon-picker, .currentIcon
      float: right
      border-radius: 16px
      -moz-border-radius: 16px
      -webkit-border-radius: 16px
      z-index: 800
    .currentIcon, .moodIcon
      width: 64px
      height: 50px
      padding: 7px 0
      background: #fff
      text-align: center
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
      background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
    .moodIcon
      margin: 17px 17px 0 0
    .moodIcon-picker
      position: absolute
      top: 0
      left: 326px
      padding: 12px
      height: auto
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
      background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
      #buttons
        float: left
        margin: 12px 0 0 4px
        width: 58px
      .cancel, .clear, .currentMood
        color: #000
        text-align: center
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px
        border: 1px solid #959595 /* 50% Black */
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
        background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
      .cancel, .clear
        margin: 0 0 4px
        padding: 0 4px
        width: 48px
        height: 14px
        line-height: 14px
        font-size: 11px
        cursor: pointer
      .currentMood
        float: left
        margin: 12px 0 0 24px
        padding: 0 8px
        width: 112px
        height: 36px
        line-height: 36px
        font-size: 16px
        font-weight: bold
        text-transform: uppercase
        border-radius: 16px
        -moz-border-radius: 16px
        -webkit-border-radius: 16px
      .currentIcon
        margin: 0 0 10px
        box-shadow: 0 0 12px #000
        -moz-box-shadow: 0 0 12px #000
        -webkit-box-shadow: 0 0 12px #000
      .moodIcon-list
        clear: both
        list-style: none
        margin: 0
        padding: 0
        width: 306px
        li
          float: left
          margin: 5px
          padding: 10px 0
          width: 90px
          height: 70px
          text-align: center
          cursor: pointer
          border: 1px solid #959595 /* 50% Black */
          border-radius: 16px
          -moz-border-radius: 16px
          -webkit-border-radius: 16px
          background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
          background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
          p
            margin: 0
            color: #959595 /* 50% Black */

.tagChat
  padding: 4px
  left: 0
  position: absolute
  top: 50px
  z-index: 333
  width: 360px
  .arrow
    position: absolute
    top: -10px
    left: 180px
  .description
    padding: 8px
    margin-bottom: 4px
    color: #4c4c4c !important
    font-size: 13px
    font-weight: bold
    text-align: center
    height: 30px
    line-height: 30px
  .postInfo
    padding: 4px
  .avatar, .name, .time, .comment, input
    float: left
  .avatar
    width: 20px
    height: 20px
  .name
    background-color: #cecece
    display: inline-block
    font-weight: bold
    font-size: 11px
    height: 16px
    padding: 2px 4px
    margin-left: 5px
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
  .time
    color: #a1a1a1
    display: inline-block
    margin-left: 5px
    font-size: 11px
    height: 20px
    line-height: 20px
  .shared
    float: right
    margin: 4px 4px 0 0
  .chat
    padding: 4px
    margin-top: 4px
    background: none repeat scroll 0% 0% rgb(255, 255, 255)
    .userComment
      height: 26px
      padding: 4px
    .comment
      color: #4C4C4C
      display: inline-block
      margin-left: 5px
      font-size: 12px
      height: 20px
      line-height: 20px
    .input
      padding: 4px
      height: 24px
      img
        float: right
        margin: 6px
      input
        margin-left: 4px
        width: 88%
        height: 24px
        border: 0
        background: transparent

.stream-node
  position: absolute
  min-height: 15px
  display: inline-block
  padding: 10px
  cursor: pointer
  left: -200px
  float: left
  border: 1px solid transparent
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  span
    padding: 5px
    display: block
    font-size: 12px
    font-weight: bold

.stream-count
  background-color: #a63700
  color: #fff
  font-size: 9px
  display: inline-block
  position: relative
  top: -5px
  padding: 1px 4px
.stream-node-user
  padding: 0px !important
  margin: 10px
  height: 24px !important
  span
    float: left
    padding: 4px !important
.stream-avatar
  width: 24px
  height: 24px
  overflow: hidden
  float: left