.tagStream
  width: 656px
  height: 96px
  margin: 0px 0 20px 0
  position: absolute
  padding: 12px
  .stream
    background: #000
    width: 656px
    height: 98px
    position:  relative
    z-index: 333

.tagChat
  padding: 4px
  left: 0
  position: absolute
  top: 50px
  z-index: 333
  width: 360px
  .arrow
    position: absolute
    top: -10px
    left: 180px
  .description
    padding: 8px
    margin-bottom: 4px
    color: #4c4c4c !important
    font-size: 13px
    font-weight: bold
    text-align: center
    height: 30px
    line-height: 30px
  .postInfo
    padding: 4px
  .avatar, .name, .time, .comment, input
    float: left
  .avatar
    width: 20px
    height: 20px
  .name
    background-color: #cecece
    display: inline-block
    font-weight: bold
    font-size: 11px
    height: 16px
    padding: 2px 4px
    margin-left: 5px
  .time
    color: #a1a1a1
    display: inline-block
    margin-left: 5px
    font-size: 11px
    height: 20px
    line-height: 20px
  .shared
    float: right
    margin: 4px 4px 0 0
  .chat
    padding: 4px
    margin-top: 4px
    background: none repeat scroll 0% 0% rgb(255, 255, 255)
    .userComment
      height: 26px
      padding: 4px
    .comment
      color: #4C4C4C
      display: inline-block
      margin-left: 5px
      font-size: 12px
      height: 20px
      line-height: 20px
    .input
      padding: 4px
      height: 24px
      img
        float: right
        margin: 6px
      input
        margin-left: 4px
        width: 88%
        height: 24px
        border: 0
        background: transparent

.stream-node
  position: absolute
  min-height: 15px
  display: inline-block
  padding: 10px
  cursor: pointer
  left: -200px
  float: left
  span
    padding: 5px
    display: block
    font-size: 12px
    font-weight: bold
.stream-count
  background-color: #a63700
  color: #fff
  font-size: 9px
  display: inline-block
  position: relative
  top: -5px
  padding: 1px 4px
.stream-node-user
  padding: 0px !important
  margin: 10px
  height: 24px !important
  span
    float: left
    padding: 4px !important
.stream-avatar
  width: 24px
  height: 24px
  overflow: hidden
  float: left