#appearancePanel {
  position: absolute;
  right: 45px;
  top: 55px;
  padding: 0 8px 8px;
  width: 334px;
  height: 580px; }
  #appearancePanel img.appearanceIcon, #appearancePanel h1, #appearancePanel h2 {
    float: left; }
  #appearancePanel img.appearanceIcon {
    margin: 4px 0 0; }
  #appearancePanel h1 {
    margin: 8px;
    font-size: 24px;
    font-weight: normal; }
  #appearancePanel #bedsheets, #appearancePanel #colorPicker {
    border: 1px solid #999999; }
  #appearancePanel #bedsheets {
    clear: both;
    padding: 10px; }
    #appearancePanel #bedsheets #details {
      height: 32px;
      line-height: 32px; }
      #appearancePanel #bedsheets #details h2 {
        margin: 0 8px;
        font-size: 16px;
        font-weight: bold; }
      #appearancePanel #bedsheets #details a:link, #appearancePanel #bedsheets #details a:visited, #appearancePanel #bedsheets #details img.appearanceIcon {
        margin-right: 8px;
        float: right; }
      #appearancePanel #bedsheets #details img.appearanceIcon {
        margin: 0 8px 0 0; }
    #appearancePanel #bedsheets ul {
      margin: 12px 0;
      height: 346px;
      padding: 4px;
      list-style: none;
      overflow-y: scroll; }
      #appearancePanel #bedsheets ul li {
        float: left;
        margin: 0 12px 12px 0;
        height: 116px;
        width: 116px;
        cursor: pointer;
        overflow: hidden;
        -moz-box-shadow: 2px 5px 10px #111111;
        border: 4px solid #cccccc; }
        #appearancePanel #bedsheets ul li img {
          border: 4px solid #333333; }
        #appearancePanel #bedsheets ul li img:hover {
          border: 4px solid white; }
      #appearancePanel #bedsheets ul li.selected {
        border: 4px solid #427ee8;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px; }
        #appearancePanel #bedsheets ul li.selected img {
          border: 4px solid white; }
    #appearancePanel #bedsheets .more {
      display: block;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: rgba(255, 255, 255, 0.9); }
  #appearancePanel #colorPicker {
    clear: both;
    font-weight: bold;
    padding: 8px;
    margin: 4px 0;
    height: 42px;
    line-height: 42px; }
    #appearancePanel #colorPicker img.colorSwatch, #appearancePanel #colorPicker h2, #appearancePanel #colorPicker #sun, #appearancePanel #colorPicker #moon {
      float: left; }
    #appearancePanel #colorPicker img.colorSwatch {
      margin: 14px 0 0; }
    #appearancePanel #colorPicker h2 {
      margin: 0 8px;
      font-size: 16px;
      font-weight: bold; }
    #appearancePanel #colorPicker #buttons {
      float: right;
      padding: 4px; }
      #appearancePanel #colorPicker #buttons #sun, #appearancePanel #colorPicker #buttons #moon {
        margin: 0 4px;
        padding: 0 4px;
        width: 86px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-size: 14px; }
        #appearancePanel #colorPicker #buttons #sun img, #appearancePanel #colorPicker #buttons #moon img {
          margin: -8px -8px -8px 4px; }
