/* GENERAL */
@charset "UTF-8";

BODY{font-family:Calibri, Arial, Helvetica, sans-serif; margin:0; padding:0}
#bodyBackground.light {background-color:#ccc}
#bodyBackground.dark {background-color:#000}
.bedsheets-preview { width:128px; height:128px }
a:active, a:focus {outline: none;} /* removes dotted line around links */
.content-expander { cursor:pointer; }

/* CONTENT BOXES */  
.black { background:#000; color:#fff; }
.white { background:#FFF; color:#000; }
.transparent { background:transparent; }

.debug { background:url(../images/colors/white-66.png); color:#F60; position: relative; z-index: 10; margin-bottom:1px; padding:0 6px; max-width:1200px; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; overflow:auto; }
.absolutely-centered { margin: auto; position:absolute; top: 0; bottom: 0; left: 0; right: 0; }

/* SHADOWS & GLOWS */
.static-glow-inner-40 { box-shadow: inset 0px 0px 40px #fff; -moz-box-shadow: inset 0px 0px 40px #fff; -webkit-box-shadow: inset 0px 0px 40px #fff; }
.static-glow-40 { box-shadow: 0px 0px 40px #fff; -moz-box-shadow: 0px 0px 40px #fff; -webkit-box-shadow: 0px 0px 40px #fff; }
.static-shadow-40 { box-shadow: 0px 0px 40px #000; -moz-box-shadow: 0px 0px 40px #000; -webkit-box-shadow: 0px 0px 40px #000; }

.light.glow-contrast-20 { box-shadow: 0px 0px 20px #fff; -moz-box-shadow: 0px 0px 20px #fff; -webkit-box-shadow: 0px 0px 20px #fff; }
.light.glow-contrast-40 { box-shadow: 0px 0px 40px #fff; -moz-box-shadow: 0px 0px 40px #fff; -webkit-box-shadow: 0px 0px 40px #fff; }
.light.glow-20 { box-shadow: 8px 8px 20px #000; -moz-box-shadow: 0px 5px 20px #000; -webkit-box-shadow: 2px 2px 20px #000; }
.light.glow-40 { box-shadow: 8px 8px 40px #000; -moz-box-shadow: 0px 0px 40px #000; -webkit-box-shadow: 2px 2px 40px #000; }
.light.glow-80 { box-shadow: 8px 8px 80px #000; -moz-box-shadow: 10px 10px 80px #000; -webkit-box-shadow: 8px 8px 80px #000; }
.light.glow-160 { box-shadow: 8px 8px 160px #000; -moz-box-shadow: 10px 10px 160px #000; -webkit-box-shadow: 8px 8px 160px #000; }

.light.glow-3-solid { box-shadow: 3px 3px 0 #000;  -moz-box-shadow:3px 3px 0 #000; -webkit-box-shadow: 3px 3px 0 #000; }
.light.glow-6-solid { box-shadow: 6px 6px 0 #000; -moz-box-shadow: 6px 6px 0 #000; -webkit-box-shadow: 6px 6px 0 #000; }
.light.glow-9-solid { box-shadow: 9px 9px 0 #000; -moz-box-shadow: 9px 9px 0 #000; -webkit-box-shadow: 9px 9px 0 #000; }

.light.glow-inner-contrast-40 { box-shadow: inset 8px 8px 40px #fff; -moz-box-shadow: inset 0px 0px 40px #fff; -webkit-box-shadow: inset 2px 2px 40px #fff; }
.light.glow-inner-40 { box-shadow: inset 8px 8px 40px #000; -moz-box-shadow: inset 0px 0px 40px #000; -webkit-box-shadow: inset 2px 2px 40px #000; }
.light.glow-inner-80 { box-shadow: inset 8px 8px 80px #000; -moz-box-shadow: inset 10px 10px 80px #000; -webkit-box-shadow: inset 8px 8px 80px #000; }
.light.glow-inner-160 { box-shadow: inset 8px 8px 160px #000; -moz-box-shadow: inset 10px 10px 160px #000; -webkit-box-shadow: inset 8px 8px 160px #000; }

.dark.glow-contrast-20 { box-shadow: 0px 0px 20px #000; -moz-box-shadow: 0px 0px 20px #000; -webkit-box-shadow: 0px 0px 20px #000; }
.dark.glow-contrast-40 { box-shadow: 0px 0px 40px #000; -moz-box-shadow: 0px 0px 40px #000; -webkit-box-shadow: 0px 0px 40px #000; }
.dark.glow-contrast-80 { box-shadow: 0px 0px 80px #000; -moz-box-shadow: 0px 0px 80px #000; -webkit-box-shadow: 0px 0px 80px #000; }
.dark.glow-20 { box-shadow: 0px 0px 20px #fff; -moz-box-shadow: 1px 1px 20px #fff; -webkit-box-shadow: 0px 0px 20px #fff; }
.dark.glow-40 { box-shadow: 0px 0px 40px #fff; -moz-box-shadow: 0px 0px 40px #fff; -webkit-box-shadow: 0px 0px 40px #fff; }
.dark.glow-80 { box-shadow: 0px 0px 80px #fff; -moz-box-shadow: 0px 0px 80px #fff; -webkit-box-shadow: 0px 0px 80px #fff; }
.dark.glow-160 { box-shadow: 0px 0px 160px #fff; -moz-box-shadow: 0px 0px 160px #fff; -webkit-box-shadow: 0px 0px 160px #fff; }

.dark.glow-inner-40 { box-shadow: inset 8px 8px 40px #fff; -moz-box-shadow: inset 0px 0px 40px #fff; -webkit-box-shadow: inset 2px 2px 40px #fff; }
.dark.glow-inner-80 { box-shadow: inset 8px 8px 80px #fff; -moz-box-shadow: inset 10px 10px 80px #fff; -webkit-box-shadow: inset 8px 8px 80px #fff; }
.dark.glow-inner-160 { box-shadow: inset 8px 8px 160px #fff; -moz-box  -shadow: inset 10px 10px 160px #fff; -webkit-box-shadow: inset 8px 8px 160px #fff; }

.splashshadow-right { box-shadow: 10px 20px 30px #111; -moz-box-shadow: 10px 20px 30px #111; -webkit-box-shadow: 10px 20px 30px #111; }
.splashshadow-left { box-shadow: -10px 20px 30px #111; -moz-box-shadow: -10px 20px 30px #111; -webkit-box-shadow: -10px 20px 30px #111; }

.light.text-glow-10 { color:#fff; text-shadow:0px 0px 10px #000 }
.dark.text-glow-10 { color:#000; text-shadow:0px 0px 10px #fff }

/* FORM S */
.dark.cell-button A { color:#FFF; text-decoration:none; border:1px solid transparent }
.dark.cell-button:hover, .dark.cell-button:focus {border:1px solid #fff; cursor:pointer; box-shadow: inset 0px 0px 16px #fff; -moz-box-shadow: inset 0px 0px 16px #fff; -webkit-box-shadow: inset 0px 0px 16px #fff;}
  
.search-bar { background:#fff; color:#000; font-size:13px; border:solid 1px #666; margin:0; padding:4px; outline:none; box-shadow: inset 2px 5px 15px #bbb; -moz-box-shadow: inset 0px 3px 10px #bbb; -webkit-box-shadow: inset 2px 5px 15px #bbb; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; }

.text_input-big {background:#fff; color:#000; font-size:21px; border:1px solid #666; margin:0; padding:5px; box-shadow: inset 2px 5px 15px #bbb; -moz-box-shadow: inset 2px 5px 15px #bbb; -webkit-box-shadow: inset 2px 5px 15px #bbb; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; outline:none; }
.text_input-big:focus, .search-bar:focus {border:1px solid #000; box-shadow: 0px 0px 10px #06F; -moz-box-shadow: 0px 0px 10px #06F; -webkit-box-shadow: 0px 0px 10px #06F;}

A.sn_link { font-size:15px;color:#ccc;  text-decoration:none; border:1px solid transparent;  padding:4px 6px 4px 6px; }
A.sn_link:hover, A.sn_link:focus {color:#ffffff; text-decoration:none; border:1px solid #FFF; padding:4px 6px 4px 6px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px;}

TD.factoid-A_label { text-align:right; padding-left:10px; font-size:13px }
TD.factoid-A A { font-size:17px; color:#0CF; font-weight:bold; text-decoration:none; padding:2px 8px 2px 8px; }
TD.factoid-A { width:100% }
TD.factoid-A A:hover, TD.factoid-A A:focus {color:#fff;  border:1px solid #FFF; padding:1px 7px 1px 7px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px;}
TD.form_label {padding:10px; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; font-size:17px; font-family:Calibri, Arial, Helvetica, sans-serif;}
TD.icon-32{ width:32px; text-align:center }

IMG.sn_link_img { position:relative; top:3px }


/* ********* UNIVERSALS ********* */
/* DREAM INPUTS */
.light.input-title, .dark.input-title  { width:97%; border:0px; padding:5px 0; }
.light.input-title { border-bottom:1px solid #CCC; background:#fff; }
.dark.input-title { border-bottom:1px solid #666; background:#000; color:#FFF }

.light.input-body, .dark.input-body { height:200px; resize:vertical; width:96%; padding:12px;  margin:0; outline:none; border:0 }
.light.input-body { background:#FFF; color:#000 }
.dark.input-body { background:#000; color:#fff }

.light.O-input, .dark.O-input  { font-family:Calibri, Arial, Helvetica, sans-serif; margin:0;    outline:none; }

/* LINKS */
/*.dark.link-border A, .light.link-border A { border:1px solid transparent; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; }
.dark.link-border A, .dark.link-border A:visited { color:#FFF;  text-decoration:none; background:transparent }
.dark.link-border A:visited {  border:1px solid transparent; color:#bbb; }

.dark.link-border A:hover { border:1px solid #FFF; text-decoration:none }

.light.link-border A:visited {  border:1px solid transparent; color:#444;  text-decoration:none;  }
.light.link-border A:hover { border:1px solid #000; text-decoration:none }*/

.underline-none {text-decoration:none;}

#content_wrapper a.underline {text-decoration:underline}

.dark A, .light A { }
.dark A, .dark A:visited { color:#FFF;  text-decoration:none; }
/*.dark A:visited { color:#bbb; }*/
.dark A:hover, .dark A:focus { text-decoration:none }

.light A { color:#000;  text-decoration:none;  }
/*.light A:visited { color:#444;  text-decoration:none;  }*/
.light A:hover, .light A:focus { text-decoration:none }

.light A IMG, .dark A IMG { border:0px }

.glow-hover:hover, .glow-hover:focus { box-shadow: 0px 0px 20px #fff; -moz-box-shadow: 0px 0px 20px #fff; -webkit-box-shadow: 0px 0px 20px #fff; }
.glow-small { box-shadow: 0px 0px 10px #fff; -moz-box-shadow: 0px 0px 10px #fff; -webkit-box-shadow: 0px 0px 10px #fff; }

.static-black-transparent-25 { background:url(../images/colors/black-25.png) }
.static-black-transparent-50 { background:url(../images/colors/black-50.png) }

.light.transparent-80 { background:url(../images/colors/white-80.png) }
.light.transparent-66 { background:url(../images/colors/white-66.png) }
.light.transparent-50 { background:url(../images/colors/white-50.png) }
.light.transparent-33 { background:url(../images/colors/white-33.png) }
.light.transparent-25 { background:url(../images/colors/white-25.png) }
.light.transparent-15 { background:url(../images/colors/white-15.png) }

.light.transparent-contrast-80 { background:url(../images/colors/black-80.png) }
.light.transparent-contrast-66 { background:url(../images/colors/black-66.png) }
.light.transparent-contrast-50 { background:url(../images/colors/black-50.png) }
.light.transparent-contrast-33 { background:url(../images/colors/black-33.png) }
.light.transparent-contrast-25 { background:url(../images/colors/black-25.png) }
.light.transparent-contrast-15 { background:url(../images/colors/black-15.png) }

.dark.transparent-80 { background:url(../images/colors/black-80.png) }
.dark.transparent-66 { background:url(../images/colors/black-66.png) }
.dark.transparent-50 { background:url(../images/colors/black-50.png) }
.dark.transparent-33 { background:url(../images/colors/black-33.png) }
.dark.transparent-25 { background:url(../images/colors/black-25.png) }
.dark.transparent-15 { background:url(../images/colors/black-15.png) }

.dark.transparent-contrast-80 { background:url(../images/colors/white-80.png) }
.dark.transparent-contrast-66 { background:url(../images/colors/white-66.png) }
.dark.transparent-contrast-50 { background:url(../images/colors/white-50.png) }
.dark.transparent-contrast-33 { background:url(../images/colors/white-33.png) }
.dark.transparent-contrast-25 { background:url(../images/colors/white-25.png) }
.dark.transparent-contrast-15 { background:url(../images/colors/white-15.png) }


/* LOADING WHEELS */
.light.loadingWheel {background: url(/basic/inc/images/loader-light-32.gif) no-repeat 50% 50% transparent;}
.dark.loadingWheel {background: url(/basic/inc/images/loader-dark-32.gif) no-repeat 50% 50% transparent;}


/***********LIGHT************/
.light.text { color:#000; }
.light.contrast-outline { border:1px solid #000 }

/* LIGHT MASTER DEFINITIONS */
.light.O { background:#FFF; color:#000 }
.light.O, .light.O-shine, .light.O-soft, .light.O-bevel, .light.O-indent, .light.O-innerglow, .light.O-outline, .light.O-button, .light.O-input, .light.O-contrast,
.light.A, .light.A-shine, .light.A-soft, .light.A-bevel, .light.A-indent, .light.A-innerglow, .light.A-outline, .light.A-button, .light.A-input, .light.A-contrast,
.light.B, .light.B-shine, .light.B-soft, .light.B-bevel, .light.B-indent, .light.B-innerglow, .light.B-outline, .light.B-button, .light.B-input, .light.B-contrast,
.light.C, .light.C-shine, .light.C-soft, .light.C-bevel, .light.C-indent, .light.C-innerglow, .light.C-outline, .light.C-button, .light.C-input, .light.C-contrast {border:1px solid transparent;}
  
.light.A-soft, light-B-soft, light-C-soft {box-shadow: inset 0px 0px 16px #000; -moz-box-shadow: inset 0px 0px 16px #000; -webkit-box-shadow: inset 0px 0px 16px #000;}

.light.O-input:focus, .light.A-input:focus, .light.B-input:focus, .light.C-input:focus { border:1px solid #000; background:#fff; box-shadow: 0px 0px 20px #fff; -moz-box-shadow: 0px 0px 20px #000; -webkit-box-shadow: 0px 0px 20px #000; }
  
.light.border-bottom-1{ border-bottom:1px solid #666 }
  

/* LIGHT BUTTONS */
.light.O-button A, .light.A-button A, .light.B-button A, .light.C-button A { text-decoration:none; color:#000; border:1px solid transparent; outline:none; -webkit-
	-select:none; -moz-user-select:none; }

/* LIGHT O */
.light.O, .light.O-indent, .light.O-soft, .light.O-innerglow, .light.O-input { background:#fff; color:#000 }
.light.O-shine, .light.O-bevel { background:#eee; color:#000; }
.light.O-shine {  box-shadow:inset 0px 18px 0px #fff; -moz-box-shadow:inset 0px 15px 0px #fff; -webkit-box-shadow:inset 0px 18px 0px #fff   }
.light.O-bevel {  box-shadow:inset 0px 15px 10px #fff; -moz-box-shadow:inset 0px 15px 10px #fff; -webkit-box-shadow:inset 0px 15px 10px #fff   }
.light.O-indent {  box-shadow:inset 0px 15px 10px #ccc; -moz-box-shadow:inset 0px 15px 15px #ccc; -webkit-box-shadow:inset 0px 10px 10px #ccc; }
.light.O-soft {  box-shadow:inset 0px 0px 0px #ddd; -moz-box-shadow:inset 0px 0px 20px #ddd; -webkit-box-shadow:inset 0px 0px 0px #ddd   }
.light.O-innerglow { border:1px solid #ccc;  box-shadow:inset 0px 0px 0px #ccc; -moz-box-shadow:inset 0px 0px 10px #ccc; -webkit-box-shadow:inset 0px 0px 0px #ccc }
.light.O-outline { border:1px solid #ccc; }
.light.O-button { }
.light.O-button:hover { border:1px solid #000; cursor:pointer }
.light.O-button:hover A {  }
.light.O-button IMG.icon {border:0; margin-right:5px; position:relative; top:3px}
.light.O-button A {color:#000; text-decoration:none;}
.light.O-input {color:#000; border:1px solid #666; background:#fff; box-shadow:inset 2px 5px 10px #ccc; -moz-box-shadow:inset 0px 2px 5px #ccc; -webkit-box-shadow:inset 2px 5px 10px #ccc;}
.light.O-contrast { background:#000; color:#fff }

/* LIGHT A */
.light.A, .light.A-shine, .light.A-soft, .light.A-bevel, .light.A-indent, .light.A-innerglow, .light.A-input { background:#eee; color:#000; }
.light.A-shine {  box-shadow:inset 0px 18px 0px #fff; -moz-box-shadow:inset 0px 15px 0px #fff; -webkit-box-shadow:inset 0px 18px 0px #fff; }
.light.A-bevel {  box-shadow:inset 0px 15px 10px #fefefe; -moz-box-shadow:inset 0px 15px 10px #fefefe; -webkit-box-shadow:inset 0px 15px 10px #fefefe; }
.light.A-indent {  box-shadow:inset 0px 15px 10px #ccc; -moz-box-shadow:inset 0px 10px 10px #ccc; -webkit-box-shadow:inset 0px 10px 10px #ccc; }
.light.A-soft { border:1px solid #fff; box-shadow:inset 0px 0px 20px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 20px #fff }
.light.A-innerglow { border:1px solid #ddd;  box-shadow:inset 0px 0px 0px #fff; -moz-box-shadow:inset 0px 0px 10px #fff; -webkit-box-shadow:inset 0px 0px 0px #fff   }
.light.A-outline { border:1px solid #ddd; }
.light.A-button {  }
.light.A-input {font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid #999; margin:0; outline:none; box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 2px 5px 10px #aaa; -webkit-box-shadow:inset 0px 0px 0px #555;}
.light.A-contrast { background:#111; color:#fff; }

/* LIGHT B */
.light.B, .light.B-shine, .light.B-soft, .light.B-bevel, .light.B-indent, .light.B-innerglow, .light.B-input { background:#ddd; color:#000; }
.light.B-shine { box-shadow:inset 0px 18px 0px #fff; -moz-box-shadow:inset 0px 18px 0px #fff; -webkit-box-shadow:inset 0px 18px 0px #fff }
.light.B-bevel { box-shadow:inset 0px 15px 10px #fff; -moz-box-shadow:inset 0px 18px 15px #fff; -webkit-box-shadow:inset 0px 15px 10px #fff;  }
.light.B-indent {  box-shadow:inset 0px 15px 15px #ccc; -moz-box-shadow:inset 0px 20px 15px #ccc; -webkit-box-shadow:inset 0px 15px 15px #ccc; border:1px solid #efefef } 
.light.B-soft {  box-shadow:inset 0px 0px 0px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 0px #fff   }
.light.B-innerglow { border:1px solid #ccc;  box-shadow:inset 0px 0px 0px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 0px #fff   }
.light.B-outline { border:1px solid #ccc; }
.light.B-button {   }
.light.B-button:hover { border:1px solid #000; cursor:pointer;  }
.light.B-input {font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid #999; margin:0; outline:none; box-shadow:inset 2px 5px 10px #aaa; -moz-box-shadow:inset 2px 5px 10px #aaa; -webkit-box-shadow:inset 2px 5px 10px #aaa;}
.light.B-contrast { background:#222; color:#fff; }
.light.B-bevel-down { background:#ddd; color:#000; box-shadow:inset 0px -15px 10px #999; -moz-box-shadow:inset 0px -15px 10px #FBFBFB; -webkit-box-shadow:inset 0px -15px 10px #eee ; font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid transparent; }
  
/* LIGHT C */
.light.C, .light.C-shine, .light.C-soft, .light.C-bevel, .light.C-indent, .light.C-innerglow, .light.C-input { background:#ccc; color:#000 }
.light.C-shine { box-shadow:inset 0px 18px 0px #eee; -moz-box-shadow:inset 0px 18px 0px #eee; -webkit-box-shadow:inset 0px 18px 0px #eee }
.light.C-bevel {  box-shadow:inset 0px 15px 10px #eee; -moz-box-shadow:inset 0px 15px 10px #eee; -webkit-box-shadow:inset 0px 15px 10px #eee   }
.light.C-soft {  box-shadow:inset 0px 0px 0px #fff; -moz-box-shadow:inset 0px 0px 10px #fff; -webkit-box-shadow:inset 0px 0px 0px #fff   }
.light.C-indent {  box-shadow:inset 0px 15px 10px #999; -moz-box-shadow:inset 0px 15px 20px #bbb; -webkit-box-shadow:inset 0px 15px 10px #999; }
.light.C-innerglow { border:1px solid #bbb;  box-shadow:inset 0px 0px 20px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 20px #fff   }
.light.C-outline { border:1px solid #bbb;  }
.light.C-button {  }
.light.C-button:hover { cursor:pointer; border:1px solid #000 }
.light.C-input {font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid #777; margin:0; outline:none; box-shadow:inset 2px 5px 10px #aaa; -moz-box-shadow:inset 2px 5px 10px #aaa; -webkit-box-shadow:inset 2px 5px 10px #aaa;}
.light.C-contrast {  background:#333; color:#fff  }
  
  
/* LIGHT TEXT */
.light.O-text { color: #000 }
.light.A-text { color: #333 }
.light.B-text { color: #666 }
.light.C-text { color: #999 }


/***********DARK************/
.dark, .dark.text { color:#FFF }
.dark.contrast-outline { border:1px solid #FFF }

/* DARK MASTER DEFINITIONS */
.dark.solid { background:#000; color:#fff }
.dark.O, .dark.O-shine, .dark.O-soft, .dark.O-bevel, .dark.O-indent, .dark.O-innerglow, .dark.O-outline, .dark.O-button, .dark.O-input, .dark.O-contrast,
.dark.A, .dark.A-shine, .dark.A-soft, .dark.A-bevel, .dark.A-indent, .dark.A-innerglow, .dark.A-outline, .dark.A-button, .dark.A-input, .dark.A-contrast,
.dark.B, .dark.B-shine, .dark.B-soft, .dark.B-bevel, .dark.B-indent, .dark.B-innerglow, .dark.B-outline, .dark.B-button, .dark.B-input, .dark.B-contrast,
.dark.C, .dark.C-shine, .dark.C-soft, .dark.C-bevel, .dark.C-indent, .dark.C-innerglow, .dark.C-outline, .dark.C-button, .dark.C-input, .dark.C-contrast,
.dark.contrast {font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid transparent;}
  
.dark.A-soft, dark-B-soft, dark-C-soft {box-shadow: inset 0px 0px 16px #000; -moz-box-shadow: inset 0px 0px 16px #000; -webkit-box-shadow: inset 0px 0px 16px #000;}

.dark.border-bottom-1{ border-bottom:1px solid #666 }

/* DARK BUTTONS */
.dark.O-button A, .dark.A-button A, .dark.B-button A, .dark.C-button A { text-decoration:none; color:#FFF; border:0 }
.dark.O-input:focus, .dark.A-input:focus, .dark.B-input:focus, .dark.C-input:focus { border:1px solid #fff; background:#000; box-shadow: 0px 0px 20px #fff; -moz-box-shadow: 0px 0px 20px #fff; -webkit-box-shadow: 0px 0px 20px #fff; }

/* DARK BLACK */
.dark.O, .dark.O-shine, .dark.O-soft, .dark.O-bevel, .dark.O-indent, .dark.O-innerglow, .dark.O-input { background:#000; color:#fff }
.dark.O-shine {  box-shadow:inset 0px 18px 0px #333; -moz-box-shadow:inset 0px 15px 0px #333; -webkit-box-shadow:inset 0px 18px 0px #333; border:1px solid #222   }
.dark.O-bevel {  box-shadow:inset 0px 18px 0px #333; -moz-box-shadow:inset 0px 15px 10px #333; -webkit-box-shadow:inset 0px 18px 0px #333   }
.dark.O-indent { box-shadow:inset 0px 18px 10px #000; -moz-box-shadow:inset 0px 15px 30px #000; -webkit-box-shadow:inset 0px 18px 10px #000; background: #333;  }
.dark.O-soft {  box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 30px #333; -webkit-box-shadow:inset 0px 0px 0px #555   }
.dark.O-innerglow { border:1px solid #444;  box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #666; -webkit-box-shadow:inset 0px 0px 0px #555 }
.dark.O-outline { border:1px solid #444;  }
.dark.O-button {  }
.dark.O-button:hover { cursor:pointer; box-shadow:inset 0px 0px 0px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 0px #fff; border:1px solid #fff }
.dark.O-input {font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid #999; margin:0; outline:none; box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #666; -webkit-box-shadow:inset 0px 0px 0px #555;}
.dark.O-contrast {  background:#FFF; color:#000;  }
.dark.O-bevel-down { background:#000; color:#fff; box-shadow:inset 0px -15px 10px #333; -moz-box-shadow:inset 0px -15px 10px #333; -webkit-box-shadow:inset 0px -15px 10px #333 ; font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid transparent; }

/* DARK A */
.dark.A, .dark.A-shine, .dark.A-soft, .dark.A-bevel, .dark.A-indent, .dark.A-innerglow, .dark.A-input { background:#111; color:#fff }
.dark.A-shine {  box-shadow:inset 0px 18px 0px #404040; -moz-box-shadow:inset 0px 15px 0px #404040; -webkit-box-shadow:inset 0px 18px 0px #404040   }
.dark.A-bevel {  box-shadow:inset 0px 15px 10px #404040; -moz-box-shadow:inset 0px 15px 10px #404040; -webkit-box-shadow:inset 0px 15px 10px #404040  }
.dark.A-indent {  }
.dark.A-soft {  box-shadow:inset 0px 0px 0px #000; -moz-box-shadow:inset 0px 0px 10px #000; -webkit-box-shadow:inset 0px 0px 0px #000;   }
.dark.A-innerglow { border:1px solid #666;  box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #666; -webkit-box-shadow:inset 0px 0px 0px #555   }
.dark.A-outline { border:1px solid #666; }
.dark.A-button {  }
.dark.A-button:hover { cursor:pointer; box-shadow:inset 0px 0px 20px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 20px #fff; border:1px solid #fff }.dark.A-input {font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid #999; margin:0; outline:none; box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #666; -webkit-box-shadow:inset 0px 0px 0px #555;}
.dark.A-contrast {  background:#eee; color:#000;  }
.dark.A-bevel-down { background:#111; color:#fff; box-shadow:inset 0px -15px 10px #404040; -moz-box-shadow:inset 0px -15px 10px #404040; -webkit-box-shadow:inset 0px -15px 10px #404040 ; font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid transparent; }

/* DARK B */
.dark.B, .dark.B-shine, .dark.B-soft, .dark.B-bevel, .dark.B-innerglow, .dark.B-input { background:#222; color:#fff;  }
.dark.B-shine { box-shadow:inset 0px 18px 0px #444; -moz-box-shadow:inset 0px 18px 0px #444; -webkit-box-shadow:inset 0px 18px 0px #444 }
.dark.B-bevel {  box-shadow:inset 0px 15px 10px #444; -moz-box-shadow:inset 0px 15px 10px #444; -webkit-box-shadow:inset 0px 15px 10px #444   }
.dark.B-indent { background:#444; box-shadow:inset 0px 15px 10px #222; -moz-box-shadow:inset 0px 15px 20px #222; -webkit-box-shadow:inset 0px 15px 10px #222; border:1px solid #444 }
.dark.B-soft {  box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #000; -webkit-box-shadow:inset 0px 0px 0px #555   }
.dark.B-innerglow { border:1px solid #666;  box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #666; -webkit-box-shadow:inset 0px 0px 0px #555   }
.dark.B-outline { border:1px solid #666;  }
.dark.B-button {  }
.dark.B-button:hover { cursor:pointer; box-shadow:inset 0px 0px 0px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 0px #fff; border:1px solid #fff }
.dark.B-input {font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid #999; margin:0; outline:none; box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #666; -webkit-box-shadow:inset 0px 0px 0px #555;}
.dark.B-contrast { background:#DDD; color:#000; }
.dark.B-bevel-down { background:#222; color:#fff; box-shadow:inset 0px -15px 10px #333; -moz-box-shadow:inset 0px -15px 10px #333; -webkit-box-shadow:inset 0px -15px 10px #333 ; font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid transparent; }
  
/* DARK C */
.dark.C, .dark.C-shine, .dark.C-soft, .dark.C-bevel, .dark.C-innerglow, .dark.C-input { background:#333; color:#fff }
.dark.C-shine { box-shadow:inset 0px 18px 0px #555; -moz-box-shadow:inset 0px 18px 0px #555; -webkit-box-shadow:inset 0px 18px 0px #555 }
.dark.C-bevel {  box-shadow:inset 0px 15px 10px #777; -moz-box-shadow:inset 0px 15px 10px #777; -webkit-box-shadow:inset 0px 15px 10px #999   }
.dark.C-indent {   box-shadow:inset 0px 15px 10px #222; -moz-box-shadow:inset 0px 15px 20px #222; -webkit-box-shadow:inset 0px 15px 10px #222;  }
.dark.C-soft {  box-shadow:inset 0px 0px 10px #000; -moz-box-shadow:inset 0px 0px 10px #000; -webkit-box-shadow:inset 0px 0px 10px #000; border:1px solid #000    }
.dark.C-innerglow { border:1px solid #666;  box-shadow:inset 0px 0px 0px #555; -moz-box-shadow:inset 0px 0px 10px #666; -webkit-box-shadow:inset 0px 0px 0px #555   }
.dark.C-outline { border:1px solid #666; }
.dark.C-button {  }
.dark.C-button:hover { cursor:pointer; box-shadow:inset 0px 0px 0px #fff; -moz-box-shadow:inset 0px 0px 20px #fff; -webkit-box-shadow:inset 0px 0px 0px #fff; border:1px solid #fff }
.dark.C-input { font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid #ccc; margin:0; outline:none; box-shadow:inset 0px 0px 0px #777; -moz-box-shadow:inset 0px 0px 10px #777; -webkit-box-shadow:inset 0px 0px 0px #777;}
.dark.C-contrast {  background:#CCC; color:#000; }




/* HOVERS */
.hover-red:hover, .hover-red:focus { color:#FFF; background:#C00; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none }

/* FILTERS */
.filter, .filter-soft { float:left; margin: 0px 5px 0px 0px; padding:8px 10px; font-size:17px; color:#ccc; height:20px }
.filter-soft { box-shadow:inset 0px 22px 0px #333; -moz-box-shadow:inset 0px 0px 10px #333; -webkit-box-shadow:inset 0px 22px 0px #333; }
.filter A, .filter-soft A { color:#FFF; font-weight:bold; text-decoration:none; border:1px solid transparent; padding:0 10px; background:#333;  border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; }
.filter A:hover, .filter A:focus, .filter-soft A:hover, .filter-soft A:focus { border:1px solid #fff }

/* CELL CLASSES */
TD.black { background:#000; color:#fff }
TD.pad { padding: 15px 20px }
TD.form_label UL { margin:0; padding:0px 0px 0px 15px; font-size:13px}
TD.form_label B {}

/* FORMS */
.submit-big {background:#fff; color:#000; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; font-size:42px; border:1px solid #fff;}

/* MINI BUTTONS */
.light.button-small, .light.button-small-post, .light.button-small-cancel, .light.button-small-delete {background: #EEEEEE; box-shadow: inset 0px 9px 0px #fff; -moz-box-shadow: inset 0px 9px 0px #fff; -webkit-box-shadow: inset 0px 9px 0px #fff; cursor:pointer;}
.light.button-small:hover {border:1px solid #000;}
.dark.button-small, .dark.button-small-post, .dark.button-small-cancel, .dark.button-small-delete {box-shadow: inset 0px 9px 0px #404040; -moz-box-shadow: inset 0px 9px 0px #404040; -webkit-box-shadow: inset 0px 9px 0px #404040; cursor:pointer;}
.dark.button-small:hover {border:1px solid #fff;}

.button-small-post:hover, .button-small-post.button-selected {background-color: #7bbd0d; color:#FFF; box-shadow: inset 0px 9px 0px #99cc33; -moz-box-shadow: inset 0px 9px 0px #99cc33; -webkit-box-shadow: inset 0px 9px 0px #99cc33;}
.button-small-cancel:hover, .button-small-cancel.button-selected {background-color:#656565; color:#FFF; box-shadow: inset 0px 9px 0px #7f7f7f; -moz-box-shadow: inset 0px 9px 0px #7f7f7f; -webkit-box-shadow: inset 0px 9px 0px #7f7f7f;}
.button-small-delete:hover, .button-small-delete.button-selected {background-color: #e92b42; color:#FFF; box-shadow: inset 0px 9px 0px #eb5162; -moz-box-shadow: inset 0px 9px 0px #eb5162; -webkit-box-shadow: inset 0px 9px 0px #eb5162;}
.dark.button-small-post:hover, .dark.button-small-post.button-selected {box-shadow: inset 0px 0px 20px #fff; -moz-box-shadow: inset 0px 0px 20px #fff; -webkit-box-shadow: inset 0px 0px 20px #fff;}
.dark.button-small-cancel:hover, .dark.button-small-cancel.button-selected  {box-shadow: inset 0px 0px 20px #fff; -moz-box-shadow: inset 0px 0px 20px #fff; -webkit-box-shadow: inset 0px 0px 20px #fff;}
.dark.button-small-delete:hover, .dark.button-small-delete.button-selected  {box-shadow: inset 0px 0px 20px #fff; -moz-box-shadow: inset 0px 0px 20px #fff; -webkit-box-shadow: inset 0px 0px 20px #fff;}


/* POST BUTTONS */
.button-post:hover, .button-post a:hover {cursor:pointer; background-color: #7bbd0d; color:#FFF; box-shadow: inset 0px 15px 0px #99cc33; -moz-box-shadow: inset 0px 15px 0px #99cc33; -webkit-box-shadow: inset 0px 15px 0px #99cc33;}
.button-cancel:hover, .button-cancel a:hover {cursor:pointer; background-color:#656565; color:#FFF; box-shadow: inset 0px 15px 0px #7f7f7f; -moz-box-shadow: inset 0px 15px 0px #7f7f7f; -webkit-box-shadow: inset 0px 15px 0px #7f7f7f;}
.button-delete:hover, .button-delete a:hover {cursor:pointer; background-color: #e92b42; color:#FFF; box-shadow: inset 0px 15px 0px #eb5162; -moz-box-shadow: inset 0px 15px 0px #ff9999; -webkit-box-shadow: inset 0px 15px 0px #eb5162;}

/* COLOR BUTTONS */
.button-big-blue {border:2px solid #999; cursor:pointer}
.button-big-blue:hover, .selected.button-big-blue {border:2px solid #0099ff; box-shadow: 0px 0px 40px #0099ff inset; -moz-box-shadow: 0px 0px 40px #0099ff inset; -webkit-box-shadow: 0px 0px 40px #0099ff inset;}
.button-big-green {border:2px solid #999; cursor:pointer;}
.button-big-green:hover, .selected.button-big-green {border:2px solid #7BBD0D; box-shadow: 0px 0px 40px #7BBD0D inset; -moz-box-shadow: 0px 0px 40px #7BBD0D inset; -webkit-box-shadow: 0px 0px 40px #7BBD0D inset;}
.button-big-gray {border:2px solid #999; cursor:pointer}
.button-big-gray:hover, .selected.button-big-gray {border:2px solid #CCC; box-shadow: 0px 0px 40px #CCC inset; -moz-box-shadow: 0px 0px 40px #CCC inset; -webkit-box-shadow: 0px 0px 40px #CCC inset;}



/* TAG CLOUDS */
.TC, .TC A, .sub_tags A {text-decoration:none; padding:2px 5px ; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; float:left}
#headerTagCloud1 .TC {float:right}
#headerTagCloud2 .TC {float:left}
.thumb_TC {padding:5px}
.TC A:hover, .TC A:focus, .sub_tags A:hover, .sub_tags A:focus { border:1px #fff solid; padding:1px 9px; color:#fff; background:#000  }

.s-0 { font-size:20px; }
.s-1 { font-size:14px; }
.s-2 { font-size:15px; }
.s-3 { font-size:16px; }
.s-4 { font-size:17px; }
.s-5 { font-size:18px; }
.s-6 { font-size:19px; }
.s-7 { font-size:20px; }
.s-8 { font-size:21px; }

#dreamHeader .s-0 { font-size:30px; }
#dreamHeader .s-1 { font-size:16px; }
#dreamHeader .s-2 { font-size:17px; }
#dreamHeader .s-3 { font-size:18px; }
#dreamHeader .s-4 { font-size:20px; }
#dreamHeader .s-5 { font-size:22px; }
#dreamHeader .s-6 { font-size:26px; }
#dreamHeader .s-7 { font-size:30px; }
#dreamHeader .s-8 { font-size:31px; }

.water.s-0 {color:#fff}
.water.s-1 {color:#0049a2}
.water.s-2 {color:#1265c2}
.water.s-3 {color:#3086cf }
.water.s-4 {color:#3ea7eb }
.water.s-5 {color:#3ea7eb}
.water.s-6 {color:#55ccff}
.water.s-7 {color:#55ccff}
.water.s-8 {color:#88e3f7}
.water.s-9 {color:#88e3f7}

.data_border { border:1px solid #09F }
.TC .link_img { position:relative; top:-1px; float:left }
  
.water-01, .water-01 A, .water .entry_title A {  }
.water-02, .water-02 A, .water A { }
.water-03, .water-03 A {  }
.water-04, .water-04 A {  }
.water-05, .water-05 A {  }
.water-06, .water-06 A {  }


/* FLOAT */
.float-left { float:left }
.float-right { float:right }
.clear-both { clear:both }
.clear-right { clear:right }
.clear-left { clear:both }


/* ALPHA */
.alpha-100 { filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; -webkit-opacity: 1; opacity: 1; }
.alpha-90 { filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; -webkit-opacity: 0.9; opacity: 0.9; }
.alpha-80 { filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; -webkit-opacity: 0.8; opacity: 0.8; }
.alpha-70 { filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; -webkit-opacity: 0.7; opacity: 0.7; }
.alpha-60 { filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; -webkit-opacity: 0.6; opacity: 0.6; }
.alpha-50 { filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5; opacity: 0.5; }
.alpha-40 { filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4; opacity: 0.4; }
.alpha-30 { filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2; -webkit-opacity: 0.2; opacity: 0.2; }
.alpha-20 { filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2; -webkit-opacity: 0.2; opacity: 0.2; }
.alpha-10 { filter:alpha(opacity=10); -moz-opacity:0.1; -khtml-opacity: 0.1; -webkit-opacity: 0.1; opacity: 0.1; }


/* FONTS */
.font-H1, .font-H2, .font-H3 {  } 
.font-9 { font-size: 9px }
.font-11 { font-size: 11px }
.font-13 { font-size: 13px }
.font-15 { font-size: 15px }
.font-17 { font-size: 17px }
.font-19 { font-size: 19px }
.font-21 { font-size: 21px }
.font-25 { font-size: 25px }
.font-36 { font-size: 36px }
.font-48 { font-size: 48px }

.font-H1 { font-size: 32px }
.font-H2 { font-size: 24px }
.font-H3 { font-size: 19px }

.font-bold { font-weight:bold }
.font-light { font-weight: normal }

/* sans serif */
.font-arial { font-family:Arial, Arial, Helvetica, sans-serif }
.font-calibri { font-family:Calibri,Lucida Sans Unicode, Lucida Grande, sans-serif }
.font-verdana { font-family:Verdana, Verdana, Geneva, sans-serif }
.font-monospace { font-family: Lucida Console, Monaco5, monospace }
.font-comic { font-family:Comic Sans MS, Comic Sans MS }

/* serif */
.font-georgia { font-family:Georgia, Georgia, serif }
.font-garamond { font-family: Garamond, serif }
.font-book { font-family:Palatino Linotype, Book Antiqua, Palatino, serif }
.font-times { font-family: "Times New Roman", Times, serif }


/* ALIGNMENT */
.align-right { text-align:right }
.align-center { text-align:center }


/* TABS */
.tab-button-selected, .tab-button { float:left; border:0px solid #000;  margin:0 10px 20px 0; position:relative; z-index:140; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;  font-size:17px;  }
.tab-button A, .tab-button-selected A { text-decoration:none; outline:none; }
.tab-button-selected A { color:#000; }
.tab-button-selected { color:#000; background:#fff; font-weight:bold; border:1px solid #fff; box-shadow: 0px 0px 20px #fff; -moz-box-shadow: 0px 0px 20px #fff; -webkit-box-shadow: 0px 0px 20px #fff; cursor:pointer; }
.tab-button A { color:#FFF; }
.tab-button { background:#000; color:#FFF; border:1px solid #000; cursor:pointer; }
.tab-button:hover, .tab-button:focus { background:#000; color:#FFF; border: 1px solid #fff; box-shadow: inset 0px 0px 10px #fff; -moz-box-shadow: inset 0px 0px 20px #fff; -webkit-box-shadow: inset 0px 0px 10px #fff; }
.tab-button-selected SELECT, .tab-button SELECT { font-size:15px; outline: none; border:0px }
.tab-button-selected SELECT { background:#fff; font-weight:bold }
.tab-button SELECT { background:#000; color:#fff }
.tab-button a, .tab-button-selected a {display:block; padding:8px 16px;}


/* CORNERS */
.corner-white-16-bl { width:16px; background:url(../images/corners/white-16px-bl.png) bottom left no-repeat }
.corner-white-16-br { width:16px; background:url(../images/corners/white-16px-br.png) bottom left no-repeat }


/* MARGINS */
.margin-0 { margin:0px }
.margin-2 { margin:2px }
.margin-3 { margin:3px }
.margin-4 { margin:4px }
.margin-4-0 { margin:4px 0 }
.margin-6 { margin:6px }
.margin-8 { margin:8px }
.margin-12 { margin:12px }
.margin-16 { margin:16px }
.margin-right-8 { margin-right:8px }
.margin-top-4 { margin-top:4px }

/* PADDING */
.padding-1 { padding:1px }
.padding-2 { padding:2px }
.padding-2-4 { padding:2px 4px }
.padding-3 { padding:3px }
.padding-4 { padding:4px }
.padding-5 { padding:5px }
.padding-4-8 { padding:4px 8px }
.padding-6 { padding:6px }
.padding-6-10 { padding:6px 10px }
.padding-8 { padding:8px }
.padding-8-16 { padding:8px 16px }
.padding-12 { padding:12px }
.padding-16 { padding:16px }


/* ROUNDED CORNERS */
.round-2 { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.round-4 { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.round-8 { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
.round-12 { border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; }
.round-16 { border-radius:16px; -moz-border-radius:16px; -webkit-border-radius:16px; }
.round-24 { border-radius:24px; -moz-border-radius:24px; -webkit-border-radius:24px; }
.round-32 { border-radius:32px; -moz-border-radius:32px; -webkit-border-radius:32px; }
.round-48 { border-radius:48px; -moz-border-radius:48px; -webkit-border-radius:48px; }
.round-64 { border-radius:64px; -moz-border-radius:64px; -webkit-border-radius:64px; }


/* ROUNDED SIDES CORNERS */
.round-4-bottom { border-radius-bottomleft:4px; -moz-border-radius-bottomleft:4px; -webkit-border-radius-bottomleft:4px; border-radius-bottomright:4px; -moz-border-radius-bottomright:4px; -webkit-border-radius-bottomright:4px;    }
.round-4-top { border-radius-topleft:4px; -moz-border-radius-topleft:4px; -webkit-border-radius-topleft:4px; border-radius-topright:4px; -moz-border-radius-topright:4px; -webkit-border-radius-topright:4px; }
.round-4-bottomRight { border-radius-bottomright:4px; -moz-border-radius-bottomright:4px; -webkit-border-radius-bottomright:4px;   }
.round-4-bottomLeft { border-radius-bottomleft:4px; -moz-border-radius-bottomleft:4px; -webkit-border-radius-bottomleft:4px;   }
.round-4-topRight { border-radius-topright:4px; -moz-border-radius-topright:4px; -webkit-border-radius-topright:4px; }
.round-4-topLeft { border-radius-topleft:4px; -moz-border-radius-topleft:4px; -webkit-border-radius-topleft:4px; }
.round-4-left { border-radius-topleft:4px; -moz-border-radius-topleft:4px; -webkit-border-radius-topleft:4px; border-radius-bottomleft:4px; -moz-border-radius-bottomleft:4px; -webkit-border-radius-bottomleft:4px; }
.round-4-right { border-radius-topright:4px; -moz-border-radius-topright:4px; -webkit-border-radius-topright:4px; border-radius-bottomright:4px; -moz-border-radius-bottomright:4px; -webkit-border-radius-bottomright:4px; }
.round-4-all { border-radius-topright:4px; -moz-border-radius-topright:4px; -webkit-border-radius-topright:4px; border-radius-bottomright:4px; -moz-border-radius-bottomright:4px; -webkit-border-radius-bottomright:4px; border-radius-topleft:4px; -moz-border-radius-topleft:4px; -webkit-border-radius-topleft:4px; border-radius-bottomleft:4px; -moz-border-radius-bottomleft:4px; -webkit-border-radius-bottomleft:4px;}

.round-12-left { border-radius-topleft:12px; -moz-border-radius-topleft:12px; -webkit-border-radius-topleft:12px; border-radius-bottomleft:12px; -moz-border-radius-bottomleft:12px; -webkit-border-radius-bottomleft:12px; }
.round-12-right { border-radius-topright:12px; -moz-border-radius-topright:12px; -webkit-border-radius-topright:12px; border-radius-bottomright:12px; -moz-border-radius-bottomright:12px; -webkit-border-radius-bottomright:12px; }


/* FLAT CORNERS */
.flat-bottom { border-radius-bottomleft:0px; -moz-border-radius-bottomleft:0px; -webkit-border-radius-bottomleft:0px; border-radius-bottomright:0px; -moz-border-radius-bottomright:0px; -webkit-border-radius-bottomright:0px;    }
.flat-top { border-radius-topleft:0px; -moz-border-radius-topleft:0px; -webkit-border-radius-topleft:0px; border-radius-topright:0px; -moz-border-radius-topright:0px; -webkit-border-radius-topright:0px; }
.flat-left { border-radius-topleft:0px; -moz-border-radius-topleft:0px; -webkit-border-radius-topleft:0px; border-radius-bottomleft:0px; -moz-border-radius-bottomleft:0px; -webkit-border-radius-bottomleft:0px; }
.flat-right { border-radius-topright:0px; -moz-border-radius-topright:0px; -webkit-border-radius-topright:0px; border-radius-bottomright:0px; -moz-border-radius-bottomright:0px; -webkit-border-radius-bottomright:0px; }
.flat-all { border-radius-topright:0px; -moz-border-radius-topright:0px; -webkit-border-radius-topright:0px; border-radius-bottomright:0px; -moz-border-radius-bottomright:0px; -webkit-border-radius-bottomright:0px; border-radius-topleft:0px; -moz-border-radius-topleft:0px; -webkit-border-radius-topleft:0px; border-radius-bottomleft:0px; -moz-border-radius-bottomleft:0px; -webkit-border-radius-bottomleft:0px;}
.flat-topLeft { border-radius-topleft:0px; -moz-border-radius-topleft:0px; -webkit-border-radius-topleft:0px;  }
.flat-topRight { border-radius-topright:0px; -moz-border-radius-topright:0px; -webkit-border-radius-topright:0px;   }
.flat-bottomLeft { border-radius-bottomleft:0px; -moz-border-radius-bottomleft:0px; -webkit-border-radius-bottomleft:0px;  }
.flat-bottomRight { border-radius-bottomright:0px; -moz-border-radius-bottomright:0px; -webkit-border-radius-bottomright:0px;  }


/* VARIOUS */
.pointer{ cursor:pointer }
.cursor{cursor:default}
.non-selectable {-moz-user-select:none}
.hidden { display:none }
.invisible { visibility:hidden }
.block {display:block}
.link-clear, .no-outline { outline:none; border:0 }


/* X CLOSE */
.light.nooutline {font-family:Calibri, Arial, Helvetica, sans-serif; color:#000; border:1px solid transparent; }
.dark.nooutline {font-family:Calibri, Arial, Helvetica, sans-serif; color:#FFF; border:1px solid transparent; }
.dark.x { color:#F63; }
.dark.x A { color:#F63; }
.light.x { color:#F63; }
.light.x A { color:#F63; }


/* COLOR GLOWS */
.dark.metrix-glow, .dark.dream-glow, .dark.latlon-glow { background:transparent; color:#FFF; }
.dark.metrix-glow { border:1px solid #333;  box-shadow:inset 0px 0px 0px #74c044; -moz-box-shadow:inset 0px 0px 10px #74c044; -webkit-box-shadow:inset 0px 0px 0px #74c044 }
.dark.dream-glow { ;border:1px solid #333;  box-shadow:inset 0px 0px 0px #69F; -moz-box-shadow:inset 0px 0px 10px #69F; -webkit-box-shadow:inset 0px 0px 0px #69F }
.dark.latlon-glow { ;border:1px solid #333;  box-shadow:inset 0px 0px 0px #0FF; -moz-box-shadow:inset 0px 0px 10px #0FF; -webkit-box-shadow:inset 0px 0px 0px #0FF }

.light.metrix-glow, .light.dream-glow, .light.latlon-glow { background:#FFF; color:#000; }
.light.metrix-glow { border:1px solid #333;  box-shadow:inset 0px 0px 0px #74c044; -moz-box-shadow:inset 0px 0px 10px #74c044; -webkit-box-shadow:inset 0px 0px 0px #74c044 }
.light.dream-glow { border:1px solid #333;  box-shadow:inset 0px 0px 0px #69F; -moz-box-shadow:inset 0px 0px 10px #69F; -webkit-box-shadow:inset 0px 0px 0px #69F }
.light.latlon-glow { border:1px solid #333;  box-shadow:inset 0px 0px 0px #0FF; -moz-box-shadow:inset 0px 0px 10px #0FF; -webkit-box-shadow:inset 0px 0px 0px #0FF }






/***********TOP MENU***********/
#drop_shadow {background:url(../images/gradients/top_shadow-100px.png) repeat-x top; position:absolute; top:0; left:0; width:100%; height:120px; z-index:-10}

#meta_menu { position: absolute; top: 0; width: 100%; opacity:1; z-index:1000 }
#meta_menu:hover, #meta_menu:focus { opacity:1 }
#intro_menu { position: absolute; top: 0; left: 248px }
#report_box {position:absolute; width:235px; text-align:right; font-size:9px; color:#666; opacity:1; z-index:1003; top:0;}
#logo { position: absolute; top: 0px; left: 0; margin: 4px 14px 0px 13px; width: 230px; z-index:1001 }

/* SYMBOLIKON */
#symbolikon { position:relative; z-index:90; opacity:1; z-index:1002; float:left; margin:10px 10px 2px 10px }
#symbolikon:hover, #symbolikon:focus { opacity:1 }

/* SUBMENU */
.sub_menu {float:left; padding:4px 8px; opacity:1; font-family:Calibri, Arial, Helvetica, sans-serif; position:relative; margin: 0 -4px;}
.sub_menu-item {float:left; background:#fff; margin:0 2px 4px 2px; float:left; padding:0; font-size:15px; height: 26px; line-height: 26px;}
.sub_menu-item a {color:#000; border:#ccc 1px solid; height: 26px; display: inline-block;}
.sub_menu-item a:hover {border:#000 1px solid; background:#000; color:#fff}
.sub_menu-item a {text-decoration: none; padding:2px 4px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; height: 26px;}
.sub_menu-item.selected {font-weight:bold; font-size:15px; height: 24px; }
.sub_menu-item.selected a {color: #fff; text-decoration: none; border:#000 1px solid; background: #000; padding:2px 4px; height: 26px; border-radius-topright: 8px; border-radius-bottomright: 8px; -moz-border-radius-topright: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-radius-topright: 8px; -webkit-border-radius-bottomright: 8px;}

.main_menu-item { float:left; font-size:13px; margin:2px 4px; }
.main_menu-item a {padding:4px 10px; background:#404040; text-decoration:none; color:#ffffff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
.main_menu-item a:hover, .main_menu-item a:focus {padding:3px 9px; text-decoration:none; color:#ffffff; border:1px solid #fff;}

/* SETTINGS MENU */
#settings_menu { float:right; margin-right: 10px }
#userNode { overflow: hidden; margin:0 0 -2px; height: 30px; border: 1px solid #999; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
#userNode:hover { border: 1px solid #ccc }
#userNode span { color: #fff; display: block; margin-left: 32px; background-color: #000; padding: 2px 4px }
#settingsButton a img { margin: 1px 1px -2px; border: 0px }

/* FLOATING BUTTONS */
#dreamStarLink { position: absolute; top: 0; left: 420px; margin: 8px; text-decoration: none; height: 21px }
#dreamStarLink img { margin: 2px 5px 0pt 0pt; float: left; border: 0px }
#adminLink { display:block; padding: 5px 8px; margin: 8px; text-decoration: none; height: 21px }
#adminLink img { padding-top:2px; }
#newEntry { display: block; padding: 4px 8px; font-size: 17px; font-weight: bold; margin: 8px 12px 0 0; text-decoration: none; border: 2px solid transparent }
#newEntry span { color: #093 }



/***********CONTEXT BAR***********/
#contextPanel {position:absolute; top:82px; left:12px; width:200px}
a#contextImage {width:200px; height:266px}
#contextLabelWrapper {margin: 6px 0}
#contextLabel {}
#followThis { margin-bottom:6px}
.contextItem {clear:both; margin-bottom:6px}
.contextItem-label {width:50px; height:24px; float:left; padding:6px 8px}
.contextItem-image {width:32px; height:32px; float:left; padding:2px 0; margin: 0 4px;}
.contextItem-detail {width:72px; height:24px; float:left; padding:6px 8px; white-space:nowrap; overflow: hidden;}



/***********ERROR PAGE***********/
.error-red, .error-green, .error-neutral { font-family:Calibri, Arial, Helvetica, sans-serif; border:1px solid transparent; }
.error-red { background:#FF5353; color:#000;  box-shadow:inset 0px 18px 0px #FF8C8C; -moz-box-shadow:inset 0px 15px 0px #FF8C8C; -webkit-box-shadow:inset 0px 18px 0px #FF8C8C;   }
.error-green { background:#54FE58; color:#000;  box-shadow:inset 0px 18px 0px #B7FFB3; -moz-box-shadow:inset 0px 15px 0px #B7FFB3; -webkit-box-shadow:inset 0px 18px 0px #B7FFB3;   }
.error-neutral { background:#000; color:#FFF;  box-shadow:inset 0px 18px 0px #333; -moz-box-shadow:inset 0px 15px 0px #333; -webkit-box-shadow:inset 0px 18px 0px #333;   }


/* LOGO INNER SHADOW TRANSPARENT */
.logo-shadow { background:transparent; box-shadow: inset 0px 0px 40px #000; -moz-box-shadow: inset 0px 0px 40px #000; -webkit-box-shadow: inset 0px 0px 40px #000; }

/***********DREAM FIELD***********/
#dreamField {position:absolute; top:82px; left: 240px}
/* PAGINATION */
.dark.pageFirst, .dark.pageFirst:hover { border:2px solid transparent; margin-right:1px; height:37px; }
.dark.pageLast, .dark.pageLast:hover { border:2px solid transparent; margin-left:1px; height:37px; }
.pageFirst img { padding: 8px 4px; }
.pageLast img { padding: 8px 4px; }
.pagePrev { display:block; padding: 8px 4px; font-weight:bold; }
.pageNext { display:block; padding: 8px 4px; font-weight:bold; }
.pageNumber { display:block; padding: 11px 6px; float:left; }
.pagination a.pageNumber { color:#999;}
.pagination a.pageNumber:hover { color:#fff; font-weight:bold }
.pageNumber.currentPage { display:block; padding: 10px 7px; font-weight:bold; font-size:21px; float:left; line-height:17px; cursor:default; border:2px solid #fff }


/***********MODIFY DREAM***********/
/* SHARING SETTINGS */
#sharing-module {position: relative;}
#sharing-overlay {position: absolute; width: 233px; min-height: 52px; top: -9px; left: -225px;}
#sharing-overlay > div {min-height: 49px;}
.sharing-content {margin-top: 50px; padding: 4px; display: none;}
.sharing-content ul li, #share-list-friends ul li {cursor: pointer; margin-bottom: 5px;}
.sharing-content ul, #share-list-friends ul {margin: 0px; padding: 0px; list-style-type: none;}
#public-sharing ul li img {margin-right: 10px;}
.sharing-checkbox {width: 15px; height: 15px;}
.sharing-icon {top: 5px !important; left: -27px !important;}
#share-list-friends ul {margin: 5px 0px;}
#share-list-friends ul li {display: block; float: left; padding: 0px 4px 4px 4px; margin-right: 2px; font-size: 11px; line-height: 19px; height: 19px; border: 1px solid #666;}
#share-list-friends ul li > img {position: relative; top: 3px;}
#add-friend-button {position: relative; top: 3px; left: 2px;}
#commentsPanel a, #datePanel span, #locationPanel span, #peoplePanel a, #emotionsPanel a, #environmentsPanel a, #imagePanel a, #linksPanel a, #seriesPanel a, #tagsPanel a  { cursor: pointer; }

/* GENERAL */
INPUT.submit-big {font-size: 14px; cursor: pointer;}
/* td.form_label {padding:4px 10px} */

/* ALLOWS FOR PROPPER SELECT DROPDOWN SHADOW AND ROUNDED CORNERS */
SELECT.search-bar {border-style:solid; -moz-border-radius:8px}

/* DROP DOWN TAB ICONS */
#addDetails a img {margin:1px; float:right;}

/* EMOTIONS PANEL */
#emotionsPanel td.emotion-label {text-align:right; padding-right:5px; width:80px;}
#emotionsPanel td.emotion-cells {border:solid 1px transparent; text-align:center; margin:0; padding:2px 0px; outline:none; box-shadow: inset 2px 5px 15px #bbb; -moz-box-shadow: inset 0px 3px 10px #bbb; -webkit-box-shadow: inset 2px 5px 15px #bbb;}
#emotionsPanel td.emotion-cells:hover {border:1px solid #000; box-shadow: 0px 0px 10px #06F; -moz-box-shadow: 0px 0px 10px #06F; -webkit-box-shadow: 0px 0px 10px #06F;}
#emotionsPanel td.emotion-cells label {display:block; padding:3px 1px; cursor:pointer;}
#emotionsPanel td.emotion-cells input {cursor:pointer; margin-top:0;}

/* IMAGE INPUTS */
.imageInput200px {width:200px; overflow:hidden;}

/* IMAGE ATTACHMENTS */
.attachment-thumbs LI {cursor:default; height:auto; margin:3px}

/* DETAILS BAR */
#attributesBar a, #infoBar a {position:relative}
#attributesBar a span, #infoBar a span {display:block; position:absolute; bottom:-35px;}
#attributesBar a span div, #infoBar a span div {top:-24px; width:13px; height:5px; margin:-3px auto; position:relative;}
#attributesBar a span.light div, #infoBar a span.light div {background: url(/basic/inc/images/corners/top-arrow-light-13px.png) no-repeat left top transparent;}
#attributesBar a span.dark div, #infoBar a span.dark div {background: url(/basic/inc/images/corners/top-arrow-dark-13px.png) no-repeat left top transparent;}
#attributesBar a span.hidden, #attributesBar a.hidden, #infoBar a span.hidden, #infoBar a.hidden {display:none;}


/***********VIEW DREAMS***********/
/* EMOTION PANEL*/
.emotion-cells { width:20px; }
.emotion-empty { background:transparent; border:1px solid #ccc }
.emotion-1, .emotion-2, .emotion-3, .emotion-4, .emotion-5 { height:24px; border:1px solid #999; -moz-box-shadow: inset 0px 2px 5px #fff }
.emotion-0 { width:25px }
.emotion-1 { width:30px }
.emotion-2 { width:60px }
.emotion-3 { width:90px }
.emotion-4 { width:125px }

/* IMAGE LIGHTBOX */
#uploadedImages1 {width:630px; margin:auto; position:relative;}
#uploadedImages1 ul{list-style:none; padding:5px; margin:0;}
#uploadedImages1 .wrap {width: 630px; overflow: auto; white-space:nowrap; position:relative; z-index:1; background:transparent;}
#uploadedImages1 .wrap ul{padding:12px 25px 5px;}
#uploadedImages1 .wrap li {margin:0 8px; text-align:center; display:-moz-inline-box; /* gecko*/ display:inline-block;/* opera and safari*/ padding:5px; }
#uploadedImages1 .wrap li span{text-align:center; width:128px;display:block;}
#uploadedImages1 span img {position:relative; top:5px;}
#uploadedImages1 .wrap li div{border:1px solid #999;cursor:pointer;}
#uploadedImages1 .wrap li div:hover, #uploadedImages1 .wrap li div:focus {border:1px solid #000}
#uploadedImages1 .fade{width:630px; position:relative; z-index:1;}
#uploadedImages1 .fade .lfade, #uploadedImages1 .fade .rfade{position:absolute; top:-10px; width:60px; height:155px; z-index:999;}
#uploadedImages1 .fade .light.lfade{left:0; background:url(/basic/inc/images/gradients/white-fade-left.png) repeat-y 100% 0;}
#uploadedImages1 .fade .light.rfade{right:0; background:url(/basic/inc/images/gradients/white-fade-right.png) repeat-y 0 0;}
#uploadedImages1 .fade .dark.lfade{left:0; background:url(/basic/inc/images/gradients/black-fade-left.png) repeat-y 100% 0;}
#uploadedImages1 .fade .dark.rfade{right:0; background:url(/basic/inc/images/gradients/black-fade-right.png) repeat-y 0 0;}
.imagePopup {position:fixed; width:100%; height:100%; top:0; left:0; background: url(/basic/inc/images/colors/black-50.png) repeat; text-align:center; z-index:30000; cursor:pointer}

/* BUTTONS */
.viewButtons { display:block; font-weight:bold; font-size:15px; padding:8px 8px 0 15px; }

/***********THEME SELECTOR PANEL***********/
#settingsPanelWrapper {position: absolute; right:40px; top:65px; width:344px; z-index:29001; z-index:500000}
#settingsArrow {position:absolute; top:-17px; right:64px; width:33px; height:17px;}
.light.toparrow {background: url(/basic/inc/images/corners/top-arrow-light-33px.png) no-repeat left top transparent;}
.dark.toparrow {background: url(/basic/inc/images/corners/top-arrow-dark-33px.png) no-repeat left top transparent;}
.checkbox {width:16px; height:16px;}
.light.checkbox {background: url(/basic/inc/images/icons/checkbox-16-light.png) no-repeat left top transparent;}
.light.checkbox.checked {background: url(/basic/inc/images/icons/checkbox-16-light-checked.png) no-repeat left top transparent;}
.light.checkbox.checkbox-hover {background: url(/basic/inc/images/icons/checkbox-16-dark.png) no-repeat left top transparent;}
.light.checkbox.checked.checkbox-hover {background: url(/basic/inc/images/icons/checkbox-16-dark-checked.png) no-repeat left top transparent;}
.dark.checkbox {background: url(/basic/inc/images/icons/checkbox-16-dark.png) no-repeat left top transparent;}
.dark.checkbox.checked {background: url(/basic/inc/images/icons/checkbox-16-dark-checked.png) no-repeat left top transparent;}


/***********PROFILE PAGE EDIT LOCATION***********/
.light.editLocationBackground {border:6px solid #000;}
.dark.editLocationBackground {border:6px solid #fff;}


/*********** ENTRY BAR ***********/
#entryBar {width:680px; height:48px; margin:0 0 15px; background:#fff;}
.entryBar_entry, .entryBar_tag, .entryBar_quote, .entryBar_book {height:32px; line-height:32px; float:left; margin:8px 0 0 10px; padding:0; text-align:center; border:1px solid #ACACAC;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ACACAC));
  background: -moz-linear-gradient(top, #fff, #ACACAC); /* gradient-0-40 */}
.entryBar_entry {width:114px;
  background:#fff;
  -moz-box-shadow:0 8px 5px #CCCCCC inset;
  -webkit-box-shadow:0 8px 5px #CCCCCC inset;} 
.entryBar_tag {width:70px;}
.entryBar_quote {width:96px;}
.entryBar_book {width:88px; float:right; margin:8px 10px 0 10px;}