#contextPanel {
  position: absolute;
  top: 82px;
  left: 12px;
  width: 200px; }
  #contextPanel #image {
    width: 200px;
    height: 266px; }
  #contextPanel #label {
    margin: 6px 0;
    text-align: center;
    font-weight: bold;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 21px; }
    #contextPanel #label img.follower {
      position: relative;
      float: right;
      top: 6px;
      margin-left: -16px; }
  #contextPanel #follow, #contextPanel #unfollow {
    margin-bottom: 6px;
    padding: 8px;
    height: 20px;
    font-weight: bold;
    text-align: center; }
    #contextPanel #follow img, #contextPanel #unfollow img {
      margin: -12px 6px -12px -12px;
      position: relative;
      top: -4px; }
  #contextPanel #unfollow {
    color: white;
    border: 1px solid #c1633c;
    background: -webkit-gradient(linear, left top, left bottom, from(#ee7c44), to(#8b2e12));
    background: -moz-linear-gradient(top, #ee7c44, #8b2e12);
    box-shadow: inset 0px 15px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 15px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0px 15px rgba(255, 255, 255, 0.1); }
  #contextPanel .item, #contextPanel .item2 {
    clear: both;
    margin-bottom: 6px; }
  #contextPanel .label, #contextPanel .image, #contextPanel .detail {
    float: left; }
  #contextPanel .item .label {
    width: 60px;
    height: 24px;
    padding: 6px 8px;
    text-align: right;
    border: 1px solid #848484; }
  #contextPanel .item .image {
    width: 34px;
    height: 24px;
    padding: 7px 3px;
    margin: 0; }
    #contextPanel .item .image img.dream {
      margin: -8px 0; }
    #contextPanel .item .image img.starlight {
      margin: -18px -16px;
      z-index: 1004; }
  #contextPanel .item .detail {
    width: 66px;
    height: 26px;
    padding: 6px 8px;
    line-height: 26px;
    font-weight: bold;
    border: 0; }
  #contextPanel .divider {
    height: 6px;
    margin-bottom: 6px; }
  #contextPanel .item2 .label {
    width: 90px;
    line-height: 26px;
    text-align: right;
    font-weight: bold;
    padding: 5px 8px; }
  #contextPanel .item2 .detail {
    width: 76px;
    height: 26px;
    padding: 6px 8px;
    font-weight: bold;
    border: 0;
    font-weight: normal;
    line-height: 25px; }
