.streamFilter {
  clear: both;
  margin: 8px 0 0; }
  .streamFilter .filterList #title {
    margin: 0 0 6px; }
  .streamFilter .filterList label {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px; }
    .streamFilter .filterList label input {
      float: right;
      cursor: pointer;
      margin: 15px 11px 0 0; }
  .streamFilter .filterList .filterType, .streamFilter .filterList .refresh {
    clear: both;
    margin: 0 0 6px;
    padding: 0 10px;
    border: 2px solid #bdbdbd;
    background: #e8e8e8; }
    .streamFilter .filterList .filterType label, .streamFilter .filterList .refresh label {
      height: 30px;
      line-height: 30px;
      display: block;
      font-weight: normal; }
      .streamFilter .filterList .filterType label img, .streamFilter .filterList .filterType label span, .streamFilter .filterList .refresh label img, .streamFilter .filterList .refresh label span {
        float: left; }
      .streamFilter .filterList .filterType label img, .streamFilter .filterList .refresh label img {
        margin: 8px 4px 0 0; }
      .streamFilter .filterList .filterType label input, .streamFilter .filterList .refresh label input {
        float: right;
        margin: 10px 0 0; }
    .streamFilter .filterList .filterType label.type, .streamFilter .filterList .refresh label.type {
      font-weight: bold; }
  .streamFilter .filterList #whoFilter {
    height: 50px; }
    .streamFilter .filterList #whoFilter label {
      text-align: left;
      margin-top: 8px;
      height: 60px;
      line-height: 18px; }
  .streamFilter .filterList .refresh {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#333333));
    background: -moz-linear-gradient(top, #999999, #333333);
    border: 2px solid #bdbdbd; }
