#dreamstarsLogo {
  margin: 16px 0 0 32px;
  width: 730px; }
  #dreamstarsLogo .date {
    margin-bottom: 28px; }

#dreamstars {
  margin-left: 120px;
  width: 640px;
  position: relative; }
  #dreamstars .badge {
    position: absolute; }
    #dreamstars .badge img {
      position: relative;
      left: -50px;
      top: -40px; }
  #dreamstars .rank {
    float: left;
    margin-left: 45px; }
