.dream_thumb.light {
  background: url("../images/gradients/light-dream_thumb-BG-A.png") repeat-x top white; }

.dream_thumb.dark {
  background: url("../images/gradients/dark-dream_thumb-BG-A.png") repeat-x top black; }

.dream_thumb {
  width: 220px;
  height: 300px;
  margin: 0 12px 12px 0;
  overflow: hidden;
  border: 0;
  position: relative; }
  .dream_thumb .link {
    display: block;
    border: 0 none;
    position: absolute;
    z-index: 900;
    width: 220px;
    height: 300px; }
  .dream_thumb .image {
    width: 220px;
    height: 96px;
    -moz-border-radius-bottomright: 0px;
    position: absolute;
    background: url("../images/art/astral-eyes-banner.jpg") center; }
  .dream_thumb .watermark {
    position: absolute;
    width: 220px;
    height: 128px;
    font-size: 45px;
    line-height: 30px;
    text-align: center;
    overflow: hidden; }
  .dream_thumb .detailsTop {
    position: absolute;
    width: 220px;
    z-index: 100; }
  .dream_thumb .detailsBottom {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .dream_thumb .date, .dream_thumb .location, .dream_thumb .comments, .dream_thumb .sharing {
    margin: 4px;
    font-size: 11px;
    padding: 4px 8px;
    text-align: center; }
  .dream_thumb .comments img {
    margin: 0 2px -5px 0; }
  .dream_thumb .sharing img {
    margin: -1px 0 -4px 2px; }
  .dream_thumb .title {
    margin-top: 96px;
    font-size: 17px;
    font-weight: bold;
    text-align: center; }
    .dream_thumb .title a {
      padding: 12px; }
  .dream_thumb .tags {
    padding: 0 16px; }
