#dreamField {
  position: absolute;
  top: 82px;
  left: 240px; }
  #dreamField .dark.pageFirst, #dreamField .dark.pageFirst:hover {
    border: 2px solid transparent;
    margin-right: 1px;
    height: 37px; }
  #dreamField .dark.pageLast, #dreamField .dark.pageLast:hover {
    border: 2px solid transparent;
    margin-left: 1px;
    height: 37px; }
  #dreamField .pageFirst img {
    padding: 8px 4px; }
  #dreamField .pageLast img {
    padding: 8px 4px; }
  #dreamField .pagePrev {
    display: block;
    padding: 8px 4px;
    font-weight: bold; }
  #dreamField .pageNext {
    display: block;
    padding: 8px 4px;
    font-weight: bold; }
  #dreamField .pageNumber {
    display: block;
    padding: 11px 6px;
    float: left; }
  #dreamField .pagination a.pageNumber {
    color: #999999; }
  #dreamField .pagination a.pageNumber:hover {
    color: white;
    font-weight: bold; }
  #dreamField .pageNumber.currentPage {
    display: block;
    padding: 10px 7px;
    font-weight: bold;
    font-size: 21px;
    float: left;
    line-height: 17px;
    cursor: default;
    border: 2px solid white; }
  #dreamField .dream_thumb.light {
    background: url("../images/gradients/light-dream_thumb-BG-A.png") repeat-x top white; }
  #dreamField .dream_thumb.dark {
    background: url("../images/gradients/dark-dream_thumb-BG-A.png") repeat-x top black; }
  #dreamField .dream_thumb {
    width: 220px;
    height: 300px;
    margin: 0 12px 12px 0;
    overflow: hidden;
    border: 0;
    position: relative; }
    #dreamField .dream_thumb .link {
      display: block;
      border: 0 none;
      position: absolute;
      z-index: 900;
      width: 220px;
      height: 300px; }
    #dreamField .dream_thumb .image {
      width: 220px;
      height: 96px;
      -moz-border-radius-bottomright: 0px;
      position: absolute;
      background: url("../images/art/astral-eyes-banner.jpg") center; }
    #dreamField .dream_thumb .watermark {
      position: absolute;
      width: 220px;
      height: 128px;
      font-size: 45px;
      line-height: 30px;
      text-align: center;
      overflow: hidden; }
    #dreamField .dream_thumb .detailsTop {
      position: absolute;
      width: 220px;
      z-index: 100; }
    #dreamField .dream_thumb .detailsBottom {
      position: absolute;
      bottom: 0;
      width: 100%; }
    #dreamField .dream_thumb .date, #dreamField .dream_thumb .location, #dreamField .dream_thumb .comments, #dreamField .dream_thumb .sharing {
      margin: 4px;
      font-size: 11px;
      padding: 4px 8px;
      text-align: center; }
    #dreamField .dream_thumb .comments img {
      margin: 0 2px -5px 0; }
    #dreamField .dream_thumb .sharing img {
      margin: -1px 0 -4px 2px; }
    #dreamField .dream_thumb .title {
      margin-top: 96px;
      font-size: 17px;
      font-weight: bold;
      text-align: center; }
      #dreamField .dream_thumb .title a {
        padding: 12px; }
    #dreamField .dream_thumb .tags {
      padding: 0 16px; }
