#friendField .user:hover .panel {
  box-shadow: 8px 8px 40px black;
  -moz-box-shadow: 0 0 40px black;
  -webkit-box-shadow: 2px 2px 40px black; }
#friendField .user.z-top {
  z-index: 9999; }
#friendField .user {
  z-index: 90;
  position: relative;
  float: left;
  cursor: pointer;
  width: 220px;
  height: 70px;
  margin: 0 12px 12px 0; }
  #friendField .user .status {
    position: absolute;
    float: right;
    margin: 0;
    right: 8px;
    top: 6px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(/images/icons/friend-stream-sprite.png) no-repeat 0% 33%; }
  #friendField .user .status, #friendField .user .avatar, #friendField .user .userInfo {
    z-index: 102; }
  #friendField .user .statusHover {
    z-index: 101;
    position: absolute;
    font-size: 12px;
    padding: 2px 24px 2px 4px;
    margin: 0;
    top: 4px;
    right: 4px; }
  #friendField .user .avatar {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 60px;
    overflow: hidden;
    width: 60px;
    background: url(/images/avatars/default-avatar-tiny.jpg) no-repeat; }
  #friendField .user .userInfo {
    position: absolute;
    top: 12px;
    left: 74px;
    width: auto; }
    #friendField .user .userInfo h3 {
      margin: 0; }
    #friendField .user .userInfo p {
      color: #5c5c5c;
      font-size: 10px;
      margin: 0; }
    #friendField .user .userInfo p.mutual {
      color: #262626;
      background-position: 0 100%; }
  #friendField .user .backdrop {
    z-index: 100;
    position: absolute;
    height: 70px;
    width: 100%; }
  #friendField .user .panel {
    position: relative;
    top: 0;
    min-height: 70px;
    background-color: #adadad;
    z-index: 99; }
    #friendField .user .panel .expanded {
      position: relative;
      top: 70px;
      padding: 8px 4px 4px; }
      #friendField .user .panel .expanded .item {
        clear: both;
        margin-bottom: 6px; }
        #friendField .user .panel .expanded .item .label, #friendField .user .panel .expanded .item .image, #friendField .user .panel .expanded .item .detail {
          float: left; }
        #friendField .user .panel .expanded .item .label {
          width: 68px;
          height: 24px;
          padding: 6px 8px;
          text-align: right; }
        #friendField .user .panel .expanded .item .image {
          width: 34px;
          height: 24px;
          padding: 7px 3px;
          margin: 0; }
          #friendField .user .panel .expanded .item .image img.dream {
            margin: -8px 0; }
          #friendField .user .panel .expanded .item .image img.starlight {
            margin: -18px -16px;
            z-index: 1004; }
          #friendField .user .panel .expanded .item .image img.follow {
            margin: -12px 1px; }
        #friendField .user .panel .expanded .item .detail {
          width: 72px;
          height: 26px;
          padding: 6px 8px;
          line-height: 26px;
          font-weight: bold;
          border: 0; }
      #friendField .user .panel .expanded .close {
        clear: both;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #555555;
        background: #262626;
        border: 2px solid black; }
