#userStream .user {
  position: relative;
  float: left;
  min-height: 63px;
  width: 237px;
  margin: 0 10px 10px 0;
  cursor: pointer; }
  #userStream .user .status {
    position: relative;
    float: right;
    margin: 8px;
    right: 3px;
    top: 3px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    overflow: hidden;
    background: url(/images/icons/friend-stream-sprite.png) no-repeat 0% 33%;
    z-index: 200; }
  #userStream .user .statusHover {
    position: absolute;
    cursor: pointer;
    padding: 4px;
    margin: 8px;
    right: 0;
    top: 0; }
  #userStream .user .thumb {
    float: left;
    margin: 8px;
    height: 46px;
    overflow: hidden;
    width: 46px;
    background: url(/images/avatars/default-avatar-tiny.jpg) no-repeat; }
  #userStream .user .info {
    float: left;
    margin: 8px; }
    #userStream .user .info h3 {
      margin: 0; }
    #userStream .user .info p {
      color: #5c5c5c;
      font-size: 10px;
      margin: 0; }
    #userStream .user .info p.mutual {
      color: #262626;
      background-position: 0 100%; }
