#IB_browser_frame {
  position:relative;
  clear: both;
  margin:20px;
  width:760px;
  height:auto;
  background-color:#dbdbdb;
  border:1px solid #b4b4b4;
  -moz-box-shadow: 0 5px 20px #000;}
#IB_top {
  position:absolute;
  margin:0px 0 0 0;
  padding:0;
  width:760px;
  height:74px;}
  
#IB_browseBackWrap {
  float:left;
  margin:12px 8px 0 12px;
  width:52px;
  height:46px;
  padding:0;
  text-align:center;}
#IB_browseBackWrap:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#a7a9ac));
  background: -moz-linear-gradient(top, #fff, #a7a9ac);}
#IB_browseBack {
  width:48px;
  height:42px;
  padding:0;
  margin:2px;
  cursor:pointer;
  display: block !important;
  background:#fff url(../images/icons/browseBars-36.png) no-repeat 6px 6px;}
#IB_browseBack:hover {background:#fff url(../images/icons/browseBars-36-over.png) no-repeat 6px 6px;}

#IB_editManager {
  float:left;
  margin:16px 8px 0 8px;}

h1#IB_category {
  line-height:74px;
  float:left;
  margin:0;
  padding:0 0 0 8px;
  font-size:21px;
  font-weight:bold;
  text-transform:uppercase;
  color:#414042; /* 90% Black */}

#IB_searchButtonWrap {
  width:58px;  
  height:46px;
  float:right;
  margin:12px 12px 0 0;
  padding:2px 0;
  text-align:center;}
#IB_searchButtonWrap:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#a7a9ac));
  background: -moz-linear-gradient(top, #fff, #a7a9ac);}
#IB_searchButton {
  width:42px;  
  height:34px;
  text-align:center;
  margin:0 auto;
  padding:6px;
  cursor:pointer;}
#IB_searchButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bcbec0), to(#fff));
  background: -moz-linear-gradient(top, #bcbec0, #fff);}

/* IB dropbox Container */  
#IB_dropboxContainer {
  position:relative;
  margin:74px 0 0 0;
  padding:0 0 4px 0;
  width:760px;
  height:auto;
  background-color:#a3a29f;}
#IB_dropboxTab {
  margin:0;
  padding:0;
  height:42px;}
#IB_dropboxTab img {margin:4px 8px 0 20px; float:left;}
#IB_dropboxTab h2, #IB_dropboxTab h3, #IB_dropboxTab a:link, #IB_dropboxTab a:visited, #IB_dropboxTab p, #IB_dropboxBrowse { 
  float:left;
  margin:0 12px 0 0;
  padding:0;
  line-height:42px;
  color:white;
  text-transform:uppercase;
  font-size:16px;}
#IB_dropboxTab h3 { color: #333;}
#IB_dropboxTab a:link, #IB_dropboxTab a:visited {
  text-decoration:underline;
  font-weight:bold;
  color:#58595b; /* 80% Black */}
#IB_dropboxTab a:hover {
  text-decoration:none;
  color:#000; /* 100% Black */}
#IB_dropboxTab p {
  float:right;
  color:#dbdbdb;}
#IB_dropboxBrowse {  
  margin:6px 12px 0 0;
  float:right;
  width:100px;
  height:28px;
  line-height:28px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  color:#58595b; /* 80% Black */}
#IB_dropboxBrowse:hover {
  background:#eee; color:#000;
  box-shadow:inset 0px 18px 0px #fff; -moz-box-shadow:inset 0px 15px 0px #fff; -webkit-box-shadow:inset 0px 18px 0px #fff;}

#IB_dropboxImagesWrap {
  margin:0 4px;
  padding:0;  
  width:750px;
  height:175px;
  overflow-x:scroll;
  overflow-y:hidden;}
ul#IB_dropboxImages {
  margin:12px 0 0 8px;
  padding:0;  
  width:2000px;
  height:162px;
  list-style:none;}
ul#IB_dropboxImages li {
  float:left;
  margin:0 4px;
  height:128px;
  cursor:pointer;
  overflow: hidden;
  -moz-box-shadow: 2px 5px 10px #111;
  border:4px solid #CCCCCC;}
ul#IB_dropboxImages li.selected {border:4px solid #427ee8; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
ul#IB_dropboxImages li.selected img {border:4px solid #fff;}
ul#IB_dropboxImages li img {border:4px solid #333;}
ul#IB_dropboxImages li img:hover {border:4px solid #fff;}
  
/* IB Manager Organization, Info, Source, Tag */
h2.IB_managerHeader {
  clear:both;  
  margin:0;
  padding:0 0 0 20px;
  width:740px;
  height:22px;
  line-height:22px;
  color:white;
  text-transform:uppercase;
  font-size:16px;
  background-color:#a3a29f;}

/* IB Manager Organization */
.IB_managerOrganizationContent, .IB_managerInfoContent, .IB_managerSourceContent, .IB_managerTagContent {
  margin:0;
  padding:8px 0;
  width:760px;
  height:32px;}
.IB_managerInfoContent {height:200px;}
.IB_managerOrganizationContent h3, .IB_managerInfoContent h3, .IB_managerSourceContent h3 {
  float:left;
  margin:0 10px 0 20px;
  padding:0;
  width:auto;
  line-height:32px;
  text-transform:uppercase;
  font-size:16px;
  color:#58595b; /* 80% Black */}
  
.IB_managerOrganizationWrap {
  float:left;
  margin:4px 0 0 0;
  padding:0;
  width:160px;
  height:23px;
  cursor:pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
  background: -moz-linear-gradient(top, #fff, #dbdbdb);}
#IB_current_type, #IB_current_category, #IB_current_genre {
  position:absolute;
  padding:0;
  width:136px;
  height:23px;
  line-height:23px;
  font-weight:bold;
  color:#464646; /* 80% Black */
  padding:0 12px;
  text-transform:uppercase;
  border:1px solid #b4b4b4;
  background: url(../images/icons/arrowDark-16-open.png) no-repeat 118px 3px;}
.IB_managerOrganizationWrap input {
  margin-right:8px;
  height:18px;
  float:right;}
.IB_managerOrganizationList {
  position:relative;
  cursor:pointer;
  width:136px;
  height:auto;
  margin:0;
  padding:0;
  opacity:0;
  left:12px;
  top:-25px;}
.IB_managerOrganizationList option {  
  float:none;
  margin:0;
  padding:2px 10px 2px 0;
  width:auto;
  color:#464646; /* 80% Black */;
  font-size:12px;
  font-weight: bold;
  text-align: right;
  cursor:pointer;
  background:#fff;
  border:1px solid #B4B4B4;
  border-top:none;}
.IB_managerOrganizationList option:hover {
  background:#464646; /* 80% Black */
  color:#EBEBEB; /* 10% Black */
  border:1px solid #EBEBEB;/* 10% Black */
  border-top:none;}}


/* IB Manager Info */
.IB_managerInfoContent {height:200px; clear:both;}
.IB_managerInfoContent h3, .IB_managerSourceContent h3 {
  float:none;
  height:18px;
  line-height:18px;
  margin:4px 0 0 40px;}
.IB_managerInfo {float:left;}
.IB_managerInfoInputWrap, .IB_managerInfoInputWrapYear, .IB_managerInfoInputWrapNotes, .IB_managerSourceInputWrap, .IB_managerTagInputWrap {
  margin:0 0 0 30px;
  width:330px;
  height:38px;
  line-height:38px;
  border:1px solid #b4b4b4;}
.IB_managerInfoInputWrapYear {width:95px;}
.IB_managerInfoInputWrapNotes {width:565px;}
.IB_managerInfoInput, .IB_managerInfoInputYear, .IB_managerInfoInputNotes, .IB_managerSourceInput, .IB_managerTagInput {
  margin:4px 8px;  
  width:285px;
  height:24px;
  line-height:24px;
  font-size:16px;
  background:transparent;
  border:none;}
.IB_managerInfoInputYear {width:45px;}
.IB_managerInfoInputNotes {width:520px;}

/* IB Manager Source */
.IB_managerSourceContent {height:65px;}
.IB_managerSourceInputWrap {width:200px;}
.IB_managerSourceInput {width:155px;}

/* IB Manager Tag */
.IB_managerTagContent {height:80px; margin:0 10px 0 0px;}
.IB_managerTagInputWrap {width:740px; height:72px; margin:0 0 0 8px;}
.IB_managerTagInput {width:695px; height:58px;}
.IB_managerTagCheckbox {margin:0;}

#IB_managerSaveWrap, #IB_managerCancelWrap {
  width:96px; 
  height:38px; 
  text-align:center; 
  float:right; 
  margin:8px 8px 8px 0;
  padding:2px 0;}
#IB_managerSave, #IB_managerCancel {
  width:92px;
  height:38px;
  margin:0 auto;
  line-height:38px;
  text-align:center;
  text-transform:uppercase;
  font-size:18px;
  padding:0px;
  cursor:pointer;}
#IB_managerCancel {color:#58595b; /* 80% Black */}
#IB_managerSaveWrap:hover, #IB_managerCancelWrap:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#a7a9ac));
  background: -moz-linear-gradient(top, #fff, #a7a9ac);}
#IB_managerSave:hover, #IB_managerCancel:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bcbec0), to(#fff));
  background: -moz-linear-gradient(top, #bcbec0, #fff);}


.clear {clear:both;}

.light.A-shine-36 {
  box-shadow:inset 0px 36px 0px #fff;
  -moz-box-shadow:inset 0px 36px 0px #fff;
  -webkit-box-shadow:inset 0px 36px 0px #fff;}  
  
.gradient-light {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
  background: -moz-linear-gradient(top, #fff, #dbdbdb);}
.gradient-light-up {
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#fff));
  background: -moz-linear-gradient(top, #dbdbdb, #fff);}
.gradient-0-30 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bcbec0));
  background: -moz-linear-gradient(top, #fff, #bcbec0);}
.gradient-30-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bcbec0), to(#fff));
  background: -moz-linear-gradient(top, #bcbec0, #fff);}
.gradient-0-40 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#a7a9ac));
  background: -moz-linear-gradient(top, #fff, #a7a9ac);}
.gradient-40-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#a7a9ac), to(#fff));
  background: -moz-linear-gradient(top, #a7a9ac, #fff);}
.gradient-10-20 {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e7e8), to(#d1d3d4));
  background: -moz-linear-gradient(top, #e6e7e8, #d1d3d4);}
.gradient-20-30 {
  background: -webkit-gradient(linear, left top, left bottom, from(#d1d3d4), to(#bcbec0));
  background: -moz-linear-gradient(top, #d1d3d4, #bcbec0);}
.gradient-1-down {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#8c8c8c));
  background: -moz-linear-gradient(top, #fff, #8c8c8c);}