#IB_browser_frame {
  position:relative;
  margin:90px 40px 20px;
  width:760px;
  background-color:#272727;
  -moz-box-shadow: 0 5px 20px #000;}
#IB_top {
  position:relative;
  margin:0;
  padding:0;
  width:760px;
  height:74px;}
  
#IB_browseArrow {
  margin:12px 0 0 20px;
  width:auto; 
  height:51px;
  cursor:pointer;
  color:#626262; /* 70% Black */}
#IB_browseArrow:hover {color:#C2C2C2; /* 30% Black */}
#IB_browseArrow div {
  float:left; 
  margin:0; 
  padding:0;}
#IB_browseArrowLeft {background:url(../images/slices/browseArrowLeft.png) no-repeat top left; width:32px; height:51px;}
#IB_browseArrowContent {background:url(../images/slices/browseArrowContent.png) repeat-x left; width:auto; height:51px;}
#IB_browseArrowContent p {
  margin:0;
  padding:0 8px;  
  line-height:51px;}
#IB_browseArrowRight {background:url(../images/slices/browseArrowRight.png) no-repeat top left; width:12px; height:51px;}

.browseBars {
  margin:22px 0 0 22px;
  padding:0;
  float:left;}

h1#IB_category {
  line-height:74px;
  float:left;
  font-size:21px;
  font-weight:normal;
  color:#D7D7D7; /* 20% Black */
  margin:0;
  padding:0 0 0 20px;}

/* Search Box & Browse Back */
#IB_searchBoxWrap, #IB_browseBackWrap {
  float:right;
  margin:12px 12px 0 0;
  padding:0px;
  width:52px;
  height:52px;
  cursor:pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#707070));
  background: -moz-linear-gradient(top, #111111, #707070); /* gradient-95-65 */}
#IB_browseBackWrap {
  float:left;
  height:48px;
  margin:12px 8px 0 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#111111));
  background: -moz-linear-gradient(top, #707070, #111111); /* gradient-65-95 */}
#IB_searchBoxWrap:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#B7B7B7));
  background: -moz-linear-gradient(top, #707070, #B7B7B7); /* gradient-65-35 */}
#IB_browseBackWrap:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#707070));
  background: -moz-linear-gradient(top, #111111, #707070); /* gradient-95-65 */}
#IB_searchBox {
  margin:2px auto;
  padding:6px;
  width:36px;
  height:36px;
  background:#363636 box-shadow: 2px 5px 5px #111111 inset; 
  -moz-box-shadow: 2px 5px 5px #111111 inset; 
  -webkit-box-shadow: 2px 5px 5px #111111 inset;}
#IB_searchBox:hover {
  background:#707070;}
#IB_browseBack {
  width:48px;
  height:44px;
  padding:0;
  margin:2px auto;
  cursor:pointer;
  display: block !important;
  background:#363636 url(../images/icons/browseBars-36.png) no-repeat 6px 6px;}
#IB_browseBack:hover, #IB_browseBack:active {background:#464646 url(../images/icons/browseBars-36-over.png) no-repeat 6px 6px;}


.uiMode {
  display: none;
}
  
/** **/

.hidden {display:none;}  
  
/* Gradient and Shadow Classes */
.O-input-15 {
  box-shadow: inset 2px 5px 15px #666;
  -moz-box-shadow: inset 2px 5px 15px #666;
  -webkit-box-shadow: inset 2px 5px 15px #666;}
.O-input-15:focus {
  border:1px solid #000;
  box-shadow: 0px 0px 10px #06F;
  -moz-box-shadow: 0px 0px 10px #06F;
  -webkit-box-shadow: 0px 0px 10px #06F;}
.light.A-shine-36 {
  box-shadow:inset 0px 36px 0px #fff;
  -moz-box-shadow:inset 0px 36px 0px #fff;
  -webkit-box-shadow:inset 0px 36px 0px #fff;}
.light.A-shine-10 {
  box-shadow:inset 0px 10px 0px #fff;
  -moz-box-shadow:inset 0px 10px 0px #fff;
  -webkit-box-shadow:inset 0px 10px 0px #fff;}
.dark.B-shine-10 {
  box-shadow:inset 0px 10px 0px #444;
  -moz-box-shadow:inset 0px 10px 0px #444;
  -webkit-box-shadow:inset 0px 10px 0px #444;}
.B-shine-60 {
  box-shadow:inset 0px 60px 0px #444;
  -moz-box-shadow:inset 0px 60px 0px #444;
  -webkit-box-shadow:inset 0px 60px 0px #444;}
.dark.C-shine-36 {
  box-shadow:inset 0px 36px 0px #555;
  -moz-box-shadow:inset 0px 36px 0px #555;
  -webkit-box-shadow:inset 0px 36px 0px #555;}
.innerglow-24 {
  box-shadow:inset 0 0 24px #111111;
  -moz-box-shadow:inset 0 0 24px #111111;
  -webkit-box-shadow:inset 0 0 24px #111111;}
  
.gradient-0-100 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
  background: -moz-linear-gradient(top, #fff, #000); /* gradient-0-100 */}
.gradient-0-85 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#363636));
  background: -moz-linear-gradient(top, #fff, #363636); /* gradient-0-85 */}
.gradient-50-85 {
  background: -webkit-gradient(linear, left top, left bottom, from(#959595), to(#363636));
  background: -moz-linear-gradient(top, #959595, #363636); /* gradient-50-85 */}
.gradient-50-90 {
  background: -webkit-gradient(linear, left top, left bottom, from(#959595), to(#262626));
  background: -moz-linear-gradient(top, #959595, #262626); /* gradient-50-90 */}
.gradient-60-90 {
  background: -webkit-gradient(linear, left top, left bottom, from(#7D7D7D), to(#262626));
  background: -moz-linear-gradient(top, #7D7D7D, #262626); /* gradient-60-90 */}
.gradient-90-60 {
  background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#7D7D7D));
  background: -moz-linear-gradient(top, #262626, #7D7D7D); /* gradient-90-60 */}
.gradient-60-100 {
  background: -webkit-gradient(linear, left top, left bottom, from(#7D7D7D), to(#000));
  background: -moz-linear-gradient(top, #7D7D7D, #000); /* gradient-60-100 */}
.gradient-75-100 {
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000));
  background: -moz-linear-gradient(top, #555555, #000); /* gradient-75-100 */}
.gradient-90-100 {
  background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#000));
  background: -moz-linear-gradient(top, #262626, #000); /* gradient-90-100 */}
.gradient-70-90 {
  background: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#262626));
  background: -moz-linear-gradient(top, #626262, #262626); /* gradient-70-90 */}
.gradient-70-100 {
  background: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#000));
  background: -moz-linear-gradient(top, #626262, #000); /* gradient-70-100 */}
.gradient-80-90 {
  background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#262626));
  background: -moz-linear-gradient(top, #464646, #262626); /* gradient-80-90 */}
.gradient-80-95 {
  background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#111111));
  background: -moz-linear-gradient(top, #464646, #111111); /* gradient-80-95 */}
.gradient-80-100 {
  background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#000));
  background: -moz-linear-gradient(top, #464646, #000); /* gradient-80-100 */}
.gradient-100-90 {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#262626));
  background: -moz-linear-gradient(top, #000, #262626); /* gradient-100-90 */}
.gradient-100-80 {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#464646));
  background: -moz-linear-gradient(top, #000, #464646); /* gradient-100-80 */}
.gradient-100-70 { 
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#626262));
  background: -moz-linear-gradient(top, #000, #626262); /* gradient-100-70 */}
.gradient-100-60 {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#7D7D7D));
  background: -moz-linear-gradient(top, #000, #7D7D7D); /* gradient-100-60 */}
.gradient-100-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
  background: -moz-linear-gradient(top, #000, #fff); /* gradient-100-0 */}
.gradient-95-80 {
  background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#464646));
  background: -moz-linear-gradient(top, #111111, #464646); /* gradient-95-80 */}
.gradient-90-80 {
  background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#464646));
  background: -moz-linear-gradient(top, #262626, #464646); /* gradient-90-80 */}
.gradient-80-70 {
  background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#626262));
  background: -moz-linear-gradient(top, #464646, #626262); /* gradient-80-70 */}
.gradient-75-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#fff));
  background: -moz-linear-gradient(top, #555555, #fff); /* gradient-75-0 */}
.gradient-65-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#fff));
  background: -moz-linear-gradient(top, #707070, #fff); /* gradient-65-0 */}
.gradient-light {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
  background: -moz-linear-gradient(top, #fff, #dbdbdb);}
.gradient-1-down {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#8c8c8c));
  background: -moz-linear-gradient(top, #fff, #8c8c8c);}
.gradient-1-up {
  background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#fff));
  background: -moz-linear-gradient(top, #8c8c8c, #fff);}
.gradient-9-down {
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#272727));
  background: -moz-linear-gradient(top, #505050, #272727);}
.gradient-9-up {
  background: -webkit-gradient(linear, left top, left bottom, from(#272727), to(#505050));
  background: -moz-linear-gradient(top, #272727, #505050);}

.gradient-10-up {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#242424));
  background: -moz-linear-gradient(top, #000, #242424);}

.round-8-top { border-radius-topleft:8px; -moz-border-radius-topleft:8px; -webkit-border-radius-topleft:8px; border-radius-topright:8px; -moz-border-radius-topright:8px; -webkit-border-radius-topright:8px; }
.round-8-left { border-radius-topleft:8px; -moz-border-radius-topleft:8px; -webkit-border-radius-topleft:8px; border-radius-bottomleft:8px; -moz-border-radius-bottomleft:8px; -webkit-border-radius-bottomleft:8px; }
.round-8-right { border-radius-topright:8px; -moz-border-radius-topright:8px; -webkit-border-radius-topright:8px; border-radius-bottomright:8px; -moz-border-radius-bottomright:8px; -webkit-border-radius-bottomright:8px; }

/* Font Color Classes */
.color-0 {color:#fff; /* White */}
.color-10 {color:#EBEBEB; /* 10% Black */}
.color-15 {color:#E1E1E1; /* 15% Black */}
.color-20 {color:#D7D7D7; /* 20% Black */}
.color-25 {color:#D7D7D7; /* 25% Black */}
.color-30 {color:#C2C2C2; /* 30% Black */}
.color-35 {color:#B7B7B7; /* 35% Black */}
.color-40 {color:#ACACAC; /* 40% Black */}
.color-45 {color:#A0A0A0; /* 45% Black */}
.color-50 {color:#959595; /* 50% Black */}
.color-55 {color:#898989; /* 55% Black */}
.color-60 {color:#7D7D7D; /* 60% Black */}
.color-65 {color:#707070; /* 65% Black */}
.color-70 {color:#626262; /* 70% Black */}
.color-75 {color:#555555; /* 75% Black */}
.color-80 {color:#464646; /* 80% Black */}
.color-85 {color:#363636; /* 85% Black */}
.color-90 {color:#262626; /* 90% Black */}
.color-95 {color:#111111; /* 95% Black */}
.color-100 {color:#000; /* Black */}