#IB_artistContainer {
	position:relative;
	margin:0px 0 0 3px;
	padding:0;
	width:750px;
	background-color:black;
	border:2px solid #2d2c2b;
}
#IB_artists {
	position:relative;
	width:748px;
	height:auto;
	border:1px solid #5e5e5e;
}
#IB_artistsName, #IB_artistsImages {
	width:372px;
	height:30px;
	border:1px solid #5e5e5e;
}
#IB_artistsName p, #IB_artistsImages p {
	line-height:30px;
	margin:0;
	padding:0 0 0 20px;
}

#artists {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
/*.IB_artistField*/
#artists li
{
	clear:both;
	width:748px;
	height:60px;
	cursor: pointer;
	border-bottom:1px solid #5e5e5e;
}
/*.IB_artistField:hover*/
#artists li:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#fff));
	background: -moz-linear-gradient(top, #8c8c8c, #fff);
	color:black;}
/*.IB_artistField h2*/
#artists li h2
{
	float:left;
	margin:0;
	padding:0 0 0 20px;
	height:60px;
	line-height:60px;
	width:350px;
}
#artists li:hover h2 {
	color: black;
}
/*.IB_artistFieldImages*/
#artists li .images
{
	float:right;
	margin:0;
	padding:0;
	height:60px;
	width:372px;
}
/*.IB_artistFieldImages img*/
#artists li .images img
{
	width: 62px;
	height: 60px;
	float:left;
}

/* .IB_CancelWrapList  -  Unique margin for list view. Nice if we can make it universal... */
.IB_CancelWrapList {margin-top:0px;}