/*#IB_searchOptionsButton,#IB_searchText {
	display: none;
	float: right;
}
#IB_searchOptions {
	margin: 74px 0 0 3px;
	position: absolute;
}
#IB_searchOptions li.selected {
	border: solid 1px black;
}

.hidden {display:none;}	*/