#albums
{
  position:relative;
  margin:0px 0px 0px 3px;
  padding:0;
  width:750px;
  min-height:175px;
  height: 400px;
  background-color:black;
  border:2px solid #2d2c2b;
  list-style: none;
  overflow-y:scroll;
  overflow-x: hidden;
}
#albums li
{
  position:relative;
  width:748px;
}
#albums li h2 {
  margin:0;
  padding:0 0 0 20px;
  width:712px;
  height:33px;
  font-size: 14px;
  line-height:36px;
  color:#fff;
  cursor:pointer;
  border:1px solid #5e5e5e;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#464646));
  background: -moz-linear-gradient(top, #000, #464646); /* gradient-100-80 */}
#albums li h2:hover {
  /*background:url(../images/icons/edit-33.png) no-repeat 680px center;*/}
#albums li img
{
  /*padding:4px 4px 0 0;*/
  padding: 0;
}

#albums .images
{
  position:relative;
  margin:0;
  padding:0;
  width:748px;
  list-style: none;
}
#IB_imageDrop, #IB_searchResultsSelect {
  position:absolute;
  margin:12px 0 0 12px;
  padding:0;
  list-style: none;
  width:675px;
  height:126px;
  background:#272727 url(../images/icons/dropboxIconText.png) no-repeat 295px center;}
#IB_imageDrop li
{
  margin:12px 0px 0px 12px;
  padding:0;
  width:104px;
  height:104px;
  float:left;
  position: relative;
}
#albums .images li
{
  margin:16px 0 0 16px;
  padding:0;
  position:relative;
  width:126px;
  height:126px;
  border:1px solid black;
  float:left;
  cursor:pointer;
  z-index:99;
}
#albums .images li:hover {
  border:1px solid white;
}

#albums .checkbox {
  position:absolute;
  margin:-122px 0 0 4px;
  padding:0;
  width:42px;
  height:43px;
  background:url(../images/icons/checkbox-42.png) no-repeat top left;
  z-index:100;}
#albums .checkbox.selected {
  background:url(../images/icons/checkbox-42-checked.png) no-repeat top left;}

.IB_CancelWrap, .IB_CancelWrapList {
  float:right;
  margin:848px 12px 0 0;
  width:100px;
  height:34px;
  cursor:pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
  background: -moz-linear-gradient(top, #fff, #000); /* gradient-0-100 */}
.IB_Cancel {
  margin:2px auto;
  padding:0;
  width:96px;
  height:30px;
  line-height:30px;
  text-align:center;
  color:#C2C2C2; /* 30% Black */
  background: -webkit-gradient(linear, left top, left bottom, from(#7D7D7D), to(#000));
  background: -moz-linear-gradient(top, #7D7D7D, #000); /* gradient-60-100 */}
.IB_Cancel:hover {
  color:#fff; /* White */
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#7D7D7D));
  background: -moz-linear-gradient(top, #000, #7D7D7D); /* gradient-100-60 */}  

  
#IB_artistSlideshow,
#IB_manageArtistImages,
#IB_slideshowTimer {
  margin:12px 12px 0 0;
  padding:6px;
  width:36px;
  height:36px;
  line-height:36px;
  text-align:center;
  float:right;
  cursor:pointer;
  border:1px solid #7D7D7D; /* 60% Black */;}
#IB_artistSlideshow {background:url(../images/icons/playSlideshow-24.png) no-repeat center;}
#IB_artistSlideshow:hover {
  background:url(../images/icons/playSlideshow-24-over.png) no-repeat center;}
#IB_manageArtistImages {background:url(../images/icons/edit-33.png) no-repeat center;}
#IB_manageArtistImages:hover {
  background:url(../images/icons/edit-33-over.png) no-repeat center;}
#IB_artistSlideshow:hover,
#IB_manageArtistImages:hover,
#IB_slideshowTimer:hover {border:1px solid #C2C2C2; /* 30% Black */;}
  
  
#IB_searchResultsSelectButtons {
  height: 140px !important;
}  

.albumPreviewThumbs { width: 62px; height: 62px; overflow: hidden;}
.albumPreviewThumbsLarger { width: 126px; height: 126px; overflow: hidden;}
.dropBoxThumb { margin: 0px; width: 100px; height: 100px; border: 2px solid #fff; }

.header-manage { float: right; margin: 13px 13px 0px 0px;}