#IB_browse {
  
}
#IB_browse ul {
  list-style: none;
  margin:0 6px;
  padding: 0;
  position: relative;}
#IB_browse li {
  height:124px;
  line-height:124px;
  color:white;
  font-size:25px;
  cursor:pointer;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000));
  background: -moz-linear-gradient(top, #555555, #000); /* gradient-75-100 */
  box-shadow:inset 0px 60px 0px #444;
  -moz-box-shadow:inset 0px 60px 0px #444;
  -webkit-box-shadow:inset 0px 60px 0px #444;
  border: solid 1px #262626; /* 90% Black */}
#IB_browse li:hover {
  color: white;
  border-color: white;}
#IB_browse li.feature {
  width:746px;
  background:url(../images/art/IB_artistImages/genres/feature_RangeM.jpg) no-repeat top left;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;}
#IB_browse li span {
  position: absolute;
  text-align:center;
  width: 100%;}  
.nav-expand {
  position: absolute;
  width: 75%;
  margin-top: 35px;
  height: 80px;}
.nav-expand p {
  float: left;
  display: block;
  height: 80px;
  margin: 0px 8px;
  font-size: 14px;}