/********** NEW DREAM ********** */
#dreamField {
  /* NEW DREAM - IMAGES PANEL */
  /* NEW DREAM TAG */
  /* NEW DREAM LINK */
  /* NEW DREAM MOOD */
  /* NEW DREAM ATTACH */ }
  #dreamField .headers {
    padding: 0 12px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    float: left;
    font-weight: bold;
    color: #464646;
    cursor: pointer;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(white));
    background: -moz-linear-gradient(top, #e1e1e1, white); }
    #dreamField .headers img {
      float: left; }
  #dreamField #newDream-panel {
    width: 662px;
    padding: 8px; }
    #dreamField #newDream-panel #entryTypeWrap {
      width: 126px;
      border: 1px solid #e1e1e1; }
      #dreamField #newDream-panel #entryTypeWrap img {
        float: left;
        margin: 3px 0 0 4px; }
      #dreamField #newDream-panel #entryTypeWrap #entryType_current {
        background: url(../images/icons/arrowDark-16-open.png) no-repeat 118px 3px; }
      #dreamField #newDream-panel #entryTypeWrap #entryType_list {
        background: transparent;
        border: 0; }
    #dreamField #newDream-panel #dream_title, #dreamField #newDream-panel #dream_body {
      margin: 16px 0 0 20px;
      background: transparent;
      border: none; }
    #dreamField #newDream-panel #dream_title {
      width: 500px;
      height: 26px;
      line-height: 26px; }
    #dreamField #newDream-panel #dream_body {
      width: 626px;
      min-height: 134px;
      height: 134px; }
    #dreamField #newDream-panel #entryOptions {
      width: 664px;
      height: 48px;
      margin: 0 auto;
      bottom: 8px;
      border: 1px solid #d7d7d7;
      background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#b7b7b7));
      background: -moz-linear-gradient(top, #ebebeb, #b7b7b7); }
    #dreamField #newDream-panel .myBooks, #dreamField #newDream-panel .date, #dreamField #newDream-panel .location, #dreamField #newDream-panel .visibility, #dreamField #newDream-panel #dream_submit, #dreamField #newDream-panel #entryTypeWrap {
      height: 34px;
      line-height: 34px;
      margin: 8px 0 0 8px;
      text-align: center;
      cursor: pointer;
      float: right;
      border-radius: 16px;
      -moz-border-radius: 16px;
      -webkit-border-radius: 16px;
      background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(white));
      background: -moz-linear-gradient(top, #e1e1e1, white); }
    #dreamField #newDream-panel .myBooks {
      width: 184px;
      float: left;
      font-weight: bold; }
      #dreamField #newDream-panel .myBooks img {
        margin: 9px 0 0 14px;
        float: left; }
    #dreamField #newDream-panel .date, #dreamField #newDream-panel .location {
      width: 42px; }
      #dreamField #newDream-panel .date img, #dreamField #newDream-panel .location img {
        margin: 9px 0 0; }
    #dreamField #newDream-panel .location img {
      margin: 7px 0 0; }
    #dreamField #newDream-panel .visibility {
      width: 104px; }
      #dreamField #newDream-panel .visibility img {
        margin: 9px 10px 0 0;
        float: right; }
    #dreamField #newDream-panel #dream_submit {
      width: 64px;
      height: 34px;
      line-height: 28px;
      margin-right: 8px;
      color: white;
      font-weight: bold;
      font-size: 12px;
      border: 1px solid #acacac;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      background: -webkit-gradient(linear, left top, left bottom, from(#b7b7b7), to(#363636));
      background: -moz-linear-gradient(top, #b7b7b7, #363636); }
  #dreamField #new_dream-images {
    border: 1px solid #333333;
    display: none; }
    #dreamField #new_dream-images #imagesHeader img {
      margin: 11px 8px 0 0; }
    #dreamField #new_dream-images #addFromImageBank {
      float: left;
      height: 32px;
      line-height: 32px;
      padding: 0 8px;
      cursor: pointer;
      margin-left: 8px; }
      #dreamField #new_dream-images #addFromImageBank img {
        margin: 6px 8px 6px 0;
        float: left; }
    #dreamField #new_dream-images #imageDropArea {
      float: right;
      color: #7f7f7f;
      font-weight: bold;
      font-size: 13px;
      width: 380px;
      height: 32px;
      line-height: 32px;
      border: 1px solid white;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      background: white;
      box-shadow: 0 8px 5px #999999 inset;
      -moz-box-shadow: 0 8px 5px #999999 inset;
      -webkit-box-shadow: 0 8px 5px #999999 inset; }
      #dreamField #new_dream-images #imageDropArea img {
        float: left;
        margin: 6px 8px; }
    #dreamField #new_dream-images #currentImages {
      margin: 12px 0 0 12px; }
      #dreamField #new_dream-images #currentImages .dreamImageContainer, #dreamField #new_dream-images #currentImages .dreamImage {
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px; }
      #dreamField #new_dream-images #currentImages .dreamImageContainer {
        float: left;
        margin: 0px 8px 8px 0px;
        height: 120px;
        width: 120px;
        overflow: hidden;
        background: white; }
        #dreamField #new_dream-images #currentImages .dreamImageContainer .dreamImage {
          float: left;
          width: 120px;
          height: 120px;
          overflow: hidden;
          cursor: pointer; }
          #dreamField #new_dream-images #currentImages .dreamImageContainer .dreamImage .imageRemoveButton {
            margin: 8px;
            padding: 8px;
            width: 12px;
            height: 12px;
            cursor: pointer;
            display: inline-block;
            color: #ff1e00 !important;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px; }
        #dreamField #new_dream-images #currentImages .dreamImageContainer .dreamImageCaption {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          height: 94px;
          margin: 4px;
          padding: 8px;
          width: 184px;
          border: 0px;
          background: none; }
  #dreamField #newDream-tag {
    min-height: 42px; }
    #dreamField #newDream-tag #tagInputWrap {
      width: 520px;
      height: 40px;
      float: left;
      margin: 0 0 0 8px; }
      #dreamField #newDream-tag #tagInputWrap img {
        float: left;
        margin: 0; }
      #dreamField #newDream-tag #tagInputWrap #tagInput {
        width: 480px;
        height: 40px;
        float: left;
        margin: 0;
        background: url(../images/slices/inputContentLight-40.png) repeat-x; }
        #dreamField #newDream-tag #tagInputWrap #tagInput input {
          width: 410px;
          height: 32px;
          float: left;
          line-height: 32px;
          margin: 4px 0;
          font-size: 18px;
          background: transparent;
          border: 0; }
      #dreamField #newDream-tag #tagInputWrap #tagAdd {
        width: 62px;
        float: right;
        margin: 4px 0; }
    #dreamField #newDream-tag #tagBrowse {
      width: 36px;
      height: 32px;
      float: right;
      margin: 0;
      padding: 4px 3px;
      border: 1px solid #c2c2c2;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c2c2c2));
      background: -moz-linear-gradient(top, white, #c2c2c2); }
    #dreamField #newDream-tag .tag-who, #dreamField #newDream-tag .tag-where, #dreamField #newDream-tag .tag-what {
      height: 34px;
      line-height: 34px;
      text-align: center;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      background: white; }
    #dreamField #newDream-tag .tag-who {
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c2c2c2));
      background: -moz-linear-gradient(top, white, #c2c2c2); }
  #dreamField #newDream-link #linkInputWrap {
    box-shadow: 0 8px 5px #999999 inset;
    -moz-box-shadow: 0 8px 5px #999999 inset;
    -webkit-box-shadow: 0 8px 5px #999999 inset;
    margin: 0 8px 8px 8px;
    float: left;
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 550px;
    height: 38px;
    line-height: 38px; }
    #dreamField #newDream-link #linkInputWrap input {
      width: 460px;
      height: 32px;
      float: left;
      line-height: 32px;
      margin: 4px 0 4px 8px;
      font-size: 18px;
      background: transparent;
      border: 0; }
    #dreamField #newDream-link #linkInputWrap #linkAdd {
      width: 62px;
      float: right;
      margin: 4px 14px 4px 0; }
  #dreamField #newDream-link .linkContainer {
    clear: both;
    display: none;
    margin: 8px 0 0;
    padding: 3px 8px;
    width: 632px;
    height: 34px;
    line-height: 34px;
    background: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
    #dreamField #newDream-link .linkContainer .title {
      float: left;
      width: 122px;
      margin: 0 0 0 10px;
      cursor: pointer; }
    #dreamField #newDream-link .linkContainer .linkTitleValue {
      border: none;
      background: white;
      font-size: 14px; }
    #dreamField #newDream-link .linkContainer .url {
      text-align: left;
      float: left;
      margin: 0 0 0 102px;
      width: 330px;
      cursor: pointer; }
      #dreamField #newDream-link .linkContainer .url a:link, #dreamField #newDream-link .linkContainer .url a:visited {
        height: 14px;
        overflow: hidden; }
    #dreamField #newDream-link .linkContainer .icon {
      float: right;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      padding-top: 4px; }
    #dreamField #newDream-link .linkContainer .removeicon {
      float: right;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      padding-top: 4px;
      cursor: pointer;
      color: red; }
  #dreamField #newDream-mood {
    height: 160px; }
    #dreamField #newDream-mood ul {
      list-style: none;
      margin: 6px; }
    #dreamField #newDream-mood li, #dreamField #newDream-mood a:link, #dreamField #newDream-mood a:visited {
      float: left; }
    #dreamField #newDream-mood a:link, #dreamField #newDream-mood a:visited {
      padding: 0 16px; }
  #dreamField #newDream-attach {
    height: 32px; }
    #dreamField #newDream-attach p {
      height: 34px;
      line-height: 34px;
      margin: 0 30px;
      float: left; }
    #dreamField #newDream-attach .tag, #dreamField #newDream-attach #attach-images, #dreamField #newDream-attach .mood, #dreamField #newDream-attach .links, #dreamField #newDream-attach .analysis {
      height: 34px;
      line-height: 34px;
      margin: 0 0 0 8px;
      text-align: center;
      cursor: pointer;
      float: left;
      border-radius: 16px;
      -moz-border-radius: 16px;
      -webkit-border-radius: 16px;
      background: white; }
    #dreamField #newDream-attach .tag {
      width: 72px; }
    #dreamField #newDream-attach #attach-images {
      width: 96px; }
    #dreamField #newDream-attach .mood {
      width: 90px; }
    #dreamField #newDream-attach .links {
      width: 82px; }
    #dreamField #newDream-attach .analysis {
      width: 100px; }

/* UNIVERSAL STYLES */
.round8button-0-15 {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e1e1e1));
  background: -moz-linear-gradient(top, white, #e1e1e1); }

.newDream_assets {
  width: 662px;
  padding: 8px;
  border: 1px solid #464646;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px; }
