#tagEntry {
  margin: 0;
  padding: 8px 12px;
  position: absolute;
  width: 656px;
  height: 40px;
  background: white;
  z-index: 1000;
  /* AUTOCOMPLETE */
  /* TAG NODE */
  /* UNIVERSAL NEW ENTRY STYLES */ }
  #tagEntry .inputWrap {
    width: 660px;
    height: 40px;
    float: left;
    margin: 0; }
    #tagEntry .inputWrap img {
      float: left;
      margin: 0; }
    #tagEntry .inputWrap .input {
      width: 612px;
      height: 40px;
      float: left;
      margin: 0;
      background: url(../images/slices/inputContentLight-40.png) repeat-x; }
      #tagEntry .inputWrap .input input {
        width: 480px;
        height: 32px;
        float: left;
        line-height: 32px;
        margin: 4px 0;
        font-size: 18px;
        background: transparent;
        border: 0; }
      #tagEntry .inputWrap .input #location, #tagEntry .inputWrap .input #visibility {
        margin: 14px 8px 0 0;
        float: right;
        cursor: pointer; }
      #tagEntry .inputWrap .input #location {
        margin-top: 12px; }
    #tagEntry .inputWrap #add {
      width: 62px;
      height: 30px;
      line-height: 30px;
      float: right;
      margin: 4px 0;
      cursor: pointer;
      text-align: center;
      color: white;
      border: 1px solid #c2c2c2;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(black));
      background: -moz-linear-gradient(top, #464646, black); }
      #tagEntry .inputWrap #add span {
        color: #349200; }
  #tagEntry #autocomplete {
    padding: 4px;
    width: 207px;
    min-height: 32px;
    position: absolute;
    top: 48px;
    left: 36px;
    z-index: 100; }
    #tagEntry #autocomplete ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      #tagEntry #autocomplete ul li {
        height: 32px;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        line-height: 32px;
        color: #666666;
        border: 1px solid #cccccc;
        cursor: pointer; }
      #tagEntry #autocomplete ul .result-listing:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(black));
        background: -moz-linear-gradient(top, #7d7d7d, black); }
      #tagEntry #autocomplete ul a {
        float: left;
        display: inline-block;
        font-weight: bold; }
      #tagEntry #autocomplete ul .user-stream-node {
        float: right; }
        #tagEntry #autocomplete ul .user-stream-node .user-stream-status {
          z-index: 200;
          position: relative;
          top: 3px;
          right: 3px;
          float: right;
          width: 17px;
          height: 17px;
          overflow: hidden;
          cursor: pointer;
          background: url("../images/icons/friend-stream-sprite.png") no-repeat 0% 0%;
          margin: 8px;
          top: 0px !important;
          left: 0px !important; }
  #tagEntry #tag-node {
    width: 150px;
    height: 32px;
    position: absolute;
    top: 12px;
    left: 40px;
    float: left;
    line-height: 32px;
    font-weight: bold;
    background: #b6b5b3;
    -moz-box-shadow: 0 15px 10px #e6e6e6 inset; }
    #tagEntry #tag-node span {
      float: left;
      margin-left: 10px; }
    #tagEntry #tag-node #remove-tag {
      position: absolute;
      top: 7px;
      right: 6px;
      cursor: pointer; }
  #tagEntry .auto-avatar {
    height: 32px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 32px;
    overflow: hidden;
    float: left !important;
    margin-right: 10px;
    display: inline-block; }

.noDreams {
  position: absolute;
  top: 200px; }
