/* ENTRY BAR */
#entryBar {
  width: 680px;
  height: 48px;
  margin: 0 0 15px; }
  #entryBar a:link, #entryBar a:visited {
    display: block;
    text-decoration: none;
    color: black; }
  #entryBar .entry, #entryBar .tag, #entryBar .quote, #entryBar .book {
    height: 32px;
    line-height: 32px;
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    text-align: center;
    border: 1px solid #acacac;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#acacac));
    background: -moz-linear-gradient(top, white, #acacac);
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px; }
  #entryBar .entry {
    width: 114px;
    background: white;
    -moz-box-shadow: 0 8px 5px #cccccc inset;
    -webkit-box-shadow: 0 8px 5px #cccccc inset;
    box-shadow: 0 8px 5px #cccccc inset;
    cursor: text; }
  #entryBar .tag {
    width: 70px; }
  #entryBar .quote {
    width: 96px; }
  #entryBar .book {
    width: 88px;
    float: right;
    margin: 8px 10px 0 10px; }

#tagEntry {
  margin: 0 0 18px;
  padding: 8px 12px;
  width: 656px;
  height: 40px;
  background: white;
  z-index: 1000;
  /* AUTO COMPLETE */
  /* TAG NODE */
  /* UNIVERSAL NEW ENTRY STYLES */ }
  #tagEntry .entryWrap, #tagEntry .input, #tagEntry input {
    float: left; }
  #tagEntry .entryWrap {
    width: 660px;
    height: 40px;
    margin: 0; }
    #tagEntry .entryWrap img {
      float: left;
      margin: 0; }
    #tagEntry .entryWrap .input {
      width: 620px;
      height: 40px;
      margin: 0;
      background: url(../images/slices/inputContentLight-40.png) repeat-x; }
      #tagEntry .entryWrap .input input {
        width: 480px;
        height: 32px;
        line-height: 32px;
        margin: 4px 0;
        font-size: 18px;
        background: transparent;
        border: 0; }
      #tagEntry .entryWrap .input .location, #tagEntry .entryWrap .input .sharing {
        margin: 14px 8px 0 0;
        float: right;
        cursor: pointer; }
      #tagEntry .entryWrap .input .location {
        margin-top: 12px; }
    #tagEntry .entryWrap .add {
      width: 62px;
      height: 30px;
      line-height: 30px;
      float: right;
      margin: 4px 0;
      cursor: pointer;
      text-align: center;
      color: white;
      border: 1px solid #c2c2c2;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(black));
      background: -moz-linear-gradient(top, #464646, black); }
      #tagEntry .entryWrap .add span {
        color: #349200; }
  #tagEntry #share {
    width: 148px;
    padding: 8px;
    position: absolute;
    top: 112px;
    left: 490px;
    background: white;
    -moz-box-shadow: 0 0 40px black;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
    background: -moz-linear-gradient(top, white, #cccccc);
    border: 1px solid white;
    z-index: 900; }
    #tagEntry #share .arrow {
      position: absolute;
      top: -12px;
      left: 72px; }
    #tagEntry #share select, #tagEntry #share .social {
      font-size: 16px;
      width: 100%;
      height: 28px;
      line-height: 28px;
      padding: 4px;
      margin: 2px 0; }
    #tagEntry #share .social {
      border: 1px solid #c2c2c2;
      width: 138px;
      height: 22px;
      line-height: 22px;
      cursor: pointer;
      background: white; }
      #tagEntry #share .social label {
        display: block; }
      #tagEntry #share .social .icon, #tagEntry #share .social .name {
        float: left;
        cursor: pointer; }
      #tagEntry #share .social .icon {
        margin: 4px 8px 0 4px; }
      #tagEntry #share .social .name {
        text-align: center; }
      #tagEntry #share .social .checkbox {
        float: right;
        margin: 4px 0 0;
        cursor: pointer; }
  #tagEntry #autoComplete {
    padding: 4px;
    width: 207px;
    min-height: 32px;
    position: absolute;
    top: 48px;
    left: 36px;
    z-index: 100; }
    #tagEntry #autoComplete ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      #tagEntry #autoComplete ul li {
        height: 32px;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        line-height: 32px;
        color: #666666;
        border: 1px solid #cccccc;
        cursor: pointer; }
      #tagEntry #autoComplete ul .results:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(black));
        background: -moz-linear-gradient(top, #7d7d7d, black); }
      #tagEntry #autoComplete ul .results:hover a:link {
        color: white; }
      #tagEntry #autoComplete ul a:link, #tagEntry #autoComplete ul a:visited {
        float: left;
        display: inline-block;
        font-weight: bold; }
      #tagEntry #autoComplete ul .userStatus {
        float: right;
        z-index: 200;
        position: relative;
        top: 3px;
        right: 3px;
        float: right;
        width: 17px;
        height: 17px;
        overflow: hidden;
        cursor: pointer;
        background: url("../images/icons/friend-stream-sprite.png") no-repeat 0% 0%;
        margin: 8px;
        top: 0px !important;
        left: 0px !important; }
  #tagEntry .tagNode {
    width: 150px;
    height: 32px;
    position: absolute;
    top: 12px;
    left: 40px;
    float: left;
    line-height: 32px;
    font-weight: bold;
    background: #b6b5b3;
    -moz-box-shadow: 0 15px 10px #e6e6e6 inset; }
    #tagEntry .tagNode span {
      float: left;
      margin-left: 10px; }
    #tagEntry .tagNode .removeTag {
      position: absolute;
      top: 7px;
      right: 6px;
      cursor: pointer; }
  #tagEntry .avatar {
    height: 32px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 32px;
    overflow: hidden;
    float: left !important;
    margin-right: 10px;
    display: inline-block; }

.noDreams {
  position: absolute;
  top: 200px; }
