.notice, .alert {
  position: absolute;
  top: -16px;
  width: 100%;
  text-align: center; }

.notice {
  background: lightgreen; }

.alert {
  background: lightcoral; }

/* ALPHA */
.alpha-100 {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1; }

.alpha-90 {
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9; }

.alpha-80 {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8; }

.alpha-70 {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7; }

.alpha-60 {
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6; }

.alpha-50 {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5; }

.alpha-40 {
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4; }

.alpha-30 {
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3; }

.alpha-20 {
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2; }

.alpha-10 {
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  -webkit-opacity: 0.1;
  opacity: 0.1; }

/* POST BUTTONS */
.button-post:hover, .button-post a:hover {
  cursor: pointer;
  background-color: #7bbd0d;
  color: white;
  box-shadow: inset 0px 15px 0px #99cc33;
  -moz-box-shadow: inset 0px 15px 0px #99cc33;
  -webkit-box-shadow: inset 0px 15px 0px #99cc33; }

.button-cancel:hover, .button-cancel a:hover {
  cursor: pointer;
  background-color: #656565;
  color: white;
  box-shadow: inset 0px 15px 0px #7f7f7f;
  -moz-box-shadow: inset 0px 15px 0px #7f7f7f;
  -webkit-box-shadow: inset 0px 15px 0px #7f7f7f; }

.button-delete:hover, .button-delete a:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee7c44), to(#8b2e12));
  background: -moz-linear-gradient(top, #ee7c44, #8b2e12);
  border: 1px solid #c1633c;
  color: white;
  box-shadow: inset 0px 15px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 15px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0px 15px rgba(255, 255, 255, 0.1); }

/* COLOR BUTTONS */
.button-big-blue {
  border: 2px solid #999999;
  cursor: pointer; }

.button-big-blue:hover, .selected.button-big-blue {
  border: 2px solid #0099ff;
  box-shadow: 0px 0px 40px #0099ff inset;
  -moz-box-shadow: 0px 0px 40px #0099ff inset;
  -webkit-box-shadow: 0px 0px 40px #0099ff inset; }

.button-big-green {
  border: 2px solid #999999;
  cursor: pointer; }

.button-big-green:hover, .selected.button-big-green {
  border: 2px solid #7bbd0d;
  box-shadow: 0px 0px 40px #7bbd0d inset;
  -moz-box-shadow: 0px 0px 40px #7bbd0d inset;
  -webkit-box-shadow: 0px 0px 40px #7bbd0d inset; }

.button-big-gray {
  border: 2px solid #999999;
  cursor: pointer; }

.button-big-gray:hover, .selected.button-big-gray {
  border: 2px solid #cccccc;
  box-shadow: 0px 0px 40px #cccccc inset;
  -moz-box-shadow: 0px 0px 40px #cccccc inset;
  -webkit-box-shadow: 0px 0px 40px #cccccc inset; }
