.tagStream {
  width: 656px;
  margin: 0 0 12px 0;
  padding: 12px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); }
  .tagStream .stream {
    background: black;
    height: 100px;
    z-index: 333; }
    .tagStream .stream .moodIcon, .tagStream .stream .moodIcon-picker, .tagStream .stream .currentIcon {
      float: right;
      border-radius: 16px;
      -moz-border-radius: 16px;
      -webkit-border-radius: 16px;
      z-index: 800; }
    .tagStream .stream .currentIcon, .tagStream .stream .moodIcon {
      width: 64px;
      height: 50px;
      padding: 7px 0;
      background: white;
      text-align: center;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
      background: -moz-linear-gradient(top, white, #d7d7d7); }
    .tagStream .stream .moodIcon {
      margin: 17px 17px 0 0; }
    .tagStream .stream .moodIcon-picker {
      position: absolute;
      top: 5px;
      left: 321px;
      padding: 12px;
      height: auto;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
      background: -moz-linear-gradient(top, white, #d7d7d7); }
      .tagStream .stream .moodIcon-picker #buttons {
        float: left;
        margin: 12px 0 0 4px;
        width: 58px; }
      .tagStream .stream .moodIcon-picker .cancel, .tagStream .stream .moodIcon-picker .clear, .tagStream .stream .moodIcon-picker .currentMood {
        color: black;
        text-align: center;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border: 1px solid #959595;
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
        background: -moz-linear-gradient(top, white, #d7d7d7); }
      .tagStream .stream .moodIcon-picker .cancel, .tagStream .stream .moodIcon-picker .clear {
        margin: 0 0 4px;
        padding: 0 4px;
        width: 48px;
        height: 14px;
        line-height: 14px;
        font-size: 11px;
        cursor: pointer; }
      .tagStream .stream .moodIcon-picker .currentMood {
        float: left;
        margin: 12px 0 0 24px;
        padding: 0 8px;
        width: 112px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px; }
      .tagStream .stream .moodIcon-picker .currentIcon {
        margin: 0 0 10px;
        box-shadow: 0 0 12px black;
        -moz-box-shadow: 0 0 12px black;
        -webkit-box-shadow: 0 0 12px black; }
      .tagStream .stream .moodIcon-picker .moodIcon-list {
        clear: both;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 306px; }
        .tagStream .stream .moodIcon-picker .moodIcon-list li {
          float: left;
          margin: 5px;
          padding: 10px 0;
          width: 90px;
          height: 70px;
          text-align: center;
          cursor: pointer;
          border: 1px solid #959595;
          border-radius: 16px;
          -moz-border-radius: 16px;
          -webkit-border-radius: 16px;
          background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
          background: -moz-linear-gradient(top, white, #d7d7d7); }
          .tagStream .stream .moodIcon-picker .moodIcon-list li p {
            margin: 0;
            color: #959595; }

.tagChat {
  padding: 4px;
  left: 0;
  position: absolute;
  top: 50px;
  z-index: 333;
  width: 360px; }
  .tagChat .arrow {
    position: absolute;
    top: -10px;
    left: 180px; }
  .tagChat .description {
    padding: 8px;
    margin-bottom: 4px;
    color: #4c4c4c !important;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px; }
  .tagChat .postInfo {
    padding: 4px; }
  .tagChat .avatar, .tagChat .name, .tagChat .time, .tagChat .comment, .tagChat input {
    float: left; }
  .tagChat .avatar {
    width: 20px;
    height: 20px; }
  .tagChat .name {
    background-color: #cecece;
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    height: 16px;
    padding: 2px 4px;
    margin-left: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  .tagChat .time {
    color: #a1a1a1;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    height: 20px;
    line-height: 20px; }
  .tagChat .shared {
    float: right;
    margin: 4px 4px 0 0; }
  .tagChat .chat {
    padding: 4px;
    margin-top: 4px;
    background: none repeat scroll 0% 0% white; }
    .tagChat .chat .userComment {
      height: 26px;
      padding: 4px; }
    .tagChat .chat .comment {
      color: #4c4c4c;
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
      height: 20px;
      line-height: 20px; }
    .tagChat .chat .input {
      padding: 4px;
      height: 24px; }
      .tagChat .chat .input img {
        float: right;
        margin: 6px; }
      .tagChat .chat .input input {
        margin-left: 4px;
        width: 88%;
        height: 24px;
        border: 0;
        background: transparent; }

.stream {
  position: relative; }
  .stream .stream_tag:hover {
    border: 1px solid white; }
  .stream .stream_tag {
    height: 24px;
    margin: 10px 10px 0;
    padding: 0;
    cursor: pointer;
    float: left;
    border: 1px solid transparent;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
    .stream .stream_tag span {
      padding: 4px;
      float: left;
      font-size: 12px;
      font-weight: bold; }
    .stream .stream_tag .count {
      background-color: #a63700;
      color: white;
      font-size: 9px;
      display: inline-block;
      float: left;
      top: -4px;
      padding: 1px 4px;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px; }
  .stream .tagWho {
    box-shadow: inset 0px 15px 10px #404040;
    -moz-box-shadow: inset 0px 15px 10px #404040;
    -webkit-box-shadow: inset 0px 15px 10px #404040;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
    .stream .tagWho .avatar {
      width: 24px;
      height: 24px;
      overflow: hidden;
      float: left;
      background: url(/images/avatars/xavitar.jpg) no-repeat;
      border-radius-topleft: 8px;
      -moz-border-radius-topleft: 8px;
      -webkit-border-radius-topleft: 8px;
      border-radius-bottomleft: 8px;
      -moz-border-radius-bottomleft: 8px;
      -webkit-border-radius-bottomleft: 8px; }
    .stream .tagWho span {
      float: right;
      margin: 0 8px; }
