.tagStream {
  width: 656px;
  margin: 0 0 12px 0;
  padding: 12px; }
  .tagStream .stream {
    background: black;
    width: 656px;
    height: 98px;
    position: relative;
    z-index: 333; }

.tagChat {
  padding: 4px;
  left: 0;
  position: absolute;
  top: 50px;
  z-index: 333;
  width: 360px; }
  .tagChat .arrow {
    position: absolute;
    top: -10px;
    left: 180px; }
  .tagChat .description {
    padding: 8px;
    margin-bottom: 4px;
    color: #4c4c4c !important;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px; }
  .tagChat .postInfo {
    padding: 4px; }
  .tagChat .avatar, .tagChat .name, .tagChat .time, .tagChat .comment, .tagChat input {
    float: left; }
  .tagChat .avatar {
    width: 20px;
    height: 20px; }
  .tagChat .name {
    background-color: #cecece;
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    height: 16px;
    padding: 2px 4px;
    margin-left: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  .tagChat .time {
    color: #a1a1a1;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    height: 20px;
    line-height: 20px; }
  .tagChat .shared {
    float: right;
    margin: 4px 4px 0 0; }
  .tagChat .chat {
    padding: 4px;
    margin-top: 4px;
    background: none repeat scroll 0% 0% white; }
    .tagChat .chat .userComment {
      height: 26px;
      padding: 4px; }
    .tagChat .chat .comment {
      color: #4c4c4c;
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
      height: 20px;
      line-height: 20px; }
    .tagChat .chat .input {
      padding: 4px;
      height: 24px; }
      .tagChat .chat .input img {
        float: right;
        margin: 6px; }
      .tagChat .chat .input input {
        margin-left: 4px;
        width: 88%;
        height: 24px;
        border: 0;
        background: transparent; }

.stream-node {
  position: absolute;
  min-height: 15px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  left: -200px;
  float: left; }
  .stream-node span {
    padding: 5px;
    display: block;
    font-size: 12px;
    font-weight: bold; }

.stream-count {
  background-color: #a63700;
  color: white;
  font-size: 9px;
  display: inline-block;
  position: relative;
  top: -5px;
  padding: 1px 4px; }

.stream-node-user {
  padding: 0px !important;
  margin: 10px;
  height: 24px !important; }
  .stream-node-user span {
    float: left;
    padding: 4px !important; }

.stream-avatar {
  width: 24px;
  height: 24px;
  overflow: hidden;
  float: left; }
