<% for(var i = 0; i < bedsheets.length; i++){ %>
	<li class='bedsheet' data-id="<%= bedsheets[i] %>">
	  <img src='/images/uploads/<%= bedsheets[i] %>-thumb-120.jpg' width="120" height="120">
	</li>
<% } %>