// STARLIGHT BURST
#starlightBurstGlow.hidden
  %img.starlight{src: '/images/icons/starlightBurst-65.png', width: '65', height: '65'}

  #starlightBurst
    %h2 starlight burst
    %h3 Bursting will give your starlight to the selected entry:

    .burstInfo
      %p The Divine Enlightenment!!!!!!
      .tagWho
        .avatar
        %span xavi

    .myStarlight
      %input.count{type: 'text', value: '45,253'}
      %h1 My Starlight

    .burstWrap
      %span +
      .count 45, 253
      .burstGlow
        %input.burst{type: 'submit', value: 'burst'}



    