.dreamstarsMiniWrap
  %a{href: dreamstars_path}
    %img.logo{src: '/images/logos/dreamstars-182.png', width: '182', height: '50'}
    %span view all &rsaquo;
  .dreamstarsMini
    - User.dreamstars.limit(5).each_with_index do |user, index|
      - rank = index + 1
      %div{class: "dreamstar-#{rank}"}
        .badge
        .rank= rank
        .name= user.username
      .clear
