/ FOLLOW
:coffeescript
  $(document).ready ->
    $('.item')
      .hover( -> 
        $('#followState').addClass('hidden')
        $('#unfollow').removeClass('hidden')
      , ->
        $('#unfollow').addClass('hidden')
        $('#followState').removeClass('hidden')
    ).click(->
      
    )

.item
  #followState
    .label.bevel.round-12.flat-right you are
    .image
      = friend_icon_tag( relationship, 24, {class: 'follow'} )
    .detail.inner-shadow-10.round-12.flat-left= relationship.to_s.humanize.downcase
    .clear-both

  %a#unfollow.block.round-12.hidden{href: '#'}
    / XXX: This icon does not exist.
    %img.follow{src: "/images/icons/friend-unfollow-24.png", width: '24', height: '24'}
    = follow_action( relationship )
