/ FOLLOW
:coffeescript
  $(document).ready ->
    $('#contextPanel .item')
      .hover( -> 
        $('.relation').addClass('hidden')
        $('.changeRelation').removeClass('hidden')
      , ->
        $('.changeRelation').addClass('hidden')
        $('.relation').removeClass('hidden')
    )

.item
  .relation.bevel.round-12.flat-top
    .image
      = friend_icon_tag( relationship, 24, {class: 'following'} )
    = relationship.to_s.humanize.downcase


  %a.changeRelation.unfollow.block.round-12.flat-top.hidden{href: unfollow_path(user.username)}
    .image
      = friend_icon_tag( :unfollow, 24, {class: 'unfollow'} )
    = follow_action( relationship )
