/ FRIEND'S LIST
.userNode{:userId => friend.id, :relationshipWith => current_user.relationship_with(friend)}

  .status{:class => current_user.relationship_with(friend)}
  .statusHover.bevel.button.round-4.hidden
    %span unfollow


  .avatar.button.round-4

  .userInfo
    %h3= friend.name
    %p Oakland, CA
    %p.mutual
      - mutual_followers = (user.followers & friend.followers).count
      = pluralize(mutual_followers, "mutual follower")

  .backdrop.bevel.round-8

  .panel.round-8
    .expanded.inner-shadow-10.round-8.hidden
      .item
        .label.bevel.round-12.flat-right dreams
        .image
          %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right starlight
        .image
          %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
      .item
        .label.bevel.round-12.flat-right friends
        .image
          %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
        .detail.inner-shadow-10.round-12.flat-left #
        .clear-both
        