- content_for :head do
  = coffeescript_include_tag 'metamenu'

%script{:type => "text/javascript", src: "/steal/steal.js?dreamcatcher,development"}

/ PRELOAD - METAMENU USER & PUBLIC
.hidden
  / SHUFFLE
  %img{src: '/images/icons/shuffle-24-hover.png'}
  %img{src: '/images/icons/shuffle-24-active.png'}
  / LOGOUT
  %img{src: '/images/icons/login-24-hover.png'}
  %img{src: '/images/icons/login-24-active.png'}
  %img{src: '/images/icons/logout-24-hover.png'}
  %img{src: '/images/icons/logout-24-active.png'}
  / LOADERS
  %img{src: '/images/icons/spinner-light-32.gif'}
  %img{src: '/images/icons/spinner-dark-32.gif'}




#report_box= VERSION

%a#logo{href: root_path }
  %img{src: '/images/logos/dreamcatcher_logo-THETA.png', alt: 'Dreamcatcher', border: '0'}



- if current_user.blank?
  / META MENU - PUBLIC
  = render :partial => "users/meta_menu_public"

- else
  / META MENU - USER
  = render :partial => "users/meta_menu_user"