:coffeescript
  require(['/javascripts/compiled/dreamplugs.js', '/javascripts/compiled/metamenu.js'])


#report_box= VERSION

- if home
  / DREAMCATCHER LOGO
  %a.dcLogo{href: root_path}
    %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

- else
  %a#logo{href: root_path }
    %img{src: '/images/logos/dreamcatcher_logo-THETA.png', alt: 'Dreamcatcher', border: '0'}



- if current_user.blank?
  / META MENU - PUBLIC
  = render :partial => "users/meta_menu_public"

- else
  / META MENU - USER
  = render :partial => "users/meta_menu_user"