- content_for :head do
  = sass_link_tag 'admin'

#entryField


  .user.panel
    .img
    %h1 users
    .total
      8,514,987

    .module.newUsers
      %h2 new users

      %a.userNode{href: "/admin"}
        kneewalker_supreme-commander-of-space-time
        .postCount
          54
      %a.userNode{href: "/admin"}
        phong
        .postCount
          154
      %a.userNode{href: "/admin"}
        iotus
        .postCount
          110
      %a.userNode{href: "/admin"}
        placebo
        .postCount
          98

      .clear






    .module.allUsers
      .img
      %h2 user list




  .entries.panel
    .img
    %h1 entries
    .total
      32,514,987

    .module.activeUsers
      %h2 most active users

    .module.seedCodes
      %h2 seed codes

    .module.sharing
      %h2 sharing