#loginPage

  .navigation
    %a.button{href: login_path}
      login
    %a.button{href: join_path}
      join now
    %a.button.selected{href: forgot_password_path}
      forgot password
    .clear

  %br

  .forgot
    = form_for('user', {url: user_session_path}) do |f|
      %h1 forgot your dreamcatcher password?
      .body
        <br><b>A)</b> enter your email address, submit, then check your email
        <br><b>B)</b> if it doesn't show up, check your spam box
        <br><b>C)</b> if problems still persist, email <a href="mailto:help@dreamcatcher.net">help@dreamcatcher.net</a>
      = f.text_field :email, :placeholder => "email"
      %input.prompt{tabindex: '3', name: 'loginButton', type: 'submit', value: 'next &rsaquo;'}
