
/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}



#forgotPage

  .joinInfo
    %h1 Forgot Password

    .join
      %a{href: join_path} join now

    .login
      %a{href: login_path} login

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .forgotForm
        = form_tag forgot_password_path do
          %h1 forgot your dreamcatcher password?
          .body
            <br><b>A)</b> enter your email address, submit, then check your email
            <br><b>B)</b> if it doesn't show up, check your spam box
            <br><b>C)</b> if problems still persist, email <a href="mailto:help@dreamcatcher.net">help@dreamcatcher.net</a>
          = text_field_tag :email, '', :id => "user_email", :placeholder => "type your email"
          %input.prompt{tabindex: '3', name: 'loginButton', type: 'submit', value: 'next ›'}
