- content_for :head do
  = sass_link_tag 'join'

/ DREAMCATCHER LOGO
%a.dcLogo{href: '/'}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

#forgotPage

  .joinInfo
    %h1 Forgot Password

    .forgotWrap
      %a.forgot{href: '#'} forgot password

    .loginWrap
      %a.login{href: '#'} login

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .forgotForm
        = form_for('user', {url: user_session_path}) do |f|
          %h1 forgot your dreamcatcher password?
          .body
            <br><b>A)</b> enter your email address, submit, then check your email
            <br><b>B)</b> if it doesn't show up, check your spam box
            <br><b>C)</b> if problems still persist, email <a href="mailto:help@dreamcatcher.net">help@dreamcatcher.net</a>
          = f.text_field :email, :placeholder => "email"
          %input.prompt{tabindex: '3', name: 'loginButton', type: 'submit', value: 'next &rsaquo;'}
