- content_for :head do
  = sass_link_tag 'context_panel', 'friends_list'
- content_for :foot do
  = coffeescript_include_tag 'modal', 'follow_hover'
  =# javascript_include_tag 'friendslist'


/ CONTEXT PANEL
= render :partial => "context_panel", :locals => {:user => @user}

/ USER FIELD
#friendField

  / USER LIST
  = render :partial => 'friend', :collection => @friends, :locals => {user: @user}
