- content_for :head do
  = sass_link_tag 'friends'
  = coffeescript_include_tag 'follow_hover', 'modal'


/ CONTEXT PANEL
= render :partial => "context_panel", :locals => {:user => @user}

/ USER FIELD
#friendField{"data-id" => 100}

  / PAGE HEADER
  / .pageHeader.friendHeader
  /   /.followHeader.followerHeader
  /   .img.hidden
  /   %h1= @mode
  / .clear

  / USER LIST
  = render :partial => 'friend', :collection => @friends, :locals => {user: @user}
