- content_for :head do
  = include_javascripts 'friends'


/ CONTEXT PANEL
= render :partial => "context_panel", :locals => {:user => @user}

/ USER FIELD
#friendField{"data-id" => 100}

  / PAGE HEADER

  .pageHeader
    .img{class: @mode}
    %h1= @mode
  .clear


  / USER LIST
  = render :partial => 'friend', :collection => @friends, :locals => {user: @user}
