- content_for :head do
  = sass_link_tag 'friends'
  = coffeescript_include_tag 'follow_hover', 'modal'


/ CONTEXT PANEL
= render :partial => "context_panel", :locals => {:user => @user}

/ USER FIELD
#friendField

  / PAGE HEADER
  .pageHeader.friendHeader
    /.followHeader.followerHeader
    .img
    %h1 friends
  .clear

  / USER LIST
  = render :partial => 'friend', :collection => @friends, :locals => {user: @user}
