
/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}



#loginPage

  .joinInfo
    %h1 login

    .forgot
      %a{href: forgot_password_path} forgot password

    .join
      %a{href: join_path} join now

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .loginForm
        = form_for('user', {url: user_session_path}) do |f|
          %span.label username
          = f.text_field :username, tabindex: '1', class: 'inputField'
          .clear
          %span.label password
          = f.password_field :password, tabindex: '2', class: 'inputField'
          .clear

          %label.stay
            Stay logged in
            %input{tabindex: '4', type: 'checkbox', name: 'remember_me'}


          .submit
            .text
              .img
              %span login
              %input.button{tabindex: '3', type: 'submit', name: 'loginButton', value: 'log in &rsaquo;'}

          %a.fb_login{href: '/auth/facebook'}
            .img
            .fbText login with your facebook account

      .clear