#loginPage

  .navigation
    .button.selected
      login
    .button
      signup
    .button
      forgot password
    .clear

  %br

  .login
    = form_for('user', {url: user_session_path}) do |f|
      = f.text_field(:username, {tabindex: '1', placeholder: 'username'})
      = f.password_field(:password, {tabindex: '2', placeholder: 'password'})
      %input.prompt{tabindex: '3', name: 'loginButton', type: 'submit', value: 'log in &rsaquo;'}
