/ CONTEXT PANEL
#contextPanel.transparent-50.glow-40.round-16

  / IMAGE
  %a#image.round-12{href: "/", style: "background:url(/images/avatars/default-avatar-full.jpg) top left", onMouseOver: "$('#uploadAvatarWrap').removeClass('hidden')", onMouseOut: "$('#uploadAvatarWrap').addClass('hidden')"}
    #uploadAvatarWrap.hidden{onMouseOver: "$('#uploadAvatar').addClass('hover')", onMouseOut: "$('#uploadAvatar').removeClass('hover')"}
      #uploadAvatar.round-8
        <span>+</span> upload new avatar

  / LABEL
  %a#label.shine.button.round-12{href: '/'}
    = user.username
    / if friend or follower
    - if true 
      %img.follower{src: "/images/icons/friend-16.png", width: '16', height: '16'}
    /  %img.follower{src: "/images/icons/friend-follow-16.png", width: '16', height: '16'}

  / FOLLOW
  - unless user == current_user
    - if true
      /= render partial: 'shared/follow'
      = render partial: 'shared/following', locals: {icon: 'friend', text: 'friends'}
      /= render partial: 'shared/following', locals: {icon: 'friend-follow', text: 'following'}

  
  / CONTEXT ITEMS
  .item
    .label.bevel.round-12.flat-right dreams
    .image
      %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
    .detail.inner-shadow-10.round-12.flat-left #
    .clear-both
  .item
    .label.bevel.round-12.flat-right starlight
    .image
      %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
    .detail.inner-shadow-10.round-12.flat-left #
    .clear-both

  .item.pointer
    .label.bevel.round-12.flat-right friends
    .image
      %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
    .detail.inner-shadow-10.round-12.flat-left #
    .clear-both
  .expander.hidden
    .item
      .label.bevel.round-12.flat-right following
      .image
        %img.follow{src: '/images/icons/friend-follow-32.png', width: '32', height: '32'}
      .detail.inner-shadow-10.round-12.flat-left #
      .clear-both
    .item
      .label.bevel.round-12.flat-right followers
      .image
        %img.follow{src: '/images/icons/friend-follower-32.png', width: '32', height: '32'}
      .detail.inner-shadow-10.round-12.flat-left #
      .clear-both

  /
    .item2
      .label.bevel.round-12.flat-right example
      .detail.inner-shadow-10.round-12.flat-left #
      .clear-both

    .divider.transparent-33.round-4

  / SOCIAL NETWORK LINKS
/  #contextBottom.light.B-indent.round-12.padding-8.flat-top.clear-both.align-center
/    %a#sn-facebook.sn_link{href: '#', target: '_blank'} facebook
/    %a#sn-twitter.sn_link{href: '#', target: '_blank'} twitter
/    .clear-both
