/ CONTEXT PANEL
#contextPanel.light.transparent-50.glow-40.round-16.padding-6

  / IMAGE
  %a#image.block.round-12{href: '/', style: 'background:url(/images/avatars/default-avatar-full.jpg) top left'}

  / LABEL
  %a#label.block.light.O-button.O-shine.round-12{href: '/'}
    = user.username

  / FOLLOW THIS
  / %a#follow.block.light.O.B-shine.round-12.button-post.align-center.font-bold.padding-8{href: '#'} follow
  - unless user == current_user
    - if true
      = render partial: 'shared/friend'
  
  / CONTEXT ITEMS
  .item
    .label.light.B-bevel.round-12.flat-right dreams
    .image
      %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
    .detail.light.O.round-12.flat-left 247
    .clear-both
  .item
    .label.light.B-bevel.round-12.flat-right starlight
    .image
      %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
    .detail.light.O.round-12.flat-left 376
    .clear-both

  .divider.light.transparent-33.round-4

  .item2
    .label.light.B-bevel.round-12.flat-right followers
    .detail.light.O.round-12.flat-left 1,250
    .clear-both
  .item2
    .label.light.B-bevel.round-12.flat-right friends
    .detail.light.O.round-12.flat-left 250
    .clear-both
  .item2
    .label.light.B-bevel.round-12.flat-right following
    .detail.light.O.round-12.flat-left 333
    .clear-both

  / SOCIAL NETWORK LINKS
/  #contextBottom.light.B-indent.round-12.padding-8.flat-top.clear-both.align-center
/    %a#sn-facebook.sn_link{href: '#', target: '_blank'} facebook
/    %a#sn-twitter.sn_link{href: '#', target: '_blank'} twitter
/    .clear-both
