/ CONTEXT PANEL
#contextPanel.dark.transparent-50.glow-40.round-16.margin-8.padding-6

  / IMAGE
  %a#contextImage.block.round-12{href: '#', style: 'background:url(http://www.dreamcatcher.net/basic/inc/images/user/avatar/5/avatar_avatar_avatar_Geopha.jpg) top left'}

  / LABEL
  #contextLabelWrapper.dark.B-bevel.round-12.flat-bottom.padding-4
    %a#contextLabel.block.dark.O-button.O-shine.round-8.flat-bottom.pointer.padding-8.font-bold.align-center{href: '#'}
      context label

  / FOLLOW THIS
  #followThis.dark.O.B-shine.round-8.button-post.align-center.font-bold.padding-8 follow

  / CONTEXT ITEMS
  .contextItem
    .contextItem-label.dark.B-shine.round-8.flat-right location
    .contextItem-image.dark.transparent-50.round-8.flat-all
      %img{src: 'http://www.dreamcatcher.net/basic/inc/images/icons/globe-32.png', width: '32', height: '32'}
    .contextItem-detail.dark.B-indent.round-8.flat-left A large country name
    .clear-both
  .contextItem
    .contextItem-label.dark.B-shine.round-8.flat-right dreams
    .contextItem-image.dark.transparent-50.round-8.flat-all
      %img{src: 'http://www.dreamcatcher.net/basic/inc/images/icons/dream_cloud-32B.png', width: '32', height: '32'}
    .contextItem-detail.dark.B-indent.round-8.flat-left 86
    .clear-both
  .contextItem
    .contextItem-label.dark.B-shine.round-8.flat-right followers
    .contextItem-image.dark.transparent-50.round-8.flat-all
      %img{src: 'http://www.dreamcatcher.net/basic/inc/images/icons/dream_cloud-32B.png', width: '32', height: '32'}
    .contextItem-detail.dark.B-indent.round-8.flat-left 376
    .clear-both

  / SOCIAL NETWORK LINKS
  #contextBottom.dark.B-indent.round-12.padding-8.flat-top.clear-both.align-center
    %a#sn-facebook.sn_link{href: '#', target: '_blank'} facebook
    %a#sn-twitter.sn_link{href: '#', target: '_blank'} twitter
    .clear-both
