
/ FOLLOW
%a#follow.block.light.O.B-shine.round-12.button-post.align-center.font-bold.padding-8{href: '#'}
  %img.follow{src: "/images/icons/friend-follow-24.png", width: '24', height: '24'}
  follow
