
/ FOLLOW THIS
.item
  .label.light.B-bevel.round-12.flat-right you are
  .image
    %img.dream{src: "/images/icons/#{icon}-32.png", width: '32', height: '27'}
  .detail.light.O.round-12.flat-left= text
  .clear-both
