<!-- FB LOGIN PANEL -->
<div id="fbSignin">
  <div class="button-signup button-action round-8 dark text-glow-10 button-big-blue float-left" style="width:360px">
    <span class="block round-8 dark glow-20" style="background: url(/images/icons/facebook-64.png) no-repeat top left; width:64px; height:64px; margin:10px 15px -17px 0; float:left"></span>
    login
  </div>
  <div id="fbSigninBack" class="categoryBack dark round-8 button-big-gray float-right">&lsaquo;</div>
  <div class="clear-both"></div>
  <form method="post" action="/login">
    <input type="hidden" name="loginMode" value="authenticate">
    <input type="hidden" name="fbAssociate" value="true">
    <span class="block font-25 panel-text">already have a dreamcatcher account?</span>
    <span class="block font-13 panel-text" style="margin-bottom:6px">log in with your dreamcatcher account to link with Facebook</span>
      <!-- USERNAME -->
    <div class="signup-label round-8 light O-outline B-bevel flat-right">username</div>
    <input class="signup-input round-8 text_input-big flat-left" type="text" name="emailUserName" value="<%= @email %>">
    <!-- PASSWORD -->
    <div class="signup-label round-8 light O-outline B-bevel flat-right">password</div>
    <input class="signup-input round-8 text_input-big flat-left" style="margin-bottom:10px" type="password" name="passWord">
    <span id="fbJoin" class="block clear-both font-13 pointer align-center" style="margin: 5px auto 5px;">don't have a dreamcatcher account? <u>Create one now...</u></span>
    <div class="fb-infoPanel light B O-outline round-8">
      <div id="fbSignIn"><fb:login-button perms="<%= FB_PERMS %>" show-faces="true" width="178px"></fb:login-button></div>
    </div>
    <input class="signup-next dark round-8 button-big-blue" type="submit" value="next &rsaquo;">
    <div class="clear-both font-11 align-center">review the <a href="/terms" class="terms-link dark B-button B-outline round-4">terms and services</a></div>
  </form>
</div>
<!-- END FB LOGIN PANEL -->
