/ FORGOT PASS PANEL
#forgotPass{style: 'display:none'}
  .button-share.button-action.round-8.light.text-glow-10.button-big-blue.float-left{style: 'width: 360px'} Lost password
  #forgotPassBack.categoryBack.dark.round-8.button-big-gray.float-right &lsaquo;
  .clear-both
  %form{method: 'post', action: '/forgot-password/reset'}
    %input{type: 'hidden', name: 'mode', value: 'reset'}
    %span.block.font-25.panel-text forgot your dreamcatcher password?
    %span.light.block.font-13.panel-text{style: 'margin-bottom: 7px'}
      <b>A)</b> enter your <b>email</b> address, submit, then check your email
      %br
      <b>B)</b> if it doesn't show up, check your spam box
      %br
      <b>C)</b> if problems still persist, email 
      %a.terms-link.dark.B-button.B-outline.round-4{href: 'mailto:help@dreamcatcher.net'}help@dreamcatcher.net

    / EMAIL
    .signup-label.round-8.light.O-outline.B-bevel.flat-right
      email
    %input.signup-input.round-8.text_input-big.flat-left{style: 'margin-bottom: 15px', type: 'text', name: 'email'}
    %br
    %input.signup-next.dark.round-8.button-big-blue{type: 'submit', value: 'next &rsaquo;'}
