<!-- FORGOT PASS PANEL -->
<div id="forgotPass" style="display:none;">
  <div class="button-share button-action round-8 light text-glow-10 button-big-blue float-left" style="width:360px">Lost password</div>
  <div id="forgotPassBack" class="categoryBack dark round-8 button-big-gray float-right">&lsaquo;</div>
  <div class="clear-both"></div>
  <form method="post" action="/forgot-password/reset">
    <input type="hidden" name="mode" value="reset">
    <span class="block font-25 panel-text">forgot your dreamcatcher password?</span>
    <span class="light block font-13 panel-text" style="margin-bottom:7px">
      <b>A)</b> enter your <b>email</b> address, submit, then check your email<br>
      <b>B)</b> if it doesn't show up, check your spam box<br>
      <b>C)</b> if problems still persist, email <a href="mailto:help@dreamcatcher.net" class="terms-link dark B-button B-outline round-4">help@dreamcatcher.net</a>
    </span>
    <!-- EMAIL -->
    <div class="signup-label round-8 light O-outline B-bevel flat-right">email</div>
    <input class="signup-input round-8 text_input-big flat-left" style="margin-bottom:15px" type="text" name="email">
    <br>
    <input class="signup-next dark round-8 button-big-blue" type="submit" value="next &rsaquo;">
  </form>
</div>
<!-- END FORGOT PASS PANEL -->
