/ INFO MODULE
#info.color-blue

  / WHAT IS DREAMCATCHER
  #info-box.info-text{style: 'display: block;'}
    %table.font-19
      %tr
        %td{width: '1'}
          %img{src: '/images/icons/cover_icon-connected-100.png'}
        %td{valign: 'middle'} Dreamcatcher uses the power of online social networks to connect our dreams.
      %tr
        %td
          %img{src: '/images/icons/cover_icon-friends-100.png'}
        %td{valign: 'middle'} Who was in my dream?<br>Whose dream am I in?<br>What is the world dreaming?
      %tr
        %td
          %img{src: '/images/icons/cover_icon-earth-100.png'}
        %td{valign: 'middle'} Start sharing and find out with the world's most advanced dream journal.

  / ABOUT
  #about-box.info-text.hidden
    #about-box-banner.round-8
    <p>Dreamcatcher is a digital journaling and social life-sharing service that lets you 'catch' your dreams and most cherished life experiences, and keep them neatly organized and easy to share.</p>
    <p>Our aim is to build a forum to catalog and share a deeper part of ourselves and our creative journeys throughout life.</p>
    <p>From a global perspective, Dreamcatcher is a social experiment that will help us better understand what is going on in our conscious and subconscious lives, charting global dream trends and see how they relate to the larger pattern and current events.</p>

  / NAV
  #infoNav.align-center
    %a#whatisdc.info-button.selected.dark{href: '#'} What is Dreamcatcher?
    %a#aboutdc.info-button.dark{href: '#'} About

