/ SHARE YOUR DREAMS PANEL
#shareBack.categoryBack.dark.round-8.button-big-gray.float-right &lsaquo;
#shareButton.button-share.button-action.round-8.light.text-glow-10.button-big-blue Share your Dreams
#sharePanel
  %table{border: '0', cellspacing: '5', cellpadding: '0', width: '100%'}
    %tr
      %td{style: 'padding: 0px', align: 'left', colspan: '3'}
        %span.font-25.panel-text Signup for Dreamcatcher and get :
    %tr
      %td{align: 'right', valign: 'middle'}
        %img{src: '/images/signup/icon-journal.png'}
      %td{width: '100%'}
        <b>...a free online diary</b>
        %ul
          %li Customize your own dream journal
          %li Track trends in your dreams and experiences
          %li Increase your dream recall and lucid dreaming
    %tr
      %td{align: 'right', valign: 'middle'}
        %img{src: '/images/signup/icon-feeds.png'}
      %td
        <b>up to the moment dream feeds</b><br>
        %ul
          %li See what all your friends are dreaming
          %li Filter the dreams of people around you or in distant places
    %tr
      %td{align: 'right', valign: 'middle'}
        %img{src: '/images/signup/icon-mask.png'}
      %td
        <b>...full anonymity controls</b><br>
        %ul
          %li Set who sees what dreams with precise privacy controls
          %li Make all dreams and info anonymous or private
    %tr
      %td{align: 'right', valign: 'middle'}
        %img{src: '/images/signup/icon-globe.png'}
      %td
        <b>...connected to a world-wide network of dreamers</b><br>
        %ul
          %li Find people who have similar interests and dreams
          %li Tune into your friends' experiences
