<!-- SHARE YOUR DREAMS PANEL -->
<div id="shareBack" class="categoryBack dark round-8 button-big-gray float-right">&lsaquo;</div>
<div id="shareButton" class="button-share button-action round-8 light text-glow-10 button-big-blue">Share your Dreams</div>
<div id="sharePanel">
  <table border="0" cellspacing="5" cellpadding="0" width="100%">
    <tr>
      <td style="padding:0px" align="left" colspan="3"><span class="font-25 panel-text">Signup for Dreamcatcher and get :</span></td>
    </tr>
    <tr>
      <td align="right" valign="middle"> <img src="/images/signup/icon-journal.png"></td>
      <td width="100%">
        <b>...a free online diary</b>
        <ul>
          <li>Customize your own dream journal</li>
          <li>Track trends in your dreams and experiences</li>
          <li>Increase your dream recall and lucid dreaming</li>
        </ul>
      </td>
    </tr>
    <!-- <tr>
      <td align="right" valign="middle"> <img src="/images/signup/icon-feeds.png"></td>
      <td class="padding-8 round-8 font-17 light B box-pad">
        <b>up to the moment dream feeds</b><br>
        <ul>
          <li>See what all your friends are dreaming</li>
          <li>Filter the dreams of people around you or in distant places</li>
        </ul>
      </td>
    </tr> -->
    <tr>
      <td align="right" valign="middle"> <img src="/images/signup/icon-mask.png"></td>
      <td>		
        <b>...full anonymity controls</b><br>
        <ul>
          <li>Set who sees what dreams with precise privacy controls</li>
          <li>Make all dreams and info anonymous or private</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td align="right" valign="middle"> <img src="/images/signup/icon-globe.png"></td>
      <td>		
        <b>...connected to a world-wide network of dreamers</b><br>
        <ul>
          <li>Find people who have similar interests and dreams</li>
          <li>Tune into your friends' experiences</li>
        </ul>
      </td>
    </tr>
  </table>     
</div><!-- END SHARE YOUR DREAMS PANEL -->
