<!-- SIGNUP PANEL -->
<div id="signupBack" class="categoryBack dark round-8 button-big-gray float-right">&lsaquo;</div>
<div id="signupButton" class="button-signup button-action round-8 dark text-glow-10 button-big-blue" style="position: relative;">Join Now
  <div id="fbHover" class="dark glow-40 round-4 float-right" style="position: absolute; right: 15pt; top: 29px"><div class="dark transparent-33 round-4 padding-4"><fb:login-button show-faces="false" max-rows="1" perms="<%= FB_PERMS %>" show-faces="true" width="178px"></fb:login-button></div></div>
</div>
<div id="signup">
  <form method="post" action="/signup/save">
    <input type="hidden" name="subMode" value="save">
    <input type="hidden" name="charSetCheck" value="䙮"> <!-- current failing if corrpted in view source -->
    <!-- EMAIL -->
    <div class="signup-label round-8 light O-outline B-bevel flat-right">email</div>
    <input id="signupEmail" class="signup-input round-8 text_input-big flat-left" type="text" name="email">
    <!-- PASSWORD -->
    <div class="signup-label round-8 light O-outline B-bevel flat-right">password</div>
    <input class="signup-input round-8 text_input-big flat-left" type="password" name="passWord1">
    <!-- CONFIRM PASSWORD -->
    <div class="signup-label round-8 light O-outline B-bevel flat-right">confirm password</div>
    <input class="signup-input round-8 text_input-big flat-left" type="password" name="passWord2">
    <p class="float-left clear-left" style="margin:10px 0 0 15px; font-size:25px">create your username</p>
    <hr width="200" class="float-right hidden" style="margin:28px 8px 0 0;"> 
    <div style="clear:both"></div>
    <!-- USERNAME -->
    <div class="signup-label round-8 light O-outline B-bevel flat-right">dreamcatcher.net/</div>
    <input id="signupUsername" class="signup-input round-8 text_input-big flat-left" style="margin-bottom:15px" type="text" name="userName" value="username">
    <!-- FB LOGIN -->
    <div class="fb-infoPanel light B O-outline round-8">
      <div id="fbSignIn"><div id="fbSignInLabel" class="font-11" style="margin:15px 0 5px; display:block;">Sign up using your Facebook account</div><fb:login-button max-rows="1" perms="<%= FB_PERMS %>" show-faces="true" width="178px"></fb:login-button></div>
    </div>
    <!-- SUBMIT -->
    <input type="hidden" name="seedCode" value="theta">
    <input type="submit" class="signup-next dark round-8 button-big-blue" value="next &rsaquo;">
    <div class="clear-both font-11 align-center">
      By signing up for an account, I agree to the <a href="/terms" class="terms-link dark B-button B-outline round-4">terms and services</a>
    </div>
  </form>
</div><!-- END SIGNUP PANEL -->
