
#leftColumn
  .welcomeWrap.hidden
    .dreamstar
    %h1 All things upon this earth pass, and from every dream we must one day wake.
    .welcome
      %p.one Dreamcatcher was truly a beautiful vision.  At its height, we were convinced we would change the world, alter the pitch of society, however slightly, that much more towards consciousness.  Value the inner worlds.  We had grand dreams of linking together geotagged dreams around the world, searchable by tag, flying virtually around the world seeing memes spread as flashing pinpoints of light.
      %p.two Sadly, politics and money stepped
      %p.three When one of the founders later spoke to a First Nations elder, she laughed and said, "Don't you know?  The Dreamcatcher is to catch the _bad_ dreams."
      %p.four Farewell, we wish you well.
      %br

      = link_to thank_you_path, remote: true, class: 'thankyou' do
        .img
        %span ok

