%a.dcLogo

#leftColumn
  .welcomeWrap
    .dreamstar
    %h1 Farewell
    .welcome
      %p All things upon this earth pass, and from every dream we must one day wake.
      %p.one Dreamcatcher was truly a beautiful vision.  At its height, we were convinced we would change the world, alter the pitch of society to begin to value the inner worlds, and to begin to connect seemingly disparate individuals through mutual appreciation of the richness of the inner landscape.
      %p.two In this, we did have some success, as we hope your own experience can attest.  However,  a venue for sharing one's innermost experiences does not harmonize with a for-profit corporate structure, the usual "internet startup" structure imposed.
      %p.three The native grandmother laughed and said, "You know, we use the Dreamcatcher to catch the <i>bad</i> dreams..."
      %p.four Farewell, we wish you well.  Sweet dreams.
      %br

      = link_to thank_you_path, remote: true, class: 'thankyou' do
        .img
        %span download

  #publicStreamGlow
    #publicStream
      .today We love you
      .matrix
        = image_tag "art/dream-eyes-banner.jpg"
