- content_for :head do
  = sass_link_tag 'feedback'
  = javascript_include_tag 'feedback', 'autoresize.jquery.min'

:coffeescript
  # require({baseUrl: "/javascripts"}, ['feedback', 'autoresize.jquery.min.js'])

= render :partial => "users/meta_menu", :locals => {:user => @user}

/ FEEDBACK PAGE
#feedbackPage
  %img.feedbackLogo{src: '/images/logos/header-feedback.png', width: '370', height: '96'}

  .wrapper

    #feedbackWrap
      .feedback

        %select#type
          %option{value: "none"} Type of feedback...
          %option{value: "bug"} Report a bug
          %option{value: "idea"} I have an idea...

        #bugType.hidden
          %select#bugOptions
            %option{value: "none"} Type of bug
            %option{value: "data not saving"} My data didn't save...
            %option{value: "browser crash"} My browser crashed when I was...
            %option{value: "confusing feature"} This feature is confusing...
            %option{value: "other"} Other...

        #details.hidden
          %textarea#detailsForm

      #submitButton.hidden
        .sendWrap
          %input{type: 'submit', name: 'save', class: 'save', value: 'send'}

