- content_for :head do
  = coffeescript_include_tag 'fit_to_content', 'feedback'

:coffeescript
  # require({baseUrl: "/javascripts"}, ['feedback', 'autoresize.jquery.min.js'])

- if current_user.blank?
  / DREAMCATCHER LOGO
  %a.dcLogo{href: root_path}
    %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}


/ FEEDBACK PAGE
#feedbackPage
  %img.feedbackLogo{src: '/images/logos/header-feedback.png', width: '370', height: '96'}

  .wrapper

    = form_tag feedback_path, id: 'feedbackWrap' do
      .feedback

        %select#type{name: 'feedback[type]'}
          %option{value: "none"} Type of feedback...
          %option{value: "bug" } Report a bug
          %option{value: "idea"} I have an idea...

        #bugType
          %select#bugOptions{name: 'feedback[bug_type]'}
            %option{value: "none"} Type of bug
            %option{value: "data not saving"} My data didn't save...
            %option{value: "browser crash"} My browser crashed when I was...
            %option{value: "confusing feature"} This feature is confusing...
            %option{value: "other"} Other...

        #details
          %textarea#detailsForm{name: 'feedback[body]'}

      #submitButton
        .sendWrap
          %input{type: 'submit', name: 'save', class: 'save', value: 'send'}

