- content_for :head do
  = sass_link_tag 'home'
  = coffeescript_include_tag 'loginpanel'

#drop_shadow

#home.light

  / META MENU
  = render "layouts/meta_menu"

  / RIGHT COLUMN
  #rightColumn

    .dreamstarsMini
      %img.logo{src: '/images/logos/dreamstars-182.png', width: '182', height: '50'}

      .dreamstar-1
        .badge
        .rank 1
        .name deepak
      .dreamstar-2
        .badge
        .rank 2
        .name deepak
      .dreamstar-3
        .badge
        .rank 3
        .name deepak
      .dreamstar-4
        .badge
        .rank 4
        .name deepak
      .dreamstar-5
        .badge
        .rank 5
        .name deepak
      .dreamstar-6
        .badge
        .rank 6
        .name deepak

  / PUBLIC STREAM
  #publicStream
    .todayFilter today
    %h1.in in
    .dreamsFilter dreams
    .randomDream
      %span random
      dream!

    
    / DREAM MATRIX
    .matrix


      / / DREAM THUMBS 1D
      - @entries.each do |entry|
        = render :partial => 'entries/thumb_1d', :locals => {:entry => entry}
      - if @entries.blank?
        .noDreams No dreams yet today.

