- content_for :head do
  = sass_link_tag 'user_info'

/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

#terms

  .joinInfo
    %h1 terms of agreement


  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .termsContent

        %h2 Entries

        %p The Dreamcatcher Web Portal provides entries to journals, comments, chat rooms, forums or otherwise (collectively, "Entry(s)"). Dreamcatcher does not control the messages, information or files delivered to Entries and has no obligation to monitor such Entries. However, Dreamcatcher reserves the right at all times to disclose any information as necessary to satisfy any law, regulation or legal request, or to edit, refuse to post or to remove any information or materials, in whole or in part, that in Dreamcatcher's sole discretion are objectionable or in violation of this Agreement.

        %p You acknowledge that you alone are responsible for the content of your Submissions and any consequences thereof. When making Submissions, it is a condition of your use that you do not:

        %ul
          %li 1. Use any submissions for any illegal purposes (or to solicit any illegal act);
          %li 2. Restrict or inhibit any other user from using and enjoying Dreamcatcher;
          %li 3. Post or transmit any unlawful, threatening, hateful, abusive, libellous, defamatory, obscene, vulgar, pornographic, profane or indecent information of any kind, including images, sounds, videos and languages;
          %li 4. Post or transmit any information, software or other material which violates or infringes upon the rights of others, including material which is an invasion of privacy or publicity rights or which is protected by copyright, trademark or other proprietary right, or derivative works with respect thereto, without first obtaining permission from the owner or right holder.
          %li 5. Solicit login information or access an account belonging to someone else;
          %li 6. Use Dreamcatcher to do anything unlawful, misleading, malicious, or discriminatory;
          %li 7. Post or transmit any information, software or other material which contains a virus, worm or other harmful component;
          %li 8. You will not bully, intimidate, or harass any user, or post any harassing messages, information or material;
          %li 9. Post, or transmit or in any way exploit any information, software or other material for commercial purposes or which contains advertising, promotion or marketing. (such as spam)
          %li 10. Do anything that could disable, overburden, or impair the proper working of Dreamcatcher, such as a denial of service attack.
          %li 11. You will not facilitate or encourage any violations of this Statement.

        %p All content submitted to the Dreamcatcher Web Portal, you acknowledge and submit the following rights to Dreamcatcher to re-purpose the content in the following formats :

        %ul
          %li 1. Re-publish with or without advertisments.

        %p When you publish content or information using the "public" setting, it means that you are allowing everyone, including un-registered users, to access and use that information, and to associate it with you (i.e., your name and profile).

        %h2 Ownership, Copyright and IP Rights.

        %ul
          %li 1. We claim no intellectual property rights over the material you provide to the Dreamcatcher Web Portal. Your profile and materials uploaded remain yours. You can remove your profile at any time by deleting your account. This will also remove any text and images you have stored in the system.
          %li 2. We encourage users to contribute their creations to the public domain or consider progressive licensing terms.


