
- if current_user.blank?
  / DREAMCATCHER LOGO
  %a.dcLogo{href: root_path}

#terms

  .joinInfo
    %h1 Terms of Service


  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .termsContent

        %p By accessing The Dreamcatcher Web Portal (“<strong>Services</strong>”) you agree to the Terms of Service (“<strong>Terms</strong>”).  The Dreamcatcher Web Portal provides entries to journals, comments, chat rooms, forums or otherwise (collectively known as "<strong>Content</strong>").  Your use of Content and Services is conditioned on your compliance with the Terms.

        %h2 Changes

        %p Dreamcatcher reserves the right to evolve and change from time to time without notifying Users.  Dreamcatcher may also change, limit, or stop Services to Users and may not be able to provide notice before this occurs.  We retain the right to change or stop Content and Services without prior notice at our sole discretion.

        %h2 Content

        %p All Content (posts, text, files, images, video, sounds, messages etc) is the sole responsibility of the person from whom the Content originated.  You understand that you alone are responsible for the Content you post and any consequences thereof.

        %p You may use Services and create Content only in compliance with these Terms and local, state, national and international laws.  The Content you submit may be seen by users of third party sites, so you should only post what you are comfortable with having be public.

        %p When making Content, it is a condition of your use of Services that you do not:

        %ul
          %li 1. Use any submissions for any illegal purposes (or to solicit any illegal act);
          %li 2. Restrict or inhibit any other user from using and enjoying Dreamcatcher;
          %li 3. Post or transmit any unlawful, threatening, hateful, abusive, libellous, defamatory, obscene, vulgar, pornographic, profane or indecent information of any kind, including images, sounds, videos and languages;
          %li 4. Post or transmit any information, software or other material which violates or infringes upon the rights of others, including material which is an invasion of privacy or publicity rights or which is protected by copyright, trademark or other proprietary right, or derivative works with respect thereto, without first obtaining permission from the owner or right holder.
          %li 5. Solicit log-in information or access an account belonging to someone else;
          %li 6. Use Dreamcatcher to do anything unlawful, misleading, malicious, or discriminatory;
          %li 7. Post or transmit any information, software or other material which contains a virus, worm or other harmful component;
          %li 8. Bully, intimidate, or harass any user, or post any harassing messages, information or material;
          %li 9. Post, or transmit or in any way exploit any information, software or other material for commercial purposes or which contains advertising, promotion or marketing. (such as spam)
          %li 10. Do anything that could disable, overburden, or impair the proper working of Dreamcatcher, such as a denial of service attack.
          %li 11. You will not facilitate or encourage any violations of this Statement.
          %li 12. You will not attempt to gain access to non-public areas of Dreamcatcher, unless you have been specifically approved to do so via a separate valid contract with Dreamcatcher.

        %h2 Disclosure

        %p Dreamcatcher reserves the right at all times to disclose any information as necessary to satisfy any law, regulation or legal request.  

        %h2 Feedback

        %p We appreciate your comments and suggestions, and must reserve the right to do with them as we see fit.  Any feedback or comments sent by you to Dreamcatcher are entirely voluntary and do not create any mandatory action by Dreamcatcher.  

        %h2 Jurisdiction

        %p Any legal action related to Dreamcatcher will be governed by the laws of the State of California, all all claims or legal proceedings shall be brought to San Francisco County.

        %h2 Liability

        %p Dreamcatcher and all persons or organizations directly associated with it (employees, subsidiaries, officers, partners, etc)  will not be held liable or any damages of any kind (including intangible losses) resulting from your use or inability to use Dreamcatcher.  

        %h2 Modifications to Terms

        %p We reserve the right, at our sole discretion, to change or alter these terms at any time.  Please review this agreement on a regular basis, as changes are effectively immediately upon their post to this page.  No user support from Dreamcatcher’s team will enable changes to these Terms.   

        %h2 Monitoring

        %p Dreamcatcher does not control, represent, or endorse Content and has no obligation to monitor any Content posted by users.  Dreamcatcher does, however, reserve the right to edit or remove Content posted by any User that is determined to be in violation of these terms or otherwise ill-suited at our sole discretion.  Dreamcatcher is wholly non-responsible for Content in it’s timeliness, availability, accuracy, or nature. 

        %p By using the Service, you may be exposed to offensive, inaccurate, or otherwise objectionable Content.  Dreamcatcher is wholly non-responsible for the contents of third party sites to which you may find Links within Content.  You bear all risks associated with using any Content, including but not limited to links.  Dreamcatcher will not be held liable under any circumstances for any loss or damage resulting from use of Content.

        %p Dreamcatcher also reserves the right to edit, refuse to post, or to remove any information or materials, in whole or in part, that in Dreamcatcher's sole discretion is objectionable or in violation of this Agreement.  We reserve the right to delete users and reclaim usernames at our discretion.

        %h2 Ownership

        %p We claim no intellectual property rights over the material you provide to the Dreamcatcher Web Portal. Your profile and materials uploaded remain yours. You can remove your profile at any time by deleting your account. This will also remove any text and images you have stored in the system from public display.

        %p We encourage users to contribute their creations to the public domain or consider progressive licensing terms.

        %h2 Passwords

        %p You are solely responsible for keeping track of your password and picking one out that is “Strong”.  Good ways to make a Strong password are to include letters, symbols, numbers, and combinations of tenses.

        %h2 Privacy
        %p When you publish content or information using the "everyone" setting, you are allowing everyone, including un-registered public users, to access and use that information and to associate it with you (i.e., your name and profile).

        %p Our Privacy Policy governs all Content uploaded by users, and our use of your information. You acknowledge that we may need to send you announcements and other administrative messages on occasion, and that you may not opt out of those messages.  

        %h2 Re-Purposing

        %p You acknowledge and submit the right to Dreamcatcher to re-purpose (use, copy, change, publish, delete, sub-license, etc) any Content you post with or without advertisements.  You understand that this includes Dreamcatcher making Content available to other companies, organizations, or individuals.  You agree that re-purposing of Content is sanctioned without any compensation paid to Users.

        %h2 Rights

        %p You may not use Dreamcatcher’s name, logo, or any other branded material.  All rights and interest in Content (except Content uploaded by Users) and Services are and remain the sole property of Dreamcatcher.  It will not be considered a waiver of these Terms if Dreamcatcher chooses not to enforce any portion therein.  

