- content_for :head do
  = include_javascripts 'login'
  

.loginPanelWrap.wrapper
  %a.login{href: login_path}
    .img
    %span login
  %a.loginItem.facebook.tooltip{href: '/auth/facebook', title: 'log in with facebook'}
  .clear


  / LOGIN PANEL
  .loginPanel.hidden
    = form_for(User.new, {url: user_session_path}) do |f|

      .submit
        .text
          .img
          %span login
          %input#loginButton.button{tabindex: '3', name: 'loginButton', type: 'submit', value: 'log in &rsaquo;'}

      %span username
      = f.text_field(:username, {class: 'login-input', tabindex: '1'})

      %span password
      = f.password_field(:password, {class: 'login-input', tabindex: '2'})

      %label.stay
        stay logged in
        %input{tabindex: '4', type: 'checkbox', name: 'remember_me'}

      %a.forgot{href: forgot_password_path} forgot password

      .clear
