
#report_box= APP_VERSION

%a#logo.tooltip{href: today_path, title: "today in dreams"}


- if current_user.blank?
  / META MENU - PUBLIC
  = render :partial => "common/meta_menu/meta_menu_public"

- else
  / META MENU - USER
  = render :partial => "common/meta_menu/meta_menu_user"
