
/ FOLLOW
:coffeescript
  $(document).ready ->
    # Setup the following/friends interactions
  
    # Listen for follow/unfollow events
    $('a.follow').bind 'ajax:success', (data, xhr, status)->
      newIcon = $('.relationship .follow').find('.icon img').attr('src')
      $('.context .icon').find('img').attr('src', newIcon)
      $('.relation').html('following')
      $('.relation').data('state', 'following')

    $('a.unfollow').bind 'ajax:success', (data, xhr, status)->
      newIcon = $('.relationship .follow').find('.icon img').attr('src')
      $('.context .icon').find('img').attr('src', '')
      $('.relation').html('follow')
      $('.relation').data('state', 'none')
      $('.context .icon').find('img').attr('alt', '')
      
    $('a.befriend').bind 'ajax:success', (data, xhr, status)->
      newIcon = $('.relationship .follow').find('.icon img').attr('src')
      $('.context .icon').find('img').attr('src', newIcon)
      $('.relation').html('friends')
      $('.relation').data('state', 'friends')

    $('a.unfriend').bind 'ajax:success', (data, xhr, status)->
      newIcon = $('.relationship .follow').find('.icon img').attr('src')
      $('.context .icon').find('img').attr('src', newIcon)
      $('.relation').html('following you')
      $('.relation').data('state', 'followed by')
      
      
    $('#contextPanel .item.relationship')
      .hover( ->
        status = $('.relation').data('state')
        
        switch status
          when "none"
            $('.follow').removeClass('hidden')
          when "following"
            $('.unfollow').removeClass('hidden')
          when "followed by"
            $('.befriend').removeClass('hidden')
          when "friends"
            $('.unfriend').removeClass('hidden')
        
        $('.relation').addClass('hidden')
        $('.context .icon').addClass('hidden')
      , ->
        $('.relation').removeClass('hidden')
        $('.context .icon').removeClass('hidden')
        $('.changeRelation').addClass('hidden')
    )




#userDetails{:'date-username' => current_user.username, :'data-relationship' => relationship}
%button#relationship{type: "button", class: relationship.to_s}
  .relation= follow_action(relationship)
  .icon




/ .relationship.item
/   .relation{:'data-state' => "#{relationship.to_s.humanize.downcase}"}
/     - if relationship == :none
/       follow
/     - elsif relationship == :followed_by
/       following you
/     - else
/       = relationship.to_s.humanize.downcase
/ 
/ 
/ 
/   .icon{class: (current_user && current_user.relationship_with(user) != :none) ? 'changeRelation unfollow hidden' : 'changeRelation unfollow hidden'}
/   - if current_user && current_user.relationship_with(user) != :none
/     .icon
/       = friend_icon_tag( current_user.relationship_with(user), 24, {class: 'following'} )
/   - else
/     .icon
/       %img{src: "/images/icons/clear.png"}
/ 
/ 
/ 
/ 
/   = link_to follow_path(user.username, 'json'),   :method => :put, :remote => true, :class => (user.relationship_with(current_user) == :none) ? 'changeRelation follow hidden' : 'changeRelation follow hidden' do
/     .icon
/       = friend_icon_tag( :following, 24, {class: 'follow'} )
/     follow
/ 
/ 
/   = link_to follow_path(user.username, 'json'),   :method => :put, :remote => true, :class => (user.relationship_with(current_user) == :followed_by) ? 'changeRelation befriend hidden' : 'changeRelation befriend hidden' do
/     .icon
/       = friend_icon_tag( :friends, 24, {class: 'follow'} )
/     befriend
/     
/   = link_to unfollow_path(user.username, 'json'), :method => :put, :remote => true, :class => (user.relationship_with(current_user) == :friends) ? 'changeRelation unfriend hidden' : 'changeRelation unfriend hidden' do
/     .icon
/       = friend_icon_tag( :following, 24, {class: 'unfollow'} )
/     unfriend
/   
/   = link_to unfollow_path(user.username, 'json'), :method => :put, :remote => true, :class => (user.relationship_with(current_user) == :following) ? 'changeRelation unfollow hidden' : 'changeRelation unfollow hidden' do
/     .icon
/       = friend_icon_tag( :none, 24, {class: 'unfollow'} )
/     unfollow
/     
