/ ALBUMS

%table#albumList.hidden
  - @albums._?.each do |album, images|

    %tr.name
      %td
        = album || "All Images"
        %a.manage(href="#{manage_images_path}?album=#{album}")

    %tr.images
      %td
        - images.each do |image|
          .img{:'data-id' => image.id}
            = image_tag image.url('128x128')
            .add.hidden +








