/ ALBUMS

%table#albumList.hidden
  - @albums._?.each do |album, images|

    %tr.name
      %td
        = album || "All Images"

        %a.manage(href="#{manage_images_path}?ids=#{images.map(&:id).join(',')}")

    %tr.images
      %td
        - images.each do |image|
          - metaData = ''
          .img
            %img{id: "image_#{image.id}", src: image.url("126x126"), alt: metaData }
            .add.hidden +


.dropbox.collection
  %h2 My Collection
  .active






