/ .artist.css
#IB_albumContainer.uiMode
  %ul#albums
    - @albums._?.each do |album, images|
      %li
        %h2.gradient-10-up
          = album || "All Images"
          %a.header-manage(href="#{manage_images_path}?ids=#{images.map(&:id).join(',')}")
            %img(src="/images/icons/edit-23.png")
        %ul.clearfix.images
          - images.each do |image|
            - metaData = '' # image.title+'|'+image.tags+'|'+image.artist+'|'+image.year;
            %li
              .addToDropboxButton
              %img.albumPreviewThumbsLarger{id: "image_#{image.id}", src: image.url("126x126"), alt: metaData }
    
  %div#imageDrop
    %h2.IB_imageDropTitle My Collection
    #IB_imageDropMask
      %ul#IB_imageDrop
    
    #IB_searchResultsSelectButtons 
      #IB_searchResultsSelectCancelWrap.round-8 
        #IB_searchResultsSelectCancel.round-8 Cancel
      #IB_searchResultsSelectEditWrap.round-8
        #IB_searchResultsSelectEdit.round-8 Edit
      #IB_searchResultsSelectAddWrap.round-8
        #IB_searchResultsSelectAdd.round-8 
          Add
          %img(src="/images/icons/add-36.png" width="36" height="36")



