/ ALBUMS

%table#albumList.hidden
  - @albums._?.each do |album, images|

    %tr.name
      %td
        = album || "All Images"
        %a.manage(href="#{manage_images_path}?album=#{album}")

    %tr.images
      %td
        %ul
        - images.each do |image|
          %li.img{:'data-id' => image.id}
            %img{src: image.url("126x126")}
            .add.hidden +








