#IB_artistContainer.uiMode
  #IB_artists
    #IB_artistsName.gradient-10-up.float-left
      %p.color-70 Artist
    #IB_artistsImages.gradient-10-up.float-left
      %p.color-70 Images
    %ul#artists
  
  / .IB_CancelWrapList.round-8  
  /   .IB_Cancel.round-8 Cancel
