/ ARTIST LIST

%table#artistList.hidden

  / COLUMN NAME ROW
  %tr.columnNames
    %td
      Artist
    %td.imageColumn
      Images

  / ARTIST ROW
  - @artists._?.to_a.sort_by{|el| el[0].to_s}.each do |artist, images|
    %tr.artist{:'data-artist' => artist}

      %td.name

        .editableWrap

          %input.editable.artistName{type: "text", readonly: 'true', value: artist.blank? ? "Unknown" : artist}

          .edit

      %td.images

        .spinner.hidden

        - images.each do |image|
          = image_tag image.url('62x62'), :'data-id' => image.id





