/ ARTIST LIST

%table#artistList.hidden

  / COLUMN NAME ROW
  %tr.columnNames
    %td
      Artist
    %td.imageColumn
      Images

  / ARTIST ROW
  %tr.artist
    - @artists._?.to_a.sort_by{|el| el[0].to_s}.each do |artist, images|
      %td.name
        %h2= artist.blank? ? "Unknown" : artist

      %td.images
        - images.each do |image|
          = image_tag image.url('62x62'), :alt => image.id





