#IB_artistContainer.uiMode
  #IB_artists
    #IB_artistsName.gradient-10-up.float-left
      %p.color-70 Artist
    #IB_artistsImages.gradient-10-up.float-left
      %p.color-70 Images
    %ul#artists
      - @artists._?.to_a.sort_by{|el| el[0].to_s}.each do |artist, images|
        %li
          %h2.color-0.font-H1.font-light= artist.blank? ? "Unknown" : artist
          .images
            - images.each do |image|
              / metaData = image.title+'|'+image.tags+'|'+image.artist+'|'+image.year
              = image_tag image.url('62x62'), :alt => image.id
              / item += '<img class="albumPreviewThumbs" src="/images/art/IB_artistImages/artistImage2.jpg"/>';
  / .IB_CancelWrapList.round-8  
  /   .IB_Cancel.round-8 Cancel


  


