/ DROP BOX


#dropbox

  .icon

  %h2 Drop box

  .active.hidden

  %ul.imagelist

    %li
    %li
    %li
    %li


  .dropboxFooter

    .cancel cancel

    .edit edit



    / .drag
    /   %span drag files here to edit
    /   .img