/ DROP BOX


#dropbox

  .icon

  %h2 Drop box

  .play

  .active.hidden

  %ul.imagelist.clearfix
    %li
      .close


  .dropboxFooter

    .manage
      %span manage
      .img

    .cancel clear