/ FOOTER

#dropbox.dropbox.collection.hidden
  %h2 My Collection
  .active.hidden

  %ul.imagelist

    %li


.footerButtons

  .next &rsaquo;

  .cancel cancel

  .edit edit

  .add
    .img
    add to collection

  .set
    .img
    set

  .drag
    %span drag files here to edit
    .img

  .prev &lsaquo;

  .info

  .tag