/ FOOTER

.footer

  .next &rsaquo;

  .add-collection
    .img
    add to collection

  .add-album
    .img
    add album to dropbox

  .add-artist
    .img
    add artist to dropbox

  .set
    .img
    set

  .prev &lsaquo;

  .info

  .tag