/ FOOTER

.dropbox.collection.hidden
  %h2 My Collection
  .active


.footerButtons

  .cancel cancel

  .edit edit

  .add
    .img
    add to collection

  .set
    .img
    set

  .drag
    drag files here to edit