<!-- IB_browser_frame -->
<div id="IB_browser_frame" class="round-12 hidden"> 
  
  <%= render :partial => "images/browser/top" %>
  
  <div id="IB_browse" class="uiMode">
    <ul>
      <li>
        <span>Modern Art</span>
        <div class="nav-expand hidden" style="margin-left: 175px;">
          <p>Paintings</p>
          <p>Digital</p>
          <p>Fantasy</p>
          <p>Visionary</p>
          <p>Graphics</p>
        </div>
      </li>
      <li>
        <span>Classical Art</span>
        <div class="nav-expand hidden" style="margin-left: 195px;">
          <p>Europe</p>
          <p>Asia</p>
          <p>Americas</p>
          <p>Africa</p>
          <p>Australia</p>
        </div>
      </li>
      <li>
        <span>Photos</span>
        <div class="nav-expand hidden" style="margin-left: 195px;">
          <p>People</p>
          <p>Places</p>
          <p>Things</p>
          <p>Concept</p>
          <p>Animals</p>
        </div>
      </li>
      <li class="feature"></li>	
    </ul>
  </div>
  
  <%= render :partial => "images/browser/album" %>
  
  <!-- artists Albums -->
  <!-- .artistList.css -->
  <%= render :partial => "images/browser/artists" %>
  
  <div id="IB_slideshow" class="uiMode"></div>
  
  <%= render :partial => "images/browser/search" %>

  <!-- IB_tagContainer -->
  <div id="IB_tagContainer" class="hidden uiMode gradient-90-100">

    <!-- IB_tagTextWrap -->
    <div id="IB_tagTextWrap" class="gradient-80-90 round-12">
      <img src="/images/slices/inputLeft-42.png" width="24" height="42" />
      <div id="IB_tagTextFrame">
        <input id="IB_tagText" class="color-20" type="text" />
      </div>
      <img src="/images/slices/inputRight-42.png" width="23" height="42" />
      <div id="IB_tagButtonWrap" class="gradient-80-70 round-12">
        <div id="IB_tagButton" class="round-12"><span>+</span>tag</div>
      </div>
    </div><!-- END IB_tagTextWrap -->

    <div id="emptyMessage"></div>

    <!-- New tagging stuff -->
    <div class="tag-list ui-sortable" id="tag-list">
      <div class="tag_box thumb-controls float-left light C-contrast round-8 kill_tag opacity-50" id="tag-ID982735" style="display: none;">
        <div class="tag-icon float-right"></div>
          <div class="content">these</div>
        </div>
       
       <div style="" class="tag_box thumb-controls float-left hidden light C-contrast round-8" id="empty-tag">
         <table cellspacing="0" cellpadding="0"><tbody><tr>
           <td><div class="content">ERROR</div></td>
           <td><div class="tag-icon"></div></td>
         </tr></tbody></table>
       </div>
  <div style="background-color: rgb(51, 51, 51); display: none;" class="tag_box thumb-controls float-left light C-contrast round-8 kill_tag opacity-50" id="tagID_37147">
        <table cellspacing="0" cellpadding="0"><tbody><tr>
          <td><div class="content">Apples</div></td>
          <td><div class="tag-icon"></div></td>
        </tr></tbody></table>
       </div></div>
    <div id="sorting"></div>
    <!-- OLD TAGS STUFF
    <ul id="IB_tags">
      <li class="round-8">Totems</li>
      <li class="round-8">Village</li>
      <li class="round-8">Native</li>
      <li class="round-8">Canada</li>
    </ul>
    <ul id="IB_tagsNew">
      <li class="round-8">Landscape</li>
      <li class="round-8">Hills</li>
      <li class="round-8">Houses</li>
      <li class="round-8">Ancient</li>
    </ul>-->
    <br style="clear: both;" />
  </div><!-- END IB_tagContainer -->

  <!-- IB_infoContainer -->
  <div id="IB_infoContainer" class="uiMode gradient-90-100">
    <ul id="IB_info">
      <li id="IB_info_title" class="round-12 innerglow-24">name:<span>Kispiax Village</span></li>
      <li id="IB_info_author" class="round-12 innerglow-24">author:<span>Emily Carr</span></li>
      <li id="IB_info_year" class="round-12 innerglow-24">year:<span>1912</span></li>
      <li id="IB_info_delete" class="IB_infoDelete round-12 innerglow-24 hidden">delete</li>
      <li id="IB_info_add" class="IB_infoAdd round-12 innerglow-24 hidden">+<span>Add</span></li>
    </ul>
    <br style="clear: both;" />
  </div><!-- END IB_infoContainer -->


  <!-- IB_footer -->
  <div id="IB_footer" class="uiMode">
    
    <div id="IB_prevWrap" class="round-8-left prev">
      <div class="IB_prevNext round-8-left">&lsaquo;</div>
    </div>

    <div class="info"></div>
    <div class="tag"></div>
    <div class="fullscreen"></div>
    <div class="shuffle"></div>
    
    <div id="IB_nextWrap" class="round-8-right next">
      <div class="IB_prevNext round-8-right">&rsaquo;</div>
    </div>
    
    <div id="IB_footerSet" class="round-8"><img src="/images/icons/check-24.png" width="24" height="24" /><span>Set</span></div>
    
    <div id="IB_footerAddDrop" class="round-8"><img src="/images/icons/dropArrow-22.png" width="22" height="22" /><span>Add to Collection</span></div>

    <div id="IB_footerCancel" class="round-8">Cancel</div>
  
  </div><!-- END IB_footer -->
  <br style="clear: both;">
  
</div><!-- END IB_browser_frame -->
