- content_for :head do
  = sass_link_tag 'ib'

#frame.manager

  / TOP
  .browseWrap
    .browse
  .icon
  %h1 manager
  .searchWrap
    .search


  / DROPBOX
  .dropboxWrap#uploader

    .dropArea

    %h2.all select all

    %h2.clearImages clear images

    .browse browse

    .img

    %h2.drag click or drag files here to upload

    .dropbox

      %ul#imagelist.imagelist
      
  %form#manager

    / ORGANIZATION
    .wrapper
      %h2.header.trigger.showhide organization
      #organization.panel.target.showhide

        .listWrap#type
          %input{type: "checkbox"}
          %select.list
            %option.label{value: '', name: 'type'} type

        .listWrap#category
          %input{type: "checkbox"}
          %select.list
            %option.label{value: '', name: 'category'} category

        .listWrap#genre
          %input{type: "checkbox"}
          %select.list
            %option.label{value: '', name: 'genre'} genre

        .clear


    / INFO
    .wrapper
      %h2.header.trigger.showhide info
      #info.panel.target.showhide

        .wrap
          .inputWrap#title
            %h2.label title
            %input.text{type: "text", name: 'title'}
            %input.checkbox{type: "checkbox"}

        .wrap
          .inputWrap#album
            %h2.label album
            %input.text{type: "text", name: 'album'}
            %input.checkbox{type: "checkbox"}

        .wrap
          .inputWrap#artist
            %h2.label artist
            %input.text{type: "text", name: 'artist'}
            %input.checkbox{type: "checkbox"}

        .wrap
          .inputWrap#location
            %h2.label location
            %input.text{type: "text", name: 'location'}
            %input.checkbox{type: "checkbox"}

        .wrap
          .inputWrap.year#year
            %h2.label year
            %input.text{type: "text", name: 'year'}
            %input.checkbox{type: "checkbox"}

        .wrap
          .inputWrap.notes#notes
            %h2.label notes
            %input.text{type: "text", name: 'notes'}
            %input.checkbox{type: "checkbox"}

        .clear



    / SOURCE
    .wrapper
      %h2.header.trigger.showhide SOURCE
      #source.panel.target.showhide.hidden

        .wrap
          .inputWrap.source#date
            %h2.label date
            %input.text{type: "text", :disabled => true, name: 'date'}

        .wrap
          .inputWrap.source#user
            %h2.label user
            %input.text{type: "text", :disabled => true, name: 'user'}

        .wrap
          .inputWrap.source#geotag
            %h2.label geotag
            %input.text{type: "text", name: 'geotag'}
            %input.checkbox{type: "checkbox"}

        .clear



    / TAGS
    .wrapper
      %h2.header.trigger.showhide tags
      #tags.panel.target.showhide.hidden

        .inputWrap.tags#tags
          %textarea{type: "text",  rows: "2", cols: "75"}
          %input{type: "checkbox", name: 'tags'}


  / FOOTER BUTTONS
  .saveWrap
    .save
      .spinner.hidden
      %span save
      %span.saving.hidden saving

  .cancelWrap
    .cancel cancel

  .resetWrap
    .reset reset

  .clear



