/ SEARCH OPTIONS

#searchOptions

  .listBar
    .category
      %input.checkbox{type: 'checkbox'}
      %select.list
        %option.label{value: ''} Category
        /%option{value: 'Library'} Library
        /%option{value: 'Hypnos'} Hypnos
        /%option{value: 'P.A.C.E.'} P.A.C.E.

    .size
      %input.checkbox{type: 'checkbox'}
      %select.list
        %option.label{value: ''} Size
        %option{value: 'Small'} Small
        %option{value: 'Medium'} Medium
        %option{value: 'Large'} Large
    .clear


  .filters
    %h2 Filters
    .filter#artist
      %input{type: 'text'}
      %label artist:
    .filter#album
      %input{type: 'text'}
      %label album:
    .filter#title
      %input{type: 'text'}
      %label title:
    .filter#year
      %input{type: 'text'}
      %label year:
    .filter#tags
      %input{type: 'text'}
      %label tag:

  .genres
    %h2 Genres
    .genre Classical Art
    .genre World Art
    .genre Eastern Art
    .genre Modern Art
    .genre Digital Art
    .genre Photos
    .genre Sci-fi/Fantasy Art
    .genre Visionary Art
    .genre NASA
    .genre Anime
    .genre Featured Gallery

  .clear




