/ SEARCH OPTIONS & RESULTS

/ SEARCH OPTIONS
#searchOptions.hidden

  / TYPE
  %ul.type
    %li bedsheets
    %li library
    %li user uploaded
    %li emoticons
    %li book covers
    %li prima materia
    .clear


  .filters
    %h2 Filters
    .filter#artist
      %input{type: 'text'}
      %label artist:
    .filter#album
      %input{type: 'text'}
      %label album:
    .filter#title
      %input{type: 'text'}
      %label title:
    .filter#year
      %input{type: 'text'}
      %label year:
    .filter#tags
      %input{type: 'text'}
      %label tag:

  .categories
    %h2 Categories


  .clear


/ SEARCH RESULTS
#searchResults.hidden

  %ul.clearfix
    %li

