/ SEARCH OPTIONS

#searchOptions

  .category
    %input.checkbox{type: 'checkbox'}
    %select.list
      %option.label{type: 'disabled'} Category
      %option{value: 'Library'} Library
      %option{value: 'Hypnos'} Hypnos
      %option{value: 'P.A.C.E.'} P.A.C.E.

  .size
    %input.checkbox{type: 'checkbox'}
    %select.list
      %option.label{type: 'disabled'} Size
      %option{value: 'Small'} Small
      %option{value: 'Medium'} Medium
      %option{value: 'Large'} Large

  .clear


  .filters
    %h2 Filters
    .filter
      %label artist:
      %input{type: 'text'}
    .filter
      %label album:
      %input{type: 'text'}
    .filter
      %label title:
      %input{type: 'text'}
    .filter
      %label year:
      %input{type: 'text'}
    .filter
      %label tag:
      %input{type: 'text'}

  .genres
    %h2 Genres
    .genre Classical Art
    .genre World Art
    .genre Eastern Art
    .genre Modern Art
    .genre Digital Art
    .genre Photos
    .genre Sci-fi/Fantasy Art
    .genre Visionary Art
    .genre NASA
    .genre Anime
    .genre Featured Gallery




