
/ IMAGE
.imageContainer

  .image_data

    %table.image
      %tr
        %td
          %img{src: ''}


    / TAGGING
    .tagging

      .tagInputWrap
        .tagInput
          %input.newTag
          .tagAdd
            %span +
            save
        .tagInputRight

      #tag-list.tag-list.ui-sortable

        .tag.wrapper.tagWhat.newEntry.emptyTag.hidden
          .header.trigger
            .tag-name
          .close

    / INFO
    .info
      .title
        Title:
        %span Title
        / %input.title-input{type: "text" value: "Title"}
      .author
        author:
        %span Author Name
        / %input.author-input{type: "text" value: "Author"}
      .year
        year:
        %span 1912
        / %input.year-input{type: "text" value: "Author"}

  / IMAGE REFLECT
  .imageReflect

    %table.image
      %tr
        %td
          %img{src: ''}
