
/ SLIDESHOW
#slideshow.hidden


/ INFO & TAGGING
#infoTags


  / TAGGING
  #tagging.hidden

    .tagInputWrap
      .tagInput
        %input#newTag
        .tagAdd
          %span +
          add
      .tagInputRight

    #tag-list.tag-list.ui-sortable

      .tag.wrapper.tagWhat.newEntry.emptyTag.hidden
        .header.trigger
          .tag-name
        .close


  / INFO

  #info.hidden
    .name
      name:
      %span Artist Name
    .author
      author:
      %span Author Name
    .year
      year:
      %span 1912