
/ BACKDROP
#slideshow-back


  / SLIDESHOW
  #slideshow


    .close.hidden




    / LEFT
    .left

      %img{src: '/images/bedsheets/air-03.jpg'}

    / LEFT REFLECT
    .leftReflect

      %img{src: '/images/bedsheets/air-03.jpg'}

    / LEFT GRADIENT
    %a.gradient-left{href: '/'}

      .arrow.hidden
        &lsaquo;
        .text left arrow key




    / IMAGE
    .imageContainer

      %table.image
        %tr
          %td
            %img{src: '/images/bedsheets/today-in-dreams-med.jpg', width: '720', height: '540'}


      / TAGGING
      #tagging.hidden

        .tagInputWrap
          .tagInput
            %input#newTag
            .tagAdd
              %span +
              add
          .tagInputRight

        #tag-list.tag-list.ui-sortable

          .tag.wrapper.tagWhat.newEntry.emptyTag.hidden
            .header.trigger
              .tag-name
            .close

      / INFO
      #info.hidden
        .name
          name:
          %span Artist Name
        .author
          author:
          %span Author Name
        .year
          year:
          %span 1912

    / IMAGE REFLECT
    .imageReflect

      %img{src: '/images/bedsheets/today-in-dreams-med.jpg', width: '720', height: '540'}




    / RIGHT
    .right

      %img{src: '/images/bedsheets/air-05.jpg'}

    / RIGHT REFLECT
    .rightReflect{style: 'background: url(/images/bedsheets/air-05.jpg)'}

    / RIGHT GRADIENT
    %a.gradient-right{href: '/'}

      .arrow.hidden
        &rsaquo;
        .text right arrow key




    / BOTTOM GRADIENT
    .gradient-bottom




    / CONTROLS
    .controls

      .info

      .tagging

      .download


      / COMMENTS (use existing)
      / - if entry.new_comment_count > 0 && !current_user.blank? && entry.user == current_user
      /   = hidden_field :new_comments, entry.id, :value => entry.new_comment_count, :class => "newComments"

      / {class: "#{entry.new_comment_count > 0 && !current_user.blank? && entry.user == current_user ? 'new' : ''} #{is_ipad? ? 'ipad' : ''}"}
      .comment
        .arrow
        %span.text comment
        .count
          .img
          / - if entry.new_comment_count > 0 && !current_user.blank? && entry.user == current_user
          /   %span=entry.new_comment_count
          / - elsif entry.comments.count > 0
          /   %span=entry.comments.count
          / - else
          /   %span.empty

    .commentsTarget


    / temporary for styling
    = render :partial => "entries/ib_comment_panel"



