/ TOP
.top

  / BROWSE HEADER
  .browseHeader.browse browse

  / BROWSE BUTTON
  .browseWrap
    .browse

  / SEARCH
  .searchFieldWrap.hidden
    .searchField
      
      %input.search{type: "submit", value: ""}
      %input.input{type: "text", placeholder: "search"}
      %a.options{href: "#"} options

  / BACK ARROW
  .backArrow
    .left
    .content
      .img.hidden
      %span back
    .right

  / HEADER
  %h1 header

  / SEARCH BUTTON
  .searchWrap
    .search

  / TOOLS & INFO
  .timer.hidden 20
  %a.manage
  .play
  .counter 4/18
