/ TOP
.top

  / BROWSE BARS (only display on opening view)
  .browseBars

  / BROWSE BUTTON
  .browseWrap
    .browse

  / SEARCH
  .searchFieldWrap
    .searchField
      .img
      %a.options{href: "#"} options
      %a.optionsTab.hidden{href: "#"} options
      %input{type: "text", value: "search"}

  / BACK ARROW
  .backArrow
    .img
    %span back

  %h1#IB_category

  #IB_searchBoxWrap.round-12
    #IB_searchBox.round-12
      %img(src="/images/icons/searchIcon36.png" width="36" height="36")

  #IB_slideshowTimer.uiMode.slideshow.round-8 20
  %a#IB_manageArtistImages.uiMode.artist.round-8
  %a#IB_artistSlideshow.uiMode.artist.round-8
  %span#IB_slideshowCount.uiMode.slideshow
