/ TOP
.top

  / BROWSE HEADER
  .browseHeader.browse browse

  / BROWSE BUTTON
  .browseWrap
    .browse

  / SEARCH
  .searchFieldWrap.hidden

    %input.searchField{type: "text", placeholder: "search"}
    %input.search{type: "submit", value: ""}
    %a.options options

  / BACK ARROW
  .backArrow
    .left
    .content
      .img.hidden
      %span back
    .right

  / HEADER
  %h1 header

  / SEARCH BUTTON
  .searchWrap
    .search

  / TOOLS & INFO
  %a.manage
  .play
