/ TOP
.top

  / BROWSE HEADER
  .browseHeader browse

  / BROWSE BUTTON
  .browseWrap
    .browse

  / SEARCH
  .searchFieldWrap.hidden
    .searchField
      %input.search{type: "submit", value: ""}
      %a.options{href: "#"} options
      %a.optionsTab.hidden{href: "#"} options
      %input.input{type: "text", value: "search"}

  / BACK ARROW
  .backArrow
    .left
    .content
      .img.hidden
      back
    .right

  / HEADER
  %h1 header

  / SEARCH BUTTON
  .searchWrap
    .search

  / TOOLS & INFO
  .timer 20
  %a.manage{href: "#"}
  .play
  .counter 4/18
