/ TOP
.top

  / BROWSE BARS (only display on opening view)
  .browseBars

  / BROWSE BUTTON
  .browseWrap
    .browse

  / SEARCH
  .searchFieldWrap.hidden
    .searchField
      %input.search{type: "submit", value: ""}
      %a.options{href: "#"} options
      %a.optionsTab.hidden{href: "#"} options
      %input.input{type: "text", value: "search"}

  / BACK ARROW
  .backArrow
    .img
    %span back

  / HEADER
  %h1 header

  / SEARCH BUTTON
  .searchWrap
    .search

  / TOOLS & INFO
  .timer 20
  %a.manage{href: "#"}
  .play
  .counter 4/18
