- content_for :head do
  = include_stylesheets 'dictionaries'

.container.light

  %a.new{href: new_dictionary_path}
    + new dictionary


  .module
    %h1
      dictionaries

    %ul
      - @dicts.each do |dict|
        %li
          %a{href: dictionary_words_path(dict)}= dict.name
