- content_for :head do
  = include_stylesheets 'dictionaries'

.container.light

  .module
    %h1
      new dictionary
      = link_to "< cancel", dictionaries_path
    = render({ partial: 'form', locals: { dict: @dict } })
