

// NEW LOGIN SPLASH
// STRUCTURE


#welcomePanel
  +absolute
  +round(16)
  top: 0
  padding: 8px
  width: 464px
  +bevel-light
  +user-select

  .image
    +round(12)
    +overflow
    width: 464px
    height: 113px
    background: url(/images/art/astral-eyes-banner.jpg) no-repeat center

  p
    +cursor
    +font(16)
    margin: 0 8px 10px
    +center

    span
      +font(32)





  .getStartedButtons
    +round(12)
    padding: 4px 0 4px 4px
    height: 92px
    +input-light(large)


    .button
      +block
      +round(8)
      +left
      +center
      width: 223px
      height: 42px
      line-height: 41px
      margin: 0 4px 4px 0
      color: #222
      +shine-light(20)
      +button-light

      .img
        display: inline-block
        height: 41px
        width: 32px
        margin: 0 8px -16px 0

      .dream
        @extend .dream-32-hover

      .green
        +bold
        +font(18)
        color: #009933

      .appearance
        @extend .appearance-24-hover

      &.profile .arrow
        +alpha(30)
        +font(36)
        +bold
        +block
        +left
        margin: 0 -20px 0 28px

      .dreamfield
        @extend .dream-32-hover

      .starlight
        @extend .starlight-32







// BUTTON TOGGLES on MATRIX and STREAM

.matrix
  #welcomePanel

    .dream-message
      display: block !important
    .stream-message
      display: none !important


    .getStartedButtons
      .button.profile
        display: block !important
      .button.dreamButton
        display: none !important

.matrix.stream
  #welcomePanel

    .dream-message
      display: none !important
    .stream-message
      display: block !important


    .getStartedButtons
      .button.profile
        display: none !important
      .button.dreamButton
        display: block !important








// NEW LOGIN SPLASH
// COLORS
.light
  #welcomePanel
    +bevel-light
    +glow-light(40)

    h1.title
    p.text

    .getStartedButtons
      +inner-shadow(10)
      +flat-light-medium

      .button
        +shine-light(20)
        +button-light
        color: #222

        a
          color: #222


.dark
  #welcomePanel
    +shine-dark-alpha(20)
    +glow-dark(40)

    h1.title
    p.text

    .getStartedButtons
      +input-dark(large)

      .button
        +shine-dark-alpha(20)
        +button-dark
        color: #ddd

        a
          color: #ddd











