/ BOOKS
.book{:'data-id' => book ? book.id : 'new', class: (book && book.color) ? book.color : 'blue'}

  / CLOSED BOOK
  .closed.hidden

    .entryDrop

    - imageUrl = (book && book.cover_image_id) ? Image.find(book.cover_image_id).url('252x252') : '/images/avatars/default-avatar-full.jpg'
    .cover{style: "background: url(#{imageUrl}) no-repeat center center"}

    .flat

    .entries{style: 'background-image: url(/images/icons/entries-16.png)'}
      82

    .edit edit
    .title 
      = book ? book.title : 'Title of Book Goes Here'
    / %input.title-edit{type: 'text', value: 'Title of the Book Goes Here'}

    .comments{style: 'background-image: url(/images/icons/comment-16.png)'}
      4

    .sharing{style: 'background-image: url(/images/icons/friend-16.png)'}
      friends


  / OPEN BOOK
  .open


    / CONTROL PANEL
    .control-panel

      .settings-basic
        %input.titleInput{type: 'text', value: book ? book.title : 'Title of Book Goes Here'}
        
        .color
          color
          .icon

        .coverImage
          cover image
          .icon

        .access
          access
          .icon

        .settings
          settings
          .icon

      .more
        .arrow

      .confirm OK

      .clear

      .more-settings
        advanced settings here...


    / COLOR PANEL
    .color-panel

      .header

        .back &lsaquo;

        .icon

        %span color

      %ul.swatches

        %li.blue
        %li.purple
        %li.pink
        %li.red
        %li.aqua
        %li.green
        %li.yellow
        %li.orange
        %li.blue-deep
        %li.green-deep
        %li.brown
        %li.maroon
        %li.white
        %li.grey-light
        %li.grey-dark
        %li.black


    / COLOR IMAGE PANEL
    .cover-panel

      .dropbox

      .header

        .back &lsaquo;

        .icon

        %span cover image

      .dropbox-field
        .dropbox-field-shine

          .add click or drag images here to upload

      .active


    / ACCESS PANEL
    .access-panel

      .header

        .back &lsaquo;

        .icon

        %span access

      .viewing viewing

      %select.select-menu.viewing-menu
        %option.everyone everyone
        %option.friends friends only
        %option.followers followers
        %option.private private
        %option.anon anonymous

      .commenting commenting

      %select.select-menu.commenting-menu
        %option.everyone everyone
        %option.friends friends only
        %option.followers followers
        %option.private private
        %option.anon anonymous

    / ENTRY DROP ACTIVE
    .entryDrop-active



