/ BOOK SHELF

#bookShelf


  / BOOK SPINE
  .bookSpine.blue

    / .cover{style: 'background: url(/images/art/dream-eyes-banner-medium.jpg) no-repeat center center'}
    / 
    / .mask

    %table
      %tr
        %td.title My Vacation

        %td.count
          %div 8

  / BOOK SPINE ADD
  .bookSpine-add

    %table
      %tr
        %td.title Create New Book

    .dropbox

    .active