
- cover_style = (book.image_id) ? "background: url(#{book.image.url('bookcover')}) no-repeat center center" : ""
- editable = current_user == book.user 
-# default new book color == 'blue' 
- book.color ||= 'blue'


/ BOOKS
.book{:'data-id' => (book.new_record? ? 'new' : book.id), class: book.color, :'data-color' => book.color}


  / CLOSED BOOK
  .closed

    .entryDrop

    .flatColor

    .cover{style: cover_style}

    %a.history.mask{href: (defined? is_context) ? user_entries_path(book.user.username) : book_path(book)}

    .entries{style: 'background-image: url(/images/icons/entries-16.png)'}
      82
    - if editable
      %a.history.edit{href: book.new_record? ? new_book_path : edit_book_path(book)} edit
    
    .title 
      = book.title
    / %input.title-edit{type: 'text', value: 'Title of the Book Goes Here'}

    .comments{style: 'background-image: url(/images/icons/comment-16.png)'}
      4

    .sharing{style: 'background-image: url(/images/icons/friend-16.png)'}
      friends


  / OPEN BOOK
  .open.hidden
    - if editable
      / BODY CLICK FOR OPEN BOOK
      %a.history.closeClick{href: user_entries_path(book.user.username)}


      / CONTROL PANEL
      .control-panel

        .settings-basic
          %input.titleInput{type: 'text', value: book.title, placeholder: "enter a title"}

          .color
            color
            .icon

          .coverImage
            cover image
            .icon

          .access
            access
            .icon

          .settings
            settings
            .icon

          .arrow
            .down

          %a.history.confirm{href: user_entries_path(book.user.username)} OK

        .clear

        .more-settings

          .remove
            remove book
          .label
            this book will be deleted but entries will remain

          / .delete
          /             delete book
          /           .label
          /             this book and its entries will be deleted
          
          .arrow
            .up


      / COLOR PANEL
      .color-panel

        .header

          .back &lsaquo;

          .icon

          %span color

        %ul.swatches

          %li.blue
          %li.purple
          %li.pink
          %li.red
          %li.aqua
          %li.green
          %li.yellow
          %li.orange
          %li.blue-deep
          %li.green-deep
          %li.brown
          %li.maroon
          %li.white
          %li.grey-light
          %li.grey-dark
          %li.black


      / COVER IMAGE PANEL
      .cover-panel

        .dropbox

        .header

          .back &lsaquo;

          .icon

          %span cover image

        .dropbox-field

          .dropbox-field-shine{style: cover_style}

            .close

            .add click or drag images here to upload

        .active


      / ACCESS PANEL
      .access-panel

        .header

          .back &lsaquo;

          .icon

          %span access

        .viewing viewing

        %select.select-menu.viewing-menu{name: 'sharing_level'}
          = render :partial => "common/sharing_level_options", :locals => {:level => book.sharing_level}

        .commenting commenting

        %select.select-menu.commenting-menu{name: 'commenting_level'}
          = render :partial => "common/sharing_level_options", :locals => {:level => book.commenting_level}

    / ENTRY DROP ACTIVE
    .entryDrop-active


