/ BOOKS
.book{:'data-id' => book ? book.id : 'new', class: (book && book.color) ? book.color : 'blue'}
  - backgroundStyle = ''
  - if (book && book.cover_image_id)
    - coverUrl = Image.find(book.cover_image_id).url('252x252')
    - backgroundStyle = "background: url(#{coverUrl}) no-repeat center center"
  - title = book.title if book && book.title
  - viewingLevel = book.viewing_level if book && book.viewing_level
  - commentingLevel = book.commenting_level if book && book.commenting_level

  / CLOSED BOOK
  .closed.hidden

    .entryDrop

    .flatColor

    .cover{style: backgroundStyle}

    .mask{class: backgroundStyle != '' ? 'mask' : ''}

    .entries{style: 'background-image: url(/images/icons/entries-16.png)'}
      82

    .edit edit
    
    .title 
      = title ? title : 'Untitled Book'
    / %input.title-edit{type: 'text', value: 'Title of the Book Goes Here'}

    .comments{style: 'background-image: url(/images/icons/comment-16.png)'}
      4

    .sharing{style: 'background-image: url(/images/icons/friend-16.png)'}
      friends


  / OPEN BOOK
  .open

    / BODY CLICK FOR OPEN BOOK
    .closeClick


    / CONTROL PANEL
    .control-panel

      .settings-basic
        - if title
          %input.titleInput{type: 'text', value: title}
        - else
          %input.titleInput{type: 'text', placeholder: 'title of book'}
        
        .color
          color
          .icon

        .coverImage
          cover image
          .icon

        .access
          access
          .icon

        .settings
          settings
          .icon

        .arrow
          .down

        .confirm OK

      .clear

      .more-settings

        .remove
          remove book
        .label
          entries will not be deleted

        .delete
          delete book
        .label
          this book and its entries will be deleted

        .arrow
          .up


    / COLOR PANEL
    .color-panel

      .header

        .back &lsaquo;

        .icon

        %span color

      %ul.swatches

        %li.blue
        %li.purple
        %li.pink
        %li.red
        %li.aqua
        %li.green
        %li.yellow
        %li.orange
        %li.blue-deep
        %li.green-deep
        %li.brown
        %li.maroon
        %li.white
        %li.grey-light
        %li.grey-dark
        %li.black


    / COLOR IMAGE PANEL
    .cover-panel

      .dropbox

      .header

        .back &lsaquo;

        .icon

        %span cover image

      .dropbox-field

        .dropbox-field-shine{style: backgroundStyle}

          .add click or drag images here to upload

      .active


    / ACCESS PANEL
    .access-panel

      .header

        .back &lsaquo;

        .icon

        %span access

      .viewing viewing

      %select.select-menu.viewing-menu
        = render :partial => "entries/sharing_level", :locals => {:level => viewingLevel}

      .commenting commenting

      %select.select-menu.commenting-menu
        = render :partial => "entries/sharing_level", :locals => {:level => commentingLevel}

    / ENTRY DROP ACTIVE
    .entryDrop-active


