Carl William Peterken
BA BE (Hons)

Front-End Architect
Dreamcatcher
December 2010 - present
Roberts Creek, BC, Canada

A global social media company dedicated to the awakening of consciousness in all forms of life.
Architect the framework from the front-end using the JMVC framework, for a Ruby web application.
Touched on all areas of the system.
Wrote the dynaimic Ajaxified interfaces with the latest tech on many of our key features such as Image Bank, the entry field and comments notificiations. 

Advantage Technical Resourcing
September 2010 - December 2010
Piccadilly Circus, United Kingdom

Contract to build a international candidate pipeline web site for a global recruitment firm.
Develop a global web presence.


Incite (Leighton Holdings Limited)

November 

