// NEW ENTRY
// COLORS
.light #entryField

  .entryImages
    .entryImageContainer
      background: url(/images/icons/spinner-light-32.gif) no-repeat center center white

    #addFromImageBank
      +bevel-light
      +button-light

    #imageDropArea
      +input-light(large)


.dark #entryField

  .entryImages
    .entryImageContainer
      background: url(/images/icons/spinner-dark-32.gif) no-repeat center center black

    #addFromImageBank
      +bevel-dark
      +button-dark

    #imageDropArea
      +input-dark(large)














#entryField

  .entryImages

    #addFromImageBank
      +round(8)
      +left
      +pointer
      height: 32px
      line-height: 32px
      padding: 0 8px
      margin-left: 8px
      img
        +left
        margin: 6px 8px 6px 0
    #imageDropArea
      +relative
      +bold
      +font(13)
      +right
      +round(8)
      width: 504px
      height: 38px
      line-height: 38px
      img
        +left
        margin: 10px 8px 0 150px
      .dropboxBrowse
        +overflow
        +center
        +pointer
        width: 100%
        +round(8)
        direction: ltr
        height: 36px
        margin: 0 0 -34px
        input
          background: transparent
          border: none
          +outline
        &.qq-upload-drop-area
          +cursor
          +user-select
          height: 36px
          +round(7)
          &.qq-upload-drop-area-active
            background: url('/images/icons/dropbox-26.png') 380px center no-repeat rgba(0,0,0,0.4)

    #currentImages
      margin: 12px 0 0 12px
      +user-select
      .entryImageContainer, .entryImage
        +round(8)
      .entryImageContainer
        +left
        +overflow
        +relative
        margin: 0px 8px 8px 0px
        height: 120px
        width: 120px
        .entryImage
          +relative
          +user-select
          +round(7)
          +left
          +overflow
          +pointer
          width: 120px
          height: 120px
          &:hover
            label.radio
              background: rgba(255,255,255,0.5)
              span
                +block
          label.radio.selected
            background: rgba(255,255,255,1.0)
            span
              +block
          label.radio
            +round(6)
            +flat-top
            +absolute
            +block
            +pointer
            bottom: 0
            width: 100%
            height: 28px
            line-height: 28px
            color: #333
            background: rgba(255,255,255,0.0)
            z-index: 100
            span
              +hidden
              +right
              +bold
              margin-left: 8px
            input
              margin: 8px 8px 0
              +right
              +pointer
            &:hover
              background: rgba(255,255,255,0.8)
          .radioWrap
            +absolute
            +round(12)
            right: 4px
            bottom: 4px
            width: 10px
            height: 10px
            padding: 5px
            background: rgba(255,255,255,0.3)
          .close
            +close-24
            +absolute
            top: 2px
            right: 2px
        .entryImageCaption
          +absolute
          +font(16)
          +bold
          color: #333333
          height: 94px
          margin: 4px
          padding: 8px
          width: 184px
          border: 0px
          background: none
          right: 0px
