// NEW ENTRY
// COLORS
.light #entryField

  // SHARED PANEL STYLES
  .entryPanels
    background-color: #f5f5f5

  // NEW ENTRY OPTIONS
  #entryOptions
    +shine-light(24)
    +border-light

    // SHARING
    .sharing

      .listOfUsers
        label.taggedUsers, label.hideShared, .url, .facebook, .twitter
          +indent-light
          +button-light
          border: 1px solid #777

        .searchWrap
          input.searchField
            +input-light(small)
            &:focus
              color: #777
              box-shadow:         5px 5px 10px rgba(0,0,0,0.6)
              -moz-box-shadow:    5px 5px 10px rgba(0,0,0,0.6)
              -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.6)

        .userResults
          .user
            +bevel-light
            border: 1px solid #777

        .buzz
          +button-light
          +shine-light(16)

    #entry_submit
      +button-light
      +shine-light(16)
      +gradient(#b9b9b9, #1a1a1a)
      +save(16)
      color: #fff
      border: 1px solid #a9a9a9

    #sharing-list, .books-list, #entry-appearance, #entry-location, #entry-date
      +indent-light
      +button-light
      border: 1px solid #fff







// DARK
.dark #entryField

  // SHARED PANEL STYLES
  .entryPanels
    background-color: #111

  // NEW ENTRY OPTIONS
  #entryOptions
    +shine-dark-alpha(24)
    border: 1px solid rgba(0, 0, 0, 0.75)

    // SHARING
    .sharing

      #sharing_select
        color: #ddd
        option
          color: #ddd

      .listOfUsers
        label.taggedUsers, label.hideShared, .url, .facebook, .twitter
          +indent-dark
          +button-dark
          border: 1px solid #444

        .searchWrap
          input.searchField
            +input-dark(small)
            color: #ccc
            &:focus
              color: #ddd
              box-shadow:         5px 5px 10px rgba(250,250,250,0.6)
              -moz-box-shadow:    5px 5px 10px rgba(250,250,250,0.6)
              -webkit-box-shadow: 5px 5px 10px rgba(250,250,250,0.6)

        .userResults
          .user
            +bevel-dark
            border: 1px solid #444

        .buzz
          +button-dark
          +shine-dark(16)

    #entry_submit
      +button-dark
      color: #fff
      +save(16)
      box-shadow:         inset 0 16px rgba(255,255,255,0.2)
      -moz-box-shadow:    inset 0 16px rgba(255,255,255,0.2)
      -webkit-box-shadow: inset 0 16px rgba(255,255,255,0.2)
      background: #aaa
      +gradient(#222, #aaa)

    #sharing-list, .books-list, #entry-appearance, #entry-location, #entry-date
      +indent-dark
      +button-dark
      border: 1px solid #000









// ENTRY TYPE - html select menu
// for degredation when JS doesnt load new technique
#sharing-list
  margin: 8px

#entryType-list, #sharing-list
  +block
  padding: 8px 0
  height: 34px
  +round(20)
  width: 158px
  +font(14)
  +pointer
  +center

  option
    padding: 6px 4px 6px 38px
    text-align: left


// ENTRY TYPE
#entryType-list
  +left
  .dream
    background: url(/images/icons/dream-24-hover.png) no-repeat 8px center
  .vision
    background: url(/images/icons/vision-24-hover.png) no-repeat 8px center
  .experience
    background: url(/images/icons/experience-24-hover.png) no-repeat 8px center
  .article
    background: url(/images/icons/article-24-hover.png) no-repeat 8px center
  .journal
    background: url(/images/icons/journal-24-hover.png) no-repeat 8px center



// SHARING LEVEL
#sharing-list
  +right

  .everyone
    background: url(/images/icons/sharing-24-hover.png) no-repeat 8px center
  .list
    background: url(/images/icons/friend-24.png) no-repeat 8px center
  .followers
    background: url(/images/icons/friend-24-follower.png) no-repeat 8px center
  .anon
    background: url(/images/icons/anon-24-hover.png) no-repeat 8px center
  .private
    background: url(/images/icons/private-24-hover.png) no-repeat 8px center





// WIDGET
#entryType-list-button, #sharing-list-button
  +right
  label
    +hidden

#sharing-list-button
  margin: 8px


#entryType-list-button, #entryType-list-menu, #sharing-list-button, #sharing-list-menu
  +round(20)

  li
    +relative

  .ui-selectmenu-status, li a
    padding-left: 40px

  // ENTRY TYPE - button styling
  &.dream .ui-selectmenu-status
    background: url(/images/icons/dream-24-active.png) no-repeat 8px center
  &.vision .ui-selectmenu-status
    background: url(/images/icons/vision-24-active.png) no-repeat 8px center
  &.experience .ui-selectmenu-status
    background: url(/images/icons/experience-24-active.png) no-repeat 8px center
  &.article .ui-selectmenu-status
    background: url(/images/icons/article-24-active.png) no-repeat 8px center
  &.journal .ui-selectmenu-status
    background: url(/images/icons/journal-24-active.png) no-repeat 8px center

  // ENTRY TYPE - dropdown menu styling
  .dream a
    background: url(/images/icons/dream-24-hover.png) no-repeat 8px center
  .vision a
    background: url(/images/icons/vision-24-hover.png) no-repeat 8px center
  .experience a
    background: url(/images/icons/experience-24-hover.png) no-repeat 8px center
  .article a
    background: url(/images/icons/article-24-hover.png) no-repeat 8px center
  .journal a
    background: url(/images/icons/journal-24-hover.png) no-repeat 8px center

  // chrome fix for hovers
  .dream.ui-selectmenu-item-focus
    +round(19)
    +flat-bottom
  .journal.ui-selectmenu-item-focus
    +round(19)
    +flat-top


  // SHARING LEVEL
  &.everyone .ui-selectmenu-status, .everyone a
    background: url(/images/icons/sharing-24-hover.png) no-repeat 8px center
  &.list .ui-selectmenu-status, .list a
    background: url(/images/icons/friend-24.png) no-repeat 8px center
  &.followers .ui-selectmenu-status, .followers a
    background: url(/images/icons/friend-24-follower.png) no-repeat 8px center
  &.anon .ui-selectmenu-status, .anon a
    background: url(/images/icons/anon-24-hover.png) no-repeat 8px center
  &.private .ui-selectmenu-status, .private a
    background: url(/images/icons/private-24-hover.png) no-repeat 8px center

  // chrome fix for hovers
  .everyone.ui-selectmenu-item-focus
    +round(19)
    +flat-bottom
  .private.ui-selectmenu-item-focus
    +round(19)
    +flat-top


#entryType-list-menu, #sharing-list-menu
  li
    &.default, &.default-hover
      background-color: rgba(0,170,255,0.25)

      // chrome fix for entry type
      &.dream
        +round(19)
        +flat-bottom
      &.journal
        +round(19)
        +flat-top
      // chrome fix for sharing level
      &.everyone
        +round(19)
        +flat-bottom
      &.private
        +round(19)
        +flat-top

    &.default label
      +block
    &:hover label
      +block
    label
      +hidden
      +pointer
      +absolute
      top: 0
      right: 0
      +right
      width: 16px
      height: 25px
      padding: 7px 11px
      input
        +pointer


// WIDGET COLORS
.light
  #entryType-list, #entryType-list-button, #sharing-list, #sharing-list-button
    +indent-light
    +button-light

.dark
  #entryType-list, #entryType-list-button, #sharing-list, #sharing-list-button
    +button-dark
    +indent-dark
    border: 1px solid #222
    color: #ddd

// DROPDOWN COLORS
.light #entryType-list-menu, .light #sharing-list-menu
  border: 1px solid #ccc
  background-color: #f5f5f5
  box-shadow:         0 3px 12px rgba(0,0,0,0.15)
  -moz-box-shadow:    0 3px 10px rgba(0,0,0,0.15)
  -webkit-box-shadow: 0 3px 12px rgba(0,0,0,0.15)
.light #entryType-list-menu, .light #sharing-list-menu
  li.default, li.default-hover
    background-color: #dbe9f0

.dark #entryType-list-menu, .dark #sharing-list-menu
  border: 1px solid #222
  +flat-dark
  box-shadow:         0 3px 12px rgba(255,255,255,0.15)
  -moz-box-shadow:    0 3px 10px rgba(255,255,255,0.15)
  -webkit-box-shadow: 0 3px 12px rgba(255,255,255,0.15)
.dark #entryType-list-menu, .dark #sharing-list-menu
  li.default, li.default-hover
    background-color: #333 





// ENTRY OPTIONS
#entryOptions
  +round(16)
  +relative
  width: 678px 
  height: 52px
  margin: 0 auto
  bottom: 0












  .books-list, #entry-appearance, #entry-date, #entry-location, #entry_submit
    +round(20)
    +center
    +pointer
    +right
    height: 34px
    line-height: 34px
    margin: 8px 0 0 8px

  .books-list
    +left
    +relative

    .img
      +left
      background: url('/images/icons/books-24.png') center center no-repeat

    .newBook-input
      +hidden
      +round(7)
      +outline
      margin: 0
      height: 32px
      width: 198px
      // Fallback color
      background-color:     #245a91
      // Fallback image
      background-image:     url(/images/books/spine-blue-64.png)
      background-repeat: repeat-x
      background-position: left
      background-size: 100% 100%
      background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60A6E7), color-stop(10%, #60A6E7), color-stop(16%, #2D71B0), color-stop(84%, #17558D), color-stop(92%, #00305C), color-stop(100%, #00305C))
      background-image:     -moz-linear-gradient(center top, #60A6E7, #60A6E7 10%, #2D71B0 16%, #17558D 84%, #00305C 92%, #00305C)
      background-image:     -o-linear-gradient(top, #60A6E7, #60A6E7 10%, #2D71B0 16%, #17558D 84%, #00305C 92%, #00305C)
      border: 1px solid #00305c !important

    .close
      +hidden
      +close-24
      +absolute
      top: 4px
      right: 4px





  #entry-appearance, #entry-date, #entry-location
    width: 42px



  .books-list .img, #entry-appearance .img, #entry-date .img, #entry-location .img
    width: 42px
    height: 34px



  #entry-location
    .img
      background: url('/images/icons/location-24.png') center center no-repeat
    &:hover .img
      background: url('/images/icons/location-24-hover.png') center center no-repeat
    &:active .img
      background: url('/images/icons/location-24.png') center center no-repeat
  #entry-location.selected
    .img
      background: url('/images/icons/location-24-hover.png') center center no-repeat !important


  #entry-appearance
    .img
      background: url('/images/icons/appearance-24.png') center center no-repeat
    &:hover .img
      background: url('/images/icons/appearance-24-hover.png') center center no-repeat
    &:active .img
      background: url('/images/icons/appearance-24-active.png') center center no-repeat


  #entry-date
    .img
      background: url('/images/icons/date-24.png') center center no-repeat
    &:hover .img
      background: url('/images/icons/date-24-hover.png') center center no-repeat
    &:active .img
      background: url('/images/icons/date-24.png') center center no-repeat


  #postSpinner
    +right
    margin: 0 -95px
    width: 32px
    height: 55px
    background: url('/images/icons/spinner-grey-32.gif') center center no-repeat




  #entry_submit
    +bold
    +font(12)
    +round(12)
    width: 100px
    height: 38px
    margin: 8px 8px 0 0
    +save(14)
    &.disabled
      +alpha(20)
    &.disabled, &.selected, &.selected:hover, &.selected:active
      box-shadow:         inset 0 16px rgba(255,255,255,0.2) !important
      -moz-box-shadow:    inset 0 16px rgba(255,255,255,0.2) !important
      -webkit-box-shadow: inset 0 16px rgba(255,255,255,0.2) !important
      background: #aaa
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.86)), to(rgba(157,157,157,0.86))) !important
      background: -moz-linear-gradient(top, rgba(0,0,0,0.86), rgba(157,157,157,0.86)) !important
      color: #fff !important
      border: 1px solid #777 !important
      cursor: default !important








// COMMENTED OUT SHARING OPTIONS - specific users and direct link url
#entryOptions
  // SHARING
  .sharingWrap
    +right
    +relative
    width: 180px
    margin: 8px 0 0 8px
    .sharing
      +absolute
      +round(20)
      +pointer
      min-height: 34px
      line-height: 34px
      width: 170px  // will need to make wider when implementing list of users and url
      margin: 0
      z-index: 1101
      .listSelection
        +pointer
        +left
        width: 24px
        height: 34px
        margin: 0 -36px 0 6px

      select#sharing_select
        +outline
        +round(8)
        +font(14)
        +pointer
        +right
        +transparent
        +center
        border: none
        height: 34px
        padding: 7px 8px
        option
          padding: 8px 0 8px 30px
          text-align: left
        option.everyone
          background: url(/images/icons/sharing-16-hover.png) no-repeat 8px center
        option.list
          background: url(/images/icons/friend-16.png) no-repeat 8px center
        option.followers
          background: url(/images/icons/friend-16-follower.png) no-repeat 8px center
        option.anon
          background: url(/images/icons/anon-16-hover.png) no-repeat 8px center
        option.private
          background: url(/images/icons/private-16-hover.png) no-repeat 8px center

      // SHARING - LIST OF USERS
      .listOfUsers
        +relative
        +clear
        margin: 0 8px 8px 8px

        // USER SEARCH
        .searchWrap
          +relative
          height: 32px
          margin: 4px 0 8px 0

          // // SEARCH FIELD
          // .listSearchForm

          input.searchField
            +round(4)
            +font(12)
            width: 124px
            margin: 0
            height: 22px
            padding: 4px 24px 4px 4px

          input.search
            +absolute
            +transparent
            +pointer
            top: 2px
            right: 2px
            border: none
            height: 32px
            width: 24px
            background: url(/images/icons/search-16.png) no-repeat center transparent
            &:hover
              background: url(/images/icons/search-16-hover.png) no-repeat center transparent
            &:active
              background: url(/images/icons/search-16-active.png) no-repeat center transparent

        .userResults
          +user-select

          .user
            +round(4)
            height: 32px
            line-height: 32px
            margin: 4px 0 0

            .avatar, .username, .statusIcon
              +left
              margin: 0 8px 0 0

            .avatar
              +round(4)
              +flat-right
              width: 32px
              height: 32px

            .username
              +font(12)

            .statusIcon
              width: 16px
              height: 16px
              margin: 8px 8px 0 0
              background: url(/images/icons/friend-stream-sprite.png) no-repeat
              &.none
                background-position: 0% 0%
              &.following
                background-position: 0% 33%
              &.followed_by
                background-position: 0% 66%
              &.friends
                background-position: 0% 100%

            .close
              +close-16
              +right
              height: 32px
              margin: 0 4px 0 0

        label.taggedUsers, label.hideShared
          +round(8)
          +pointer
          +block
          +font(12)
          padding: 0 4px
          height: 22px
          line-height: 22px
          margin: 4px 0 0
          .img
            +left
            width: 16px
            height: 22px
            margin: 0 8px 0 2px
          input
            +right
            +pointer
            +outline
            margin: 5px 0 0
        label.taggedUsers
          .img
            background: url(/images/icons/tag-16.png) no-repeat center transparent
          &:hover .img
            background: url(/images/icons/tag-16-hover.png) no-repeat center transparent
          &:active .img
            background: url(/images/icons/tag-16-active.png) no-repeat center transparent
        label.hideShared
          .img
            background: url(/images/icons/anon-16.png) no-repeat center transparent
          &:hover .img
            background: url(/images/icons/anon-16-hover.png) no-repeat center transparent
          &:active .img
            background: url(/images/icons/anon-16-active.png) no-repeat center transparent

      .everyone
        +relative
        +clear
        margin-bottom: 4px
        .facebook, .twitter, .buzz
          +round(8)
          margin: 4px 0 0
          label
            +pointer
            +block
            padding: 4px
            height: 28px
            line-height: 28px
            img
              margin: 7px 0 0 4px
            input
              +pointer
              +right
              +outline
              margin: 9px 8px 0 8px
            span, img
              +left
              margin-right: 4px
            span.shareOn, span.shared, span.sharedWhen
              color: #656565
            span.sharedWhen, span.shared
              margin-top: 2px
              font-size: 11px
            span.shared
              text-transform: uppercase