// NEW ENTRY
// COLORS
.light #entryField

  .entryTags
    .tagInputWrap
      background: url(/images/slices/inputLeftLight-40.png) no-repeat left

      .tagInput
        background: url(/images/slices/inputContentLight-40.png) repeat-x

        input
          color: #333

        .tagAdd
          +button-light
          +shine-light-alpha(13)

      .tagInputRight
        background: url(/images/slices/inputRightLight-40.png) no-repeat right




.dark #entryField

  .entryTags
    .tagInputWrap
      background: url(/images/slices/inputLeft-Dark-40.png) no-repeat left

      .tagInput
        background: url(/images/slices/inputContent-Dark-40.png) repeat-x

        input
          color: #ddd

        .tagAdd
          +button-dark
          +shine-dark-alpha(13)

      .tagInputRight
        background: url(/images/slices/inputRight-Dark-40.png) no-repeat right












#entryField
  // NEW ENTRY TAGS
  .entryTags
    .tagInputWrap
      +right
      height: 40px
      margin: 0 0 8px 8px
      img
        +left
        margin: 0
      .tagInput
        +left
        height: 40px
        margin: 0 0 0 26px
        input
          +left
          +font(18)
          +transparent
          +outline
          width: 400px
          height: 32px
          margin: 4px 0
          border: 0
      .tagAdd
        +round(4)
        +center
        +right
        +bold
        width: 62px
        height: 28px
        line-height: 30px
        margin: 5px 0
        span
          color: #009933
      .tagInputRight
        +right
        width: 14px
        height: 40px