// BOOK SHELF

#bookShelf
  margin: 12px 0 0


// BOOK SPINE STRUCTURE
.bookSpine, .bookSpine-add
  +relative
  +round(7)
  +overflow
  +font(16)
  margin: 0
  height: 32px
  width: 208px

  // .cover, .mask
  //   +absolute
  //   top: 8px
  //   left: 0
  //   height: 32px
  //   width: 208px

  table
    +bold
    border: none
    padding: 0
    height: 100%

    &:hover .count
      +block

    .title
      padding-left: 8px
      width: 176px
      height: 100%
      vertical-align: middle

    .count
      +hidden
      +center
      padding-right: 6px

      div
        +round(8)
        width: 18px
        height: 18px
        line-height: 20px
        background: #fff

  .dropbox, .active
    +absolute
    top: 0
    left: 0
    height: 32px
    width: 208px

  .active
    +hidden
    @extend .plus-16-greenBlue
    background-position: 184px center
    background-color: #000
    background-color: rgba(0,0,0,0.7)


// BOOK SPINE COLORS
// NOTE: color and color hover is made for normal class application and the 'a' color and hover is made for instances 
// like the dropdown menu where an 'a' sits inside the spine class and wants to adopt default 'a' styling
.light, .dark

  .bookSpine.blue, .bookSpine-add
    color: #60A6E7
    &:hover
      color: #fff
      border: 1px solid #60A6E7 !important
    // Fallback color
    background-color:     #245a91
    // Fallback image
    background-image:     url(/images/books/spine-blue-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60A6E7), color-stop(10%, #60A6E7), color-stop(16%, #2D71B0), color-stop(84%, #17558D), color-stop(92%, #00305C), color-stop(100%, #00305C))
    background-image:     -moz-linear-gradient(center top, #60A6E7, #60A6E7 10%, #2D71B0 16%, #17558D 84%, #00305C 92%, #00305C)
    background-image:     -o-linear-gradient(top, #60A6E7, #60A6E7 10%, #2D71B0 16%, #17558D 84%, #00305C 92%, #00305C)
    border:               1px solid #00305c !important
    .count
      color: #123d66
    a
      color: #60A6E7
      &:hover
        color: #fff

  .bookSpine.purple
    color: #9868c7
    &:hover
      color: #fff
      border: 1px solid #9868c7 !important
    // Fallback color
    background-color:     #723ca7
    // Fallback image
    background-image:     url(/images/books/spine-purple-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9868c7), color-stop(10%, #9868c7), color-stop(16%, #723ca7), color-stop(84%, #4c2474), color-stop(92%, #341950), color-stop(100%, #341950))
    background-image:     -moz-linear-gradient(center top, #9868c7, #9868c7 10%, #723ca7 16%, #4c2474 84%, #341950 92%, #341950)
    background-image:     -o-linear-gradient(top, #9868c7, #9868c7 10%, #723ca7 16%, #4c2474 84%, #341950 92%, #341950)
    border:               1px solid #341950 !important
    .count
      color: #5b2e87
    a
      color: #9868c7
      &:hover
        color: #fff

  .bookSpine.pink
    color: #dc6bd2
    &:hover
      color: #fff
      border: 1px solid #dc6bd2 !important
    // Fallback color
    background-color:     #b22fa6
    // Fallback image
    background-image:     url(/images/books/spine-pink-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc6bd2), color-stop(10%, #dc6bd2), color-stop(16%, #b22fa6), color-stop(84%, #77196f), color-stop(92%, #43113f), color-stop(100%, #43113f))
    background-image:     -moz-linear-gradient(center top, #dc6bd2, #dc6bd2 10%, #b22fa6 16%, #77196f 84%, #43113f 92%, #43113f)
    background-image:     -o-linear-gradient(top, #dc6bd2, #dc6bd2 10%, #b22fa6 16%, #77196f 84%, #43113f 92%, #43113f)
    border:               1px solid #43113f !important
    .count
      color: #912487
    a
      color: #dc6bd2
      &:hover
        color: #fff

  .bookSpine.red
    color: #e77275
    &:hover
      color: #fff
      border: 1px solid #e77275 !important
    // Fallback color
    background-color:     #b22f31
    // Fallback image
    background-image:     url(/images/books/spine-red-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e77275), color-stop(10%, #e77275), color-stop(16%, #b22f31), color-stop(84%, #7b1b1d), color-stop(92%, #521416), color-stop(100%, #521416))
    background-image:     -moz-linear-gradient(center top, #e77275, #e77275 10%, #b22f31 16%, #7b1b1d 84%, #521416 92%, #521416)
    background-image:     -o-linear-gradient(top, #e77275, #e77275 10%, #b22f31 16%, #7b1b1d 84%, #521416 92%, #521416)
    border:               1px solid #521416 !important
    .count
      color: #912425
    a
      color: #e77275
      &:hover
        color: #fff

  .bookSpine.orange
    color: #e9a26c
    &:hover
      color: #fff
      border: 1px solid #e9a26c !important
    // Fallback color
    background-color:     #8d3e03
    // Fallback image
    background-image:     url(/images/books/spine-orange-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9a26c), color-stop(10%, #e9a26c), color-stop(16%, #d06310), color-stop(84%, #8d3e03), color-stop(92%, #572807), color-stop(100%, #572807))
    background-image:     -moz-linear-gradient(center top, #e9a26c, #e9a26c 10%, #d06310 16%, #8d3e03 84%, #572807 92%, #572807)
    background-image:     -o-linear-gradient(top, #e9a26c, #e9a26c 10%, #d06310 16%, #8d3e03 84%, #572807 92%, #572807)
    border:               1px solid #572807 !important
    .count
      color: #aa5009
    a
      color: #e9a26c
      &:hover
        color: #fff

  .bookSpine.yellow
    color: #f1cd71
    &:hover
      color: #fff
      border: 1px solid #f1cd71 !important
    // Fallback color
    background-color:     #956900
    // Fallback image
    background-image:     url(/images/books/spine-yellow-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1cd71), color-stop(10%, #f1cd71), color-stop(16%, #e1a100), color-stop(84%, #956900), color-stop(92%, #624603), color-stop(100%, #624603))
    background-image:     -moz-linear-gradient(center top, #f1cd71, #f1cd71 10%, #e1a100 16%, #956900 84%, #624603 92%, #624603)
    background-image:     -o-linear-gradient(top, #f1cd71, #f1cd71 10%, #e1a100 16%, #956900 84%, #624603 92%, #624603)
    border:               1px solid #624603 !important
    .count
      color: #b88400
    a
      color: #f1cd71
      &:hover
        color: #fff

  .bookSpine.aqua
    color: #6aeae8
    &:hover
      color: #fff
      border: 1px solid #6aeae8 !important
    // Fallback color
    background-color:     #3ba5a3
    // Fallback image
    background-image:     url(/images/books/spine-aqua-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aeae8), color-stop(10%, #6aeae8), color-stop(16%, #3ba5a3), color-stop(84%, #216d6c), color-stop(92%, #144947), color-stop(100%, #144947))
    background-image:     -moz-linear-gradient(center top, #6aeae8, #6aeae8 10%, #3ba5a3 16%, #216d6c 84%, #144947 92%, #144947)
    background-image:     -o-linear-gradient(top, #6aeae8, #6aeae8 10%, #3ba5a3 16%, #216d6c 84%, #144947 92%, #144947)
    border:               1px solid #144947 !important
    .count
      color: #2e8786
    a
      color: #6aeae8
      &:hover
        color: #fff

  .bookSpine.green
    color: #b0f170
    &:hover
      color: #fff
      border: 1px solid #b0f170 !important
    // Fallback color
    background-color:     #487818
    // Fallback image
    background-image:     url(/images/books/spine-green-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0f170), color-stop(10%, #b0f170), color-stop(16%, #72b82f), color-stop(84%, #487818), color-stop(92%, #2e4f0b), color-stop(100%, #2e4f0b))
    background-image:     -moz-linear-gradient(center top, #b0f170, #b0f170 10%, #72b82f 16%, #487818 84%, #2e4f0b 92%, #2e4f0b)
    background-image:     -o-linear-gradient(top, #b0f170, #b0f170 10%, #72b82f 16%, #487818 84%, #2e4f0b 92%, #2e4f0b)
    border:               1px solid #2e4f0b !important
    .count
      color: #5a9223
    a
      color: #b0f170
      &:hover
        color: #fff

  .bookSpine.blue-deep
    color: #5a71c5
    &:hover
      color: #fff
      border: 1px solid #5a71c5 !important
    // Fallback color
    background-color:     #233058
    // Fallback image
    background-image:     url(/images/books/spine-blue-deep-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a71c5), color-stop(10%, #5a71c5), color-stop(16%, #384881), color-stop(84%, #233058), color-stop(92%, #101a3a), color-stop(100%, #101a3a))
    background-image:     -moz-linear-gradient(center top, #5a71c5, #5a71c5 10%, #384881 16%, #233058 84%, #101a3a 92%, #101a3a)
    background-image:     -o-linear-gradient(top, #5a71c5, #5a71c5 10%, #384881 16%, #233058 84%, #101a3a 92%, #101a3a)
    border:               1px solid #101a3a !important
    .count
      color: #5ea8e0
    a
      color: #5a71c5
      &:hover
        color: #fff

  .bookSpine.green-deep
    color: #7ba594
    &:hover
      color: #fff
      border: 1px solid #7ba594 !important
    // Fallback color
    background-color:     #354a42
    // Fallback image
    background-image:     url(/images/books/spine-green-deep-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ba594), color-stop(10%, #7ba594), color-stop(16%, #547266), color-stop(84%, #354a42), color-stop(92%, #20302a), color-stop(100%, #20302a))
    background-image:     -moz-linear-gradient(center top, #7ba594, #7ba594 10%, #547266 16%, #354a42 84%, #20302a 92%, #20302a)
    background-image:     -o-linear-gradient(top, #7ba594, #7ba594 10%, #547266 16%, #354a42 84%, #20302a 92%, #20302a)
    border:               1px solid #20302a !important
    .count
      color: #3f6254
    a
      color: #7ba594
      &:hover
        color: #fff

  .bookSpine.brown
    color: #9a8268
    &:hover
      color: #fff
      border: 1px solid #9a8268 !important
    &:active
      color: #2d2014
    // Fallback color
    background-color:     #483726
    // Fallback image
    background-image:     url(/images/books/spine-brown-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a8268), color-stop(10%, #9a8268), color-stop(16%, #6d563e), color-stop(84%, #483726), color-stop(92%, #2d2014), color-stop(100%, #2d2014))
    background-image:     -moz-linear-gradient(center top, #9a8268, #9a8268 10%, #6d563e 16%, #483726 84%, #2d2014 92%, #2d2014)
    background-image:     -o-linear-gradient(top, #9a8268, #9a8268 10%, #6d563e 16%, #483726 84%, #2d2014 92%, #2d2014)
    border:               1px solid #2d2014 !important
    .count
      color: #53412e
    a
      color: #9a8268
      &:hover
        color: #fff

  .bookSpine.maroon
    color: #af5965
    &:hover
      color: #fff
      border: 1px solid #af5965 !important
    // Fallback color
    background-color:     #5a1923
    // Fallback image
    background-image:     url(/images/books/spine-maroon-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #af5965), color-stop(10%, #af5965), color-stop(16%, #832b37), color-stop(84%, #5a1923), color-stop(92%, #380c13), color-stop(100%, #380c13))
    background-image:     -moz-linear-gradient(center top, #af5965, #af5965 10%, #832b37 16%, #5a1923 84%, #380c13 92%, #380c13)
    background-image:     -o-linear-gradient(top, #af5965, #af5965 10%, #832b37 16%, #5a1923 84%, #380c13 92%, #380c13)
    border:               1px solid #380c13 !important
    .count
      color: #661c27
    a
      color: #af5965
      &:hover
        color: #fff

  .bookSpine.black
    color: #5c5c5c
    &:hover
      color: #fff
      border: 1px solid #5c5c5c !important
    // Fallback color
    background-color:     #191919
    // Fallback image
    background-image:     url(/images/books/spine-black-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5c5c), color-stop(10%, #5c5c5c), color-stop(16%, #373737), color-stop(84%, #191919), color-stop(92%, #000), color-stop(100%, #000))
    background-image:     -moz-linear-gradient(center top, #5c5c5c, #5c5c5c 10%, #373737 16%, #191919 84%, #000 92%, #000)
    background-image:     -o-linear-gradient(top, #5c5c5c, #5c5c5c 10%, #373737 16%, #191919 84%, #000 92%, #000)
    border:               1px solid #000 !important
    .count
      color: #000
    a
      color: #5c5c5c
      &:hover
        color: #fff

  .bookSpine.grey-dark
    color: #8e8e8e
    &:hover
      color: #fff
      border: 1px solid #8e8e8e !important
    // Fallback color
    background-color:     #363636
    // Fallback image
    background-image:     url(/images/books/spine-grey-dark-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e8e8e), color-stop(10%, #8e8e8e), color-stop(16%, #5c5c5c), color-stop(84%, #363636), color-stop(92%, #222), color-stop(100%, #222))
    background-image:     -moz-linear-gradient(center top, #8e8e8e, #8e8e8e 10%, #5c5c5c 16%, #363636 84%, #222 92%, #222)
    background-image:     -o-linear-gradient(top, #8e8e8e, #8e8e8e 10%, #5c5c5c 16%, #363636 84%, #222 92%, #222)
    border:               1px solid #222 !important
    .count
      color: #4b4b4b
    a
      color: #8e8e8e
      &:hover
        color: #fff

  .bookSpine.grey-light
    color: #c4c4c4
    &:hover
      color: #000
      border: 1px solid #c4c4c4 !important
    // Fallback color
    background-color:     #626262
    // Fallback image
    background-image:     url(/images/books/spine-grey-light-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4c4c4), color-stop(10%, #c4c4c4), color-stop(16%, #9d9c9c), color-stop(84%, #626262), color-stop(92%, #474747), color-stop(100%, #474747))
    background-image:     -moz-linear-gradient(center top, #c4c4c4, #c4c4c4 10%, #9d9c9c 16%, #626262 84%, #474747 92%, #474747)
    background-image:     -o-linear-gradient(top, #c4c4c4, #c4c4c4 10%, #9d9c9c 16%, #626262 84%, #474747 92%, #474747)
    border:               1px solid #474747 !important
    .count
      color: #bebebe
    a
      color: #c4c4c4
      &:hover
        color: #000

  .bookSpine.white
    color: #444
    &:hover
      color: #000
      border: 1px solid #fff !important
    // Fallback color
    background-color:     #d2d2d2
    // Fallback image
    background-image:     url(/images/books/spine-white-64.png)
    background-repeat:    repeat-x
    background-position:  left
    background-size:      100% 100%
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(10%, #fff), color-stop(16%, #ececec), color-stop(84%, #d2d2d2), color-stop(92%, #aeaeae), color-stop(100%, #aeaeae))
    background-image:     -moz-linear-gradient(center top, #fff, #fff 10%, #ececec 16%, #d2d2d2 84%, #aeaeae 92%, #aeaeae)
    background-image:     -o-linear-gradient(top, #fff, #fff 10%, #ececec 16%, #d2d2d2 84%, #aeaeae 92%, #aeaeae)
    border:               1px solid #aeaeae !important
    .count
      color: #fff
    a
      color: #444
      &:hover
        color: #000






