<li class="uploading">
  <p class="spinner"></p>
  <style>
    .uploading .spinner {
      height: 50px;
      
    }
    .uploading .upload-failed-text {
      display: none;
    }
  </style>
  
  <p class="upload-file"></p>
  <p class="upload-size"></p>
  <a class="upload-cancel" href="#">Cancel</a>
  <<p class="upload-failed-text">Failed</p>
  <div class="progress-meter"></div>
</li>