<div class="icon"></div>
<h2 class="drop">dropbox</h2>
<h2 class="all">select all</h2>
<div class="browse">browse</div>
<h2 class="drag">drag files here to upload</h2>

<style>
  .dropArea {
    background: none;
    height: 100%;
    left: 0;
    min-height: 122px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .dropAreaActive {
    background-color: black;

  }
</style>
<div class="dropbox">
  <div class="dropArea">
  </div>
  <ul class="imagelist">

  </ul>
</div>