
= form_for([@dict, word]) do |f|
  %br
  .word= f.text_field :name
  .def= f.text_area :definition, :style => 'width: 574px; height: 200px; margin-top: 8px; padding: 4px'

  = f.submit :class => 'submit', :style => 'width: 100%; margin-top: 8px'
