%br
%br
%br
%div{style: 'width:600px; margin: 20px'}
  .transparent-50.round-16.padding-8

    %h1.bevel.round-12.padding-8.align-center{style: 'margin: 0 0 8px'}
      Edit word
      %a.shine.font-21.button.padding-4-8.block.cancel.align-center.float-left.round-12{href:  dictionary_words_path(@dict), style: 'margin-right: -80px'}
        &lsaquo; cancel

    = render( { partial: 'form', locals: { word: @word } } )
