<div id='avatarDrop' class='uploader'>
  <div id='avatarDropContainer' class='dropbox'>
    <div class='image'></div>
    <div class='text'>
      <a xmlns='http://www.w3.org/1999/xhtml'>drag new image here</a>
    </div>
    <div class='browse'>
      <div class='toggle'>
        <a xmlns='http://www.w3.org/1999/xhtml'>browse for a file</a>
      </div>
      <div class='cancel'>
        <a xmlns='http://www.w3.org/1999/xhtml'>cancel</a>
      </div>
      <div class='dropboxBrowse'>
        <a xmlns='http://www.w3.org/1999/xhtml'>browse</a>
      </div>
    </div>
  </div>
</div>