// BOOKS

.book
  +pointer
  +left
  +relative
  width: 200px
  height: 266px
  margin: 0 10px 10px 0
  z-index: 81

  a.link, .closed, .fade
    +absolute
    top: 0
    right: 0
    width: 200px
    height: 266px

  a.link
    +block
    z-index: 1

  // CLOSED BOOK
  .closed
    z-index: 2

    .info
      +absolute
      +round(16)
      left: 0
      bottom: 0
      width: 170px
      height: 248px

      .entries, .edit, .title, .comments, .sharing
        +absolute
        +round(12)
        +font(14)
        +bold
        color: #222
        background-color: rgba(250,250,250,0.5)
        // background-color: rgba(18,61,102,0.5)

      .entries, .comments, .sharing
        height: 24px
        line-height: 24px
        padding: 0 8px 0 28px
        background-position: 4px center
        background-repeat: no-repeat

      .entries
        top: 4px
        left: 4px

      .edit
        top: 4px
        right: 4px
        height: 24px
        line-height: 24px
        padding: 0 8px

      .title
        +font(18)
        bottom: 40px
        left: 0
        margin: 0 4px
        height: auto
        padding: 8px

      .comments
        bottom: 4px
        left: 4px

      .sharing
        bottom: 4px
        right: 4px

    .cover
      +absolute
      +overflow
      +round(16)
      left: 0
      bottom: 0
      width: 170px
      height: 248px
      background-position: center
      background-repeat: no-repeat

  // OPEN BOOK
  .open
    +absolute
    top: 0
    right: 0
    width: 335px
    height: 334px
    color: #444
    z-index: 2


    // PANEL SHARED STYLES
    .control-panel, .color-panel, .cover-panel, .dropbox
      +absolute
      top: 19px
      right: 32px
      padding: 8px
      width: 148px
      height: 224px

    .header, .color, .coverImage, .access, .settings, .more, .confirm
      +round(4)
      height: 30px
      line-height: 30px
      margin: 0 0 4px
      border: 1px solid #888
      +bevel-light

      .icon,
        +left
        +round(4)
        +flat-right
        height: 30px
        width: 30px
        margin: 0 8px 0 0

    .header
      +indent-light
      height: 32px
      line-height: 32px
      padding: 2px 0
      border: 0
      border-bottom: 2px solid #000

    .back
      +left
      +round(4)
      +font(24)
      +bold
      +center
      width: 30px
      height: 30px
      margin: 0 4px
      border: 1px solid #888
      +bevel-light


    // CONTROL PANEL ONLY

    .control-panel
      .header, .color, .coverImage, .access, .settings
        +center

    .color .icon
      background: #123d66
      box-shadow:         inset 0 16px rgba(255,255,255,0.5)
      -moz-box-shadow:    inset 0 16px rgba(255,255,255,0.5)
      -webkit-box-shadow: inset 0 16px rgba(255,255,255,0.5)

    .coverImage .icon
      background: url(/images/icons/images-16-hover.png) no-repeat center center transparent

    .access .icon
      background: url(/images/icons/private-24-hover.png) no-repeat center center transparent

    .settings .icon
      background: url(/images/icons/settings-24-hover.png) no-repeat center center transparent

    .more
      +absolute
      bottom: 2px
      left: 8px
      width: 30px
      .arrow
        +absolute
        width: 30px
        height: 30px
        background: url(/images/icons/arrow-down-16-dark.png) no-repeat center center transparent

    .confirm
      +confirm(16)
      +font(18)
      +bold
      +absolute
      bottom: 2px
      right: 8px
      padding: 0 16px


    // COLOR PANEL ONLY
    .color-panel

      .header
        text-align: left

      .back
        +font(24)
        +bold
        +center
        width: 30px
        margin: 0 4px
        border: 1px solid #888
        +bevel-light

      .icon
        background: url(/images/icons/appearance-24-hover.png) no-repeat center center transparent

      .swatches
        margin: 0 0 0 4px

      li
        +left
        +round(4)
        width: 30px
        height: 30px
        line-height: 30px
        margin: 0 4px 4px 0
        border: 1px solid #fff

        &:hover
          box-shadow:         inset 0 14px rgba(255,255,255,0.2)
          -moz-box-shadow:    inset 0 14px rgba(255,255,255,0.2)
          -webkit-box-shadow: inset 0 14px rgba(255,255,255,0.2)

      .blue-dark
        background-color: #123d66
      .purple-dark
        background-color: #5b2e87
      .purple-light
        background-color: #912487
      .red
        background-color: #912425
      .teal
        background-color: #2e8786
      .green-light
        background-color: #5a9223
      .yellow
        background-color: #b88400
      .orange
        background-color: #aa5009
      .blue-light
        background-color: #5ea8e0
      .green-dark
        background-color: #3f6254
      .brown
        background-color: #53412e
      .maroon
        background-color: #661c27
      .white
        background-color: #fff
      .grey-light
        background-color: #bebebe
      .grey-dark
        background-color: #4b4b4b
      .black
        background-color: #000


    // COLOR IMAGE PANEL
    .cover-panel
      +font(14)

      .icon
        margin: 0 2px 0 0
        background: url(/images/icons/images-16-hover.png) no-repeat center center transparent

      .dropbox-field
        +absolute
        +round(12)
        top: 58px
        right: 16px
        width: 134px
        height: 170px
        box-shadow:         5px 5px 2.8px #444
        -moz-box-shadow:    5px 5px 2px #444
        -webkit-box-shadow: 5px 5px 2.8px #444

        .dropbox-field-shine
          +round(12)
          width: 134px
          height: 170px
          border: 1px solid #fff
          background: #123d66
          box-shadow:         inset 0 14px rgba(255,255,255,0.2)
          -moz-box-shadow:    inset 0 14px rgba(255,255,255,0.2)
          -webkit-box-shadow: inset 0 14px rgba(255,255,255,0.2)

          .add
            +center
            margin: 60px auto 0
            width: 80px
            padding: 28px 0 0
            color: #fff
            background: url(/images/icons/green-plus-20.png) no-repeat top center transparent

      .active
        +hidden
        +absolute
        +round(12)
        top: 58px
        right: 14px
        width: 136px
        height: 172px
        background: #000
        background: rgba(0,0,0,0.5)
        z-index: 5




