// BOOK SHELF

#bookShelf
  margin: 12px 0 0


// BOOK SPINE STRUCTURE
.bookSpine, .bookSpine-add
  +relative
  +round(7)
  +overflow
  +font(16)
  margin: 0
  height: 32px
  width: 208px

  // .cover, .mask
  //   +absolute
  //   top: 8px
  //   left: 0
  //   height: 32px
  //   width: 208px

  table
    +bold
    border: none
    padding: 0
    height: 100%

    &:hover .count
      +block

    .title
      padding-left: 8px
      width: 176px
      height: 100%
      vertical-align: middle

    .count
      +hidden
      +center
      padding-right: 6px

      div
        +round(8)
        width: 18px
        height: 18px
        line-height: 20px
        background: #fff

  .dropbox, .active
    +absolute
    top: 0
    left: 0
    height: 32px
    width: 208px

  .active
    +hidden
    background: #000 url(/images/icons/plus-16-greenBlue.png) no-repeat 184px center
    background: rgba(0,0,0,0.7) url(/images/icons/plus-16-greenBlue.png) no-repeat 184px center


// BOOK SPINE COLORS
.bookSpine.blue, .bookSpine-add
  color: #fff
  // Fallback color
  background-color:     #245a91
  // Fallback image
  background-image:     url(/images/books/spine-blue-64.png)
  background-repeat:    repeat-x
  background-position:  left
  background-size:      100% 100%
  background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60A6E7), color-stop(10%, #60A6E7), color-stop(16%, #2D71B0), color-stop(84%, #17558D), color-stop(92%, #00305C), color-stop(100%, #00305C))
  background-image:     -moz-linear-gradient(center top, #60A6E7, #60A6E7 10%, #2D71B0 16%, #17558D 84%, #00305C 92%, #00305C)
  background-image:     -o-linear-gradient(top, #60A6E7, #60A6E7 10%, #2D71B0 16%, #17558D 84%, #00305C 92%, #00305C)
  border:               1px solid #00305c !important
  .count
    color: #123d66

.bookSpine.purple
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #5b2e87

.bookSpine.pink
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #912487

.bookSpine.red
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #912425

.bookSpine.aqua
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #2e8786

.bookSpine.green-light
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #5a9223

.bookSpine.yellow
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #b88400

.bookSpine.orange
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #aa5009

.bookSpine.blue-light
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #5ea8e0

.bookSpine.green-dark
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #3f6254

.bookSpine.brown
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #53412e

.bookSpine.maroon
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #661c27

.bookSpine.white
  color: #000
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #fff

.bookSpine.grey-light
  color: #000
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #bebebe

.bookSpine.grey-dark
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #4b4b4b

.bookSpine.black
  color: #fff
  background: url(/images/books/spine-blue-dark.png) repeat-x left
  .count
    color: #000






