// BROWSE


ul#type
  +round(12)
  list-style: none
  margin: 0
  padding: 16px 8px 8px 16px
  height: 40px
  +gradient(#505050, rgba(39,39,39,0.1))

  li
    +left
    +pointer
    +user-select
    +round(8)
    height: 32px
    line-height: 30px
    margin: 0 16px 0 0
    padding: 0 16px
    background: #1c1c1c
    &:hover, &.selected
      color: #414042
      +gradient(#8c8c8c, #fff)


#categories
  +clear
  margin: 0 0 8px
  padding: 0

  .category
    +pointer
    +center
    +left
    +font(26)
    height: 108px
    line-height: 104px
    width: 372px
    margin: 0 2px
    color: #a1a1a1
    +shine-dark(54)
    &:hover
      color: #fff
      +gradient(#444, #111)




