#fullscreen
  +hidden
  +relative
  width: 100%
  height: 100%



  // IMAGE
  .imageContainer
    +relative
    +left
    width: 100%
    height: 100%
    margin: 0

    .image_data
      +absolute
      +overflow
      top: 0
      left: 0
      width: 100%
      height: 100%

      .image
        width: 100%
        height: 100%
        border: none
        tr
          td
            padding: 0
            vertical-align: bottom
            text-align: center

            // temporary, until resize
            img
              max-height: 100%


      // TAGGING & INFO
      .tagging, .info
        +hidden
        +absolute
        bottom: 4px
        left: 0
        width: 100%
        padding: 12px
        background: rgba(0,0,0,0.7)


      // TAGGING
      .tagging
        height: 80px

        // (taken almost directly from new_entry)
        .tagInputWrap
          height: 40px
          margin: 0 16px
          background: url(/images/slices/inputLeft-Dark-40.png) no-repeat left center transparent
          img
            +left
            margin: 0
          .tagInput
            +left
            height: 40px
            margin: 0 0 0 26px
            background: url(/images/slices/inputContent-Dark-40.png) repeat-x 0 0 transparent
            input
              +left
              +font(18)
              +transparent
              +outline
              color: #ddd
              width: 500px
              height: 32px
              margin: 4px 0
              border: 0
          .tagAdd
            +round(4)
            +center
            +right
            +bold
            width: 62px
            height: 28px
            line-height: 30px
            margin: 5px 0
            color: #ddd
            +button-dark
            +shine-dark-alpha(13)
            span
              color: #009933
          .tagInputRight
            +left
            width: 14px
            height: 40px
            background: url(/images/slices/inputRight-Dark-40.png) no-repeat right center transparent

      // INFO
      .info
        height: 28px

        .title, .author, .year
          +left
          +round(16)
          +font(14)
          height: 28px
          line-height: 28px
          margin: 0 8px 0 0
          padding: 0 14px
          text-transform: uppercase
          color: #777
          background: #1c1c1c
        span
          text-transform: lowercase
          margin: 0 0 0 8px
          color: #ddd

        .title-input, .author-input, .year-input
          +hidden


    // IMAGE REFLECT
    .imageReflect
      +hidden