// BROWSE

// ul#type - (see ib.sass)


#categories
  +clear
  margin: 8px 0 0
  padding: 0

  .category
    +pointer
    +user-select
    +center
    +left
    +font(26)
    height: 108px
    line-height: 104px
    width: 331px
    margin: 0 2px
    color: #a1a1a1
    +shine-dark(54)
    &:hover
      color: #4aade1
      +gradient(#444, #111)
    &:active
      color: #a1a1a1
      +shine-dark(0)
      +gradient(#010101, #333)




