// FOOTER


// DROPBOX MY COLLECTION
.dropbox.collection
  +absolute
  bottom: 40px
  margin: 0
  padding: 0
  height: 172px
  width: 752px
  background: #272727 url(/images/icons/ib-icons/dropboxIconText.png) no-repeat center center
  box-shadow:         inset 0 10px 10px rgba(0,0,0,0.7)
  -moz-box-shadow:    inset 0 10px 10px rgba(0,0,0,0.7)
  -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,0.7)

  h2
    +absolute
    +font(16)
    +bold
    margin: 8px

  .active
    +alpha(70)
    background: #000

  ul.imagelist
    +user-select
    margin: 0 0 0 8px
    padding: 0
    width: 740px
    list-style: none

    li
      +relative
      +left
      +pointer
      +overflow
      +round(4)
      margin: 0
      height: 128px
      width: 128px
      border: 1px solid #ddd

      img
        height: 120px
        width: 120px


// FOOTER BUTTONS
.footerButtons
  +absolute
  bottom: 0
  left: 4px
  width: 752px
  height: 32px
  padding: 3px 0

  .cancel, .edit, .add, .set, .drag, .next, .prev
    +right
    +pointer
    +user-select
    +center
    +round(8)
    margin: 0 8px 0 0
    padding: 0 12px
    height: 28px
    line-height: 26px
    border: 1px solid #242424
    +shine-dark(14)
    +gradient(#242424, #000)

    .img
      +left
      height: 28px
      width: 16px
      margin: 0 8px 0 0

    &:hover
      color: #fff
      border: 1px solid #777
    &:active
      border: 1px solid #fff
      +shine-dark(0)
      +gradient(#000, #242424)

  .add .img
    background: url(/images/icons/add-15.png) no-repeat center center transparent

  .set .img
    background: url(/images/icons/check-16.png) no-repeat center center transparent

  .next, .prev
    +font(32)
    +bold
    line-height: 28px

  .next
    +flat-left
    margin: 0 4px 0 0

  .prev
    +flat-right
    +left
    margin: 0 0 0 4px

  .info, .tag
    +pointer
    +user-select
    +left
    margin: 0 0 0 8px
    width: 26px
    height: 28px

  .info
    background: url(/images/icons/ib-icons/info-25-off.png) no-repeat center center transparent
    &:hover
      background: url(/images/icons/ib-icons/info-25-over.png) no-repeat center center transparent
    &:active
      background: url(/images/icons/ib-icons/info-25.png) no-repeat center center transparent

  .tag
    background: url(/images/icons/tag-24.png) no-repeat center center transparent
    &:hover
      background: url(/images/icons/tag-24-hover.png) no-repeat center center transparent
    &:active
      background: url(/images/icons/tag-24-active.png) no-repeat center center transparent

