// ARTISTS

table.artistList
  width: 100%
  padding: 0
  border: 1px solid #fff

  // COLUMN NAME ROW
  tr.columnNames
    +indent-dark
    height: 30px
    vertical-align: center

    td
      +font(14)
      width: 50%


  // ARTIST ROW
  tr.artist
    height: 60px

    td
      +font(18)
      width: 50%
      color: #ddd

    td.name
      h2

    td.images
      .img
        +left
        height: 60px
        width: auto





