// ALBUMS

table#albumList

  tr.name

    td
      +font(16)
      width: 100%
      height: 32px
      vertical-align: center
      padding: 0 0 0 20px
      +indent-dark

      a.manage
        .img

  tr.images

    td

      .img
        +relative
        +left
        +overflow
        +pointer
        margin: 0
        width: 126px
        height: 126px
        border: 1px solid transparent
        &:hover
          border: 1px solid #ddd
          .add
            +block


        .add
          +absolute
          +pointer
          +center
          +alpha(50)
          +bold
          width: 24px
          height: 24px
          line-height: 29px
          background: #fff
          bottom: 0px
          right: 0px

        .preview
          +overflow
          width: 126px
          height: 126px


// DROPBOX MY COLLECTION
.dropbox.collection
  +absolute
  bottom: 0
  margin: 0
  padding: 0
  height: 128px
  background: #272727 url(/images/icons/ib-icons/dropboxIconText.png) no-repeat center center

  .active
    +alpha(70)
    background: #000





