// ALBUMS

table#albumList
  margin: 0 0 136px

  tr.name

    td
      +font(24)
      width: 100%
      height: 60px
      line-height: 60px
      padding: 0 0 0 20px
      +indent-dark
      border: none
      border-bottom: 1px solid #ddd

      a.manage
        +pointer
        +block
        +right
        +alpha(50)
        margin: 0 12px 0 0
        width: 33px
        height: 60px
        background: url(/images/icons/ib-icons/edit-33.png) no-repeat center center transparent
        &:hover
          +alpha(100)

  tr.images

    td

      .img
        +relative
        +left
        +overflow
        +pointer
        margin: 0
        width: 126px
        height: 126px
        border: 1px solid transparent
        &:hover
          border: 1px solid #ddd
          .add
            +block

        img
          width: 126px
          height: 126px

        .add
          +absolute
          +pointer
          +center
          +alpha(50)
          +bold
          width: 24px
          height: 24px
          line-height: 24px
          color: green
          background: #fff
          bottom: 0px
          right: 0px
          &:hover
            +alpha(100)


// DROPBOX MY COLLECTION
.dropbox.collection
  +absolute
  bottom: 40px
  margin: 0
  padding: 0
  height: 128px
  width: 752px
  background: #272727 url(/images/icons/ib-icons/dropboxIconText.png) no-repeat center center

  h2
    +font(16)
    +bold
    margin: 8px

  .active
    +alpha(70)
    background: #000





