// FOOTER


// DROPBOX MY COLLECTION
.dropbox.collection
  +absolute
  bottom: 40px
  margin: 0
  padding: 0
  height: 128px
  width: 752px
  background: #272727 url(/images/icons/ib-icons/dropboxIconText.png) no-repeat center center
  box-shadow:         inset 0 10px 10px rgba(0,0,0,0.7)
  -moz-box-shadow:    inset 0 10px 10px rgba(0,0,0,0.7)
  -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,0.7)

  h2
    +font(16)
    +bold
    margin: 8px

  .active
    +alpha(70)
    background: #000


// FOOTER BUTTONS
.footerButtons
  +absolute
  bottom: 0
  left: 4px
  width: 752px
  height: 32px
  padding: 4px 0

  .cancel, .edit, .add, .set, .drag
    +right
    +pointer
    +center
    +round(8)
    margin: 0 8px 0 0
    padding: 0 12px
    height: 28px
    line-height: 30px
    border: 1px solid #ddd
    +shine-dark(14)
    +gradient(#7D7D7D, #000)

    .img
      +left
      height: 28px
      width: 16px
      margin: 0 8px 0 0

    &:hover
      border: 1px solid #fff

  .edit

  .add .img
    background: url(/images/icons/add-15.png) no-repeat center center transparent

  .set .img
    background: url(/images/icons/check-16.png) no-repeat center center transparent



