// ARTISTS

table#artistList
  width: 100%
  padding: 0
  border: 1px solid #ddd

  // COLUMN NAME ROW
  tr.columnNames
    +indent-dark
    height: 30px
    vertical-align: center

    td
      +font(14)
      width: 50%
      padding: 0 0 0 20px
      border: 1px solid #ddd


  // ARTIST ROW
  tr.artist
    height: 60px
    +flat-dark

    td
      +font(18)
      width: 50%

    td.name
      h2

    td.images
      .img
        +left
        height: 60px
        width: auto





