
// BACKDROP
#slideshow-back
  +absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2000
  +transparent-dark(100)


// SLIDESHOW
#slideshow
  +relative
  margin: 0 auto
  width: 1160px


  .close
    +absolute
    top: 24px
    right: 24px


  // LEFT & RIGHT
  .left
    left: 0

    .gradient
      right: 0
      +gradient-H(rgba(0,0,0,1.0), rgba(0,0,0,0.0))

    img
      right: 0

  .right
    right: 0

    .gradient
      left: 0
      +gradient-H(rgba(0,0,0,0.0), rgba(0,0,0,1.0))

    img
      left: 0

  .left, .right
    +pointer
    +user-select
    +absolute
    +bold
    +center
    +overflow
    +alpha(30)
    top: 60px
    width: 180px
    height: 720px
    color: #fff
    color: rgba(250,250,250,0.7)
    background-repeat: no-repeat

    .gradient
      +absolute
      top: 0
      width: 180px
      height: 720px

    img
      +absolute
      height: 720px

    &:hover

      .arrow
        +absolute
        +block
        +font(200)
        +center
        width: 180px
        top: 200px
        left: 0

      .text
        +font(18)
        font-weight: normal
        margin: -40px 0 0


  // LEFT & RIGHT REFLECT
  .leftReflect
    left: 0

    img
      right: 0

    .gradient
      background:     transparent
      background:     -webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,0.0)), color-stop(25%, rgba(0,0,0,1.0)), to(rgba(0,0,0,1.0)))
      background:     -moz-linear-gradient(45deg, rgba(0,0,0,1.0), rgba(0,0,0,1.0) 25%, rgba(0,0,0,0.0))
      background:     -o-linear-gradient(45deg, rgba(0,0,0,1.0), rgba(0,0,0,0.0))

  .rightReflect
    right: 0

    img
      left: 0

    .gradient
      background:     transparent
      background:     -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0.0)), color-stop(70%, rgba(0,0,0,1.0)), to(rgba(0,0,0,1.0)))
      background:     -moz-linear-gradient(-45deg, rgba(0,0,0,0.0), rgba(0,0,0,1.0) 70%, rgba(0,0,0,1.0))
      background:     -o-linear-gradient(-45deg, rgba(0,0,0,0.0), rgba(0,0,0,1.0))

  .leftReflect, .rightReflect
    +absolute
    +overflow
    top: 800px
    width: 180px
    height: 80px
    +alpha(30)

    img
      +absolute
      +flip(Y)
      height: 720px

    .gradient
      +absolute
      top: 0
      left: 0
      width: 180px
      height: 80px



  // IMAGE
  .imageContainer
    +absolute
    +overflow
    top: 60px
    left: 220px
    width: 720px
    height: 720px

    .image
      width: 100%
      height: 100%
      border: none
      tr
        td
          padding: 0
          vertical-align: bottom
          text-align: center


  // IMAGE REFLECT
  .imageReflect
    +absolute
    +overflow
    +alpha(30)
    top: 800px
    left: 220px
    width: 720px
    height: 80px

    img
      +flip(Y)

    .gradient
      +absolute
      top: 0
      left: 0
      width: 720px
      height: 80px
      +gradient(rgba(0,0,0,0.0), rgba(0,0,0,1.0))







// INFO & TAGGING
#infoTags
  +absolute
  +transparent
  bottom: 44px
  left: 4px
  width: 670px
  height: auto


  // TAGGING
  #tagging
    height: 80px
    padding: 12px
    background: rgba(0,0,0,0.7)

    // (taken almost directly from new_entry)
    .tagInputWrap
      height: 40px
      margin: 0 16px
      background: url(/images/slices/inputLeft-Dark-40.png) no-repeat left center transparent
      img
        +left
        margin: 0
      .tagInput
        +left
        height: 40px
        margin: 0 0 0 26px
        background: url(/images/slices/inputContent-Dark-40.png) repeat-x 0 0 transparent
        input
          +left
          +font(18)
          +transparent
          +outline
          color: #ddd
          width: 500px
          height: 32px
          margin: 4px 0
          border: 0
      .tagAdd
        +round(4)
        +center
        +right
        +bold
        width: 62px
        height: 28px
        line-height: 30px
        margin: 5px 0
        +button-dark
        +shine-dark-alpha(13)
        span
          color: #009933
      .tagInputRight
        +left
        width: 14px
        height: 40px
        background: url(/images/slices/inputRight-Dark-40.png) no-repeat right center transparent



  // INFO
  #info
    height: 28px
    padding: 12px
    background: rgba(0,0,0,0.7)

    .name, .author, .year
      +left
      +round(16)
      +font(14)
      height: 28px
      line-height: 28px
      margin: 0 8px 0 0
      padding: 0 14px
      text-transform: uppercase
      color: #777
      background: #1c1c1c
    span
      text-transform: lowercase
      margin: 0 0 0 8px
      color: #ddd

