#currentImages

  .replace
    +hidden
    +absolute
    top: 4px
    left: 4px
    width: 24px
    height: 24px
    background: url(/images/icons/reload-24.png)
    &:hover
      background: url(/images/icons/reload-24-hover.png)
    &:active
      background: url(/images/icons/reload-24-active.png)

  .message
    +hidden

  .spinner
    +hidden
    +absolute
    top: 0
    height: 128px
    width: 128px

  .uploading
    +round(8)
    +relative
    +left
    margin: 0px 8px 8px 0px
    height: 120px
    width: 120px
    background-color: #000
    background-color: rgba(0,0,0,0.8)

    .progress-bar
      +absolute
      +round(8)
      top: 0
      left: 0
      height: 20px
      width: 0%
      height: 100%
      background-color: #a4a6a8

    .file, .size, .failed, .progress
      position: relative
    .file
      +absolute
      +font(11)
      top: 4px
      left: 4px
    .size
      +absolute
      +center
      width: 100%
      bottom: 50%
      right: 0

    .cancel
      +absolute
      +center
      +round(4)
      +shine-light-alpha(10)
      +cancel(10)
      bottom: 4px
      left: 4px
      width: 112px

  .uploading.fail
    +alpha(50)
    border-color: red

  .selected
    border: 4px solid #427ee8

  .delete
    +alpha(50)
    border: 4px solid #971313

    .message
      +absolute
      +font(14)
      display: block
      top: 0px
      width: 112px
      height: 114px
      padding: 6px 8px 8px
      color: #ddd
      background: #555
      background: rgba(0,0,0,0.3)

      .dontDelete
        +absolute
        +round(4)
        +center
        +alpha(70)
        bottom: 8px
        padding: 2px
        width: 106px
        color: #222
        border: 1px solid transparent
        +gradient(#6e6e6e, #fff)
        +cancel(10)
        &:hover
          +alpha(100)