// SHARED LINK STYLES
.body, .comment
  a:link, a:visited
    color: #3086CF
    text-decoration: none
  a:hover
    color: #3EA7EB
    text-decoration: underline


// IN PAGE YOUTUBE LINKS
.youtube, .vimeo, .soundcloud
  .img
    +left
    display: inline-block
    width: 16px
    height: 21px
    margin: 0 4px -12px 0
    background: url(/images/icons/play-16.png) no-repeat center
  &:hover .img
    background: url(/images/icons/play-16-hover.png) no-repeat center
  &:active .img
    background: url(/images/icons/play-16-active.png) no-repeat center
