

//  META MENU USER
#appearancePanel, #settingsPanel
  +absolute
  +clear
  +round(16)
  right: 0px
  top: 80px
  width: 334px
  z-index: 1400

  .arrow
    +relative
    top: -21px
    padding: 0
    height: 16px
    margin-bottom: -16px

  img.appearanceIcon, h1
    +left

  h1
    margin: 8px
    font-size: 24px
    font-weight: normal





#metaMenu.user
  +absolute
  top: 0
  width: 100%

  .leftPanelWrap
    +absolute
    left: 242px

    .randomDream
      width: 40px




  .leftPanel, .rightPanel
    +round(16)
    +flat-top
    background-color: #fff

    .item
      +block
      +left
      +font(16)
      +pointer
      +round(8)
      +user-select
      background: #fff
      margin: 0 2px
      height: 26px
      color: #333
      border: #ccc 1px solid
      display: inline-block
      text-decoration: none
      padding: 2px 4px 2px 4px
      &:active
        +bevel-dark
        color: #333 !important
      &:hover, &.user
        border: 1px solid #8c8c8c
        color: #4b93d9
    .item, .searchIcon
      &.selected, &.selected:hover, &.selected:active
        color: #fff !important
        +cursor
        +border-dark
        +shine-dark(12)

    .item
      .img
        +left
        +pointer
        width: 24px
        height: 26px


  .leftPanel
    +left
    padding: 8px 6px 8px

    // HOME ICON STATES
    .item.home
      .img
        background: url(/images/icons/home-24.png) no-repeat center transparent
      &:hover .img
        background: url(/images/icons/home-24-hover.png) no-repeat center transparent
      &:active .img
        background: url(/images/icons/home-24-active.png) no-repeat center transparent
    .item.home.selected
      .img, &:hover .img, &:active .img
        background: url(/images/icons/home-24-hover.png) no-repeat center transparent

    // STREAM ICON STATES
    .item.stream
      .img
        background: url(/images/icons/stream-24.png) no-repeat center transparent
      &:hover .img
        background: url(/images/icons/stream-24-hover.png) no-repeat center transparent
      &:active .img
        background: url(/images/icons/stream-24-active.png) no-repeat center transparent
    .item.stream.selected
      .img, &:hover .img, &:active .img
        background: url(/images/icons/stream-24-hover.png) no-repeat center transparent

    // STARLIGHT ICON STATES
    .item.dreamstars
      .img
        background: url(/images/icons/starlight-24.png) no-repeat center transparent
      &:hover .img
        background: url(/images/icons/starlight-24-hover.png) no-repeat center transparent
      &:active .img
        background: url(/images/icons/starlight-24-active.png) no-repeat center transparent
    .item.dreamstars.selected
      .img, &:hover .img, &:active .img
        background: url(/images/icons/starlight-24-hover.png) no-repeat center transparent

    // SEARCH
    .searchWrap
      +relative
      +left
      width: 32px
      margin: 0 6px 0 0

      .searchIcon
        +absolute
        +font(16)
        +pointer
        +round(8)
        +user-select
        top: 0
        left: 0
        background: #fff
        margin: 0 2px
        height: 26px
        width: 24px
        color: #333
        border: #ccc 1px solid
        display: inline-block
        text-decoration: none
        padding: 2px 4px
        .img
          +left
          +pointer
          width: 24px
          height: 26px
          background: url(/images/icons/search-24.png) no-repeat center transparent
        &:hover, &.selected
          border: #8c8c8c 1px solid
          .img
            background: url(/images/icons/search-24-hover.png) no-repeat center transparent
        &.selected
          +bevel-dark
        &:active
          +bevel-dark
          .img
            background: url(/images/icons/search-24-active.png) no-repeat center transparent

      // SEARCH FIELD
      .searchForm
        +absolute
        top: 0
        left: 0
        width: 162px  // webkit breaks without width
        z-index: 1200

        input.searchField
          +round(8)
          +font(14)
          width: 114px
          margin: 0 2px
          height: 30px
          padding: 0 8px 0 30px
          +input-light(small)
          color: #ccc
          border: 1px solid #CCC
          &:focus
            color: #777
            box-shadow:         5px 5px 10px rgba(0,0,0,0.6)
            -moz-box-shadow:    5px 5px 10px rgba(0,0,0,0.6)
            -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.6)

        input.search
          +absolute
          +transparent
          +pointer
          +alpha(30)
          left: 8px
          border: none
          height: 30px
          width: 24px
          background: url(/images/icons/search-24-active.png) no-repeat 0px 4px transparent



  .rightPanel
    +relative
    +right
    padding: 28px 6px 8px
    top: -20px
    z-index: 1200

    .user
      +flat-left
      +overflow
      +pointer
      +round(8)
      +center
      +user-select
      +bold
      min-width: 80px
      margin: 0 2px -2px
      line-height: 28px
      height: 26px
      border: 1px solid #000 !important

      &:hover
        +glow-light(5)

      span
        +block
        +user-select
        color: #fff
        margin-left: 32px
        background-color: #000
        margin-top: -6px
        padding: 6px 4px 8px
        
      &:active
        background-color: #fff !important
        span
          background-color: #fff !important
          color: #000




    .settingsPanel, .appearancePanel
      +left

    .item.settings
      .img
        background: url(/images/icons/settings-24.png) no-repeat center transparent
      &:hover .img, &.selected .img
        background: url(/images/icons/settings-24-hover.png) no-repeat center transparent
      &:active .img
        background: url(/images/icons/settings-24-active.png) no-repeat center transparent

    .item.appearance
      .img
        background: url(/images/icons/appearance-24.png) no-repeat center transparent
      &:hover .img, &.selected .img
        background: url(/images/icons/appearance-24-hover.png) no-repeat center transparent
      &:active .img
        background: url(/images/icons/appearance-24-active.png) no-repeat center transparent







  // FLOATING BUTTONS

  .newEntry, .logOut, .adminLink
    +transparent-dark(50)
    +round(30)
    +button-light
    +block
    +user-select
    color: #fff
    text-decoration: none
    border: 1px solid rgba(255,255,255,0.4)


  .logOut, .adminLink
    +right
    width: 29px
    height: 29px
    .img
      width: 100%
      height: 100%
      background-position: center center
      background-repeat: no-repeat


  .logOut, .adminLink
    &:hover
      +glow-dark(8)
      border: 1px solid transparent


  .adminLink
    margin: 8px
    .img
      background-image: url('/images/icons/admin-16-hover.png')


  .logOut
    margin: 10px 16px 0
    background-position: 4px 2px
    background-repeat: no-repeat
    background-image: url('/images/icons/logout-24.png')
    &:hover
      background-position: 4px 2px
      background-repeat: no-repeat
      background-image: url('/images/icons/logout-24-hover.png')
    &:active
      background-position: 4px 2px
      background-repeat: no-repeat
      background-image: url('/images/icons/logout-24-active.png')


  .newEntry
    +right
    +glow-dark(40)
    +bold
    padding: 6px 10px
    font-size: 17px
    margin: 8px 12px 0 0
    border: none
    .img
      +left
      width: 15px
      height: 15px
      margin: 3px 7px 0 0
      background: url("/images/icons/add-15.png") no-repeat center center transparent
    &:hover
      +round(24)
      +inner-glow(20)
      border: none
    &:active
      color: #000







  // NOTIFICATIONS PANEL
  .notificationsPanel
    +round(16)
    +absolute
    left: -40px
    width: 214px
    padding: 8px
    +transparent-light(50)
    +border-light

    .notifyIcon
      +round(16)
      +relative
      height: 12px
      line-height: 12px
      width: 12px
      padding: 4px
      margin: 0 0 40px
      background: #f15f29
      color: #fff

    .notice, .alert, .notification
      +round(12)
      +clear
      +relative
      min-height: 24px
      margin: 4px 0 0
      +transparent-light(50)
      +button-light
      .close
        +hidden
        +absolute
        +center
        top: 2px
        right: 2px
        width: 18px
        height: 18px
      &:hover
        +transparent-light(90)
        color: #000
        .close
          +block
    .alert
      .icon
        +left
        height: 24px
        width: 24px

    .notification
      .avatar
        +round(16)
        +flat-right
        +overflow
        +left
        width: 24px
        height: 24px
        margin: 0 12px 0 0














