@import mixins

// ADMIN

// SHARED STYLES
.panel
  +shine-dark(21)
  +round(16)
  color: #ddd
  padding: 8px
  margin-bottom: 28px
  width: 744px


  h1
    +left
    +font(21)
    color: #fff
    line-height: 22px
  h2
    +left
    +font(18)
    color: #ccc

  .img
    +left
    width: 24px
    height: 24px
    margin-right: 12px
    background-repeat: no-repeat
    background-position: center center


  h1, h2, .img
    +user-select


  .total
    +round(12)
    +left
    +bevel-dark
    color: #ccc
    padding: 2px 8px
    margin-left: 22px


  .header, .last-week, .last-month
    +left
    padding: 4px 8px 4px 16px
    +round(20)
    +indent-dark
    margin: 0 0 0 8px
  .last-week, .last-month
    +alpha(80)
  .header
    margin-left: 0px
    padding-left: 8px


  #userList-arrow, #userCharts-arrow
    +left
    height: 26px
    width: 32px
    margin-left: 4px
  #bedsheets-arrow
    +left
    height: 32px
    width: 32px
    margin-left: 8px
  .up
    @extend .arrow-up-16-light
  .down
    @extend .arrow-down-16-light
  .spinner
    @extend .spinner-grey-32


  .chart-select
    +pointer


  // CHART BUTTONS
  .chartButtons
    +left
    width: 110px
    margin: 20px 0 0 4px

    .userButton-border, .entryButton-border
      +round(8)
      width: 110px
      padding: 1px
      margin: 0 0 8px
      border: none
      +gradient(#0e0e0e, #3c3b3b)
      &:hover
        +gradient(#3c3b3b, #3c3b3b)
      &:active
        +gradient(#3c3b3b, #0e0e0e)

      .button
        +round(8)
        +center
        padding: 6px 0
        color: #999
        +gradient(#2c2c2c, #151515)
        &:hover
          color: #fff
        &:active
          +gradient(#151515, #2c2c2c)

    .userButton-border.select, .entryButton-border.select
      +cursor
      +gradient(#3c3b3b, #0e0e0e)
      &:hover
        +gradient(#3c3b3b, #0e0e0e)
      .button
        +cursor
        color: #fff
        +gradient(#151515, #2c2c2c)
        &:hover
          color: #fff
          +gradient(#151515, #2c2c2c)

    hr
      +alpha(20)
      width: 94px
      margin: 4px 0 12px 8px


  // CHART
  .chart
    +right
    +round(16)
    +indent-dark
    width: 600px
    height: 300px
    padding: 8px





// USER PANEL ONLY
.user.panel
  .img
    @extend .sharing-24-hover

  .userNode
    +block
    +left
    +button-dark
    +flat-dark
    +relative
    width: 157px
    height: 33px
    line-height: 33px
    padding: 0px 8px
    margin: 0 6px 6px 0
    +round(16)
    color: #fff
    border: 1px solid #333
    whitespace: nowrap
    +overflow

    .postCount
      +flat-dark
      +round(8)
      color: #ccc
      +absolute
      right: 8px
      top: 0px

  .newUsers
    +clear
    padding: 8px 0 0 8px


  #userList, #userCharts
    +pointer
    +left
    +clear
    +font(18)
    +bold
    height: 26px
    padding: 0 0 0 32px
    margin: 16px 0 16px 10px
    @extend .friend-24
    background-position: left center
  #userCharts
    width: 100%
  #userList
    width: 310px

  #userList-wrap
    +hidden
    +indent-dark
    +round(12)
    padding: 8px 8px 0

  .searchWrap

    .search
      +pointer
      +outline
      border: none
      height: 32px
      width: 24px
      margin: 0 8px 0
      @extend .search-24-active

    .search-input
      +outline
      +transparent
      +font(14)
      height: 24px
      width: 130px
      border: none
      color: #ddd


  #user-filter, #user-filter-button, .searchWrap
    +pointer
    +round(20)
    +right
    +font(14)
    height: 32px
    padding: 0 8px 0 0
    width: 180px
    margin: 16px 0 16px 10px
    color: #ddd
    +indent-dark

#user-filter-menu
  +flat-dark
  +round(20)
  +glow-dark(20)

  li
    color: #ddd
    &:hover
      background: #ddd
      color: #222




// PAGINATION
#prevPage, #nextPage, #pages, #prevPageEnd, #nextPageEnd
  +right
  +block
  +round(12)
  +user-select
  padding: 4px 8px
  margin-bottom: 6px
  a:focus, a:hover, a.current
    text-decoration: underline

#prevPage, #nextPage
  +button-dark
  +cancel(12)

#prevPage, #nextPage, #prevPageEnd, #nextPageEnd
  +shine-light-alpha(12)
  +bold
  font-size: 25px
  line-height: 29px
  padding: 0px 24px
#prevPageEnd, #nextPageEnd
  +alpha(50)
  color: #000
  border: 1px solid #000
  +cursor

#prevPage, #prevPageEnd
  +flat-right
#nextPage, #nextPageEnd
  +flat-left
  margin-right: 8px

#pages
  +indent-dark
  +center
  margin: 0 4px
  +round(2)
  +font(18)
  line-height: 21px
  width: 574px
  a
    color: #ccc




// ENTRIES PANEL ONLY
.entries.panel

  .img
    @extend .dream-24-hover

  .entryCharts
    +clear
    +font(18)
    +bold
    padding: 0 0 0 32px
    margin: 16px 0 16px 10px
    @extend .dream-24-hover
    background-position: left center







#bedsheets.panel
  +pointer

  .img
    @extend .bedsheets-24-hover

  #bedsheet-nodes
    +hidden
    +round(16)
    padding: 12px
    margin: 12px 0 0
    width: 716px
    +flat-dark

  .bedsheet-node
    +left

    .bedsheet
      width: 128px
      height: 128px

    .users, .entries
      +center
      width: 64px
      color: #555
      line-height: 16px

      .count
        +bold
        color: #999

    .users
      +left

    .entries
      +right






