@import mixins

.panel
  +shine-dark(21)
  +round(16)
  color: #ddd
  padding: 8px
  margin-bottom: 28px
  width: 744px


.module
  +indent-dark
  +round(12)


h1
  +left
  +font(21)
  color: #fff
  line-height: 18px
h2
  +left
  +font(18)
  color: #ccc

.img
  +left
  width: 48px
  height: 24px
  background-repeat: no-repeat
  background-position: center center
  margin-bottom: 8px


h1, h2, .img
  +user-select
  +cursor


.total
  +round(12)
  +left
  +bevel-dark
  color: #ccc
  padding: 2px 8px
  margin-left: 32px


.panel
  .last-week, .last-month
    +left
    padding: 4px 8px 4px 16px
    +round(20)
    +indent-dark
    margin-bottom: 8px
  .last-month
    margin-left: 8px




.user.panel
  .img
    background-image: url('/images/icons/sharing-24-hover.png')
  .module .img
    background-image: url('/images/icons/friend-24.png')

  .userNode
    +block
    +left
    +button-dark
    +flat-dark
    +relative
    width: 157px
    height: 33px
    line-height: 33px
    padding: 0px 8px
    margin: 0 8px 8px 0
    +round(16)
    color: #fff
    border: 1px solid #333
    whitespace: nowrap
    +overflow

    .postCount
      +flat-dark
      +round(8)
      color: #ccc
      +absolute
      right: 8px
      top: 0px

  .newUsers
    +clear
    padding: 8px 0 0 8px


  .allUsers
    padding: 8px 0 0 8px
    +clear
    .img

  #prevPage, #nextPage, #pages, #prevPageEnd, #nextPageEnd
    +right
    +block
    +round(12)
    padding: 4px 8px
    +shine-light-alpha(12)
    margin-bottom: 6px
    a:focus
      +bold

  #prevPage, #nextPage, #pages
    +button-dark
    +cancel(12)

  #prevPage, #nextPage, #prevPageEnd, #nextPageEnd
    +flat-bottom
    +bold
    font-size: 25px
    line-height: 29px
    padding: 0px 24px
  #prevPageEnd, #nextPageEnd
    +alpha(80)

  #prevPage, #prevPageEnd
    +flat-right
  #nextPage, #nextPageEnd
    +flat-left
    margin-right: 8px

  #pages
    margin: 0 4px
    +round(4)


.entries.panel
  .img
    background-image: url('/images/icons/dream-24-hover.png')










