
#contextPanel
  position: absolute
  top: 82px
  left: 12px
  width: 200px
  cursor: default
  padding: 6px 6px 2px


  .avatar
    display: block
    width: 200px
    height: 266px
    position: relative
    .uploadAvatarWrap
      position: absolute
      bottom: 0
      width: 100%
      padding: 20px 0 8px
      .uploadAvatar
        cursor: pointer
        display: block
        color: #fff
        font-size: 12px
        padding: 2px 6px
        text-align: center
        width: 120px
        margin: 0 auto
        border: 1px solid #fff
        background: rgba(0,0,0,0.50)
        box-shadow: 0 0 20px #fff
        -moz-box-shadow: 0 0 20px #fff
        -webkit-box-shadow: 0 0 20px #fff
        -moz-opacity: 0.6
        -khtml-opacity: 0.6
        -webkit-opacity: 0.6
        opacity: 0.6
        span
          font-weight: bold
          color: #68b800
      .uploadAvatar:hover
        border: 1px solid transparent
        box-shadow: inset 0 0 20px #fff
        -moz-box-shadow: inset 0 0 20px #fff
        -webkit-box-shadow: inset 0 0 20px #fff
        -moz-opacity: 1
        -khtml-opacity: 1
        -webkit-opacity: 1
        opacity: 1


  /* DREAM STREAM AVATAR AND USER DETAILS */
  .avatar-64
    display: block
    width: 64px
    height: 64px
    position: relative
  .userInfo
    display: block
    position: absolute
    top: 30px
    left: 78px
    width: auto
    h3
      margin: 0
    p
      font-size: 10px
      margin: 0



  .context
    display: block
    margin: 4px 0 2px
    text-align: center
    font-weight: bold
    padding: 4px 8px
    font-size: 21px
    .icon
      right: 20px
      top: 18px

  .relation, .changeRelation, .context
    .icon
      margin: -16px
      float: right
      position: relative


  .label, .image, .detail
    float: left

  .find
    margin-bottom: 2px
    text-align: center


  .item
    clear: both
    margin-bottom: 2px
    .label
      width: 86px
      height: 24px
      line-height: 24px
      font-size: 18px
      padding: 6px 8px
      text-align: center

    .image
      width: 34px
      height: 24px
      padding: 7px 5px
      margin: 0
      img.dream
        margin: -8px 0
      img.starlight
        margin: -18px -16px
        z-index: 1004
      img.follow
        margin: -12px 1px

    .detail
      width: 36px
      height: 26px
      padding: 6px 8px
      line-height: 26px
      font-weight: bold
      border: 0

    .relation, .changeRelation
      padding: 6px
      height: 16px
      font-weight: bold
      text-align: center
      margin: 0
      .icon
        right: 22px
        top: -23px      



    .changeRelation.follow, .changeRelation.unfollow
      color: #fff

    .changeRelation.follow
      border: 1px solid #54943d
      background: -webkit-gradient(linear, left top, left bottom, from(#70d03b), to(#235b1b))
      background: -moz-linear-gradient(top, #70d03b, #235b1b)
      box-shadow: inset 0px 14px rgba(255,255,255,0.1)
      -moz-box-shadow: inset 0px 14px rgba(255,255,255,0.1)
      -webkit-box-shadow: inset 0px 14px rgba(255,255,255,0.1)
    .changeRelation.unfollow
      border: 1px solid #c1633c
      background: -webkit-gradient(linear, left top, left bottom, from(#ee7c44), to(#8b2e12))
      background: -moz-linear-gradient(top, #ee7c44, #8b2e12)
      box-shadow: inset 0px 14px rgba(255,255,255,0.1)
      -moz-box-shadow: inset 0px 14px rgba(255,255,255,0.1)
      -webkit-box-shadow: inset 0px 14px rgba(255,255,255,0.1)


    




.light
  #contextPanel
    .item
      .label
        border: 1px solid #848484
.dark
  #contextPanel
    .item
      .label
        border: 1px solid #555