// DREAM STREAM FILTER
.streamFilter
  clear: both
  margin: 8px 0 0

  .title
    margin: 0 0 4px
  label
    display: block
    text-align: center
    height: 40px
    line-height: 40px
    font-weight: bold
    cursor: pointer
    border-radius: 12px
    -moz-border-radius: 12px
    -webkit-border-radius: 12px
    input
      float: right
      cursor: pointer
      margin: 15px 11px 0 0
  .filterType
    clear: both
    margin: 0 0 6px
    padding: 0 10px
    border: 2px solid #bdbdbd
    background: #e8e8e8
    label
      height: 30px
      line-height: 30px
      display: block
      font-weight: normal
      img, span
        float: left
      img
        margin: 8px 4px 0 0
      input
        float: right
        margin: 10px 0 0
    label.type
      font-weight: bold


  .refresh
    height: 30px
    line-height: 30px
    font-weight: bold
    text-align: center
    margin-bottom: 4px
