#dreamstars
  position: absolute
  top: 90px
  left: 32px

  .header
    img, .date
      float: left
    .date
      float: right
      margin: 60px 0 0
      padding: 0 12px
      text-align: center
      height: 40px
      line-height: 40px

  .columnsPanel
    width: 640px
    padding: 8px
    height: 40px
    margin: 10px 0 20px 80px
    position: relative
    .rankColumn, .nameColumn, .starlightColumn
      position: absolute
      width: 80px
      height: 40px
      line-height: 40px
      text-align: center
    .rankColumn
      left: 8px
    .nameColumn
      left: 96px
      width: 458px
    .starlightColumn
      left: 562px

  a
    display: block
    position: relative
    margin: 0 0 8px 88px
    width: 640px
    height: 50px
    line-height: 50px
    cursor: pointer
    .badge, .rank, .name, .starlight
      position: absolute
    .badge
      top: -40px
      left:  -48px
      img
        margin: 0
    .rank, .name, .starlight
      height: 50px
      line-height: 50px
    .rank
      left: 60px
    .name
      left: 70px
      width: 500px
      text-align: center
    .starlight
      left: 580px

  .dreamstar-1
    border: 4px solid #FF40D9
    .rank
      color: #e7d44d
  .dreamstar-2
    border: 4px solid #7140FF
    .rank
      color: #448e09
  .dreamstar-3
    border: 4px solid #4049FF
    .rank
      color: #419b69
  .dreamstar-4
    border: 4px solid #407AFF
    .rank
      color: #338c9b
  .dreamstar-5
    border: 4px solid #409AFF
    .rank
      color: #3375a5
  .dreamstar-6
    border: 4px solid #40BFFF
    .rank
      color: #365ba6