@import mixins
@import context_panel
@import thumb_1d
@import thumb_2d
@import new_entry
@import show_entry


#entryField, #home
  .matrix
    /******** PAGINATION ********/
    .dark.pageFirst, .dark.pageFirst:hover
      border: 2px solid transparent
      margin-right: 1px
      height: 37px
    .dark.pageLast, .dark.pageLast:hover
      border: 2px solid transparent
      margin-left: 1px
      height: 37px
    .pageFirst
      img
        padding: 8px 4px
    .pageLast
      img
        padding: 8px 4px
    .pagePrev
      display: block
      padding: 8px 4px
      font-weight: bold
    .pageNext
      display: block
      padding: 8px 4px
      font-weight: bold
    .pageNumber
      display: block
      padding: 11px 6px
      float: left
    .pagination
      a.pageNumber
        color: #999999
      a.pageNumber:hover
        color: white
        font-weight: bold
    .pageNumber.currentPage
      display: block
      padding: 10px 7px
      font-weight: bold
      font-size: 21px
      float: left
      line-height: 17px
      cursor: default
      border: 2px solid white




/* ENTRY BAR */
.light, .dark
  #entryBar
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), to(rgba(0,0,0,0.5)))
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(0,0,0,0.5))
.light
  #entryBar
    .entry.selected, .tag.selected, .quote.selected, .book.selected
      background: #2e2e2e
      background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#515151))
      background: -moz-linear-gradient(top, #2e2e2e, #515151)
      color: #dadada
.dark
  #entryBar
    .entry.selected, .tag.selected, .quote.selected, .book.selected
      background: #adadad
      background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#fff))
      background: -moz-linear-gradient(top, #adadad, #fff)
      color: #000

#entryBar
  width: 668px
  margin: 0 0 10px
  padding: 8px
  a:link, a:visited
    +block
    text-decoration: none
    color: #000
  .entry, .tag, .quote, .book
    +left
    +center
    +round(16)
    height: 32px
    line-height: 32px
    margin-right: 10px
    padding: 0
    
  a.entry
    +bold
    color: #444
    width: 114px
    cursor: text
    height: 34px
    background: #fff
    box-shadow: inset 0 4px 12px rgba(0,0,0,0.8)
    -moz-box-shadow: inset 0 4px 12px rgba(0,0,0,0.8)
    -webkit-box-shadow: inset 0 4px 12px rgba(0,0,0,0.8)
    span
      +font(18)
      color: #68b800
  a.entry:hover
    box-shadow: 0 0 12px rgba(0,0,0,1)
    -moz-box-shadow: 0 0 12px rgba(0,0,0,1)
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,1)
  .tag
    width: 70px
  .quote
    width: 96px
  .book
    +right
    width: 88px
    margin: 8px 10px 0 10px







/******** TAG STREAM ********/
/* LIGHT AND DARK */

.light
  #tagEntry
    .entryInput
      background: url(/images/slices/tagInput-light-660.png) top left
      input
        color: #000
.dark
  #tagEntry
    .entryInput
      color: #fff
      background: url(/images/slices/tagInput-dark-660.png) top left
      input
        color: #ccc

#tagEntry
  +absolute
  margin: 0 0 18px
  padding: 8px
  width: 668px
  height: 40px
  z-index: 1000
  .entryInput, input
    +left
  .entryWrap
    +right
    height: 40px
    margin: 0
    img
      +left
      margin: 0
      z-index: 0
    .entryInput
      width: 660px
      height: 40px
      margin: 0
      #tagInput
        +transparent
        +font(18)
        width: 480px
        height: 32px
        line-height: 32px
        margin: 4px 0 4px 20px
        border: 0
      .location, .sharing
        +right
        +pointer
        margin: 14px 8px 0 0
      .location
        margin-top: 12px
    .add
      +right
      +pointer
      +center
      +round(8)
      width: 62px
      height: 30px
      line-height: 30px
      margin: 4px
      color: #fff
      border: 1px solid #C2C2C2
      background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#000))
      background: -moz-linear-gradient(top, #464646, #000) /* gradient-80-100 */
      span
        +bold
        color: #349200

  #share
    +absolute
    width: 148px
    padding: 8px
    top: 112px
    left: 490px
    background: #fff
    -moz-box-shadow: 0 0 40px #000
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc))
    background: -moz-linear-gradient(top, #fff, #ccc) /* gradient-0-30 */
    border: 1px solid #fff
    z-index: 900
    .arrow
      +absolute
      top: -12px
      left: 72px
    select, .social
      +font(16)
      width: 100%
      height: 28px
      line-height: 28px
      padding: 2px 4px
      margin: 2px 0
    .social
      +pointer
      border: 1px solid #C2C2C2
      width: 138px
      height: 22px
      line-height: 22px
      background: #fff
      label
        +block
      .icon, .name
        +left
        +pointer
      .icon
        margin: 4px 8px 0 4px
      .name
        +center
      .checkbox
        +right
        +pointer
        margin: 4px 0 0

  // AUTO COMPLETE
  #autoComplete
    +absolute
    padding: 4px
    width: 207px
    min-height: 32px
    top: 65px
    left: 36px
    z-index: 500
    ul
      list-style-type: none
      margin: 0px
      padding: 0px
      li
        +pointer
        height: 32px
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px
        line-height: 32px
        color: #666
        border: 1px solid #ccc
      .results
      .results:hover
        background: -webkit-gradient(linear, left top, left bottom, from(#7D7D7D), to(#000))
        background: -moz-linear-gradient(top, #7D7D7D, #000) /* gradient-60-100 */
      .results:hover a:link
        color: #fff
      a:link, a:visited
        +left
        +bold
        display: inline-block
      .userStatus
        +right
        +relative
        +overflow
        +pointer
        z-index: 200
        top: 3px
        right: 3px
        width: 17px 
        height: 17px
        background: url('../images/icons/friend-stream-sprite.png') no-repeat 0% 0%
        margin: 8px
        top: 0px !important
        left: 0px !important


  /* TAG NODE */
  .tagNode
    +absolute
    +left
    +bold
    width: 150px
    height: 32px
    top: 15px
    left: 40px
    line-height: 32px
    background: #b6b5b3
    -moz-box-shadow: 0 15px 10px #e6e6e6 inset
    span
      +left
      margin-left: 10px
    .removeTag
      +absolute
      +pointer
      top: 7px
      right: 6px

  // TAG ENTRY AVATAR
  .avatar
    +round(8)
    +left
    +overflow
    height: 32px
    width: 32px
    margin-right: 10px









/******** MOOD ICON PICKER ********/
// STRUCTURE
#tagStream, #entryField

  .moodIcon, .moodIcon-picker, .currentIcon
    +right
    +round(16)
    z-index: 1100
  .currentIcon, .moodIcon
    +center
    width: 64px
    height: 50px
    padding: 7px 0
    background: #fff
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
    background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
  .moodIcon
    margin: 17px 17px 0 0
  .moodIcon-picker
    +absolute
    top: 5px
    padding: 8px
    width: 286px
    height: auto
    z-index: 1200
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
    background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
    .buttons
      +left
      margin: 12px 0 0 4px
      width: 58px
    .cancel, .clearMood, .currentMood
      +center
      +round(8)
      color: #000
      border: 1px solid #959595 /* 50% Black */
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
      background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
    .cancel, .clearMood
      +font(11)
      +pointer
      margin: 0 0 4px
      padding: 0 4px
      width: 48px
      height: 14px
      line-height: 14px
    .currentMood
      +left
      +bold
      +font(16)
      +round(16)
      margin: 12px 0 0 14px
      padding: 0 8px
      width: 112px
      height: 36px
      line-height: 36px
      text-transform: uppercase
    .currentIcon
      margin: 0 0 2px
      box-shadow: 0 0 12px #000
      -moz-box-shadow: 0 0 12px #000
      -webkit-box-shadow: 0 0 12px #000
    .moodIcon-list
      +clear
      list-style: none
      margin: 0
      padding: 0
      width: 306px
      li
        +left
        +center
        +pointer
        +round(16)
        margin: 4px 4px 0 0
        padding: 10px 0
        width: 90px
        height: 70px
        border: 1px solid #959595 /* 50% Black */
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
        background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
        p
          margin: 0
          color: #959595 /* 50% Black */


// MOOD ICON PICKER
// COLOR

.light
  #tagStream, #entryField

    // MOOD ICON
    .moodIcon
      +button-light
      +glow-light(10)

    // EXPANDED MOOD ICONS
    .moodIcon-picker
      +glow-light(40)


.dark
  #tagStream, #entryField

    // MOOD ICON
    .moodIcon
      +button-dark
      +glow-dark(10)

    // EXPANDED MOOD ICONS
    .moodIcon-picker
      +glow-dark(40)







/******** TAG STREAM ********/
#tagStream
  +relative
  width: 672px
  height: 100px
  z-index: 333
  margin: 0 0 12px 0
  padding: 6px
  background: rgba(0,0,0,0.8)

  .moodIcon-picker
    left: 321px

  // LIVE TAG STREAM
  #tagsLive
    +relative
    height: 100px
    margin: 0
    padding: 0

    // GENERAL TAG STYLES
    .stream_tag
      +pointer
      +left
      +round(8)
      height: 24px
      margin: 10px 10px 0
      padding: 0
      border: 1px solid transparent
      &:hover
        +border-light
      span
        +left
        +bold
        +font(12)
        padding: 4px
      .count
        +font(9)
        +left
        +round(8)
        background-color: #a63700
        color: #fff
        display: inline-block
        top: -4px
        padding: 1px 4px

#tagStream, #showEntry
  #tagsLive, #tag-list
    +clear
    // WHO, WHERE, WHAT TAG STYLES
    .tagWho, .tagWhat, .tagWhere, .tagNoImage
      +round(8)
      +button-light
      +left
      margin: 0 8px 4px 0
      height: 32px
      line-height: 32px
      background-color: #fff
      color: #333
      .avatar, .whereIcon, .tagImage
        +round(8)
        +flat-right
        +left
        +overflow
        width: 32px
        height: 32px
      span
        +left
        margin: 0 8px
      .analysisIcon, .followStatus
        +right
        width: 32px
        height: 32px

    // TAG NO IMAGE
    .tagNoImage
      +center
      padding: 0 8px

    // WHAT TAG STYLES
    .tagWhat

    // WHERE TAG STYLES
    .tagWhere




.tagChat
  +absolute
  padding: 4px
  left: 0
  top: 50px
  z-index: 333
  width: 360px
  .arrow
    +absolute
    top: -10px
    left: 180px
  .description
    +font(13)
    +bold
    +center
    padding: 8px
    margin-bottom: 4px
    color: #4c4c4c !important
    height: 30px
    line-height: 30px
  .postInfo
    padding: 4px
  .avatar, .name, .time, .comment, input
    +left
  .avatar
    width: 20px
    height: 20px
  .name
    +bold
    +font(11)
    +round(4)
    background-color: #cecece
    display: inline-block
    height: 16px
    padding: 2px 4px
    margin-left: 5px
  .time
    +font(11)
    color: #a1a1a1
    display: inline-block
    margin-left: 5px
    height: 20px
    line-height: 20px
  .shared
    +right
    margin: 4px 4px 0 0
  .chat
    padding: 4px
    margin-top: 4px
    background: none repeat scroll 0% 0% rgb(255, 255, 255)
    .userComment
      height: 26px
      padding: 4px
    .comment
      +font(12)
      color: #4C4C4C
      display: inline-block
      margin-left: 5px
      height: 20px
      line-height: 20px
    .input
      padding: 4px
      height: 24px
      img
        +right
        margin: 6px
      input
        +transparent
        margin-left: 4px
        width: 88%
        height: 24px
        border: 0






























/* UNIVERSAL STYLES */
.entryAssets
  +round(12)
  width: 662px
  padding: 8px
  border: 1px solid #464646 /* 80% Black */ 



.light
  .noEntrys
    +transparent-light(50)
    +glow-light(20)
.dark
  .noEntrys
    +transparent-dark(50)
    +glow-dark(10)

.noEntrys
  +user-select
  +round(16)
  +font(21)
  +absolute
  +center
  +cursor
  top: 0px
  width: 668px
  padding: 8px
