@import mixins
@import context_panel

/******** 2D ENTRY THUMBS LIGHT / DARK ********/
#entryField, #home
  .matrix

    /******** 2D ENTRY THUMBS ********/
    /* HOVER */
    .thumb-2d:hover
      z-index: 81
      .fadedBack
        .detailsTop, .detailsBottom, .title
          +block
          z-index: 84

    /* */
    .thumb-2d
      +round(16)
      +pointer
      +left
      +relative
      +overflow
      margin: 0 10px 10px 0
      border: 0
      z-index: 80

      .link
        +block
        +absolute
        width: 200px
        height: 300px
        z-index: 10000

      .fadedBack
        +round(16)
        width: 200px
        height: 300px

      .watermark
        +georgia
        +alpha(10)
        +absolute
        +center
        +font(45)
        +overflow
        width: 200px
        height: 128px
        line-height: 30px
        top: 38px

      .detailsTop, .detailsBottom, .title
        +absolute
        +hidden

        .date, .location, .comments, .newComments, .sharing
          +round(12)
          +center
          +font(11)
          color: #fff
          margin: 4px
          padding: 4px 8px
          background: rgba(0,0,0,0.50)

        .date, .comments, .newComments
          +left
        .location, .sharing
          +right

      .detailsTop
        width: 200px
        z-index: 100
        .date
          +overflow
          max-width: 60px
          white-space: nowrap

      .detailsBottom
        bottom: 0
        width: 100%

        .comments img
          margin: 0 2px -5px 0
        .sharing img
          margin: -1px 0 -4px 2px

      .title
        +center
        +font(21)
        width: 97%
        top: 90px
        line-height: 21px

      .tags
        +absolute
        z-index: 20
        bottom: 6px
        padding: 0 16px

// COLORS
.light
  #entryField, #home
    .matrix
      .fadedBack
        background: url("/images/gradients/thumb-2d-light.png") repeat-x top transparent
      .thumb-2d:hover
        +glow-light(40)
.dark
  #entryField, #home
    .matrix
      .fadedBack
        background: url("/images/gradients/thumb-2d-dark.png") repeat-x top transparent
      .thumb-2d:hover
        +glow-dark(40)










/******** 1D ENTRY THUMBS ********/
// STRUCTURE
#entryField, #home
  .matrix
    .thumb-1d
      +round(16)
      +flat-bottom
      +flat-right
      +relative
      +clear
      +pointer
      +overflow
      margin: 0 0 20px
      padding: 4px 4px 0
      width: 672px
      height: 220px

      // LEFT SIDE
      .left
        +absolute
        width: 360px

        // USERNAME + AVATAR
        .user
          +round(12)
          +absolute
          top: 4px
          left: 4px
          padding: 0 12px 0 0
          height: 30px
          line-height: 30px
          background: #fff url(/images/avatars/xavitar.jpg) no-repeat left
          .name
            margin: 0 0 0 42px
            font-size: 16px
            font-weight: bold

        // COMMENT COUNT
        .commentCount
          +absolute
          top: 8px
          right: 8px
          background: url(/images/icons/comments-16.png) no-repeat right
          .counter
            +round(12)
            +right
            +center
            margin: 0 20px 0 0
            height: 16px
            line-height: 16px
            padding: 0 8px
            font-size: 14px
            font-weight: bold

        // IMAGE
        .image
          width: 360px
          height: 96px
          border-radius-topleft: 16px
          -moz-border-radius-topleft: 16px
          -webkit-border-radius-topleft: 16px
          background: url(/images/art/cloud-temple-banner.jpg) no-repeat top left

        // TITLE & TEXT
        h1.title, p.text
          +overflow
          width: 330px
        h1.title
          margin: 8px 8px 0 8px
          font-size: 24px
          height: 30px
        p.text
          margin: 4px 8px 0 8px
          height: 40px

        // POST DETAILS
        .details
          +absolute
          top: 190px
          left: 4px
          height: 26px
          width: 352px
          .rePost, .date, .starlight
            +center
            +left
            padding: 0 8px

          // REPOSTED BY
          .rePost
            +round(4)
            margin: 4px 8px 0 0
            padding-left: 24px
            font-size: 10px
            height: 16px
            line-height: 14px
            background: url(/images/icons/repost-18.png) no-repeat 4px center

          // DATE
          .date
            margin: 6px 0
            font-size: 11px
            font-weight: bold

          // STARLIGHT
          .starlight
            +round(8)
            +right
            font-size: 12px
            height: 24px
            line-height: 24px
            img
              margin: 4px 4px 0 0

      .right
        +absolute
        left: 364px

        ul
          list-style: none
          margin: 0
          padding: 0
          width: 320px
          li
            +left
            margin: 0 0 0 2px
            background: #ccc
            height: 60px
            width: 60px

        .tagCloud
          clear: both
          border: none
          height: 100px
          width: 260px
          +transparent

        .entryTagList
          position: absolute
          .tag
            +round(8)
            +left
            height: 24px
            line-height: 24px
            margin: 8px 8px 0 0
            padding: 0 8px
            text-align: center
            background: #7a7a7a


      //
        .thumb-1d.tag, .thumb-1d.newImages
          height: 62px
          border-radius: 16px
          -moz-border-radius: 16px
          -webkit-border-radius: 16px
        .thumb-1d.tag
          padding: 15px 0
          height: 32px
          line-height: 32px
          .user
            margin: 0 8px
          .tagText
            float: left
            margin: 0 0 0 12px
            font-size: 18px
        .thumb-1d.noImage
          .left
            .tagCloud
              height: 90px
              border-radius-topleft: 16px
              -moz-border-radius-topleft: 16px
              -webkit-border-radius-topleft: 16px
        .thumb-1d.newImages
          .left
            .image
              height: 62px
              border-radius-bottomleft: 16px
              -moz-border-radius-bottomleft: 16px
              -webkit-border-radius-bottomleft: 16px
          .right
            height: 62px
            .user
              margin: 15px 8px
            .display
              float: left
              margin: 10px 0 0
              .gallery
                margin: 0
                font-size: 18px
                color: #262626 /* 90% Black */
              .text
                margin: 0
// COLORS
.light
  #entryField, #home
    .matrix
      .thumb-1d
        +flat-light
        &:hover
          +glow-light(40)

        // LEFT SIDE
        .left
          .commentCount
            .counter
              +flat-light

          // ENTRY THUMB DETAILS
          .details
            // REPOSTED BY
            .rePost
              +border-light
            // STARLIGHT
            .starlight
              +bevel-light
              +button-light


.dark
  #entryField, #home
    .matrix
      .thumb-1d
        +flat-dark
        &:hover
          +glow-dark(40)

        // LEFT SIDE
        .left
          .commentCount
            .counter
              +flat-dark

          // ENTRY THUMB DETAILS
          .details
            // REPOSTED BY
            .rePost
              +border-dark
            // STARLIGHT
            .starlight
              +bevel-dark
              +button-dark




#entryField, #home
  .matrix
    /******** PAGINATION ********/
    .dark.pageFirst, .dark.pageFirst:hover
      border: 2px solid transparent
      margin-right: 1px
      height: 37px
    .dark.pageLast, .dark.pageLast:hover
      border: 2px solid transparent
      margin-left: 1px
      height: 37px
    .pageFirst
      img
        padding: 8px 4px
    .pageLast
      img
        padding: 8px 4px
    .pagePrev
      display: block
      padding: 8px 4px
      font-weight: bold
    .pageNext
      display: block
      padding: 8px 4px
      font-weight: bold
    .pageNumber
      display: block
      padding: 11px 6px
      float: left
    .pagination
      a.pageNumber
        color: #999999
      a.pageNumber:hover
        color: white
        font-weight: bold
    .pageNumber.currentPage
      display: block
      padding: 10px 7px
      font-weight: bold
      font-size: 21px
      float: left
      line-height: 17px
      cursor: default
      border: 2px solid white






#entryField

  /*********** SHOW ENTRY SHARED STYLES***********/
  #showEntry
    .content, .tagEntry, .entryAnalysis
      margin: 0 0 8px

  /*********** SHOW ENTRY ***********/
  // STRUCTURE
  #showEntry
    +round(16)
    width: 662px 
    padding: 8px

    a.prev
      +round(16)
      +flat-right
    a.next
      +round(16)
      +flat-left
    .stream
      +flat-all
    a.next, .stream, a.prev, .books, .type, .editEntry
      +block
      +center
      margin: 0 0 8px
      padding: 0 18px
      height: 32px
      line-height: 32px
      font-weight: bold
    .type
      +round(16)
      +left
      cursor: default
    a.next, .stream, a.prev, .books, .editEntry
      +right
    .books
      +round(8)
      margin-right: 8px
    a.editEntry
      +round(16)
    a.editEntry:hover
      -moz-opacity: 1
      -khtml-opacity: 1
      -webkit-opacity: 1
      opacity: 1
    .editEntry.confirm
      margin-right: 16px
    .editEntry.delete
      +round(16)
      margin-right: 4px
      
      

    // HEADER IMAGE & TITLE
    .imageHeader
      +round(16)
      +flat-bottom
      +relative
      clear: both
      margin: 0
      height: 200px
      background: url(/images/bedsheets/air-01.jpg) no-repeat top left
      .title
        +round(8)
        +flat-bottom
        +absolute
        +overflow
        +center
        margin: 0 0 0 20px
        bottom: 0
        padding: 0 12px
        height: 36px
        line-height: 36px
        max-width: 620px
        font-size: 22px

    .content
      +round(16)
      +flat-top

      // BODY
      .body
        margin: 0
        padding: 36px

      // GALLERY
      ul.gallery
        margin: 0 0 0 20px
        padding: 4px
        list-style: none
        li
          +round(8)
          margin: 0 2px 2px 0
          float: left
          height: 120px
          width: 120px
          background: #ababab

      // SHARING
      .entryLinks
        +round(8)
        clear: both
        margin: 8px 8px 0
        padding: 8px
        background-color: #ddd
        .link
          +round(16)
          +left
          +center
          margin: 0 8px 0 0
          padding: 0 12px
          height: 30px
          line-height: 30px
          img, span
            float: left
          img
            margin: 7px 8px 0 0

      // INFO
      .entryInfo
        clear: both
        margin: 0
        padding: 8px
        .postTime, .postLocation, .love, .share, .repost, .starlight
          float: left
        .postTime, .postLocation, .starlightCount, .shareOptions
          +round(16)
          height: 32px
          line-height: 32px
          padding: 0 12px
          margin: 0 4px 0 0
        .starlightCount
          img.starlight
            margin: 6px 8px 0 0
        .starlightCount, .shareOptions
          float: right
        .shareOptions
          width: 86px
          .love, .share, .repost
            width: 28px
            height: 32px
            cursor: pointer
          .love
            background: url(/images/icons/love-16.png) no-repeat center
          .love.selected
            background: url(/images/icons/love-16-selected.png) no-repeat center
          .share
            background: url(/images/icons/share-16.png) no-repeat center
          .share.selected
            background: url(/images/icons/share-16-selected.png) no-repeat center
          .repost
            background: url(/images/icons/repost-24.png) no-repeat center
          .repost.selected
            background: url(/images/icons/repost-24-selected.png) no-repeat center

      // TAG - see NEW ENTRY TAG below
      .entryTags
        padding: 8px
        margin: 0 0 8px
        img.tagCheck
          margin: 4px 0 0 6px

        .tagHeader
          +flat-right

        .wrapper
          .tagInput
            +left
            width: 250px
            padding: 4px
            height: 26px
            line-height: 26px
            input
              height: 26px
              line-height: 26px
              background: transparent
              border: none

          .tagThisEntry
            +round(12)
            +flat-left
            +left
            +center
            margin: 0 0 8px
            padding: 0 12px
            height: 34px
            line-height: 34px
            font-weight: bold
            &:hover
              +save(17)
            span
              color: green

        .target
          #tag-list
            +clear
            #empty-tag, .tag_box
              +left
              +round(8)
              height: 24px
              line-height: 24px
              margin: 8px 8px 0 0
              padding: 0 8px
              text-align: center
              background: #7a7a7a
              color: #fff

      // ANALYSIS
      .entryAnalysis
        padding: 8px
        .analysisHeader
          margin-bottom: 8px
          img
            margin: 7px 8px 0 0

        .analysisTags
          +round(12)
          +overflow
          clear: both
          line-height: 32px
          margin: 0 0 8px
          padding: 0 12px 0 0
          .title
            height: 32px
            padding-left: 42px
            font-weight: bold
            .arrow
              +right
              height: 32px
              width: 16px
              background: url(/images/icons/arrow-down-16.png) no-repeat center
          .description
            clear: both
            margin: 20px 8px 20px 20px
            line-height: 20px
            .source
              +round(12)
              +left
              margin: 0 0 12px 12px
              padding: 0 12px
              height: 24px
              line-height: 24px
              text-align: center


    // COMMENTS
    .commentsPanel
      +round(12)
      margin-bottom: 0
      .commentsHeader
        margin-bottom: 8px
        img
          margin: 7px 8px 0 0
        .counter
          float: right

      .newCommentWrap, .prevCommentWrap
        clear: both
        margin-bottom: 8px
        .avatar
          +round(12)
          +left
          +overflow
          height: 62px
          width: 62px
          margin: 0 8px
          background: url(/images/avatars/default-avatar-tiny.jpg) top left
        .newComment
          +round(12)
          +right
          width: 546px
          padding: 8px
          textarea
            +transparent
            min-height: 90px
            width: 546px
            border: none
          .images, .links, .save
            +right
            +center
            height: 32px
            line-height: 32px
            padding: 0 16px
          .images, .links
            img
              margin: 11px 8px 0 0
              float: left
          .links
            img
              margin-top: 9px
          .save
            +round(16)
      .prevCommentWrap
        margin-bottom: 0
        .prevComment
          +round(12)
          +right
          min-height: 112px
          width: 544px
          padding: 8px
          border: 2px solid white
          .user
            +round(8)
          .user, .postTime
            +left
            +center
            height: 32px
            line-height: 32px
            padding: 0 16px
            margin: 0 0 12px
          ul
            +right
            max-width: 270px
            margin: 0 0 0 8px
            padding: 0
            list-style: none
            li
              +round(8)
              +right
              margin: 0 2px 2px 0
              height: 62px
              width: 62px
              background: #ababab
            
          .comment
            clear: both
          .rePost
            +round(16)
            +left
            +center
            height: 32px
            line-height: 32px
            padding: 0 12px
            margin: 12px 0 0


// COLORS
.light
  #entryField
    #showEntry
      +transparent-light(50)
      +glow-light(40)

      .type
        +bevel-light
        +border-light

      a.next, .stream, a.prev
        +button-light
        +shine-light(18)

      a.editEntry
        +alpha(60)
        +button-light
        +bevel-light

      .editEntry.delete
        +alpha(60)
        +button-light
        +bevel-light

      .books
        +button-light

      // HEADER IMAGE & TITLE
      .imageHeader
        // MOOD ICON
        .moodIcon
          +button-light
          +glow-light(10)

        .title
          +transparent-light(50)

      .content
        +flat-light

        // IMAGE GALLERY
        ul.gallery
          li
            +button-light

        // ENTRY LINKS
        .entryLinks
          .link
            +button-light
            +bevel-light

        // INFO
        .entryInfo
          .postTime, .postLocation, .starlightCount, .shareOptions
            +infoTab-light

        // TAG
        .entryTags
          .tagHeader
            +indent-light
            +button-light

          .tagThisEntry
            +button-light
            +shine-light(17)

          .tagInput
            +input-light

          .target
            #tag-list
              #empty-tag

        // ANALYSIS
        .entryAnalysis
          .analysisHeader
            +indent-light
            +button-light

          // ANALYSIS TAGS
          .analysisTags
            +bevel-light
            +button-light

            .description
              .source
                +button-light
                +bevel-light

      // COMMENTS
      .commentsPanel
        +panel-light
        +shine-light-alpha(16)

        .commentsHeader
          +indent-light
          +button-light

        .newCommentWrap
          .avatar
            +button-light
          .newComment
            +inputTextarea-light
            .save
              +shine-light(16)
              +button-light

        .prevCommentWrap
          .avatar
          .prevComment
            +input-light
            border: 2px solid #fff
            .user
              +button-light
              +bevel-light
            ul
              li
                +button-light
            .rePost
              +bevel-light
              +button-light

// COLORS
.dark
  #entryField
    #showEntry
      +transparent-dark(50)
      +glow-dark(40)

      .type
        +bevel-dark
        +border-dark

      a.next, .stream, a.prev
        +button-dark
        +shine-dark(18)

      a.editEntry
        +alpha(60)
        +button-dark
        +bevel-dark

      .editEntry.delete
        +alpha(60)
        +button-dark
        +bevel-dark

      .books
        +button-dark

      // HEADER IMAGE & TITLE
      .imageHeader
        // MOOD ICON
        .moodIcon
          +button-dark
          +glow-dark(10)

        .title
          +transparent-dark(50)

      .content
        +flat-dark

        // IMAGE GALLERY
        ul.gallery
          li
            +button-dark

        // ENTRY LINKS
        .entryLinks
          .link
            +button-dark
            +bevel-dark

        // INFO
        .entryInfo
          .postTime, .postLocation, .starlightCount, .shareOptions
            +infoTab-dark

        // TAG
        .entryTags
          .tagHeader
            +indent-dark
            +button-dark

          .tagThisEntry
            +button-dark
            +shine-dark(17)

          .tagInput
            +input-dark

          .target
            #tag-list
              #empty-tag

      // ANALYSIS
      .entryAnalysis
        .analysisHeader
          +indent-dark
          +button-dark

        // ANALYSIS TAGS
        .analysisTags
          +bevel-dark
          +button-dark

          .description
            .source
              +button-dark
              +bevel-dark

      // COMMENTS
      .commentsPanel
        +panel-dark
        +shine-dark-alpha(16)

        .commentsHeader
          +indent-dark
          +button-dark

        .newCommentWrap
          .avatar
            +button-dark
          .newComment
            +inputTextarea-dark
            .save
              +shine-dark(16)
              +button-dark

        .prevCommentWrap
          .avatar
          .prevComment
            +input-dark
            border: 2px solid #000
            .user
              +button-dark
              +bevel-dark
            ul
              li
                +button-dark
            .rePost
              +bevel-dark
              +button-dark





#entryField

  /*********** NEW ENTRY ***********/
  .headers
    padding: 0 12px
    height: 34px
    line-height: 34px
    text-align: center
    float: left
    font-weight: bold
    cursor: pointer
    border-radius: 16px
    -moz-border-radius: 16px
    -webkit-border-radius: 16px
    img
      float: left
  .moodHeader, .linksHeader, .tagHeader, .locationHeader, .dateTimeHeader
    img
      margin: 9px 8px 0 0
  .tagHeader
    img
      margin: 8px 8px 0 0
  .imagesHeader
    img
      margin: 11px 8px 0 0

  // NEW ENTRY INPUT PANEL
  #newEntry
    width: 662px 
    padding: 8px

    // MOOD ICON
    .wrapper
      .moodIcon
        +absolute
        right: -26px
        top: -26px
      .moodIcon-picker
        +absolute
        right: -8px
        top: -8px

    .entryType
      +round(16)
      +absolute
      +pointer
      +center
      right: 70px
      width: 126px
      height: 34px
      line-height: 34px
      img
        +left
        margin: 3px 0 0 4px
      #entryType_current
        background: url(/images/icons/arrowDark-16-open.png) no-repeat 118px 3px
      #entryType_list
        +transparent
        border: 0
    #entry_title, #entry_body
      margin: 10px 0 0 10px
      +transparent
      border: none
    #entry_title
      width: 460px
      height: 26px
      line-height: 26px
    #entry_body
      width: 640px
      min-height: 134px
      height: 134px

    /* NEW ENTRY OPTIONS */
    #entryOptions
      +relative
      width: 664px 
      height: 48px
      margin: 0 auto
      bottom: 0
      border: 1px solid #D7D7D7
      #share
        +right
        top: 50px
    .myBooks, .date, .addLocation, .sharing, #entry_submit
      +round(16)
      +center
      +pointer
      +right
      height: 34px
      line-height: 34px
      margin: 8px 0 0 8px
    .myBooks
      +bold
      +left
      width: 184px
      img
        +left
        margin: 9px 0 0 14px

    .date, .addLocation
      width: 42px
      img
        margin: 9px 0 0
    .addLocation
      img
        margin: 7px 0 0
    .addLocation.selected
      border: 1px solid #333
    .sharing
      width: 104px
      img
        +right
        margin: 10px 10px 0 0
    #entry_submit
      +bold
      +font(12)
      +round(8)
      width: 64px
      height: 34px
      line-height: 28px
      margin-right: 8px

  // ENTRY DATE / TIME
  .entryDateTime
    +hidden
    .date, .time
      +left
      margin: 0 0 0 8px
    #hour, #month, #day, #year, #minute, #amPm
      +font(16)
      padding: 6px 12px
    #hour, #month
      margin-left: 8px
    #day, #year, #minute, #amPm
      margin-left: -4px


  // ENTRY LOCATION
  .entryLocation
    height: 35px
    +hidden
    .locations
      +left
      +font(16)
      +pointer
      margin-left: 8px
      padding: 5px 8px
      height: 34px
      line-height: 34px
      margin: 0 0 0 14px
      padding: 6px 8px
      option
        padding: 1px 4px
      .newLocation
        background: url('/images/icons/add-16.png') no-repeat 25px 8px
        padding: 6px 0 6px 45px
      .saved
        +font(17)
        padding-bottom: 6px
      .divider
        background-color: #777777
        font-size: 1px
        margin: 0 0 6px
        width: 98%
      .noLocation
        color: #777777
    .spinner-small
      +relative
      width: 32px
      height: 32px
      margin-bottom: -32px
      left: 314px
      top: 2px
    .expander
      +clear
      .name, .city, .state, .country
        +right
        margin: 4px 0 0 8px
        input
          +font(16)
          +round(8)
          padding: 4px
          width: 258px
    .delete
      +right
      +center
      height: 34px
      padding: 0 12px
      line-height: 34px
      margin: 0


  // ENTRY IMAGES
  .entryImages
    border: 1px solid #333
    +hidden
    #addFromImageBank
      +left
      +pointer
      height: 32px
      line-height: 32px
      padding: 0 8px
      margin-left: 8px
      img
        +left
        margin: 6px 8px 6px 0
    #imageDropArea
      +right
      +bold
      +font(13)
      +round(8)
      width: 380px
      height: 32px
      line-height: 32px
      img
        +left
        margin: 6px 8px
    #currentImages
      margin: 12px 0 0 12px
      .entryImageContainer, .entryImage
        +round(8)
      .entryImageContainer
        +left
        +overflow
        +relative
        margin: 0px 8px 8px 0px
        height: 120px
        width: 120px
        background: #fff
        .entryImage
          +left
          +overflow
          +pointer
          width: 120px
          height: 120px
          .imageRemoveButton
            +pointer
            +font(12)
            +bold
            +center
            +round(4)
            margin: 8px
            padding: 8px
            width: 12px
            height: 12px
            display: inline-block
            color: #ff1e00 !important
        .entryImageCaption
          +absolute
          +font(16)
          +bold
          color: #333333
          height: 94px
          margin: 4px
          padding: 8px
          width: 184px
          border: 0px
          background: none
          right: 0px

  // NEW ENTRY TAGS
  .entryTags
    #tag-list
      width: 660px
      .tag_box
        +center
        padding: 0 4px
        height: 28px
        line-height: 28px
        color: #262626 /* 90% Black */
        margin: 8px 8px 0 0
    .tagInputWrap
      +left
      width: 520px
      height: 40px
      margin: 0 0 0 8px
      img
        +left
        margin: 0
      .tagInput
        +left
        width: 480px
        height: 40px
        margin: 0
        background: url(/images/slices/inputContentLight-40.png) repeat-x
        input
          +left
          +font(18)
          +transparent
          width: 410px
          height: 32px
          line-height: 32px
          margin: 4px 0
          border: 0
      .tagAdd
        +center
        +right
        width: 62px
        height: 30px
        line-height: 30px
        margin: 5px 0
        span
          color: green
    #tagBrowse
      +right
      width: 36px
      height: 32px
      margin: 0
      padding: 4px 3px
      border: 1px solid #C2C2C2
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#C2C2C2))
      background: -moz-linear-gradient(top, #fff, #C2C2C2) /* gradient-0-30*/
    .tag-who, .tag-where, .tag-what
      +center
      +round(8)
      height: 34px
      line-height: 34px 
      background: #fff
    .tag-who
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#C2C2C2))
      background: -moz-linear-gradient(top, #fff, #C2C2C2) /* gradient-0-30*/
    .tag-list
      +clear

  // NEW ENTRY LINKS
  .entryLinks
    #linkInputWrap
      +left
      +round(8)
      box-shadow: 0 8px 5px #999 inset
      -moz-box-shadow: 0 8px 5px #999 inset
      -webkit-box-shadow: 0 8px 5px #999 inset
      margin: 0 8px 8px 8px
      background: #fff
      border: 1px solid #fff 
      width: 550px
      height: 38px
      line-height: 38px
      input
        +left
        +font(18)
        +transparent
        width: 460px
        height: 32px
        line-height: 32px
        margin: 4px 0 4px 8px
        border: 0
      .linkAdd
        +center
        +right
        width: 62px
        height: 30px
        line-height: 30px
        margin: 4px 12px 0 0
        span
          color: green
    .linkContainer
      +clear
      +hidden
      margin: 8px 0 0
      padding: 3px 8px
      width: 632px
      height: 34px
      line-height: 34px
      background: #fff
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      .title
        +left
        +pointer
        width: 122px
        margin: 0 0 0 10px
      .linkTitleValue
        +font(14)
        border: none
        background: #fff
      .url
        +left
        +overflow
        +pointer
        text-align: left
        margin: 0 0 0 102px
        width: 330px
        height: 24px
        a:link, a:visited
          +overflow
          height: 14px
      .icon
        +right
        +center
        width: 32px
        height: 32px
        line-height: 32px
        padding-top: 4px
      .removeicon
        +right
        +center
        +pointer
        width: 32px
        height: 32px
        line-height: 32px
        padding-top: 4px
        color: red
       
  // NEW ENTRY MOOD
  .entryMood
    .moodHeader
      margin-bottom: 8px

    // MOOD PICKER
    .moodPicker
      +clear
      padding: 8px
      margin: 8px 0
      .love, .joy, .surprise, .anger, .mystical, .wonder, .sadness, .stress, .fear
        +clear
        margin: 0 0 2px
        height: 32px
        .one, .two, .three, .four, .five
          +left
          +center
          +block
          height: 32px
          line-height: 32px
          width: 110px
          box-shadow: inset 0 18px rgba(255,255,255,0.5)
          -moz-box-shadow: inset 0 18px rgba(255,255,255,0.5)
          -webkit-box-shadow: inset 0 18px rgba(255,255,255,0.5)
        .one
          width: 200px
          background: #fff
          span
            margin-right: 44px
            text-align: right
            width: 80px
            display: inline-block
      .love
        .two
          background-color: rgb(216, 235, 157)
        .three
          background-color: rgb(196, 225, 99)
        .four
          background-color: rgb(153, 204, 51)
        .five
          background-color: rgb(123, 189, 13)
      .joy
        .two
          background-color: rgb(255, 255, 204)
        .three
          background-color: rgb(254, 241, 130)
        .four
          background-color: rgb(250, 219, 77)
        .five
          background-color: rgb(237, 197, 0)
      .surprise
        .two
          background-color: rgb(254, 218, 164)
        .three
          background-color: rgb(248, 185, 104)
        .four
          background-color: rgb(242, 153, 58)
        .five
          background-color: rgb(232, 114, 0)
      .anger
        .two
          background-color: rgb(248, 166, 164)
        .three
          background-color: rgb(237, 100, 107)
        .four
          background-color: rgb(228, 48, 84)
        .five
          background-color: rgb(220, 0, 71)
      .mystical
        .two
          background-color: rgb(206, 178, 216)
        .three
          background-color: rgb(186, 153, 203)
        .four
          background-color: rgb(148, 99, 198)
        .five
          background-color: rgb(123, 78, 163)
      .wonder
        .two
          background-color: rgb(198, 238, 255)
        .three
          background-color: rgb(138, 220, 254)
        .four
          background-color: rgb(68, 194, 246)
        .five
          background-color: rgb(0, 113, 208)
      .sadness
        .two
          background-color: rgb(200, 223, 212)
        .three
          background-color: rgb(150, 198, 191)
        .four
          background-color: rgb(150, 198, 191)
        .five
          background-color: rgb(41, 82, 94)
      .stress
        .two
          background-color: rgb(217, 205, 203)
        .three
          background-color: rgb(188, 171, 158)
        .four
          background-color: rgb(147, 130, 95)
        .five
          background-color: rgb(85, 79, 52)
      .fear
        .two
          background-color: rgb(196, 196, 196)
        .three
          background-color: rgb(162, 162, 162)
        .four
          background-color: rgb(127, 127, 127)
        .five
          background-color: rgb(101, 101, 101)



  // NEW ENTRY ATTACH
  .entryAttach

    p
      +left
      height: 34px
      line-height: 32px
      margin: 0 30px
    .tag, .images, .mood, .links, .analysis
      +center
      +left
      +pointer
      +round(16)
      height: 34px
      line-height: 32px
      margin: 0 0 0 8px
      padding: 0 12px
      img
        +left
        margin: 7px 8px 0 0
    .images
      img
        margin-top: 11px




.light
  #newEntry
    +flat-light
    +glow-light(40)

.dark
  #newEntry
    +flat-dark
    +glow-dark(40)









/* ENTRY BAR */
.light, .dark
  #entryBar
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), to(rgba(0,0,0,0.5)))
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(0,0,0,0.5))
.light
  #entryBar
    .entry.selected, .tag.selected, .quote.selected, .book.selected
      background: #2e2e2e
      background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#515151))
      background: -moz-linear-gradient(top, #2e2e2e, #515151)
      color: #dadada
.dark
  #entryBar
    .entry.selected, .tag.selected, .quote.selected, .book.selected
      background: #adadad
      background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#fff))
      background: -moz-linear-gradient(top, #adadad, #fff)
      color: #000

#entryBar
  width: 668px
  margin: 0 0 10px
  padding: 8px
  a:link, a:visited
    +block
    text-decoration: none
    color: #000
  .entry, .tag, .quote, .book
    +left
    +center
    +round(16)
    height: 32px
    line-height: 32px
    margin-right: 10px
    padding: 0
    
  a.entry
    +bold
    color: #444
    width: 114px
    cursor: text
    height: 34px
    background: #fff
    box-shadow: inset 0 4px 12px rgba(0,0,0,0.8)
    -moz-box-shadow: inset 0 4px 12px rgba(0,0,0,0.8)
    -webkit-box-shadow: inset 0 4px 12px rgba(0,0,0,0.8)
    span
      +font(18)
      color: #68b800
  a.entry:hover
    box-shadow: 0 0 12px rgba(0,0,0,1)
    -moz-box-shadow: 0 0 12px rgba(0,0,0,1)
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,1)
  .tag
    width: 70px
  .quote
    width: 96px
  .book
    +right
    width: 88px
    margin: 8px 10px 0 10px







/******** TAG STREAM ********/
/* LIGHT AND DARK */

.light
  #tagEntry
    .entryInput
      background: url(/images/slices/tagInput-light-660.png) top left
      input
        color: #000
.dark
  #tagEntry
    .entryInput
      color: #fff
      background: url(/images/slices/tagInput-dark-660.png) top left
      input
        color: #ccc

#tagEntry
  +absolute
  margin: 0 0 18px
  padding: 8px
  width: 668px
  height: 40px
  z-index: 1000
  .entryInput, input
    +left
  .entryWrap
    +right
    height: 40px
    margin: 0
    img
      +left
      margin: 0
      z-index: 0
    .entryInput
      width: 660px
      height: 40px
      margin: 0
      #tagInput
        +transparent
        +font(18)
        width: 480px
        height: 32px
        line-height: 32px
        margin: 4px 0 4px 20px
        border: 0
      .location, .sharing
        +right
        +pointer
        margin: 14px 8px 0 0
      .location
        margin-top: 12px
    .add
      +right
      +pointer
      +center
      +round(8)
      width: 62px
      height: 30px
      line-height: 30px
      margin: 4px
      color: #fff
      border: 1px solid #C2C2C2
      background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#000))
      background: -moz-linear-gradient(top, #464646, #000) /* gradient-80-100 */
      span
        +bold
        color: #349200

  #share
    +absolute
    width: 148px
    padding: 8px
    top: 112px
    left: 490px
    background: #fff
    -moz-box-shadow: 0 0 40px #000
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc))
    background: -moz-linear-gradient(top, #fff, #ccc) /* gradient-0-30 */
    border: 1px solid #fff
    z-index: 900
    .arrow
      +absolute
      top: -12px
      left: 72px
    select, .social
      +font(16)
      width: 100%
      height: 28px
      line-height: 28px
      padding: 2px 4px
      margin: 2px 0
    .social
      +pointer
      border: 1px solid #C2C2C2
      width: 138px
      height: 22px
      line-height: 22px
      background: #fff
      label
        +block
      .icon, .name
        +left
        +pointer
      .icon
        margin: 4px 8px 0 4px
      .name
        +center
      .checkbox
        +right
        +pointer
        margin: 4px 0 0

  // AUTO COMPLETE
  #autoComplete
    +absolute
    padding: 4px
    width: 207px
    min-height: 32px
    top: 65px
    left: 36px
    z-index: 500
    ul
      list-style-type: none
      margin: 0px
      padding: 0px
      li
        +pointer
        height: 32px
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px
        line-height: 32px
        color: #666
        border: 1px solid #ccc
      .results
      .results:hover
        background: -webkit-gradient(linear, left top, left bottom, from(#7D7D7D), to(#000))
        background: -moz-linear-gradient(top, #7D7D7D, #000) /* gradient-60-100 */
      .results:hover a:link
        color: #fff
      a:link, a:visited
        +left
        +bold
        display: inline-block
      .userStatus
        +right
        +relative
        +overflow
        +pointer
        z-index: 200
        top: 3px
        right: 3px
        width: 17px 
        height: 17px
        background: url('../images/icons/friend-stream-sprite.png') no-repeat 0% 0%
        margin: 8px
        top: 0px !important
        left: 0px !important


  /* TAG NODE */
  .tagNode
    +absolute
    +left
    +bold
    width: 150px
    height: 32px
    top: 15px
    left: 40px
    line-height: 32px
    background: #b6b5b3
    -moz-box-shadow: 0 15px 10px #e6e6e6 inset
    span
      +left
      margin-left: 10px
    .removeTag
      +absolute
      +pointer
      top: 7px
      right: 6px

  // TAG ENTRY AVATAR
  .avatar
    +round(8)
    +left
    +overflow
    height: 32px
    width: 32px
    margin-right: 10px









/******** MOOD ICON PICKER ********/

#tagStream, #entryField

  .moodIcon, .moodIcon-picker, .currentIcon
    +right
    +round(16)
    z-index: 1200
  .currentIcon, .moodIcon
    +center
    width: 64px
    height: 50px
    padding: 7px 0
    background: #fff
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
    background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
  .moodIcon
    margin: 17px 17px 0 0
  .moodIcon-picker
    +absolute
    top: 5px
    padding: 8px
    width: 286px
    height: auto
    z-index: 1200
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
    background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
    .buttons
      +left
      margin: 12px 0 0 4px
      width: 58px
    .cancel, .clearMood, .currentMood
      +center
      +round(8)
      color: #000
      border: 1px solid #959595 /* 50% Black */
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
      background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
    .cancel, .clearMood
      +font(11)
      +pointer
      margin: 0 0 4px
      padding: 0 4px
      width: 48px
      height: 14px
      line-height: 14px
    .currentMood
      +left
      +bold
      +font(16)
      +round(16)
      margin: 12px 0 0 14px
      padding: 0 8px
      width: 112px
      height: 36px
      line-height: 36px
      text-transform: uppercase
    .currentIcon
      margin: 0 0 2px
      box-shadow: 0 0 12px #000
      -moz-box-shadow: 0 0 12px #000
      -webkit-box-shadow: 0 0 12px #000
    .moodIcon-list
      +clear
      list-style: none
      margin: 0
      padding: 0
      width: 306px
      li
        +left
        +center
        +pointer
        +round(16)
        margin: 4px 4px 0 0
        padding: 10px 0
        width: 90px
        height: 70px
        border: 1px solid #959595 /* 50% Black */
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D7D7))
        background: -moz-linear-gradient(top, #fff, #D7D7D7) /* gradient-0-20 */
        p
          margin: 0
          color: #959595 /* 50% Black */












/******** TAG STREAM ********/
#tagStream
  +relative
  width: 672px
  height: 100px
  z-index: 333
  margin: 0 0 12px 0
  padding: 6px
  background: rgba(0,0,0,0.8)

  .moodIcon-picker
    left: 321px

  // LIVE TAG STREAM
  #tagsLive
    +relative
    height: 100px
    margin: 0
    padding: 0

    // GENERAL TAG STYLES
    .stream_tag:hover
      border: 1px solid #fff
    .stream_tag
      +pointer
      +left
      +round(8)
      height: 24px
      margin: 10px 10px 0
      padding: 0
      border: 1px solid transparent
      span
        +left
        +bold
        +font(12)
        padding: 4px
      .count
        +font(9)
        +left
        +round(8)
        background-color: #a63700
        color: #fff
        display: inline-block
        top: -4px
        padding: 1px 4px

    // WHAT TAG STYLES
    .tagWhat

    // WHERE TAG STYLES
    .tagWhere

    // WHO TAG STYLES
    .tagWho
      +round(8)
      box-shadow: inset 0px 15px 10px #404040
      -moz-box-shadow: inset 0px 15px 10px #404040
      -webkit-box-shadow: inset 0px 15px 10px #404040
      .avatar
        +left
        +overflow
        width: 24px
        height: 24px
        background: url(/images/avatars/xavitar.jpg) no-repeat
        border-radius-topleft: 8px
        -moz-border-radius-topleft: 8px
        -webkit-border-radius-topleft: 8px
        border-radius-bottomleft: 8px
        -moz-border-radius-bottomleft: 8px
        -webkit-border-radius-bottomleft: 8px
      span
        +right
        margin: 0 8px



.tagChat
  +absolute
  padding: 4px
  left: 0
  top: 50px
  z-index: 333
  width: 360px
  .arrow
    +absolute
    top: -10px
    left: 180px
  .description
    +font(13)
    +bold
    +center
    padding: 8px
    margin-bottom: 4px
    color: #4c4c4c !important
    height: 30px
    line-height: 30px
  .postInfo
    padding: 4px
  .avatar, .name, .time, .comment, input
    +left
  .avatar
    width: 20px
    height: 20px
  .name
    +bold
    +font(11)
    +round(4)
    background-color: #cecece
    display: inline-block
    height: 16px
    padding: 2px 4px
    margin-left: 5px
  .time
    +font(11)
    color: #a1a1a1
    display: inline-block
    margin-left: 5px
    height: 20px
    line-height: 20px
  .shared
    +right
    margin: 4px 4px 0 0
  .chat
    padding: 4px
    margin-top: 4px
    background: none repeat scroll 0% 0% rgb(255, 255, 255)
    .userComment
      height: 26px
      padding: 4px
    .comment
      +font(12)
      color: #4C4C4C
      display: inline-block
      margin-left: 5px
      height: 20px
      line-height: 20px
    .input
      padding: 4px
      height: 24px
      img
        +right
        margin: 6px
      input
        +transparent
        margin-left: 4px
        width: 88%
        height: 24px
        border: 0






























/* UNIVERSAL STYLES */
.entryAssets
  +round(12)
  width: 662px
  padding: 8px
  border: 1px solid #464646 /* 80% Black */ 



.noEntrys
  +absolute
  +center
  +cursor
  top: 0px
  width: 680px
