@import mixins
@import context_panel

// FRIEND'S LIST
// STRUCTURE
#friendField

  .userNode:hover
    .panel
      box-shadow: 8px 8px 40px #000
      -moz-box-shadow: 0 0 40px #000
      -webkit-box-shadow: 2px 2px 40px #000
  .userNode.z-top
    z-index: 9999

  .userNode
    +left
    +pointer
    +relative
    z-index: 90
    width: 220px
    height: 70px
    margin: 0 12px 12px 0

    .status
      +absolute
      +right
      +overflow
      margin: 0
      right: 8px
      top: 6px
      width: 16px
      height: 16px
      background: url(/images/icons/friend-stream-sprite.png) no-repeat
      // These class names correspond to the symbols returned by User#relationship_with.
      &.none
        background-position: 0% 0%
      &.following
        background-position: 0% 33%        
      &.followed_by
        background-position: 0% 66%
      &.friends
        background-position: 0% 100%
    .status, .avatar, .userInfo
      z-index: 102
    .statusHover
      +absolute
      +font(12)
      +round(4)
      z-index: 101
      padding: 2px 24px 2px 4px
      margin: 0
      top: 4px
      right: 4px

    .avatar
      +absolute
      +overflow
      +round(4)
      top: 4px
      left: 4px
      height: 60px
      width: 60px
      background: url(/images/avatars/default-avatar-tiny.jpg) no-repeat

    .userInfo
      +absolute
      top: 12px
      left: 74px
      width: auto
      h3
        margin: 0
      p
        +font(10)
        color: #5C5C5C
        margin: 0
      p.mutual
        color: #262626 /* 90% Black */
        background-position: 0 100%

    .backdrop
      +absolute
      +round(8)
      z-index: 100
      height: 70px
      width: 100%

        
    // FRIEND'S LIST EXPANDED
    .panel
      +relative
      +round(8)
      top: 0
      min-height: 70px
      background-color: #adadad
      z-index: 99
      .expanded
        +relative
        +round(8)
        +inner-shadow(10)
        top: 70px
        padding: 8px 4px 2px
        .item
          +clear
          margin-bottom: 4px
          .label, .image, .detail
            +left
          .label
            +round(12)
            +flat-right
            width: 68px
            height: 24px
            padding: 6px 8px
            text-align: right
          .image
            width: 34px
            height: 24px
            padding: 7px 3px
            margin: 0
            img.dream
              margin: -8px 0
            img.starlight
              margin: -18px -16px
              z-index: 1004
            img.follow
              margin: -12px 1px
          .detail
            +bold
            +round(12)
            +flat-left
            +inner-shadow(10)
            width: 72px
            height: 24px
            padding: 6px 8px
            line-height: 26px
            border: 0


// COLORS
.userNode
  .status
    &.friends
    &.following
    &.followed_by
    &.none
  .statusHover
    +bevel-light
    +button-light

  .avatar
    +button-light

  .backdrop
    +bevel-light

  .panel
    .expanded
      .item
        .label
          +bevel-light
