body
  font-family: Calibri, Arial, Helvetica, sans-serif
  margin: 0
  padding: 0
  background: url('/images/splashes/background-splash_theta_x1.jpg') scroll 15% 45% #000
  height: 100%

#home

  // RIGHT COLUMN
  #rightColumn
    position: absolute
    top: 145px
    left: 730px

    // DREAMSTARS MINI
    .dreamstarsMini
      clear: both
      padding: 8px
      img.logo
        position: absolute
        top: -18px
      .dreamstar-1:hover
        box-shadow: 0px 0px 60px #ff40d9
        -webkit-box-shadow: 0px 0px 60px #ff40d9
        -moz-box-shadow: 0px 0px 60px #ff40d9
      .dreamstar-2:hover
        box-shadow: 0px 0px 60px #7140ff
        -webkit-box-shadow: 0px 0px 60px #7140ff
        -moz-box-shadow: 0px 0px 60px #7140ff
      .dreamstar-3:hover
        box-shadow: 0px 0px 60px #4049ff
        -webkit-box-shadow: 0px 0px 60px #4049ff
        -moz-box-shadow: 0px 0px 60px #4049ff
      .dreamstar-4:hover
        box-shadow: 0px 0px 60px #407aff
        -webkit-box-shadow: 0px 0px 60px #407aff
        -moz-box-shadow: 0px 0px 60px #407aff
      .dreamstar-5:hover
        box-shadow: 8px 8px 40px #409aff
        -moz-box-shadow: 0 0 40px #409aff
        -webkit-box-shadow: 2px 2px 40px #409aff
      .dreamstar-6:hover
        box-shadow: 8px 8px 40px #40bfff
        -moz-box-shadow: 0 0 40px #40bfff
        -webkit-box-shadow: 2px 2px 40px #40bfff
      .dreamstar-1, .dreamstar-2, .dreamstar-3, .dreamstar-4, .dreamstar-5, .dreamstar-6
        margin: 0 0 4px
        width: 200px
        height: 32px
        line-height: 32px
        cursor: pointer
        .badge, .rank, .name
          float: left
        .badge
          width: 56px
          height: 56px
          margin: -12px 0 0 -6px
        .rank
          margin: 0 8px 0 -8px
      .dreamstar-1
        margin: 32px 0 8px
        border: 4px solid #FF40D9
        .badge
          background: url('/images/dreamstars/dreamstars-1-56.png') no-repeat left
        .rank
          color: #e7d44d
      .dreamstar-2
        border: 4px solid #7140FF
        .badge
          background: url('/images/dreamstars/dreamstars-2-56.png') no-repeat left
        .rank
          color: #448e09
      .dreamstar-3
        border: 4px solid #4049FF
        .badge
          background: url('/images/dreamstars/dreamstars-3-56.png') no-repeat left
        .rank
          color: #419b69
      .dreamstar-4
        border: 4px solid #407AFF
        .badge
          background: url('/images/dreamstars/dreamstars-4-56.png') no-repeat left
        .rank
          color: #338c9b
      .dreamstar-5
        border: 4px solid #409AFF
        .badge
          background: url('/images/dreamstars/dreamstars-5-56.png') no-repeat left
        .rank
          color: #3375a5
      .dreamstar-6
        border: 4px solid #40BFFF
        .badge
          background: url('/images/dreamstars/dreamstars-6-56.png') no-repeat left
        .rank
          color: #365ba6


  // PUBLIC STREAM
  #publicStream
    position: absolute
    top: 86px
    left: 26px
    width: 682px

    .todayFilter, .dreamsFilter, h1
      margin: 0 12px 20px 0
      padding: 0 12px
      height: 36px
      line-height: 36px
      float: left    
      font-size: 28px
      font-weight: bold
    .randomDream
      margin: 6px 0 20px
      padding: 0 12px
      height: 30px
      line-height: 30px
      float: right   
      background: #fff





// TEMPORARY
#loginBox
  position: absolute
  top: 200px
  left: 800px