@import mixins
@import thumb_1d

body
  margin: 0
  padding: 0
  height: 100%

#drop_shadow
  min-width: 1050px

#home
  +relative
  margin: auto
  width: 1024px

  .homeAlerts
    .alert, .notice
      padding-left: 400px
      +alpha(90)
      margin-right: 30px

  p.error
    +center
    color: red
    +font(12)
    margin: 0px !important

  // DREAMCATCHER LOGO
  a.dcLogo
    +block
    +absolute
    top: 10px
    left: 0
    width: 366px
    height: 102px

  .randomDream
    +absolute
    +flat-dark
    +round(8)
    +button-blue
    +user-select
    top: 36px
    left: 380px
    padding: 0 12px
    height: 32px
    line-height: 32px



  // LEFT COLUMN

  // WELCOME
  .welcomeWrap
    +relative
    +clear
    +round(12)
    +transparent
    +glow-blue(40)
    +border-blue
    top: 160px
    left: 80px
    width: 698px
    height: 324px
    margin-bottom: 20px

    img.dreamstar
      +absolute
      top: -73px
      left: -76px
      z-index: 100

    h1
      +absolute
      +font(21)
      letter-spacing: 4px
      top: -36px
      left: 46px
      margin: 0
      text-transform: uppercase
      color: #fff

    .welcome
      +round(12)
      +absolute
      +shine-blue-alpha(20)
      top: 0
      left: 0
      padding: 40px 0 0 40px
      width: 658px
      height: 284px

      p
        +font(18)
        line-height: 20px
        margin: 0 0 18px
        width: 585px
        color: #d1f2ff

      .thankyou
        +round(8)
        +absolute
        bottom: 12px
        right: 12px
        height: 38px
        line-height: 38px
        padding: 0 12px
        +button-blue
        +shine-blue-alpha(20)
        img
          +left
          margin: 4px 8px 0 0
        span
          +left

  // PUBLIC STREAM
  #publicStreamGlow
    +relative
    +round(12)
    +glow-blue(40)
    +border-blue
    top: 148px
    left: 80px
    width: 698px

    #publicStream
      +round(11)
      +shine-blue-alpha(20)
      padding: 8px
      width: 682px

      .today, .todayFilter, .dreamsFilter, h1.in
        +bold
        +left
        +font(32)
        margin: 0 8px 20px 0
        padding: 0 12px
        height: 40px
        line-height: 40px
      .todayFilter, .dreamsFilter
        +transparent-dark(30)
        +round(8)
        +border-dark
        border: 2px solid #555
        color: #fff
      h1.in, .today
        +user-select
        +cursor
        color: #000
      .today
        +shine-blue-alpha(20)
        +border-light
        +round(8)
        color: #fff

      .noEntries
        +round(12)
        +transparent-dark(60)
        +border-light
        +user-select
        +cursor
        text-transform: uppercase
        color: #fff
        margin: 60px 0 0
        width: 680px
        height: 36px
        line-height: 36px

  #bottomLinks
    left: 80px
    width: 698px
    +relative
    top: 160px
    +center
    padding-bottom: 80px
    a
      +round(8)
      +font(12)
      padding: 2px 6px
      color: #ccc
      +button-dark
      +transparent-dark(60)





#home

  // RIGHT COLUMN
  #rightColumn
    +absolute
    top: 0
    left: 790px

    .joinPanel
      +glow-blue(40)
      +border-blue
      +flat-light
      +round(16)
      padding: 12px
      width: 196px
      margin: 0 0 48px
      h1
        +font(20)
        +bold
        color: #5ab7da
        margin: 0 0 8px
      p
        +font(14)
        margin: 0 0 10px

    // LOGIN PANEL WRAP - altered from meta_menu_public and renamed from .rightPanel
    .loginPanelWrap
      +bevel-light
      +round(16)
      +glow-light(20)
      +flat-top
      margin: -20px 0 10px
      padding: 28px 8px 0
      width: 204px

      .login
        +right
        +center
        +user-select
        +shine-dark-alpha(12)
        +button-light
        +round(12)
        +confirm(12)
        color: #ddd
        height: 28px
        line-height: 28px
        padding: 0 60px

      .loginItem
        +right
        +center
        +user-select
        width: 16px
        height: 28px
        line-height: 28px
        padding: 0 8px
        margin: 0 8px 8px 0
        +button-light
        +flat-light
        +round(12)
        &:hover
          +glow-light(8)
        .hoverLabel
          top: 40px !important
        img
          margin: 6px 0 0

    // LOGIN PANEL  - same as meta_menu_public (need to clean thru and probably bring into shared)
    .joinPanel .joinForm .login-input
      margin-left: -4px

    .loginPanel, .joinPanel
      +clear

      span
        +font(11)
        +user-select
        +cursor
        margin-left: 4px
      .login-input, #loginButton
        +clear
        +block
        +font(14)
        +round(12)
        margin: 0 0 2px
        padding: 0 8px
        width: 186px
        height: 32px
        line-height: 32px
      .login-input
        +input-light(small)
        margin-bottom: 4px

      .haveSeedcode
        +pointer
        +clear
        +block
        +center
        +font(11)
        +button-light
        +round(4)
        +user-select
        margin: 4px 0 6px
        width: 150px
        margin: auto

      #loginButton
        +round(12)
        +border-dark
        +bevel-light
        width: 204px
        +confirm(12)
      #loginSpacer
        height: 8px

      .stay, .forgot
        +button-light
        +round(4)
        +center
        +font(10)
        +user-select
        margin: 0 4px 4px
        padding: 0 4px
        height: 16px
        line-height: 16px
        font-weight: normal
      .forgot
        +left
      .stay
        +right
        width: 80px
        input
          +right
          margin: 1px 0 0

    // JOIN - same as meta_menu_public (probably should bring into shared)
    .joinWrap, .joinButtonWrap
      +pointer
      +clear
      +round(12)
      width: 204px
      margin: 4px 0 -4px -4px
      padding: 2px 0
      background: #fff
      background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#fff))
      background: -moz-linear-gradient(top, #dcdcdc, #fff)
      .join
        +block
        width: 198px
      .joinButton
        +font(14)
        width: 202px
      .join, .joinButton
        +pointer
        +center
        +bold
        +round(10)
        margin: 0 auto
        height: 32px
        line-height: 32px
        color: #fff
        background: #ffa614
        background: -webkit-gradient(linear, left top, left bottom, from(#ffe658), to(#ffa614))
        background: -moz-linear-gradient(top, #ffe658, #ffa614)
        border: 1px solid #ffa614
      .join:hover, .joinButton:hover
        box-shadow: inset 0 14px rgba(255,255,255,0.2)
        -moz-box-shadow: inset 0 14px rgba(255,255,255,0.2)
        -webkit-box-shadow: inset 0 14px rgba(255,255,255,0.2)
      .join:active, .joinButton:active
        background: #ffa614
        background: -webkit-gradient(linear, left top, left bottom, from(#ffa614), to(#ffe658))
        background: -moz-linear-gradient(top, #ffa614, #ffe658)


    // DREAMSTARS MINI
    .dreamstarsMiniWrap
      +relative
      +round(16)
      +transparent
      +glow-blue(40)
      width: 220px
      height: 276px
      img.logo
        +absolute
        top: -18px
        z-index: 100
      span
        +absolute
        +font(14)
        right: 20px
        top: 24px
        color: #b9d6f6
        z-index: 100

      .dreamstarsMini
        +absolute
        // +transparent-light(50)
        +shine-blue(16)
        +border-blue
        +round(16)
        +clear
        +overflow
        top: 0
        left: 0
        padding: 8px
        .dreamstar-1:hover
          box-shadow: 0 0 30px #ff40d9
          -webkit-box-shadow: 0 0 30px #ff40d9
          -moz-box-shadow: 0 0 30px #ff40d9
        .dreamstar-2:hover
          box-shadow: 0 0 30px #7140ff
          -webkit-box-shadow: 0 0 30px #7140ff
          -moz-box-shadow: 0 0 30px #7140ff
        .dreamstar-3:hover
          box-shadow: 0 0 30px #4049ff
          -webkit-box-shadow: 0 0 30px #4049ff
          -moz-box-shadow: 0 0 30px #4049ff
        .dreamstar-4:hover
          box-shadow: 0 0 30px #407aff
          -webkit-box-shadow: 0 0 30px #407aff
          -moz-box-shadow: 0 0 30px #407aff
        .dreamstar-5:hover
          box-shadow: 0 0 30px #409aff
          -moz-box-shadow: 0 0 30px #409aff
          -webkit-box-shadow: 0 0 30px #409aff
        .dreamstar-6:hover
          box-shadow: 0 0 30px #40bfff
          -moz-box-shadow: 0 0 30px #40bfff
          -webkit-box-shadow: 0 0 30px #40bfff
        .dreamstar-1, .dreamstar-2, .dreamstar-3, .dreamstar-4, .dreamstar-5, .dreamstar-6
          +round(32)
          +pointer
          width: 196px
          height: 32px
          line-height: 32px
          .badge, .rank, .name
            +left
          .badge
            width: 56px
            height: 56px
            margin: -12px 0 -4px -6px
          .rank
            margin: 0 8px 0 -8px
        .dreamstar-1
          margin: 38px 0 0
          border: 4px solid #FF40D9
          +gradient(#fff, #fdfcc4)
          .badge
            background: url('/images/dreamstars/dreamstars-1-56.png') no-repeat left
          .rank
            color: #e7d44d
        .dreamstar-2
          border: 4px solid #7140FF
          +gradient(#fff, #cce5c5)
          .badge
            background: url('/images/dreamstars/dreamstars-2-56.png') no-repeat left
          .rank
            color: #448e09
        .dreamstar-3
          border: 4px solid #4049FF
          +gradient(#fff, #afe4ca)
          .badge
            background: url('/images/dreamstars/dreamstars-3-56.png') no-repeat left
          .rank
            color: #419b69
        .dreamstar-4
          border: 4px solid #407AFF
          +gradient(#fff, #9ddbe6)
          .badge
            background: url('/images/dreamstars/dreamstars-4-56.png') no-repeat left
          .rank
            color: #338c9b
        .dreamstar-5
          border: 4px solid #409AFF
          +gradient(#fff, #9ccbe7)
          .badge
            background: url('/images/dreamstars/dreamstars-5-56.png') no-repeat left
          .rank
            color: #3375a5
        .dreamstar-6
          border: 4px solid #40BFFF
          +gradient(#fff, #a8c0e6)
          .badge
            background: url('/images/dreamstars/dreamstars-6-56.png') no-repeat left
          .rank
            color: #365ba6




// TEMPORARY
#loginBox
  +absolute
  top: 200px
  left: 800px