


.addLocation, .date, .addTheme, .favoritesWrap, .tagWrap, .loginItem, .item, .randomDream, .fb_login, .logOut, .searchIcon
  &:hover
    .hover_label
      +block




.hover_label
  +hidden
  +absolute
  +right
  z-index: 1401

  .offset-left
    +relative
    .offset-right
      +relative
      +user-select
      +right
      font-weight: normal
      right: 50%

    .arrow
      +relative
      z-index: 1402
      width: 16px
      height: 11px
      margin: auto
    .text
      +relative
      +round(12)
      +center
      +font(14)
      +bold
      height: 22px
      line-height: 23px
      padding: 0 8px
      white-space: nowrap



// COLORS
.light .hover_label
  .arrow
    +alpha(80)
    background: url('/images/icons/arrow-up-16-light.png') no-repeat 0 0 transparent
  .text
    color: #000
    +transparent-light(80)
    +glow-light(10)

.dark .hover_label
  .arrow
    +alpha(80)
    background: url('/images/icons/arrow-up-16-dark.png') no-repeat 0 0 transparent
  .text
    color: #fff
    +transparent-dark(80)
    +glow-dark(10)




