@import mixins

// ImageBank shared styles

#frame
  +absolute
  +clear
  +round(16)
  top: 83px
  left: 242px
  margin: 0 0 40px
  padding: 0 4px 32px
  width: 670px
  color: #ddd
  +shine-dark(38)


  table
    width: 100%
    margin: 0 0 20px
    padding: 0
    border: 1px solid #333
    +flat-dark

  #slideshow
    +center
    margin: 0
    width: 100%
    +flat-dark



// DROP BOX
#dropbox
  +relative
  +round(16)
  +cursor
  position: fixed
  top: 83px
  left: 13px
  width: 200px
  padding: 0 4px 24px
  color: #ddd
  +shine-dark(20)

  .icon
    +left
    width: 32px
    height: 26px
    margin: 8px
    background: url(/images/icons/dropbox-26.png) no-repeat center center

  h2
    +left
    +font(16)
    +bold
    margin: 8px 0 0
    line-height: 26px

  .active
    +absolute
    +round(16)
    +alpha(70)
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #000 url(/images/icons/ib-icons/dropboxIconText.png) no-repeat center center
    z-index: 2

  ul.imagelist
    +user-select
    +clear
    margin: 0 0 16px
    padding: 1px
    width: auto
    min-height: 198px
    list-style: none
    border: 1px solid #333
    background: #272727
    box-shadow:         inset 0 10px 10px rgba(0,0,0,0.7)
    -moz-box-shadow:    inset 0 10px 10px rgba(0,0,0,0.7)
    -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,0.7)

    li
      +relative
      +left
      +pointer
      +overflow
      +round(4)
      margin: 1px 1px 0 0
      height: 95px
      width: 95px
      border: 1px solid #ddd

      img
        height: 95px
        width: 95px

.dropboxFooter
  +absolute
  bottom: 4px
  left: 4px
  width: 200px
  height: 24px
  padding: 4px 0

  .cancel, .edit
    +right
    +pointer
    +user-select
    +center
    +round(8)
    margin: 0 8px 0 0
    padding: 0 12px
    height: 24px
    line-height: 22px
    border: 1px solid #242424
    +shine-dark(14)
    +gradient(#242424, #000)

  .edit
    +confirm(12)

  .cancel
    +cancel(12)



// CLEARFIX (to clear floated li, not sure why .clear wasn't doing it)
.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0
 
.clearfix
  display: inline-block

 
html[xmlns] .clearfix
  display: block

* html .clearfix
  height: 1%






@import ib_top
@import ib_browse
@import ib_artists
@import ib_albums
@import ib_search
@import ib_footer

@import ib_manage
