@import mixins

// ImageBank shared styles

#frame
  +absolute
  +clear
  +round(16)
  top: 90px
  left: 40px
  margin: 0 0 40px
  padding: 0 4px 32px
  width: 752px
  color: #ddd
  +shine-dark(32)


  table
    width: 100%
    margin: 0 0 20px
    padding: 0
    border: 1px solid #ddd
    +flat-dark

  #slideshow
    +center
    margin: 0
    width: 100%
    +flat-dark





@import ib_top
@import ib_genres
@import ib_artists
@import ib_albums
@import ib_footer

@import ib_manage
