@import mixins

// DREAMCATCHER LOGO
a.dcLogo
  +block
  +absolute
  top: 10px
  left: 24px
  width: 366px
  height: 102px

#home
  width: 1000px
  margin: auto


// JOIN, FORGOT, ERROR PAGES SHARED
#loginPage, #joinPage, #forgotPage, #errorPage, #resetPassword
  +relative
  top: 104px
  left: 108px
  width: 694px
  color: #fff

  .joinInfo
    height: 44px

    h1
      +font(21)
      +left
      margin: 12px 0 0 50px
      text-transform: uppercase
      letter-spacing: 4px
      color: #fff

    .login, .forgot, .join
      +relative
      +right
      +center
      +round(12)
      +transparent
      +glow-blue(20)
      +button-blue
      height: 34px
      margin: 0 0 0 8px
      &:hover
        +glow-dark(20)
      &:active
        +glow-dark(0)
      a
        +block
        +absolute
        +round(11)
        +shine-blue(17)
        color: #fff
        height: 34px
        line-height: 34px
        margin: 0
        &:hover
          +shine-blue(0)
          background: #0c2b50
          +gradient(#5d80ad, #0c2b50)
        &:active
          +shine-blue(0)
          background: #0c2b50
          +gradient(#0c2b50, #5d80ad)

    .login, .login a
      width: 60px

    .forgot, .forgot a
      width: 142px

    .join, .join a
      width: 112px

  .glowBox
    +relative
    +round(12)
    +transparent
    +glow-blue(20)
    +border-blue
    width: 692px

    img.dreamstar
      +absolute
      top: -73px
      left: -76px
      z-index: 100

    .shineBox
      +absolute
      +round(11)
      +shine-blue-alpha(20)
      width: 692px


      // FORM ID #new_user
      #new_user
        margin: 28px auto 0

      span.label
        +user-select
        +left
        +font(21)
        text-align: right
        color: #fff
        width: 190px
        padding: 8px 0 8px 8px
        margin: 0 0 8px

      input.inputField, input#recaptcha_response_field
        +outline
        +input-light(small)
        +round(8)
        +right
        margin: 4px 0 6px
        +font(18)
        padding: 8px
        width: 320px
        &:focus
          +glow-blue(20)



  // JOIN BUTTON - same as home and meta_menu_public, except width. - GEOFF: added new functionality for :hover by nesting the form element button inside the div, alpha(0)
  .buttonWrap
    +pointer
    +clear
    +round(12)
    +bevel-light
    +overflow
    +relative
    +right
    width: 334px
    margin: 16px 0
    padding: 2px

    input.button
      +alpha(00)
      +absolute
      top: 0
      right: 0
      width: 336px !important
      +pointer

    .text
      +overflow
      +pointer
      +block
      +center
      +bold
      +round(10)
      +font(34)
      text-shadow: rgba(0,0,0,0.4) 0 0 30px
      margin: 0 auto
      width: 332px
      height: 48px
      line-height: 48px
      color: #fff
      background: #ffa614
      background: -webkit-gradient(linear, left top, left bottom, from(#ffe658), to(#ffa614))
      background: -moz-linear-gradient(top, #ffe658, #ffa614)
      border: 1px solid #ffa614
      &:hover
        box-shadow: inset 0 24px rgba(255,255,255,0.2)
        -moz-box-shadow: inset 0 24px rgba(255,255,255,0.2)
        -webkit-box-shadow: inset 0 24px rgba(255,255,255,0.2)
      &:focus
        +glow-blue(20)



// LOGIN PAGE ONLY
#loginPage

  .glowBox
    height: 340px
    .shineBox
      height: 340px

      .loginForm
        width: 470px
        margin: 90px auto 0

        span.label
          width: 100px

// JOIN PAGE ONLY
#joinPage

  .glowBox
    height: 560px
    .shineBox
      height: 560px

      .joinForm
        width: 560px
        margin: 60px auto 0

        .seed
          +pointer
          &:hover
            color: #9ae4fd

        #user_seed_code
          +hidden


        // RECAPTCHA WIDGET
        .recaptchaWrap
          +absolute
          +round(8)
          right: 66px
          border: 1px solid #666
          background: #fff

          #recaptcha_widget_div
            +right
            margin: 0
            width: 338px

            table#recaptcha_table, .recaptchatable
              border: none !important

              td
                padding: 0 !important

              .recaptcha_image_cell
                +transparent

                #recaptcha_image
                  border: none !important
                  margin: 0 4px

              img#recaptcha_logo, img#recaptcha_tagline
                +hidden

              .recaptcha_input_area
                padding: 0 !important

                input#recaptcha_response_field
                  +absolute
                  left: -1px
                  width: 322px !important
                  margin: 8px 0 0

        span.label.recaptcha
          +absolute
          margin: 80px 0 0

        .buttonWrap
          +absolute
          right: 66px
          margin: 138px 0 0


// FORGOT PAGE ONLY
#forgotPage

  .glowBox
    height: 340px
    .shineBox
      height: 340px

  .forgotForm
    +user-select
    +clear
    width: 390px
    margin: 70px auto 0

    h1
      +font(25)
      color: #fff

    .body
      +font(16)
      line-height: 26px
      margin-bottom: 16px
      color: #fff

      a
        color: #fff
        text-decoration: none
        &:hover
          text-decoration: underline

    #user_email
      +input-light(small)
      +round(8)
      +font(18)
      margin-bottom: 6px
      padding: 8px
      width: 280px
      &:focus
        +glow-blue(20)

    .prompt
      +round(8)
      +shine-blue(16)
      +button-blue
      +confirm(16)
      +font(18)
      height: 40px
      padding: 0 8px 4px
      margin: 2px 0 0 6px


// ERROR PAGE ONLY
#errorPage
  +cursor
  +user-select
  h2
    +absolute
    top: 120px
    left: 40px
    +font(30)
    color: #fff
  a
    +absolute
    top: 180px
    left: 120px
    +font(24)
    color: #fff
    &:hover
      text-decoration: underline


// RESET PASSWORD PAGE ONLY
#resetPassword

  .glowBox
    height: 340px
    .shineBox
      height: 340px

      .resetForm
        width: 580px
        margin: 90px auto 0

        span.label
          width: 200px

        input.resetButton
          +user-select
          +pointer
          +clear
          +round(12)
          +shine-light(16)
          +right
          +border-light
          +font(25)
          +bold
          width: 336px
          margin: 16px 0
          padding: 4px 0
          color: #222
          +confirm(16)

        p.error
          color: red





