@import mixins

// DREAMCATCHER LOGO
a.dcLogo
  +block
  +absolute
  top: 10px
  left: 24px
  width: 366px
  height: 102px

#joinPage
  +relative
  top: 104px
  left: 108px
  width: 694px

  .joinInfo
    height: 44px

    h1
      +font(21)
      +left
      margin: 12px 0 0 50px
      text-transform: uppercase
      color: #fff

    .loginWrap, .forgotWrap
      +relative
      +right
      +center
      +round(12)
      +transparent
      +glow-blue(20)
      +button-blue
      height: 34px
      margin: 0 0 0 8px
      &:hover
        +glow-blue(0)
      a
        +block
        +absolute
        +round(12)
        +shine-blue(17)
        color: #fff
        height: 34px
        line-height: 34px
        margin: 0
        &:hover
          +shine-blue(0)
          background: #0c2b50
          +gradient(#5d80ad, #0c2b50)
        &:active
          +shine-blue(0)
          background: #0c2b50
          +gradient(#0c2b50, #5d80ad)

    .loginWrap
      width: 60px
      a.login
        width: 60px

    .forgotWrap
      width: 142px
      a.forgot
        width: 142px

  .glowBox
    +relative
    +round(12)
    +transparent
    +glow-blue(20)
    +border-blue
    width: 692px
    height: 340px

    img.dreamstar
      +absolute
      top: -73px
      left: -76px
      z-index: 100

    .shineBox
      +absolute
      +round(12)
      +shine-blue-alpha(20)
      width: 692px
      height: 340px

      #new_user // FORM ID
        margin: 28px auto 0
        width: 382px

        input
          +input-light(small)
          +round(8)
          margin-bottom: 6px
          +font(18)
          padding: 8px
          width: 380px
          &:focus
            +glow-blue(20)

        .seed
          +font(14)
          margin: 0 0 0 8px
          color: #fff

        // JOIN BUTTON - same as home and meta_menu_public, except width (probably should bring into shared)
        .joinWrap
          +pointer
          +clear
          +round(12)
          +bevel-light
          width: 394px
          margin: 4px 0
          padding: 2px
          .join
            +pointer
            +block
            +center
            +bold
            +round(10)
            margin: 0 auto
            width: 390px
            height: 32px
            line-height: 32px
            color: #fff
            background: #ffa614
            background: -webkit-gradient(linear, left top, left bottom, from(#ffe658), to(#ffa614))
            background: -moz-linear-gradient(top, #ffe658, #ffa614)
            border: 1px solid #ffa614
            &:hover
              box-shadow: inset 0 14px rgba(255,255,255,0.2)
              -moz-box-shadow: inset 0 14px rgba(255,255,255,0.2)
              -webkit-box-shadow: inset 0 14px rgba(255,255,255,0.2)
            &:focus
              +glow-blue(20)






