@import mixins
/*********** META MENU ***********/
#drop_shadow
  +absolute
  background: url(/images/gradients/top_shadow-100px.png) repeat-x top
  top: 0
  left: 0
  width: 100%
  height: 120px
  z-index: -10

#logo
  +block
  +user-select
  z-index: 1201
  +absolute
  top: 0px
  left: 0
  margin: 4px 14px 0px 13px
  width: 230px

#report_box
  +user-select
  +absolute
  +font(9)
  +alpha(100)
  width: 235px
  text-align: right
  color: #666
  z-index: 1203
  top: 0

#metaMenu
  min-width: 1024px

#metaMenu.user
  .notice, .alert
    +absolute
    +center
    +round(8)
    top: 30px
    right: 84px
    min-width: 188px
    padding: 16px 4px 0

#metaMenu.public
  .notice, .alert
    +absolute
    +center
    +round(8)
    top: -16px
    left: 450px
    min-width: 250px
    padding: 16px 24px 0

.notice
  background: lightgreen

.alert
  background: lightcoral



/* FLOATING BUTTONS */
#metaMenu

  .adminLink, .logOut
    padding: 5px 8px
    +alpha(60)

  .adminLink, .newEntry, .logOut
    +transparent-dark(50)
    +round(24)
    +button-light
    +right
    +block
    +user-select
    color: #fff
    text-decoration: none
    border: 1px solid #777

  .adminLink:hover, .logOut:hover
    +alpha(100)
    +glow-dark(8)
    border: 1px solid transparent

  .adminLink
    margin: 8px
    height: 21px
    img
      padding-top: 2px

  .newEntry
    +glow-dark(40)
    +bold
    padding: 4px 8px
    font-size: 17px
    margin: 8px 12px 0 0
    border: 2px solid transparent
    span
      color: #093
  .newEntry:hover
    +inner-glow(20)
    border: 2px solid transparent

  .logOut
    margin: 10px 8px 0 0
