@import mixins
// META MENU PUBLIC
#metaMenu.public
  +absolute
  top: 0
  width: 100%
  z-index: 1111


  .loginPanelWrap
    +absolute
    right: 35px

  .facebook .hover_label
    top: 63px !important


  .joinWrap
    right: 275px
    top: 8px
    +relative
    +right
    height: 30px

    a
      color: #fff
      height: 30px
      line-height: 30px
      padding: 0 8px



  .randomDream
    +absolute
    right: 380px
    top: 9px
    padding: 0 6px 0 42px
    height: 30px
    line-height: 26px
    background-position: 10px 5px !important
    background-repeat: no-repeat !important
    background-image: url('/images/icons/shuffle-26-off.png') !important

    &:hover
      background-position: 10px 5px !important
      background-repeat: no-repeat !important
      background-image: url('/images/icons/shuffle-26.png') !important
    &:active
      background-position: 10px 5px !important
      background-repeat: no-repeat
      background-image: url('/images/icons/shuffle-26-off.png') !important