@import mixins
/*********** META MENU ***********/
#drop_shadow
  +absolute
  background: url(/images/gradients/top_shadow-100px.png) repeat-x top
  top: 0
  left: 0
  width: 100%
  height: 120px
  z-index: -10

#logo
  +block
  +user-select
  z-index: 1201
  +absolute
  top: 0px
  left: 0
  margin: 4px 14px 0px 13px
  width: 230px

#report_box
  +user-select
  +absolute
  +font(9)
  +alpha(100)
  +cursor
  width: 235px
  text-align: right
  color: #666
  z-index: 1203
  top: 0

#metaMenu
  min-width: 1000px

#metaMenu.user
  .notice, .alert
    +absolute
    +center
    +round(8)
    top: 30px
    right: 74px
    min-width: 168px
    padding: 16px 4px 0

#metaMenu.public
  .notice, .alert
    +absolute
    +center
    +round(8)
    top: -16px
    left: 450px
    width: 260px
    padding: 16px 24px 0

.notice, .alert
  +cursor
  color: #000

.notice
  background: lightgreen

.alert
  background: lightcoral











#metaMenu

  .randomDream
    +absolute
    top: 9px
    height: 30px
    background-position: center 5px !important
    background-repeat: no-repeat !important
    background-image: url('/images/icons/shuffle-26-off.png') !important

    &:hover
      background-position: center 5px !important
      background-repeat: no-repeat !important
      background-image: url('/images/icons/shuffle-26.png') !important
    &:active
      background-position: center 5px !important
      background-repeat: no-repeat
      background-image: url('/images/icons/shuffle-26-off.png') !important


  .adminLink, .newEntry, .logOut, .randomDream, .joinNow
    +transparent-dark(50)
    +round(24)
    +button-light
    +right
    +block
    +user-select
    color: #fff
    text-decoration: none
    border: 1px solid rgba(255,255,255,0.4)

  .adminLink, .logOut
    width: 28px
    height: 28px
    .img
      width: 100%
      height: 100%
      background-position: center center
      background-repeat: no-repeat

  .randomDream, .adminLink, .logOut
    &:hover
      +glow-dark(8)
      border: 1px solid transparent

  .adminLink
    margin: 8px
    .img
      background-image: url('/images/icons/admin-16.png')

  .logOut
    +round(30)
    margin: 10px 14px 0
    width: 30px
    height: 30px
    background-position: 5px 3px
    background-image: url('/images/icons/logout-24-off.png')
    background-repeat: no-repeat
    &:hover
      background-image: url('/images/icons/logout-24.png')
    &:active
      background-position: 5px 3px
      background-image: url('/images/icons/logout-24-off.png')
      background-repeat: no-repeat

  .newEntry, .joinNow
    +glow-dark(40)
    +bold
    padding: 4px 8px
    font-size: 17px
    margin: 8px 12px 0 0
    border: 2px solid transparent
    .img
      +left
      width: 15px
      height: 15px
      margin: 3px 7px 0 0
      background: url("/images/icons/add-15.png") no-repeat center center transparent
    &:hover
      +inner-glow(20)
      border: 2px solid transparent

