@import mixins
//  META MENU USER

#appearancePanel, #settingsPanel
  +absolute
  +clear
  +round(16)
  right: 0px
  top: 80px
  width: 334px
  z-index: 1400

  .arrow
    +relative
    top: -23px
    padding: 0
    height: 16px
    margin-bottom: -16px

  img.appearanceIcon, h1
    +left

  h1
    margin: 8px
    font-size: 24px
    font-weight: normal





#metaMenu.user
  +absolute
  top: 0
  width: 100%
  z-index: 1111


  .leftPanel .item:hover
    color: #4b93d9

  .leftPanel, .rightPanel
    +round(16)
    +flat-top
    background-color: #fff
    padding: 28px 6px 8px
    top: -20px

    .item
      +block
      +left
      +font(16)
      +pointer
      +round(8)
      +user-select
      background: #fff
      margin: 0 2px
      height: 26px
      line-height: 24px
      color: #333
      border: #ccc 1px solid
      display: inline-block
      text-decoration: none
      padding: 2px 8px
      &:hover, &.user
        +button-light
        color: #4b93d9



  .leftPanel
    +absolute
    left: 248px


    a img
      margin: -11px -2px -11px -11px

    .input
      +block
      +font(12)
      width: 144px
      background: url('/images/icons/search-18.png') no-repeat 134px center
      margin: 0 2px
      height: 22px




  .rightPanel
    +relative
    +right
    margin-right: 10px
    min-width: 174px

    .user
      +flat-left
      +overflow
      +pointer
      +round(8)
      +center
      +user-select
      +bold
      min-width: 80px
      margin: 0 2px -2px
      line-height: 28px
      height: 26px

      &:hover
        +glow-light(5)

      span
        +block
        +user-select
        color: #fff
        margin-left: 32px
        background-color: #000
        margin-top: -6px
        padding: 6px 4px 8px











    // NOTIFICATIONS PANEL
    .notificationsPanel
      +round(16)
      +absolute
      left: -40px
      width: 214px
      padding: 8px
      +transparent-light(50)
      +border-light

      .notifyIcon
        +round(16)
        +relative
        height: 12px
        line-height: 12px
        width: 12px
        padding: 4px
        margin: 0 0 40px
        background: #f15f29
        color: #fff

      .notice, .alert, .notification
        +round(12)
        +clear
        +relative
        min-height: 24px
        margin: 4px 0 0
        +transparent-light(50)
        +button-light
        .close
          +hidden
          +absolute
          +round(16)
          +font(12)
          +center
          top: 2px
          right: 2px
          width: 18px
          height: 18px
          line-height: 18px
          +flat-light
          +button-light
        &:hover
          +transparent-light(90)
          color: #000
          .close
            +block
            &:hover
              background: #f15f29
              color: #fff
      .alert
        .icon
          +left
          height: 24px
          width: 24px

      .notification
        .avatar
          +round(16)
          +flat-right
          +overflow
          +left
          width: 24px
          height: 24px
          margin: 0 12px 0 0


    .settingsPanel, .appearancePanel
      +left

    .settings, .appearance
      img
        margin: 1px
        border: 0px








// FLOATING BUTTONS



#metaMenu

  .randomDream
    +absolute
    left: 520px
    width: 26px
    height: 26px
    background-repeat: no-repeat
    background-image: url('/images/icons/shuffle-26-off.png')

    &:hover
      background-repeat: no-repeat
      background-image: url('/images/icons/shuffle-26.png')
    &:active
      background-repeat: no-repeat
      background-image: url('/images/icons/shuffle-26-off.png')


  .adminLink, .newEntry, .logOut
    +transparent-dark(50)
    +round(24)
    +button-light
    +right
    +block
    +user-select
    color: #fff
    text-decoration: none
    border: 1px solid #777

  .adminLink, .logOut
    width: 28px
    height: 28px
    +alpha(60)
    .img
      width: 100%
      height: 100%
      background-position: center center
      background-repeat: no-repeat

  .adminLink:hover, .logOut:hover
    +alpha(100)
    +glow-dark(8)
    border: 1px solid transparent

  .adminLink
    margin: 8px
    .img
      background-image: url('/images/icons/admin-16.png')
  .logOut
    +round(30)
    margin: 10px 14px 0 12px
    width: 30px
    height: 30px
    background-position: 5px 3px
    background-image: url('/images/icons/logout-24-off.png')
    background-repeat: no-repeat
    &:hover
      background-image: url('/images/icons/logout-24.png')
    &:active
      background-position: 5px 3px
      background-image: url('/images/icons/logout-24-off.png')
      background-repeat: no-repeat

  .newEntry
    +glow-dark(40)
    +bold
    padding: 4px 8px
    font-size: 17px
    margin: 8px 12px 0 0
    border: 2px solid transparent
    .img
      +left
      width: 15px
      height: 15px
      margin: 3px 7px 0 0
      background: url("/images/icons/add-15.png") no-repeat center center transparent
    &:hover
      +inner-glow(20)
      border: 2px solid transparent














