@import mixins
//  META MENU USER

#appearancePanel, #settingsPanel
  +absolute
  +clear
  +round(16)
  right: 0px
  top: 80px
  width: 334px
  z-index: 1400

  .arrow
    +relative
    top: -23px
    padding: 0
    height: 16px
    margin-bottom: -16px

  img.appearanceIcon, h1
    +left

  h1
    margin: 8px
    font-size: 24px
    font-weight: normal





#metaMenu.user
  +absolute
  top: 0
  width: 100%
  z-index: 1111


  .leftPanel .item:hover
    color: #4b93d9

  .leftPanel, .rightPanel
    +round(16)
    +flat-top
    background-color: #fff
    padding: 28px 6px 8px
    top: -20px

    .item
      +relative
      +block
      +left
      +font(16)
      +pointer
      +round(8)
      +user-select
      background: #fff
      margin: 0 2px
      height: 26px
      line-height: 24px
      color: #333
      border: #ccc 1px solid
      display: inline-block
      text-decoration: none
      padding: 2px 8px
      &:hover, &.user
        +button-light
        color: #4b93d9
      &.selected, &.selected:hover, &.selected:active
        color: #fff !important
        +cursor
        +border-dark
        +shine-dark(12)

    .item
      .img
        +absolute
        left: 4px
        width: 26px
        height: 26px

    // HOME ICON STATES
    .item.home
      padding-left: 32px
      .img
        background: url(/images/icons/home-24-off.png) no-repeat left center transparent
      &:hover .img
        background: url(/images/icons/home-24-hover.png) no-repeat left center transparent
      &:active .img
        background: url(/images/icons/home-24-select.png) no-repeat left center transparent
    .item.home.selected
      padding-left: 32px
      .img
        background: url(/images/icons/home-24-off.png) no-repeat left center transparent
      &:hover .img
        background: url(/images/icons/home-24-off.png) no-repeat left center transparent

    // STARLIGHT ICON STATES
    .item.dreamstars
      padding-left: 32px
      .img
        background: url(/images/icons/starlight-24-off.png) no-repeat left center transparent
      &:hover .img
        background: url(/images/icons/starlight-24-hover.png) no-repeat left center transparent
      &:active .img
        background: url(/images/icons/starlight-24-select.png) no-repeat left center transparent
    .item.dreamstars.selected
      padding-left: 32px
      .img
        background: url(/images/icons/starlight-24-select.png) no-repeat left center transparent
      &:hover .img
        background: url(/images/icons/starlight-24-select.png) no-repeat left center transparent




  .leftPanel
    +absolute
    left: 248px

    .input
      +block
      +font(12)
      width: 144px
      background: url('/images/icons/search-18.png') no-repeat 134px center
      margin: 0 2px
      height: 22px




  .rightPanel
    +relative
    +right

    .user
      +flat-left
      +overflow
      +pointer
      +round(8)
      +center
      +user-select
      +bold
      min-width: 80px
      margin: 0 2px -2px
      line-height: 28px
      height: 26px

      &:hover
        +glow-light(5)

      span
        +block
        +user-select
        color: #fff
        margin-left: 32px
        background-color: #000
        margin-top: -6px
        padding: 6px 4px 8px


    .item.settings, .item.appearance
      width: 20px
    .item.settings
      background: url(/images/icons/settings-24-hover.png) no-repeat center
      &:hover
        background: url(/images/icons/settings-24-select.png) no-repeat center
      &:active
        background: url(/images/icons/settings-24-select.png) no-repeat center
    .item.appearance
      background: url(/images/icons/appearance-24-hover.png) no-repeat center
      &:hover
        background: url(/images/icons/appearance-24-selected.png) no-repeat center
      &:active
        background: url(/images/icons/appearance-24-selected.png) no-repeat center









    // NOTIFICATIONS PANEL
    .notificationsPanel
      +round(16)
      +absolute
      left: -40px
      width: 214px
      padding: 8px
      +transparent-light(50)
      +border-light

      .notifyIcon
        +round(16)
        +relative
        height: 12px
        line-height: 12px
        width: 12px
        padding: 4px
        margin: 0 0 40px
        background: #f15f29
        color: #fff

      .notice, .alert, .notification
        +round(12)
        +clear
        +relative
        min-height: 24px
        margin: 4px 0 0
        +transparent-light(50)
        +button-light
        .close
          +hidden
          +absolute
          +center
          top: 2px
          right: 2px
          width: 18px
          height: 18px
        &:hover
          +transparent-light(90)
          color: #000
          .close
            +block
      .alert
        .icon
          +left
          height: 24px
          width: 24px

      .notification
        .avatar
          +round(16)
          +flat-right
          +overflow
          +left
          width: 24px
          height: 24px
          margin: 0 12px 0 0


    .settingsPanel, .appearancePanel
      +left

    .settings, .appearance
      img
        margin: 1px
        border: 0px





// FLOATING BUTTONS

#metaMenu.user .randomDream
  left: 540px
  width: 40px









