@import mixins
/*********** META MENU ***********/
#drop_shadow
  +absolute
  background: url(/images/gradients/top_shadow-100px.png) repeat-x top
  top: 0
  left: 0
  width: 100%
  height: 120px
  z-index: -10

#logo
  +block
  +user-select
  z-index: 1201
  +absolute
  top: 0px
  left: 0
  margin: 4px 14px 0px 13px
  width: 230px

#report_box
  +user-select
  +absolute
  +font(9)
  +alpha(100)
  +cursor
  width: 235px
  text-align: right
  color: #666
  z-index: 1203
  top: 0

#metaMenu
  min-width: 1000px

#metaMenu.user
  .notice, .alert
    +absolute
    +center
    +round(8)
    top: 30px
    right: 74px
    min-width: 168px
    padding: 16px 4px 0

#metaMenu.public
  .notice, .alert
    +absolute
    +center
    +round(8)
    top: -16px
    left: 450px
    width: 260px
    padding: 16px 24px 0

.notice, .alert
  +cursor
  color: #000

.notice
  background: lightgreen

.alert
  background: lightcoral



