#geoHeader
  +user-select
  +pointer
  +round(16)
  +flat-top
  box-shadow: 0 0 40px #f0e207
  -moz-box-shadow: 0 0 40px #f0e207
  -webkit-box-shadow: 0 0 40px #f0e207
  +font(22)
  padding: 0 50px
  text-align: center
  position: fixed
  top: 0px
  right: 8px
  height: 50px
  line-height: 50px
  width: 470px
  z-index: 1600
  color: #ddd
  background: #313131
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(49,49,49,1.0)), to(rgba(0,0,0,1.0)))
  background: -moz-linear-gradient(top, rgba(49,49,49,1.0), rgba(0,0,0,1.0))
  border: 4px solid #fff
  border-top: none
  .geoArrow
    +right
    width: 32px
    height: 50px
    margin: 0 0 0 12px
    background: url(/images/icons/arrow_up-32.png) no-repeat center
  p
    +left


/*********** NEW ENTRY ***********/
// STRUCTURE
#entryField

  // see entries.sass
  .headers

  // SHARED PANEL STYLES
  .entryPanels
    +hidden
    +round(12)
    width: 662px
    padding: 8px

  // NEW ENTRY INPUT PANEL
  #newEntry
    +round(16)
    width: 662px 
    padding: 8px

    // MOOD ICON
    .wrapper
      .moodIcon
        +absolute
        right: -26px
        top: -26px
      .moodIcon-picker
        +absolute
        right: -8px
        top: -8px

    .entryType
      +round(16)
      +right
      right: 70px
      height: 34px
      line-height: 34px
      img.typeSelection
        +left
        margin: 1px 0 0 4px
      #entryType_list
        +outline
        +transparent
        +block
        +font(14)
        +pointer
        +right
        +center
        border: 0
        height: 34px
        line-height: 34px
        padding: 7px 8px 7px 38px
        margin-left: -36px
        option
          padding: 8px 4px 8px 38px
          text-align: left
        option.dream
          background: url(/images/icons/dream-24.png) no-repeat 8px center
        option.vision
          background: url(/images/icons/vision-24.png) no-repeat 8px center
        option.experience
          background: url(/images/icons/experience-24.png) no-repeat 8px center
        option.article
          background: url(/images/icons/article-24.png) no-repeat 8px center
    #entry_title, #entry_body
      +outline
      +transparent
      margin: 10px 0 0 10px
      border: none
      font-family: Calibri, Arial, Helvetica, sans-serif
    #entry_title
      +font(25)
      width: 460px
      height: 26px
      line-height: 26px
    hr
      +alpha(20)
      width: 460px
      margin: 6px 12px
    #entry_body
      +font(17)
      width: 640px
      min-height: 134px
      height: 134px

    // NEW ENTRY OPTIONS
    #entryOptions
      +round(16)
      +relative
      width: 660px 
      height: 52px
      margin: 0 auto
      bottom: 0

      // SHARING
      .sharingWrap
        +right
        +relative
        width: 208px
        margin: 8px 0 0 8px
        .sharing
          +absolute
          +round(20)
          +pointer
          width: 200px
          min-height: 34px
          line-height: 34px
          margin: 0
          padding: 0 4px
          z-index: 1101
          img.listSelection
            +pointer
            +left
            margin: 6px 0 0 6px

          #entry_sharing_level
            +outline
            +round(8)
            +font(14)
            +pointer
            +right
            +transparent
            +center
            border: none
            height: 34px
            line-height: 34px
            padding: 7px 8px
            option
              padding: 8px 4px 8px 38px
              text-align: left
            option.everyone
              background: url(/images/icons/share-16.png) no-repeat 8px center
            option.list
              background: url(/images/icons/friend-16.png) no-repeat 8px center
            option.anon
              background: url(/images/icons/mask-16.png) no-repeat 8px center
            option.private
              background: url(/images/icons/lock-16.png) no-repeat 8px center

          .listOfUsers
            +relative
            +clear
            margin-bottom: 4px
            .friendsOnly, .followersOnly, .url
              +round(8)
              margin: 4px 0 0
              label
                +pointer
                +block
                padding: 4px
                height: 28px
                line-height: 28px
                input, span
                  +right
                input
                  +pointer
                  +outline
                  margin: 9px 8px 0 8px
            .friendsOnly
              label
                background: url(/images/icons/friend-16.png) no-repeat 8px center
            .followersOnly
              label
                background: url(/images/icons/friend-follower-16.png) no-repeat 8px center
            .url
              label
                background: url(/images/icons/link-light-22.png) no-repeat 8px center

          .everyone
            +relative
            +clear
            margin-bottom: 4px
            .facebook, .twitter, .buzz
              +round(8)
              margin: 4px 0 0
              label
                +pointer
                +block
                padding: 4px
                height: 28px
                line-height: 28px
                img
                  margin: 7px 0 0 4px
                input
                  +pointer
                  +right
                  +outline
                  margin: 9px 8px 0 8px
                span, img
                  +left
                  margin-right: 4px
                span.shareOn, span.shared, span.sharedWhen
                  color: #656565
                span.sharedWhen, span.shared
                  margin-top: 2px
                  font-size: 11px
                span.shared
                  text-transform: uppercase

    .myBooks, .addTheme, .date, .addLocation, #entry_submit
      +round(20)
      +center
      +pointer
      +right
      height: 34px
      line-height: 34px
      margin: 8px 0 0 8px
    .myBooks
      +bold
      +left
      width: 184px
      img
        +left
        margin: 9px 0 0 14px

    .addTheme, .date, .addLocation
      width: 42px
    .addTheme img
      margin: 0
    .date img
      margin: 9px 0 0
    .addLocation .img, .addTheme .img, .date .img
      width: 42px
      height: 34px
    .addLocation .img
      background: url('/images/icons/location-24-off.png') center center no-repeat
    .addTheme .img
      background: url('/images/icons/appearance-24-off.png') center center no-repeat
    .date .img
      background: url('/images/icons/date-19.png') center center no-repeat
    .addLocation.selected .img
      background: url('/images/icons/location-24-off.png') center center no-repeat
    #entry_submit
      +bold
      +font(12)
      +round(12)
      width: 64px
      height: 38px
      margin: 8px 8px 0 8px
      +save(14)


#entryField .edit_entry, #entryField .new_entry

  // ENTRY DATE / TIME
  .entryDateTime
    .date, .time
      +left
      margin: 0 0 0 8px
    .hour, .month, .day, .year, .minute, .amPm
      +pointer
      +font(14)
      +transparent
      border: none
      padding: 7px 12px
    .hour, .month
      margin-left: 8px
    .day, .year, .minute, .amPm
      margin-left: -4px
    .month, .hour
      +round(8)
      +flat-right
    .day, .minute
      +round(8)
      +flat-all
    .year, .amPm
      +round(8)
      +flat-left


  // ENTRY LOCATION
  .entryLocation
    height: 70px

    .finding
      +relative
      +left
      left: 126px
      padding: 8px 0
      +font(16)
      left: -1px
      +round(8)
      margin: 4px 0 0 8px
      +font(16)
      padding: 4px
      width: 240px


    .spinner-small
      +absolute
      width: 32px
      height: 32px
      margin-bottom: -32px
      right: 4px
      top: -1px

    .data
      +absolute
      left: 112px
      width: 520px
      .name, .city, .state, .country
        +round(8)
        +left
        margin: 4px 0 0 8px
        input
          +font(16)
          +transparent
          +outline
          border: none
          padding: 4px
          width: 238px


  // ENTRY IMAGES
  .entryImages

    #addFromImageBank
      +round(8)
      +left
      +pointer
      height: 32px
      line-height: 32px
      padding: 0 8px
      margin-left: 8px
      img
        +left
        margin: 6px 8px 6px 0
    #imageDropArea
      +relative
      +bold
      +font(13)
      +right
      +round(8)
      width: 504px
      height: 38px
      line-height: 38px
      img
        +left
        margin: 10px 8px 0 190px
      .dropboxBrowse
        +overflow
        +center
        +pointer
        +alpha(0)
        width: 100%
        +round(8)
        direction: ltr
        height: 34px
        margin: 0 0 -34px
        input
          background: transparent
          border: none
          +outline
      .qq-upload-drop-area
        +cursor
        +user-select
        height: 34px
        +round(7)
      .qq-upload-drop-area-active
        background: url('/images/icons/dropbox-26.png') 340px center no-repeat rgba(0,0,0,0.4)

    #currentImages
      margin: 12px 0 0 12px
      +user-select
      .entryImageContainer, .entryImage
        +round(8)
      .entryImageContainer
        +left
        +overflow
        +relative
        margin: 0px 8px 8px 0px
        height: 120px
        width: 120px
        background: #fff
        .entryImage
          +relative
          +user-select
          +round(7)
          +left
          +overflow
          +pointer
          width: 120px
          height: 120px
          &:hover
            label.radio
              background: rgba(255,255,255,0.5)
              span
                +block
          label.radio.selected
            background: rgba(255,255,255,1.0)
            span
              +block
          label.radio
            +round(6)
            +flat-top
            +absolute
            +block
            +pointer
            bottom: 0
            width: 100%
            height: 28px
            line-height: 28px
            color: #333
            background: rgba(255,255,255,0.0)
            z-index: 100
            span
              +hidden
              +right
              +bold
              margin-left: 8px
            input
              margin: 8px 8px 0
              +right
              +pointer
            &:hover
              background: rgba(255,255,255,0.8)
          .radioWrap
            +absolute
            +round(12)
            right: 4px
            bottom: 4px
            width: 10px
            height: 10px
            padding: 5px
            background: rgba(255,255,255,0.3)
          .close-22
            +absolute
            top: 8px
            right: 8px
        .entryImageCaption
          +absolute
          +font(16)
          +bold
          color: #333333
          height: 94px
          margin: 4px
          padding: 8px
          width: 184px
          border: 0px
          background: none
          right: 0px

  // NEW ENTRY TAGS
  .entryTags
    .tagInputWrap
      +right
      height: 40px
      margin: 0 0 8px 8px
      img
        +left
        margin: 0
      .tagInput
        +left
        height: 40px
        margin: 0 0 0 26px
        input
          +left
          +font(18)
          +transparent
          +outline
          width: 400px
          height: 32px
          line-height: 32px
          margin: 4px 0
          border: 0
      .tagAdd
        +round(4)
        +center
        +right
        +bold
        width: 62px
        height: 28px
        line-height: 30px
        margin: 5px 0
        span
          color: #009933
      .tagInputRight
        +right
        width: 14px
        height: 40px

  // NEW ENTRY LINKS
  .entryLinks
    #linkInputWrap
      +right
      +round(8)
      margin: 0 0 8px 8px
      height: 38px
      line-height: 38px
      #linkValue
        +left
        +font(16)
        +transparent
        +outline
        width: 420px
        height: 28px
        margin: 6px 0 4px 8px
        border: 0
      .linkAdd
        +round(4)
        +center
        +right
        +bold
        width: 62px
        height: 28px
        line-height: 30px
        margin: 4px 12px 0 0
        span
          color: #009933
    .linkContainer
      +round(12)
      +clear
      +overflow
      margin: 8px 0 0
      padding: 8px
      width: 644px
      height: 32px
      line-height: 38px
      &.youtube
        height: 120px
        .thumb
          +round(8)
          +left
          margin: 10px 10px 6px 6px
          width: 94px
          height: 72px
        .description
          +left
          height: 64px
          +overflow
          width: 500px
          line-height: 16px
          margin-top: 10px

      input
        +outline
        +transparent

      .url, .title
        +round(8)
        padding: 0 8px
        height: 32px

      .title
        +left
        width: 220px
        margin: 0


      .linkTitleValue, .linkUrlValue
        +font(14)
        +bold
        border: none

      .url
        +left
        +overflow
        text-align: left
        margin: 0 0 0 8px
        width: 348px

        .linkTitleValue, .linkUrlValue
          font-weight: normal
          border: none

      .icon
        +right
        +center
        width: 32px
        height: 30px
        line-height: 30px
        margin: 5px -4px 0 0

      .close-22
        +right
        margin: 5px 4px 0 0
       
  // NEW ENTRY MOOD
  .entryEmotions

    // MOOD PICKER
    .moodPicker
      +round(8)
      +clear
      padding: 8px
      margin: 8px 0 0
      color: #333
      .love, .joy, .surprise, .anger, .mystical, .wonder, .sadness, .stress, .fear
        +clear
        margin: 0 0 4px
        height: 32px
        .one, .two, .three, .four, .five
          +relative
          +pointer
          +left
          +center
          +block
          height: 32px
          line-height: 32px
          width: 110px
          box-shadow: inset 0 18px rgba(255,255,255,0.5)
          -moz-box-shadow: inset 0 18px rgba(255,255,255,0.5)
          -webkit-box-shadow: inset 0 18px rgba(255,255,255,0.5)
          input
            +pointer
            +outline

        .two.selected, .three.selected, .four.selected, .five.selected
          background-image: url(/images/icons/radioWrap-31.png)
          background-repeat: no-repeat
          background-position: center

        .one
          +round(16)
          +flat-right
          width: 200px
          +flat-light
          span
            margin-right: 44px
            width: 80px
            display: inline-block
        .five
          +round(16)
          +flat-left

      .love
        .two
          background-color: rgb(216, 235, 157)
        .three
          background-color: rgb(196, 225, 99)
        .four
          background-color: rgb(153, 204, 51)
        .five
          background-color: rgb(123, 189, 13)
      .joy
        .two
          background-color: rgb(255, 255, 204)
        .three
          background-color: rgb(254, 241, 130)
        .four
          background-color: rgb(250, 219, 77)
        .five
          background-color: rgb(237, 197, 0)
      .surprise
        .two
          background-color: rgb(254, 218, 164)
        .three
          background-color: rgb(248, 185, 104)
        .four
          background-color: rgb(242, 153, 58)
        .five
          background-color: rgb(232, 114, 0)
      .anger
        .two
          background-color: rgb(248, 166, 164)
        .three
          background-color: rgb(237, 100, 107)
        .four
          background-color: rgb(228, 48, 84)
        .five
          background-color: rgb(220, 0, 71)
      .mystical
        .two
          background-color: rgb(206, 178, 216)
        .three
          background-color: rgb(186, 153, 203)
        .four
          background-color: rgb(148, 99, 198)
        .five
          background-color: rgb(123, 78, 163)
      .wonder
        .two
          background-color: rgb(198, 238, 255)
        .three
          background-color: rgb(138, 220, 254)
        .four
          background-color: rgb(68, 194, 246)
        .five
          background-color: rgb(0, 113, 208)
      .sadness
        .two
          background-color: rgb(200, 223, 212)
        .three
          background-color: rgb(150, 198, 191)
        .four
          background-color: rgb(80, 157, 163)
        .five
          background-color: rgb(41, 82, 94)
      .stress
        .two
          background-color: rgb(217, 205, 203)
        .three
          background-color: rgb(188, 171, 158)
        .four
          background-color: rgb(147, 130, 95)
        .five
          background-color: rgb(85, 79, 52)
      .fear
        .two
          background-color: rgb(196, 196, 196)
        .three
          background-color: rgb(162, 162, 162)
        .four
          background-color: rgb(127, 127, 127)
        .five
          background-color: rgb(101, 101, 101)



  // NEW ENTRY ATTACH
  .entryAttach
    +block
    height: 38px
    line-height: 38px

    p
      +user-select
      +left
      +cursor
      height: 34px
      line-height: 32px
      +font(20)
      margin: 0 40px
    .tag, .images, .mood, .links, .analysis
      +center
      +left
      +pointer
      +round(20)
      +user-select
      height: 34px
      line-height: 32px
      margin: 0 0 0 8px
      padding: 0 12px
      img
        +left
        margin: 7px 8px 0 0
    .images
      img
        margin-top: 11px




// NEW ENTRY
// COLORS
.light
  #entryField

    #newEntry
      +flat-light
      +glow-light(40)

      .entryType
        +indent-light
        +button-light

    // SHARED PANEL STYLES
    .entryPanels
      +shine-light-alpha(27)

    // NEW ENTRY OPTIONS
    #entryOptions
      +shine-light(24)
      +border-light

      // SHARING
      .sharing

        .listOfUsers, .everyone
          .friendsOnly, .followersOnly, .url, .facebook, .twitter
            +indent-light
            +button-light
          .buzz
            +button-light
            +shine-light(16)

      #entry_submit
        +button-light
        +shine-light(16)
        +gradient(#b9b9b9, #1a1a1a)
        +save(16)
        color: #fff
        border: 1px solid #a9a9a9

      .sharing, .myBooks, .addTheme, .addLocation, .date
        +indent-light
        +button-light
        border: 1px solid #fff

    // ENTRY DATE & TIME
    .entryDateTime

      .hour, .month, .day, .year, .minute, .amPm
        +input-light(small)
        +border-light

    // ENTRY LOCATION
    .entryLocation

      .finding, .name, .city, .state, .country
        +input-light(small)

    // ENTRY IMAGES
    .entryImages

      #addFromImageBank
        +bevel-light
        +button-light

      #imageDropArea
        +input-light(large)


    // NEW ENTRY TAG
    .entryTags

      .tagInputWrap
        background: url(/images/slices/inputLeftLight-40.png) no-repeat left
        .tagInput
          background: url(/images/slices/inputContentLight-40.png) repeat-x
          input
            color: #333
          .tagAdd
            +button-light
            +shine-light-alpha(13)
        .tagInputRight
          background: url(/images/slices/inputRightLight-40.png) no-repeat right



    // NEW ENTRY LINK
    .entryLinks

      #linkInputWrap
        +input-light(large)
        #linkValue
          color: #333
        .linkAdd
          +button-light
          +shine-light-alpha(13)

      .linkContainer
        +border-light
        +transparent-light(40)

        .url, .title
          +input-light(small)
          input
            color: #555

    // NEW ENTRY EMOTIONS
    .entryEmotions

    // NEW ENTRY ATTACHMENTS
    .entryAttach
      +shine-light-alpha(24)
      p
        color: #090909


      .images, .tag, .links, .mood
        +bevel-light
        +button-light


.dark
  #entryField

    #entry_body, #entry_title
      color: #ddd

    // SHARED PANEL STYLES
    .entryPanels
      +shine-dark(27)

    #newEntry
      +flat-dark
      +glow-dark(40)

      .entryType
        +button-dark
        +indent-dark
        border: 1px solid #222

        #entryType_list
          color: #ddd

    // NEW ENTRY OPTIONS
    #entryOptions
      +shine-dark-alpha(24)
      border: 1px solid rgba(0, 0, 0, 0.75)

      // SHARING
      .sharing

        #entry_sharing_level
          color: #ddd
          option
            color: #ddd

        .listOfUsers, .everyone
          .friendsOnly, .followersOnly, .url, .facebook, .twitter
            +indent-dark
            +button-dark
          .buzz
            +button-dark
            +shine-dark(16)

      #entry_submit
        +button-dark
        color: #fff
        +save(16)
        box-shadow:         inset 0 16px rgba(255,255,255,0.2)
        -moz-box-shadow:    inset 0 16px rgba(255,255,255,0.2)
        -webkit-box-shadow: inset 0 16px rgba(255,255,255,0.2)
        background: #222
        +gradient(#222, #1a1a1a)

      .sharing, .myBooks, .addTheme, .sharing, .addLocation, .date
        +indent-dark
        +button-dark
        border: 1px solid #000

    // ENTRY DATE & TIME
    .entryDateTime

      .hour, .month, .day, .year, .minute, .amPm
        +input-dark(small)
        +border-dark

    // ENTRY LOCATION
    .entryLocation

      .finding, .name, .city, .state, .country
        +input-dark(small)
      input, select, option
        color: #ccc

    // ENTRY IMAGES
    .entryImages

      #addFromImageBank
        +bevel-dark
        +button-dark

      #imageDropArea
        +input-dark(large)

    // NEW ENTRY TAG
    .entryTags

      .tagInputWrap
        background: url(/images/slices/inputLeft-Dark-40.png) no-repeat left
        .tagInput
          background: url(/images/slices/inputContent-Dark-40.png) repeat-x
          input
            color: #ddd
          .tagAdd
            +button-dark
            +shine-dark-alpha(13)
        .tagInputRight
          background: url(/images/slices/inputRight-Dark-40.png) no-repeat right

    // NEW ENTRY LINK
    .entryLinks

      #linkInputWrap
        +input-dark(large)
        #linkValue
          color: #ddd
        .linkAdd
          +button-dark
          +shine-dark-alpha(13)

      .linkContainer
        +border-dark
        +transparent-dark(20)

        .url, .title
          +input-dark(small)
          input
            color: #ccc

    // NEW ENTRY MOOD
    .entryEmotions

    // NEW ENTRY ATTACHMENTS
    .entryAttach
      +shine-dark-alpha(24)
      p
        color: #8a8a8a

      .images, .tag, .links, .mood
        +bevel-dark
        +button-dark
