@import mixins
/******** SETTINGS PANEL ********/
#settingsPanel
  +user-select

  img
    +left
  h2
    +font(18)
    +bold
    margin: 0px
    padding: 8px

  p.error
    color: red

  .sharing, .savedLocations, .changePassword, .fontSizing
    +clear
    +round(8)
    margin: 0 0 8px

  .savedLocations h2, .changePassword h2
    +block
    +pointer
    img
      padding-right: 8px 

  hr
    +alpha(30)


  .sharing
    padding: 8px
    .defaultSharing, .network
      margin: 0 0 4px
      img
        margin: 8px 8px 0 0
      h2
        +cursor
        +left
        line-height: 32px
        margin: 0
        padding: 0
      select
        +round(8)
      p
        +left
    select
      +right
      +font(16)
      +pointer
      +round(8)
      height: 36px
      width: 138px
      margin-top: 4px
      padding: 6px 8px
      option
        padding: 6px 0 6px 24px
      option.everyone
        background: url(/images/icons/everyone-16.png) no-repeat 4px
      option.friends
        background: url(/images/icons/friend-16.png) no-repeat 4px
      option.anonymous
        background: url(/images/icons/mask-16.png) no-repeat 4px
      option.private
        background: url(/images/icons/lock-16.png) no-repeat 4px
    .network
      +clear

      .linkAccount
        +round(4)
        +right
        +center
        +pointer
        margin: 4px 0 0
        padding: 0 8px
        width: 110px
        height: 24px
        line-height: 24px
        +confirm(12)

    label
      +clear
      +pointer
      +right
      height: 26px
      line-height: 26px
      padding: 0 4px
      border: 1px solid transparent
      margin-top: 8px
      input
        +pointer
        +right
        margin: 7px 4px 0 8px

    label:hover
      +round(4)
      border: 1px solid #ccc



  .cancel, .confirm, .save
    +center
    +bold
    height: 26px
    line-height: 26px
    margin-top: 8px
  .cancel
    +left
    width: 80px
  .confirm
    +right
    width: 180px




  .changePasswordForm
    span
      +bold
      +cursor
      padding: 0 0 2px 4px
    .autoDetect
      +right
      +pointer
      +round(8)
      +font(12)
      padding: 0px 4px
      margin-top: 1px
    // INPUTS
    #user_old_password, #user_password, #user_password_confirmation, .save, .cancel
      +round(4)
      +font(15)
      margin-bottom: 4px
      padding: 4px
      width: 306px
    .save, .cancel
      +round(4)
      padding: 0
    .save
      +right
      +font(12)
      padding-bottom: 2px
      height: 28px
      width: 186px
    .cancel
      +left
      width: 120px


  .changePassword
    margin: 0
    .changePasswordForm
      .cancel, .confirm
        +round(4)
      .confirm
        +font(12)
        height: 28px
        line-height: 28px
        padding-bottom: 2px


  .fontSizing
    height: 50px
    margin: 0 0 2px
    h2
      +left
      +cursor
      line-height: 36px
      img
        padding: 8px 8px 0 0 
    .small, .medium, .large
      +relative
      +right
      +center
      +pointer
      +round(24)
      margin-left: 4px

    .small
      +font(12)
      padding: 2px 6px
      margin-top: 16px
    .medium
      +font(16)
      padding: 3px 8px
      margin-top: 12px
    .large
      +font(18)
      padding: 6px 12px
      margin: 8px 8px 0 4px


// COLORS
.light
  #settingsPanel, #appearancePanel
    +panel-light
    +glow-light(40)

    .sharing, .savedLocations, .changePassword, .fontSizing
      +panel-light

    .defaultSharing
      select
        +input-light(small)

    .network
      .linkAccount
        +button-light
        +bevel-light


    .changePassword
      +button-light

    .changePasswordForm
      #user_old_password, #user_password, #user_password_confirmation
        +input-light(small)
      .cancel, .confirm
        +button-light
        +bevel-light
        color: #333
      .cancel
        +cancel(12)
      .confirm
        +confirm(12)

    .fontSizing
      .large, .medium, .small
        +button-light

.dark
  #settingsPanel, #appearancePanel
    +panel-dark
    +glow-dark(40)

    .sharing, .savedLocations, .changePassword, .fontSizing
      +panel-dark

    .defaultSharing
      select
        +input-dark(small)

    .network
      .linkAccount
        +button-dark
        +bevel-dark

    .changePassword:hover
      +border-light

    .changePasswordForm
      #user_old_password, #user_password, #user_password_confirmation
        +input-dark(small)
      .cancel, .confirm
        +button-dark
        +bevel-dark
        color: #ddd
      .cancel
        +cancel(12)
      .confirm
        +confirm(12)

    .fontSizing
      .large, .medium, .small
        +button-dark


