@import mixins

body
  font-family: Calibri, Arial, Helvetica, sans-serif
  margin: 0
  padding: 0
body.light
  background-color: #ccc !important
body.dark
  background-color: #202020 !important
body.fixed
  background-attachment: fixed !important
body.scroll
  background-attachment: scroll !important
.clear
  clear: both
.hidden
  display: none

/******** LIGHT AND DARK ********/
.light
  color: #000
.dark
  color: #eee

.light, .dark

  .button
    +pointer
    text-decoration: none
    outline: none

  .spinner-small
    width: 32px
    height: 32px

.light
  .spinner-small
    background: url('/images/icons/spinner-light-32.gif') no-repeat center center transparent
.dark
  .spinner-small
    background: url('/images/icons/spinner-dark-32.gif') no-repeat center center transparent



// LINKS
/* removes dotted line around links */
a:active, a:focus, select:active, select:focus, select::-moz-focus-inner
  outline: none
  border: 0
.light a, .light a:hover, .light a:focus, .light a:visited, .dark a, .dark a:hover, .dark a:focus, .dark a:visited
  text-decoration: none
.dark a, .dark a:visited
  color: #fff
.light a, .light a:visited
  color: #000
.light a img, .dark a img
  border: 0px



// CLEAR FIX
.clearfix:after
  +block
  +clear
  content: "."
  visibility: hidden
  line-height: 0
  height: 0
.clearfix
  display: inline-block
html[xmlns] .clearfix
  +block
* html .clearfix
  height: 1%



// CSS RESET
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
  margin: 0
  padding: 0
table
  border-collapse: collapse
  border-spacing: 0
fieldset, img
  border: 0
address, caption, cite, code, dfn, em, strong, th, var
  font-style: normal
  font-weight: normal
ol, ul
  list-style: none
caption, th
  text-align: left
h1, h2, h3, h4, h5, h6
  font-size: 100%
  font-weight: normal
q:before, q:after
  content: ''
abbr, acronym
  border: 0





// FIELDS

#entryField, #friendField
  +absolute
  top: 82px
  left: 242px
  padding-bottom: 280px
  padding-right: 40px

.matrix
  +relative




// PAGE HEADERS
// STRUCTURE
#entryField, #friendField
  .pageHeader
    +user-select
    +cursor
    +relative
    +left  
    border-radius:            16px 48px 0 0
    -moz-border-radius:       16px 48px 0 0
    -webkit-border-radius:    16px 48px 0 0
    background: #000
    background: -moz-linear-gradient(top, rgba(0,0,0,1.0), rgba(0,0,0,1.0) 4px, rgba(0,0,0,0.0))
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,1.0)), color-stop(.1,rgba(0,0,0,1.0)), to(rgba(0,0,0,0.0)))
    height: 54px
    line-height: 50px
    margin: 0 0 20px
    padding-right: 36px
    .img
      +left
      width: 32px
      height: 54px
      margin: 0 12px
    h1
      +left
      +font(24)
      letter-spacing: 2px
      color: #fff

  .dreamHeader
    .img
      background: url(/images/icons/dream-32-hover.png) no-repeat center transparent
  .visionHeader
    .img
      background: url(/images/icons/vision-32-hover.png) no-repeat center transparent
  .experienceHeader
    .img
      background: url(/images/icons/experience-32-hover.png) no-repeat center transparent
  .articleHeader
    .img
      background: url(/images/icons/article-32-hover.png) no-repeat center transparent
  .friendHeader
    .img
      background: url(/images/icons/friend-32.png) no-repeat center transparent
  .followHeader
    .img
      background: url(/images/icons/friend-follow-32.png) no-repeat center transparent
  .followerHeader
    .img
      background: url(/images/icons/friend-follower-32.png) no-repeat center transparent
  .nofriendsHeader
    .img
      background: url(/images/icons/friend-none-32.png) no-repeat center transparent
  .streamHeader
    width: 634px
    .img
      background: url(/images/icons/stream-32-hover.png) no-repeat center transparent


// PAGE HEADERS
// COLOR
.light
  #entryField, #friendField
    .pageHeader
      background: #fff
      background: -moz-linear-gradient(top, rgba(255,255,255,1.0), rgba(255,255,255,1.0) 4px, rgba(255,255,255,0.0))
      background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,1.0)), color-stop(.1,rgba(255,255,255,1.0)), to(rgba(255,255,255,0.0)))

      h1
        color: #000
        text-shadow: #fff 0 0 15px



.dark
  #entryField, #friendField
    .pageHeader
      background: #000
      background: -moz-linear-gradient(top, rgba(0,0,0,1.0), rgba(0,0,0,1.0) 4px, rgba(0,0,0,0.0))
      background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,1.0)), color-stop(.1,rgba(0,0,0,1.0)), to(rgba(0,0,0,0.0)))

      h1
        color: #fff
        text-shadow: #000 0 0 15px





// CLOSE ICONS

.close-16
  +pointer
  +round(12)
  +alpha(50)
  width: 16px
  height: 16px
  background: url(/images/icons/close-16.png) no-repeat center
  &:hover
    +alpha(100)
    background: url(/images/icons/close-16-hover.png) no-repeat center
.close-24
  +pointer
  +round(12)
  +alpha(60)
  width: 24px
  height: 24px
  background: url(/images/icons/close-24.png) no-repeat center
  &:hover
    +alpha(100)
    background: url(/images/icons/close-24-hover.png) no-repeat center


// LIGHTBOX
#lightbox-container-image-box
  +glow-light(20)
  +round(16)
#lightbox-container-image-data-box
  display: none !important
#lightbox-loading
  background: url(/images/icons/spinner-dark-32.gif) no-repeat center center transparent
#jquery-overlay
  opacity: 0.6 !important


// ALERTS
#globalAlert
  +user-select
  +pointer
  +round(16)
  +flat-top
  box-shadow: 0 0 40px #f0e207
  -moz-box-shadow: 0 0 40px #f0e207
  -webkit-box-shadow: 0 0 40px #f0e207
  +font(22)
  padding: 0 50px
  text-align: center
  position: fixed
  top: 0px
  left: 472px
  min-height: 50px
  max-width: 550px
  z-index: 1600
  color: #ddd
  background: #313131
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(49,49,49,1.0)), to(rgba(0,0,0,1.0)))
  background: -moz-linear-gradient(top, rgba(49,49,49,1.0), rgba(0,0,0,1.0))
  border: 4px solid #fff
  border-top: none
  .geoArrow
    +right
    width: 32px
    height: 50px
    margin: 0 0 0 12px
    background: url(/images/icons/arrow_up-32.png) no-repeat center
  p
    +left
    margin: 12px 12px 12px 0
  .checkmark, .close-24
    width: 31px
    height: 31px
    +absolute
    right: 12px
    top: 11px
  .checkmark
    background: url(/images/icons/check-31.png) no-repeat center
    +alpha(60)
    &:hover
      +alpha(100)
  .close-24
    background: url(/images/icons/close-24-hover.png) no-repeat center









// LOGIN ITEMS
.loginPanelWrap
  +relative
  +bevel-light
  +round(16)
  +glow-light(20)
  +flat-top
  margin: -20px 0 10px
  padding: 28px 8px 0
  width: 204px
  z-index: 1200

  .login
    +right
    +center
    +user-select
    +shine-dark-alpha(14)
    +button-dark
    +round(12)
    +confirm(12)
    +bold
    color: #fff !important
    height: 28px
    line-height: 28px
    width: 154px
    span
      margin: 0 0 0 16px
    .img
      +right
      height: 28px
      width: 24px
      margin: 0 8px 0 8px
      background: url(/images/icons/login-24.png) no-repeat center transparent
    &:hover .img
      background: url(/images/icons/login-24-hover.png) no-repeat center transparent
    &:active .img
      background: url(/images/icons/login-24-active.png) no-repeat center transparent

  .facebook
    +right
    +center
    +user-select
    +pointer
    +round(12)
    border: 1px solid #aaa
    width: 16px
    height: 28px
    line-height: 28px
    padding: 0 8px
    margin: 0 8px 8px 0
    background: url('/images/icons/facebook-16-hover.png') no-repeat center center transparent
    &:hover
      +glow-light(8)
      border: 1px solid transparent





.loginPanel
  +clear

  span
    +font(11)
    +user-select
    +cursor
    margin-left: 8px

  .login-input
    +clear
    +block
    +font(14)
    +round(12)
    padding: 0 8px
    width: 186px
    height: 32px
    +input-light(small)


  .submit
    +absolute
    +pointer
    +round(12)
    +overflow
    +transparent
    +glow-blue(14)
    top: 27px
    right: 7px
    width: 156px
    height: 30px
    border: 1px solid #9ae4fd
    &:hover
      border: 1px solid #fff
      +glow-dark(20)
    &:active
      +glow-dark(0)

    .text
      +absolute
      +round(11)
      +pointer
      +user-select
      +center
      +bold
      top: 0
      left: 0
      color: #fff
      width: 156px
      line-height: 30px
      +shine-blue(15)

      &:hover
        background: #0c2b50
        +gradient(#5d80ad, #0c2b50)
      &:active
        +shine-blue(0)
        background: #0c2b50
        +gradient(#0c2b50, #5d80ad)

      span
        +font(18)
        margin: 0 0 0 16px
      .img
        +right
        height: 28px
        width: 24px
        margin: 0 8px 0 8px
        background: url(/images/icons/login-24.png) no-repeat center transparent
      &:hover .img
        background: url(/images/icons/login-24-hover.png) no-repeat center transparent
      &:active .img
        background: url(/images/icons/login-24-active.png) no-repeat center transparent

      input#loginButton.button
        +absolute
        top: 0
        left: 0
        border-width: 20px
        +font(100)
        +alpha(00)
        color: #fff
        width: 154px


  #loginSpacer
    height: 8px

  .stay, .forgot
    +button-light
    +round(4)
    +center
    +font(10)
    +user-select
    +right
    color: #333 !important
    margin: 8px 4px 2px
    padding: 0 4px
    height: 16px
    line-height: 16px
    font-weight: normal

  .stay
    width: 80px
    input
      +outline
      +right
      margin: 2px 0 0

  .forgot
    +left
    +relative




// JOIN
.joinWrap
  +pointer
  +clear
  +round(12)
  +transparent
  +glow-blue(20)
  +button-blue

  a
    +block
    +pointer
    +center
    +bold
    +round(8)
    +shine-blue(15)
    whitespace: nowrap
    color: #fff !important

    &:hover
      +shine-blue(15)
      background: #0c2b50
      +gradient(#5d80ad, #0c2b50)
    &:active
      +shine-blue(0)
      background: #0c2b50
      +gradient(#0c2b50, #5d80ad)








//  EMOTIONS PANEL
// EMOTIONS STRUCTURE

#showEntry, #showEntry.noImage, .thumb-1d, .thumb-1d.noImage

  .emotionsWrap
    +right
    +relative
    +transparent
    overflow: visible
    margin: 12px 4px 20px 20px
    width: 70px
    height: 70px


    // EMOTIONS DETAILS & THUMBS
    .emotions-details, .emotions-thumb
      +absolute
      +round(12)
      +user-select
      z-index: 200

      .arrow
        +absolute
        width: 16px
        height: 16px
        top: 20px
        right: -12px

      table.container
        +clear
        border-collapse: separate
        // width: 60px
        // height: 60px
        border: 0

        tr
          height: auto

          td
            padding: 0

          td.name
            +bold
            text-align: right
            padding: 0 12px 0 0

          td.value
            +round(16)
            padding: 1px
            height: auto
            border: none

            .amount
              +round(15)
              height: 100%

        tr.love
          .amount
            +gradient(#cbfe72, #97e414)
        tr.joy
          .amount
            +gradient(#faf55d, #e3db0e)
        tr.surprise
          .amount
            +gradient(#f3e85c, #e2ad0e)
        tr.anger
          .amount
            +gradient(#eebb6d, #e24a0e)
        tr.mystical
          .amount
            +gradient(#a16be6, #6421bb)
        tr.wonder
          .amount
            +gradient(#62bceb, #0e99e2)
        tr.sadness
          .amount
            +gradient(#8fbfc3, #53979d)
        tr.stress
          .amount
            +gradient(#c86855, #9d5e52)
        tr.confusion
          .amount
            +gradient(#c7c792, #8b8b65)
        tr.fear
          .amount
            +gradient(#ababab, #787878)

    // EMOTIONS DETAILS ONLY
    .emotions-details
      padding: 8px
      top: 4px
      right: 82px
      box-shadow:         4px 4px 10px #555
      -moz-box-shadow:    4px 4px 10px #555
      -webkit-box-shadow: 4px 4px 10px #555

      .emotionsHeader
        +user-select
        +round(20)
        +center
        +left
        +cursor
        +bold
        margin: 0 0 4px
        padding: 0 12px 0 4px
        height: 34px
        line-height: 34px
        .img
          +left
          width: 34px
          height: 34px
          background: url(/images/icons/emotions-16.png) no-repeat center

      table.container
        border-collapse: separate
        border-spacing: 4px
        height: auto
        width: 262px

        tr
          height: 24px

          td.value
            width: 178px
            padding: 2px


    // EMOTIONS THUMB ONLY
    .emotions-thumb
      +pointer
      +round(4)
      padding: 1px
      box-shadow:         0px 0px 10px #555
      -moz-box-shadow:    0px 0px 10px #555
      -webkit-box-shadow: 0px 0px 10px #555

      .arrow
        +hidden

      table.container
        +flat-all
        height: 60px
        width: 60px
        td.name
          +hidden
        td.value
          +flat-all
          +transparent
          width: 100%
          padding: 0

          table.amount
            +flat-all



// EMOTIONS - 1D THUMBS ONLY
.thumb-1d, .thumb-1d.noImage

  .emotionsWrap
    +absolute
    top: -8px
    right: -8px


// EMOTIONS COLOR
.light
  #showEntry, #showEntry.noImage, .thumb-1d, .thumb-1d.noImage

    // EMOTIONS DETAILS & THUMBS
    .emotions-details, .emotions-thumb

      .arrow
        background: url(/images/icons/arrow-right-16-dark.png) no-repeat center

    // EMOTIONS DETAILS ONLY
    .emotions-details
      +bevel-light
      .emotionsHeader
        +indent-light
        border: 1px solid #e6e6e6

      table.container
        td.value
          +indent-light

    // EMOTIONS THUMBS ONLY
    .emotions-thumb
      +flat-light


.dark
  #showEntry, #showEntry.noImage, .thumb-1d, .thumb-1d.noImage

    // EMOTIONS DETAILS & THUMBS
    .emotions-details, .emotions-thumb

      .arrow
        background: url(/images/icons/arrow-right-16-light.png) no-repeat center

    // EMOTIONS DETAILS ONLY
    .emotions-details
      +bevel-dark
      .emotionsHeader
        +indent-dark
        border: 1px solid #090909

      table.container
        td.value
          +indent-dark

    // EMOTIONS THUMBS ONLY
    .emotions-thumb
      +flat-dark













@import hover_label
@import meta_menu
@import meta_menu_public
@import meta_menu_user
@import settings_panel
@import appearance_panel
@import tag
@import tag_cloud
@import modal_window
@import video
@import starlight










// webkit placeholder
input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder

