

/******** LIGHT ********/

// .light
//   &.shine
  
.light
  color: #333

  .button, .border
    border: 1px solid #777
  .button:hover
    border: 1px solid #464646

  .infoTab
    background-color: #e7e7e7
    border: 1px solid #ccc

  .shine
    box-shadow: inset 0 18px rgba(255,255,255,0.5)
    -moz-box-shadow: inset 0 18px rgba(255,255,255,0.5)
    -webkit-box-shadow: inset 0 18px rgba(255,255,255,0.5)
    background: #f0f0f0
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#bababa))
    background: -moz-linear-gradient(top, #f0f0f0, #bababa)

  .shine-alpha
    box-shadow: inset 0 28px rgba(255,255,255,0.3)
    -moz-box-shadow: inset 0 28px rgba(255,255,255,0.3)
    -webkit-box-shadow: inset 0 28px rgba(255,255,255,0.3)
    background: #f0f0f0
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.75)), to(rgba(215,215,215,0.75)))
    background: -moz-linear-gradient(top, rgba(255,255,255,0.75), rgba(215,215,215,0.75))

  .shine-small-alpha
    box-shadow: inset 0 18px rgba(255,255,255,0.3)
    -moz-box-shadow: inset 0 18px rgba(255,255,255,0.3)
    -webkit-box-shadow: inset 0 18px rgba(255,255,255,0.3)
    background: #f0f0f0
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), to(rgba(215,215,215,0.5)))
    background: -moz-linear-gradient(top, rgba(255,255,255,0.75), rgba(215,215,215,0.5))

  .bevel
    background: #fff
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#adadad))
    background: -moz-linear-gradient(top, #fff, #adadad)

  .indent
    border: 1px solid #fff
    background: #e6e6e6
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#fff))
    background: -moz-linear-gradient(top, #e6e6e6, #fff)

  .panel
    border: 1px solid #bbb
    background: #ececec
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6))
    background: -moz-linear-gradient(top, #fff, #e6e6e6)

  .inner-shadow-10
    background: #ebeaea
    box-shadow: inset 0 6px 10px rgba(0,0,0,0.6)
    -moz-box-shadow: inset 0 6px 10px rgba(0,0,0,0.6)
    -webkit-box-shadow: inset 0 6px 10px rgba(0,0,0,0.6)

  .input
    color: #000
    border: 1px solid #666
    background: #fff
    margin: 0
    outline: none
    box-shadow: inset 2px 5px 10px #ccc
    -moz-box-shadow: inset 0px 2px 5px #ccc
    -webkit-box-shadow: inset 2px 5px 10px #ccc
  .input:focus, .inputTextarea:focus
    border: 1px solid #000
    background: #fff
    box-shadow: 0px 0px 20px #000
    -moz-box-shadow: 0px 0px 20px #000
    -webkit-box-shadow: 0px 0px 20px #000

  .inputTextarea // need dark class too
    color: #000
    border: 1px solid #666
    background: #fff
    margin: 0
    outline: none
    box-shadow: inset 0px 10px 20px #bbb
    -moz-box-shadow: inset 0px 10px 20px #bbb
    -webkit-box-shadow: inset 0px 10px 20px #bbb

  .spinner-small
    background: url('/images/icons/spinner-light-32.gif') no-repeat top left transparent


  /* BACKGROUNDS */
  .flat
    background: #fff
  .transparent-80
    background: rgba(255,255,255,0.8)
  .transparent-70
    background: rgba(255,255,255,0.7)
  .transparent-60
    background: rgba(255,255,255,0.6)
  .transparent-50
    background: rgba(255,255,255,0.5)
  .transparent-40
    background: rgba(255,255,255,0.4)
  .transparent-30
    background: rgba(255,255,255,0.3)
  .transparent-20
    background: rgba(255,255,255,0.2)
  .transparent-10
    background: rgba(255,255,255,0.1)


  .glow-10
    box-shadow: 0 0 10px #000
    -moz-box-shadow: 0 0 10px #000
    -webkit-box-shadow: 0 0 10px #000
  .glow-20
    box-shadow: 8px 8px 20px #000
    -moz-box-shadow: 8px 5px 20px #000
    -webkit-box-shadow: 2px 2px 20px #000
  .glow-40
    box-shadow: 8px 8px 40px #000
    -moz-box-shadow: 0 0 40px #000
    -webkit-box-shadow: 2px 2px 40px #000
  .glow-80
    box-shadow: 8px 8px 80px #000
    -moz-box-shadow: 10px 10px 80px #000
    -webkit-box-shadow: 8px 8px 80px #000
  .glow-160
    box-shadow: 8px 8px 160px #000
    -moz-box-shadow: 10px 10px 160px #000
    -webkit-box-shadow: 8px 8px 160px #000



/******** DARK ********/
.dark
  color: #fff

  .button, .border
    border: 1px solid #555
  .button:hover
    border: 1px solid #fff
    box-shadow: inset 0 0 20px #fff
    -moz-box-shadow: inset 0 0 20px #fff
    -webkit-box-shadow: inset 0 0 20px #fff

  .infoTab
    background-color: #a1a1a1
    border: 1px solid #ccc

  .shine
    box-shadow: inset 0 18px rgba(255,255,255,0.2)
    -moz-box-shadow: inset 0 18px rgba(255,255,255,0.2)
    -webkit-box-shadow: inset 0 18px rgba(255,255,255,0.2)
    background: #aaa
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#222))
    background: -moz-linear-gradient(top, #aaa, #222)

  .shine-alpha
    box-shadow: inset 0 28px rgba(255,255,255,0.1)
    -moz-box-shadow: inset 0 28px rgba(255,255,255,0.1)
    -webkit-box-shadow: inset 0 28px rgba(255,255,255,0.1)
    background: #f0f0f0
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(120,120,120,0.75)), to(rgba(34,34,34,0.75)))
    background: -moz-linear-gradient(top, rgba(120,120,120,0.75), rgba(34,34,34,0.75))

  .bevel
    background: #aaa
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#222))
    background: -moz-linear-gradient(top, #aaa, #222)

  .indent
    background: #222
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#aaa))
    background: -moz-linear-gradient(top, #222, #aaa)

  .panel
    border: 1px solid #222
    background: #aaa
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111))
    background: -moz-linear-gradient(top, #444, #111)

  .inner-shadow-10
    background: #444444
    box-shadow: inset 0 6px 10px rgba(0,0,0,0.6)
    -moz-box-shadow: inset 0 6px 10px rgba(0,0,0,0.6)
    -webkit-box-shadow: inset 0 6px 10px rgba(0,0,0,0.6)

  .input
    color: #fff
    border: 1px solid #666
    background: #000
    box-shadow: inset 0 0 10px #666666
    -moz-box-shadow: inset 0 0 10px #666666
    -webkit-box-shadow:inset 0 0 10px #666666
  .input:focus
    border: 1px solid #fff
    background: #000
    box-shadow: 0px 0px 20px #fff
    -moz-box-shadow: 0px 0px 20px #fff
    -webkit-box-shadow: 0px 0px 20px #fff

  .spinner-small
    background: url('/images/icons/spinner-dark-32.gif') no-repeat top left transparent

  .flat
    background: #000
  .transparent-80
    background: rgba(0,0,0,0.8)
  .transparent-70
    background: rgba(0,0,0,0.7)
  .transparent-60
    background: rgba(0,0,0,0.6)
  .transparent-50
    background: rgba(0,0,0,0.5)
  .transparent-40
    background: rgba(0,0,0,0.4)
  .transparent-30
    background: rgba(0,0,0,0.3)
  .transparent-20
    background: rgba(0,0,0,0.2)
  .transparent-10
    background: rgba(0,0,0,0.1)

  .glow-10
    box-shadow: 0 0 10px #fff
    -moz-box-shadow: 0 0 10px #fff
    -webkit-box-shadow: 0 0 10px #fff
  .glow-20
    box-shadow: 0 0 20px #fff
    -moz-box-shadow: 0 0 20px #fff
    -webkit-box-shadow: 0 0 20px #fff
  .glow-40
    box-shadow: 0 0 40px #fff
    -moz-box-shadow: 0 0 40px #fff
    -webkit-box-shadow: 0 0 40px #fff
  .glow-80
    box-shadow: 0 0 80px #fff
    -moz-box-shadow: 0 0 80px #fff
    -webkit-box-shadow: 0 0 80px #fff
  .glow-160
    box-shadow: 0 0 160px #fff
    -moz-box-shadow: 0 0 160px #fff
    -webkit-box-shadow: 0 0 160px #fff




/******** LIGHT AND DARK ********/
.light, .dark
  .button
    cursor: pointer
  .spinner-small
    width: 32px
    height: 32px

.static-glow-inner-40
  box-shadow: inset 0px 0px 40px #fff
  -moz-box-shadow: inset 0px 0px 40px #fff
  -webkit-box-shadow: inset 0px 0px 40px #fff
.static-glow-40
  box-shadow: 0px 0px 40px #fff
  -moz-box-shadow: 0px 0px 40px #fff
  -webkit-box-shadow: 0px 0px 40px #fff
.static-shadow-40
  box-shadow: 0px 0px 40px #000
  -moz-box-shadow: 0px 0px 40px #000
  -webkit-box-shadow: 0px 0px 40px #000








/* BUTTONS */
.button.confirm:hover
  color: #fff
  border: 1px solid #4794b5
  background: -webkit-gradient(linear, left top, left bottom, from(#3ba4d1), to(#1b485b))
  background: -moz-linear-gradient(top, #3ba4d1, #1b485b)
  box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
.button.small.confirm:hover
  box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 12px rgba(255,255,255,0.1)
.button.save:hover
  color: #fff
  border: 1px solid #54943d
  background: -webkit-gradient(linear, left top, left bottom, from(#70d03b), to(#235b1b))
  background: -moz-linear-gradient(top, #70d03b, #235b1b)
  box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
.button.small.save:hover
  box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 12px rgba(255,255,255,0.1)
.button.cancel:hover
  color: #fff
  border: 1px solid #848484
  background: -webkit-gradient(linear, left top, left bottom, from(#979797), to(#4e4e4e))
  background: -moz-linear-gradient(top, #979797, #4e4e4e)
  box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
.button.small.cancel:hover
  box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 12px rgba(255,255,255,0.1)
.button.delete:hover
  color: #fff
  border: 1px solid #c1633c
  background: -webkit-gradient(linear, left top, left bottom, from(#ee7c44), to(#8b2e12))
  background: -moz-linear-gradient(top, #ee7c44, #8b2e12)
  box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 18px rgba(255,255,255,0.1)
.button.small.delete:hover
  box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -moz-box-shadow: inset 0px 12px rgba(255,255,255,0.1)
  -webkit-box-shadow: inset 0px 12px rgba(255,255,255,0.1)


/* COLOR BUTTONS */
.button-big-blue
  border: 2px solid #999
  cursor: pointer
.button-big-blue:hover, .selected.button-big-blue
  border: 2px solid #0099ff
  box-shadow: 0px 0px 40px #0099ff inset
  -moz-box-shadow: 0px 0px 40px #0099ff inset
  -webkit-box-shadow: 0px 0px 40px #0099ff inset
.button-big-green
  border: 2px solid #999
  cursor: pointer
.button-big-green:hover, .selected.button-big-green
  border: 2px solid #7BBD0D
  box-shadow: 0px 0px 40px #7BBD0D inset
  -moz-box-shadow: 0px 0px 40px #7BBD0D inset
  -webkit-box-shadow: 0px 0px 40px #7BBD0D inset
.button-big-gray
  border: 2px solid #999
  cursor: pointer
.button-big-gray:hover, .selected.button-big-gray
  border: 2px solid #CCC
  box-shadow: 0px 0px 40px #CCC inset
  -moz-box-shadow: 0px 0px 40px #CCC inset
  -webkit-box-shadow: 0px 0px 40px #CCC inset











.notice, .alert
  position: absolute
  top: -16px
  width: 100%
  text-align: center

.notice
  background: lightgreen

.alert
  background: lightcoral



/* ALPHA */
=alpha($percent)
  filter: alpha(opacity=$percent)
  -moz-opacity: $percent / 100
  -khtml-opacity: $percent / 100
  -webkit-opacity: $percent / 100
  opacity: $percent / 100

.alpha-100
  +alpha(100)
.alpha-90
  +alpha(90)
.alpha-80
  +alpha(80)
.alpha-70
  +alpha(70)
.alpha-60
  +alpha(60)
.alpha-50
  +alpha(50)
.alpha-40
  +alpha(40)
.alpha-30
  +alpha(30)
.alpha-20
  +alpha(20)
.alpha-10
  +alpha(10)






/* body */
body
  font-family: Calibri, Arial, Helvetica, sans-serif
  margin: 0
  padding: 0
body.light
  background-color: #ccc
body.dark
  background-color: #000


/* removes dotted line around links */
a:active, a:focus
  outline: none





/*********** META MENU ***********/
#drop_shadow
  background: url(/images/gradients/top_shadow-100px.png) repeat-x top
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 120px
  z-index: -10


// HOME META MENU
#metaMenu.public
  position: absolute
  top: 0
  width: 100%
  z-index: 1111

  .leftPanel
    background-color: #fff
    .item
      font-weight: bold
      display: block
      float: left
      background: #fff
      margin: 0 2px
      padding: 0 8px
      font-size: 15px
      height: 26px
      line-height: 26px
      color: #000
      border: #ccc 1px solid
      display: inline-block
      text-decoration: none
      cursor: pointer
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
    .item:hover
      border: #000 1px solid
      background: #000
      color: #fff
    .item.selected
      color: #fff
      border: #000 1px solid
      background: #000
    .input
      width: 142px
      background: url('/images/icons/search-18.png') no-repeat 134px center
      margin: 0 2px
      font-size: 12px
      display: block
      height: 18px
      line-height: 18px



  .leftPanel
    position: absolute
    top: 0
    left: 248px
  .rightPanel
    float: right
    margin-right: 10px
    padding: 8px
    .loginItem, .login
      float: left
      width: 16px
      height: 28px
      line-height: 28px
      padding: 0 8px
      margin: 0 8px 8px 0
      text-align: center
      display: block
      img
        margin: 6px 0 0
    .login
      width: auto
      padding: 0 12px
    .joinWrap, .signupWrap
      cursor: pointer
      clear: both
      width: 196px
      padding: 2px 0
      background: #fff
      background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#fff))
      background: -moz-linear-gradient(top, #dcdcdc, #fff)
      .join, .signup
        margin: 0 auto
        display: block
        width: 190px
        height: 32px
        line-height: 32px
        text-align: center
        color: #fff
        font-weight: bold
        background: #ffa614
        background: -webkit-gradient(linear, left top, left bottom, from(#ffe658), to(#ffa614))
        background: -moz-linear-gradient(top, #ffe658, #ffa614)
        border: 1px solid #ffa614
    .loginPanel, .signupPanel
      .input, #loginButton
        clear: both
        display: block
        margin: 4px 0 0
        padding: 0 8px
        width: 176px
        height: 32px
        line-height: 32px
      #loginButton
        width: 192px
      label.stay, a.forgot
        margin: 4px
        padding: 0 4px
        text-align: center
        height: 16px
        line-height: 16px
        font-size: 10px
        font-weight: normal
      a.forgot
        float: left
      label.stay
        width: 80px
        float: right
        input
          margin: 1px 0 0
          float: right

    .user
      overflow: hidden
      margin: 0 2px -2px
      border: 1px solid #999
      cursor: pointer
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      span
        color: #fff
        display: block
        margin-left: 32px
        background-color: #000
        margin-top: -6px
        padding: 6px 4px 8px
    .user:hover
      border: 1px solid #ccc
    .account
      img
        margin: -2px 1px -2px
        border: 0px
    .appearance
      img
        margin: -4px 0px -2px
        border: 0px



#metaMenu.user
  position: absolute
  top: 0
  width: 100%
  z-index: 1111

  .leftPanel, .rightPanel
    background-color: #fff
    .item
      font-weight: bold
      display: block
      float: left
      background: #fff
      margin: 0 2px
      font-size: 15px
      height: 26px
      line-height: 26px
      color: #000
      border: #ccc 1px solid
      display: inline-block
      text-decoration: none
      cursor: pointer
      padding: 2px 4px
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
    .item:hover
      border: #000 1px solid
      background: #000
      color: #fff
    .item.selected
      color: #fff
      border: #000 1px solid
      background: #000
  .leftPanel
    .input
      width: 144px
      background: url('/images/icons/search-18.png') no-repeat 134px center
      margin: 0 2px
      font-size: 12px
      display: block
      height: 22px



  .leftPanel
    position: absolute
    top: 0
    left: 248px
  .rightPanel
    float: right
    margin-right: 10px
    .user
      overflow: hidden
      margin: 0 2px -2px
      border: 1px solid #999
      cursor: pointer
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      span
        color: #fff
        display: block
        margin-left: 32px
        background-color: #000
        margin-top: -6px
        padding: 6px 4px 8px
    .user:hover
      border: 1px solid #ccc
    .account
      img
        margin: -2px 1px -2px
        border: 0px
    .appearance
      img
        margin: -4px 0px -2px
        border: 0px

#report_box
  position: absolute
  width: 235px
  text-align: right
  font-size: 9px
  color: #666
  opacity: 1
  z-index: 1003
  top: 0
#logo
  position: absolute
  top: 0px
  left: 0
  margin: 4px 14px 0px 13px
  width: 230px
  z-index: 1001




/* FLOATING BUTTONS */
#metaMenu
  .adminLink, .newEntry, .logOut
    color: #fff
    display: block
    text-decoration: none
    border: 1px solid #777
    background: rgba(0,0,0,0.50)
  .adminLink:hover, .newEntry:hover, .logOut:hover
    border: 1px solid #ccc
    box-shadow: inset 0 0 20px #fff
    -moz-box-shadow: inset 0 0 20px #fff
    -webkit-box-shadow: inset 0 0 20px #fff
    -moz-opacity: 1
    -khtml-opacity: 1
    -webkit-opacity: 1
    opacity: 1

  .adminLink
    padding: 5px 8px
    margin: 8px
    height: 21px
    img
      padding-top: 2px
  .newEntry
    padding: 4px 8px
    font-size: 17px
    font-weight: bold
    margin: 8px 12px 0 0
    border: 2px solid transparent
    span
      color: #093
  .newEntry:hover
    border: 2px solid transparent
  .logOut
    margin: 10px 8px 0 0






/******** APPEARANCE & SETTINGS PANELS SHARED STYLES ********/
#appearancePanel, #settingsPanel
  position: absolute
  right: 45px
  top: 64px
  clear: both
  padding: 0 8px 8px
  width: 334px 
  .arrow
    position: relative
    top: -15px
    padding: 0
    height: 16px
    margin-bottom: -8px
  img.appearanceIcon, h1
    float: left
  h1
    margin: 8px
    font-size: 24px
    font-weight: normal



/******** APPEARANCE PANEL ********/


// APPEARANCE PANEL
.light
  #appearancePanel
    .arrow
      background: url(/images/icons/arrow-up-white-27.png) no-repeat 262px
  #settingsPanel
    .arrow
      background: url(/images/icons/arrow-up-white-27.png) no-repeat 214px
.dark
  #appearancePanel
    .arrow
      background: url(/images/icons/arrow-up-27.png) no-repeat 262px
  #settingsPanel
    .arrow
      background: url(/images/icons/arrow-up-27.png) no-repeat 214px

#appearancePanel

  img.appearanceIcon
    margin: 4px 0 0

  .bedsheets
    clear: both
    padding: 8px
    margin: 0 0 8px
    h2
      display: block
      height: 32px
      line-height: 32px
      margin: 0 8px
      font-size: 18px
      font-weight: bold
    .options
      position: absolute
      right: 20px
      top: 20px
    ul
      margin: 12px 0
      height: 346px
      padding: 4px
      list-style: none
      overflow-y: scroll
      li
        float: left
        margin: 0 4px 4px 0
        height: 132px
        width: 132px
        cursor: pointer
        overflow: hidden
        -moz-box-shadow: 2px 5px 10px #111
        border: 4px solid #CCCCCC
        img
          border: 4px solid #333
        img:hover
          border: 4px solid #fff
      li.selected
        border: 4px solid #427ee8
        border-radius: 4px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        img
          border: 4px solid #fff
    .more
      height: 32px
      line-height: 32px
      text-align: center
    .more:hover
      -moz-opacity: 1
      -khtml-opacity: 1
      -webkit-opacity: 1
      opacity: 1


  .colorPicker
    clear: both
    font-weight: bold
    padding: 8px
    margin: 0 0 2px
    height: 36px
    #buttons
      float: right
      padding: 4px
      #sun, #moon
        margin: 0 4px
        padding: 0 4px
        width: 86px
        height: 28px
        line-height: 28px
        text-align:  center
        font-size: 14px
        img
          margin: -8px -8px -8px 4px
    img.colorSwatch, img.fontImage, h2, #sun, #moon
      float: left
    img.colorSwatch, img.fontImage
      margin: 12px 0 0
    h2
      margin: 0 8px
      font-size: 18px
      line-height: 36px
      font-weight: bold





/******** SETTINGS PANEL ********/
#settingsPanel

  .button
    margin: 8px 0 0
    padding: 2px 12px

  img, .sharingList
    float: left

  h2
    margin: 0px
    padding: 8px
    font-size: 18px
    font-weight: bold
  .sharing, .savedLocations, .changePassword
    clear: both
    margin: 0 0 8px

  .savedLocations h2, .changePassword h2
    display: block
    cursor: pointer
    img
      padding-right: 8px 

  .input
    width: 306px
    margin: 0 0 4px
    padding: 4px
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px



  .sharing
    padding: 8px
    .defaultSharing, .network
      margin: 0 0 4px
      img
        margin: 8px 8px 0 0
      h2
        cursor: pointer
        line-height: 32px
        margin: 0
        padding: 0
        float: left
      p
        float: left
    .sharingList
      float: right
      font-size: 16px
      height: 36px
      cursor: pointer
      width: 138px
      margin-top: 4px
      padding: 6px 8px
      option
        padding: 6px 0 6px 24px
      option.everyone
        background: url(/images/icons/everyone-16.png) no-repeat 4px
      option.friends
        background: url(/images/icons/friend-16.png) no-repeat 4px
      option.anonymous
        background: url(/images/icons/mask-16.png) no-repeat 4px
      option.private
        background: url(/images/icons/lock-16.png) no-repeat 4px
    .network
      clear: both
      .linkAccount
        float: right
        margin: 4px 0 0
        padding: 0 8px
        width: 110px
        height: 24px
        line-height: 24px
        text-align: center
    label
      clear: both
      height: 26px
      line-height: 26px
      cursor: pointer
      float: right
      padding: 0 4px
      border: 1px solid transparent
      margin-top: 8px
      input
        cursor: pointer
        margin: 7px 4px 0 8px
        float: right
    label:hover
      border: 1px solid #ccc
      border-radius: 4px
      -moz-border-radius: 4px
      -webkit-border-radius: 4px


  .savedLocations
    .locationView, .modifyLocationView
      padding: 8px
      .newLocation, .autoLocate
        margin-top: 8px
      .newLocation
        width: 186px
        text-align: center
        float: left
        img
          float: none
          margin: -3px 3px
      .autoLocate
        display: block
        float: right
      .locationList
        width: 100%
        max-height: 180px
        overflow-y: auto
        clear: both
        .locations
          float: none
          clear: both
          margin: 0
          padding: 6px 8px
          cursor: pointer
          .edit, label
            display: none
          label.selected
            display: block
            -moz-opacity: 1
            -khtml-opacity: 1
            -webkit-opacity: 1
            opacity: 1
          label
            border: 1px solid transparent
            cursor: pointer
            font-size: 11px
            float: right
            padding: 2px 4px
            input
              margin: -5px 0
              cursor: pointer
        .locations:hover
          .edit
            display: block
            width: 16px
            height: 16px
            float: right
            padding: 3px
            margin-right: 8px
            background: url(/images/icons/edit-16.png) no-repeat center center
            border: 1px solid transparent
          .edit:hover, label:hover
            border: 1px solid #ccc
            border-radius: 4px
            -moz-border-radius: 4px
            -webkit-border-radius: 4px
          label
            display: block
      .cancel
        width: 100px
      .confirm
        width: 156px


  .cancel, .confirm
    text-align: center
    height: 26px
    line-height: 26px
    font-weight: bold
  .cancel
    float: left
    width: 80px
  .confirm
    float: right
    width: 180px

  .changePassword
    margin: 0 0 8px
    .changePasswordForm
      padding: 8px


  .fontSizing
    margin: 0
    height: 50px
    margin: 0 0 2px
    h2
      line-height: 36px
      cursor: default
      img
        padding: 8px 8px 0 0 
    .small, .medium, .large
      float: right
      margin-left: 4px
      text-align: center
      cursor: pointer
      border-radius: 24px
      -moz-border-radius: 24px
      -webkit-border-radius: 24px
    .small
      padding: 2px 6px
      font-size: 12px
      margin-top: 16px
    .medium
      padding: 3px 8px
      font-size: 16px
      margin-top: 12px
    .large
      padding: 6px 12px
      font-size: 18px
      margin: 8px 8px 0 4px

/*********** END META MENU ***********/




/******* MODAL WINDOW *******/
.light
  .ui-widget-overlay
    background-color: rgba(255,255,255,0.5)
  .ui-dialog
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d6d6d6))
    background: -moz-linear-gradient(top, #fff, #d6d6d6)
  .ui-dialog-titlebar
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#c6c6c6))
    background: -moz-linear-gradient(top, #f3f3f3, #c6c6c6)
  .ui-dialog-buttonpane
    .ui-dialog-buttonset
      margin-bottom: 6px
      .ui-button
        background-color: #fff
        border-color: #a6a6a6
      .ui-button:hover, .ui-button:focus, .ui-state-focus
        border-color: #000
        color: #fff
        background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#2d2d2d))
        background: -moz-linear-gradient(top, #808080, #2d2d2d)

.dark
  .ui-widget-overlay
    background-color: rgba(0,0,0,0.5)
  .ui-dialog
    color: #999
    background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#000))
    background: -moz-linear-gradient(top, #292929, #000)
  .ui-dialog-titlebar
    color: #fff
    background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#272727))
    background: -moz-linear-gradient(top, #505050, #272727)
  .ui-dialog-buttonpane
    .ui-dialog-buttonset
      margin-bottom: 6px
      .ui-button
        background-color: #000
        color: #fff
        border-color: #333
      .ui-button:hover, .ui-button:focus, .ui-state-focus
        border-color: #fff
        color: #000
        background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#7c7c7c))
        background: -moz-linear-gradient(top, #f7f7f7, #7c7c7c)





.ui-dialog
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#000))
  background: -moz-linear-gradient(top, #242424, #000)
  border: 4px solid #fff
  border-radius: 12px
  -moz-border-radius: 12px
  -webkit-border-radius: 12px
  text-align: center
  cursor: default
  .ui-dialog-titlebar
    height: 34px
    line-height: 34px
    font-weight: bold
    font-size: 21px
    margin-bottom: 2px
    /* rounded corners */
    border-radius-topleft: 8px
    -moz-border-radius-topleft: 8px
    -webkit-border-radius-topleft: 8px
    border-radius-topright: 8px
    -moz-border-radius-topright: 8px
    -webkit-border-radius-topright: 8px

    .ui-dialog-titlebar-close
      background: url('/images/icons/close-22.png') top center no-repeat
      position: absolute
      left: 6px
      top: 6px
      width: 22px
      height: 22px
      -moz-opacity: 0.6
      -khtml-opacity: 0.6
      -webkit-opacity: 0.6
      opacity: 0.6
    .ui-dialog-titlebar-close.ui-state-hover
      -moz-opacity: 1
      -khtml-opacity: 1
      -webkit-opacity: 1
      opacity: 1

  .ui-dialog-content
    font-size: 17px
    padding: 0 6px 10px

  .ui-dialog-buttonpane
    .ui-dialog-buttonset
      margin-bottom: 6px
      padding: 0 3px
      height: 30px
      .ui-button
        float: right
        font-size: 17px
        font-weight: normal
        cursor: pointer
        width: 170px
        height: 30px
        margin: 0 3px
        padding-bottom: 4px
        border: 2px solid
        border-radius: 4px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
      .ui-button:hover, .ui-button:focus, .ui-state-focus
        font-weight: bold
        outline: none

.ui-widget-overlay
  position: absolute
  top: 0
/******* END MODAL WINDOW *******/






/*********** FIELDS ***********/
#entryField, #friendField
  position: absolute
  top: 82px
  left: 232px
.matrix
  position: relative






#loginPage
  position: absolute
  top: 300px
  width: 100%
  font-size: 18px
  .navigation
    width: 300px
    margin: auto
    .button
      float: left
      padding: 4px 8px
      margin: 4px
  .login
    clear: both
    width: 300px
    margin: auto
    .input
      font-size: 18px
      padding: 8px
      width: 280px
    #loginButton
      margin-top: 8px
      font-size: 21px
      width: 100%
      padding: 8px
