@import mixins

body
  font-family: Calibri, Arial, Helvetica, sans-serif
  margin: 0
  padding: 0
body.light
  background-color: #ccc !important
body.dark
  background-color: #000 !important
body.fixed
  background-attachment: fixed !important
body.scroll
  background-attachment: scroll !important
.clear
  clear: both
.hidden
  display: none

/******** LIGHT AND DARK ********/
.light
  color: #000
.dark
  color: #eee

.light, .dark

  .button
    +pointer
    text-decoration: none
    outline: none

  .spinner-small
    width: 32px
    height: 32px

.light
  .spinner-small
    background: url('/images/icons/spinner-light-32.gif') no-repeat center center transparent
.dark
  .spinner-small
    background: url('/images/icons/spinner-dark-32.gif') no-repeat center center transparent



// LINKS
/* removes dotted line around links */
a:active, a:focus, select:active, select:focus, select::-moz-focus-inner
  outline: none
  border: 0
.light a, .light a:hover, .light a:focus, .light a:visited, .dark a, .dark a:hover, .dark a:focus, .dark a:visited
  text-decoration: none
.dark a, .dark a:visited
  color: #fff
.light a, .light a:visited
  color: #000
.light a img, .dark a img
  border: 0px



// CLEAR FIX
.clearfix:after
  +block
  +clear
  content: "."
  visibility: hidden
  line-height: 0
  height: 0
.clearfix
  display: inline-block
html[xmlns] .clearfix
  +block
* html .clearfix
  height: 1%



// CSS RESET
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
  margin: 0
  padding: 0
table
  border-collapse: collapse
  border-spacing: 0
fieldset, img
  border: 0
address, caption, cite, code, dfn, em, strong, th, var
  font-style: normal
  font-weight: normal
ol, ul
  list-style: none
caption, th
  text-align: left
h1, h2, h3, h4, h5, h6
  font-size: 100%
  font-weight: normal
q:before, q:after
  content: ''
abbr, acronym
  border: 0





// FIELDS

#entryField, #friendField
  +absolute
  top: 82px
  left: 232px
  padding-bottom: 280px

.matrix
  +relative





// CLOSE ICONS

.close-16
  +pointer
  +round(12)
  +alpha(30)
  width: 16px
  height: 16px
  background: #fff url(/images/icons/close-16.png) no-repeat center
  &:hover
    +alpha(100)
.close-22
  +pointer
  +alpha(50)
  +round(12)
  width: 24px
  height: 24px
  background: #fff url(/images/icons/close-22.png) no-repeat center
  &:hover
    +alpha(100)


// LIGHTBOX
#lightbox-container-image-box
  +glow-light(40)










// LOGIN ITEMS
.loginPanelWrap
  +relative
  +bevel-light
  +round(16)
  +glow-light(20)
  +flat-top
  margin: -20px 0 10px
  padding: 28px 8px 0
  width: 204px
  z-index: 1200

  .login
    +right
    +center
    +user-select
    +shine-dark-alpha(12)
    +button-dark
    +round(12)
    +confirm(12)
    +bold
    color: #fff !important
    height: 28px
    line-height: 28px
    padding: 0 60px


  .facebook
    +right
    +center
    +user-select
    +pointer
    +round(12)
    border: 1px solid #aaa
    width: 16px
    height: 28px
    line-height: 28px
    padding: 0 8px
    margin: 0 8px 8px 0
    background: url('/images/icons/facebook-16.png') no-repeat center center transparent
    &:hover
      +glow-light(8)
      border: 1px solid transparent





.loginPanel
  +clear

  span
    +font(11)
    +user-select
    +cursor
    margin-left: 8px

  .login-input, #loginButton
    +clear
    +block
    +font(14)
    +round(12)
    padding: 0 8px
    width: 186px
    height: 32px
    line-height: 32px

  .login-input
    +input-light(small)

  #loginButton
    +round(12)
    +border-dark
    +bevel-light
    width: 204px
    +confirm(12)
    margin: 10px 0 0
  #loginSpacer
    height: 8px

  .stay, .forgot
    +button-light
    +round(4)
    +center
    +font(10)
    +user-select
    +right
    margin: 0 4px 4px
    padding: 0 4px
    height: 16px
    line-height: 16px
    font-weight: normal

  .stay
    width: 80px
    input
      +outline
      +right
      margin: 1px 0 0

  .forgot
    +relative
    right: 0
    margin-top: 2px



// JOIN
.joinWrap, .joinButtonWrap
  +pointer
  +clear
  +round(12)
  width: 204px
  margin: 4px 0 -4px -4px
  padding: 2px 0
  background: #fff
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#fff))
  background: -moz-linear-gradient(top, #dcdcdc, #fff)
  .join
    +block
    width: 198px
  .joinButton
    +font(14)
    width: 202px
  .join, .joinButton
    +pointer
    +center
    +bold
    +round(10)
    margin: 0 auto
    height: 32px
    line-height: 32px
    color: #fff !important
    background: #ffa614
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe658), to(#ffa614))
    background: -moz-linear-gradient(top, #ffe658, #ffa614)
    border: 1px solid #ffa614
  .join:hover, .joinButton:hover
    box-shadow: inset 0 14px rgba(255,255,255,0.2)
    -moz-box-shadow: inset 0 14px rgba(255,255,255,0.2)
    -webkit-box-shadow: inset 0 14px rgba(255,255,255,0.2)
  .join:active, .joinButton:active
    background: #ffa614
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa614), to(#ffe658))
    background: -moz-linear-gradient(top, #ffa614, #ffe658)



@import hover_label
@import meta_menu
@import meta_menu_public
@import meta_menu_user
@import settings_panel
@import appearance_panel
@import tag
@import tag_cloud
@import modal_window
@import video
@import starlight













