@import mixins

#entryField


  #showEntry
    .content, .tagEntry, .entryAnalysis
      margin: 0 0 8px


  // STRUCTURE

  #showEntry, #showEntry.noImage
    +round(16)
    width: 662px 
    padding: 8px

    .prev
      +round(16)
      +flat-right
      +font(24)
    .next
      +round(16)
      +flat-left
      +font(24)
    .prev:hover, .stream:hover, .next:hover
      +cancel(16)
    .stream
      +flat-all
    .next, .stream, .prev, .books, .type, .editEntry, .deleteEntry
      +block
      +center
      +bold
      +user-select
      margin: 0 0 8px
      padding: 0 18px
      height: 32px
      line-height: 32px
    .type
      +round(16)
      +left
      +cursor
      +user-select
    .next, .stream, .prev, .books, .editEntry, .deleteEntry
      +right
    .books
      +round(8)
      margin-right: 8px
    .editEntry
      +alpha(60)
      +round(16)
      +font(14)
      +flat-left
      margin-right: 12px
    .deleteEntry
      +alpha(60)
      +round(16)
      +font(14)
      +flat-right
    .editEntry:hover, .deleteEntry:hover
      +alpha(100)

    // HEADER IMAGE & TITLE
    .imageHeader
      +round(16)
      +flat-bottom
      +absolute
      margin: 0
      height: 200px
      width: 662px
      top: 50px

    .tagCloud
      +clear
      +round(16)
      +flat-bottom
      +transparent-dark(75)
      +user-select
      top: 0
      margin: 0
      padding: 12px
      height: 176px
      width: 638px
      // PLACEHOLDER FOR WRAPPING TAGS AROUND .tagToggle
      .toggleWrap
        +right
        height: 40px
        width: 90px

    .tagToggle
      +absolute
      +user-select
      +pointer
      top: 50px
      height: 200px
      width: 662px
      &:hover
        +alpha(90)

    // MOOD ICON
    .moodIcon
      +absolute
      top: 0
      right: 0


    // STARLIGHT COUNT & SHARE OPTIONS
    .starlight_share
      +round(16)
      +absolute
      top: 210px
      right: 20px
      height: 32px
      line-height: 32px
      padding: 0 8px
      img.starlight
        +left
        margin: 6px 4px 0 0
      span
        +left
      hr
        +left
        +alpha(20)
        height: 28px
        width: 1px
        margin: 2px 0 0 8px
      .love, .share, .repost
        +left
        +pointer
        width: 28px
        height: 32px
      .love
        background: url(/images/icons/love-16.png) no-repeat center
        &:hover
          background: url(/images/icons/love-16-selected.png) no-repeat center
      .love.selected
        background: url(/images/icons/love-16-selected.png) no-repeat center
      .share
        background: url(/images/icons/share-16.png) no-repeat center
      .share.selected
        background: url(/images/icons/share-16-selected.png) no-repeat center
      .repost
        background: url(/images/icons/repost-24.png) no-repeat center
      .repost.selected
        background: url(/images/icons/repost-24-selected.png) no-repeat center


    .content
      +round(16)
      +relative
      +flat-top
      +clear



      // EMOTIONS
      .emotionsWrap
        +right
        +relative
        +transparent
        overflow: visible
        margin: 17px 17px 0 0
        width: 70px
        height: 70px


        // EMOTIONS DETAILS & THUMBS
        .emotions-details, .emotions-thumb
          +absolute
          +round(12)
          +bevel-light
          +glow-light(10)

          img.arrow
            +absolute
            top: 20px
            right: -11px

          table.container
            border-collapse: separate
            // width: 60px
            // height: 60px
            border: 0

            tr
              height: auto

              td
                padding: 0

              td.name
                +bold
                text-align: right
                padding: 0 12px 0 0

              td.value
                +round(16)
                padding: 1px
                height: auto
                +indent-light
                border: none

                .amount
                  +round(15)
                  height: 100%

            tr.love
              .amount
                +gradient(#cbfe72, #97e414)
            tr.joy
              .amount
                +gradient(#faf55d, #e3db0e)
            tr.surprise
              .amount
                +gradient(#f3e85c, #e2ad0e)
            tr.anger
              .amount
                +gradient(#eebb6d, #e24a0e)
            tr.mystical
              .amount
                +gradient(#a16be6, #6421bb)
            tr.wonder
              .amount
                +gradient(#62bceb, #0e99e2)
            tr.sadness
              .amount
                +gradient(#8fbfc3, #53979d)
            tr.stress
              .amount
                +gradient(#c86855, #9d5e52)
            tr.confusion
              .amount
                +gradient(#c7c792, #8b8b65)
            tr.fear
              .amount
                +gradient(#ababab, #787878)

        // EMOTIONS DETAILS ONLY
        .emotions-details
          padding: 12px
          // width: 262px
          top: 4px
          right: 80px
          +gradient(#fff, #e5e5e5)

          table.container
            border-collapse: separate
            border-spacing: 4px
            height: 300px
            width: 262px

            td.value
              width: 178px


        // EMOTIONS THUMB ONLY
        .emotions-thumb
          +pointer
          +round(4)
          padding: 1px
          // width: 62px
          // height: 62px
          z-index: 1100
          background: #fff
          +gradient(#fff, #D7D7D7)

          img.arrow
            +hidden

          table.container
            +flat-all
            height: 60px
            width: 60px
            td.name
              +hidden
            td.value
              +flat-all
              +transparent
              width: 100%
              padding: 0

              table.amount
                +flat-all


      // TITLE
      .title
        +round(8)
        +flat-bottom
        +absolute
        +overflow
        +font(21)
        +bold
        +overflow
        text-align: left
        margin: 0 0 0 20px
        top: -40px
        padding: 4px 12px 0
        height: 36px
        line-height: 32px
        max-width: 550px

      // BODY
      .body
        margin: 0
        padding: 34px 34px 16px
        font-size: 17px
        p
          margin-bottom: 18px


      // GALLERY
      ul.gallery
        margin-left: 12px
        list-style: none
        li
          +round(8)
          +left
          margin: 0 4px 4px 0
          height: 122px
          width: 122px
          &.youtube
            img
              +relative
              top: 5px
              left: 5px
            a
              +round(8)
          a
            height: 122px
            width: 122px
            +block
          

      // LINKS
      .entryLinks
        +round(12)
        +clear
        margin: 4px 12px 0
        padding: 8px 4px 0
        .link
          +overflow
          +round(16)
          +left
          +center
          margin: 0 8px 8px 0
          padding: 0 12px
          height: 30px
          line-height: 30px
          img, span
            +left
          img
            margin: 7px 8px 0 0

      // TAG
      .showTags
        padding: 8px 12px

        .hover_label
          width: 140px

        .tagHeader
          +flat-right
          +user-select

        .wrapper
          .tagInput
            +left
            +overflow
            padding: 0
            width: 0px
            height: 34px
            line-height: 34px
            input
              +overflow
              +font(14)
              width: 230px
              margin: 0 0 0 8px
              height: 26px
              line-height: 26px
              background: transparent
              border: none

          .tagThisEntry
            +round(12)
            +flat-left
            +left
            +center
            +bold
            +user-select
            margin: 0 0 16px
            padding: 0 12px
            height: 34px
            line-height: 34px
            +save(17)
          .tagThisEntry.selected
            +save(17)

          // POST TIME & LOCATION
          .postTime, .postLocation
            +round(16)
            +right
            +center
            +user-select
            +cursor
            margin: 0 0 4px 8px
            height: 34px
            line-height: 34px
            padding: 0 8px

          #tag-list // SEE ENTRIES.SASS

      // ANALYSIS
      .entryAnalysis
        padding: 8px
        .analysisHeader
          margin-bottom: 8px
          img
            margin: 7px 8px 0 0

        .analysisTags
          +round(12)
          +overflow
          +clear
          line-height: 32px
          margin: 0 0 8px
          padding: 0 12px 0 0
          .title
            +bold
            height: 32px
            padding-left: 42px
            .arrow
              +right
              height: 32px
              width: 16px
              background: url(/images/icons/arrow-down-16.png) no-repeat center
          .description
            +clear
            margin: 20px 8px 20px 20px
            line-height: 20px
            .source
              +round(12)
              +left
              +center
              margin: 0 0 12px 12px
              padding: 0 12px
              height: 24px
              line-height: 24px


    // COMMENTS
    .commentsPanel
      +round(12)
      margin-bottom: 0
      .commentsHeader
        font-weight: normal
        margin-bottom: 8px
        +user-select
        img
          margin: 7px 8px 0 0
        .counter
          +font(14)
          margin-top: -2px

      .newCommentWrap, .prevCommentWrap
        margin-top: 8px
        +clear
        .avatar
          +round(12)
          +left
          +overflow
          height: 62px
          width: 62px
          margin: 0 8px
          background: url(/images/avatars/default-avatar-tiny.jpg) top left
        .newComment
          +round(12)
          +relative
          +right
          width: 546px
          padding: 8px
          textarea
            +transparent
            +font(16)
            font-family: Calibri, Arial, Helvetica, sans-serif
            height: 60px
            width: 546px
            border: none
            cursor: text
            padding-top: 40px
            margin-top: -40px
          .user
            +round(8)
            +left
            +center
            +cursor
            +user-select
            height: 32px
            line-height: 32px
            padding: 0 16px
            margin: 0 0 12px
          .images, .links, .save
            +right
            +center
            height: 32px
            line-height: 32px
            padding: 0 16px
          .images, .links
            img
              +left
              margin: 11px 8px 0 0
          .links
            img
              margin-top: 9px
          .save
            +absolute
            +round(8)
            +bold
            right: 10px
            bottom: 10px
      .prevCommentWrap
        .prevComment
          +round(12)
          +right
          width: 544px
          padding: 8px
          border: 2px solid white

          .user
            +round(8)

          .delete
            +absolute
            right: 30px
            +alpha(40)
            +pointer
            &:hover
              +alpha(100)

          .user, .postTime
            +left
            +center
            height: 32px
            line-height: 32px
            padding: 0 16px
            margin: 0 0 12px
          ul
            +right
            max-width: 270px
            margin: 0 0 0 8px
            padding: 0
            list-style: none
            li
              +round(8)
              +right
              +overflow
              margin: 0 2px 2px 0
              height: 62px
              width: 62px
              background: #ababab

          .comment
            +clear
            padding: 0 8px 8px 16px
          .rePost
            +round(16)
            +left
            +center
            height: 32px
            line-height: 32px
            padding: 0 12px
            margin: 12px 0 0



// LIGHTBOX

#lightbox-container-image-box
  +round(16)
#lightbox-container-image-data-box
  display: none !important





// COLORS
.light
  #entryField
    #showEntry
      +transparent-light(50)
      +glow-light(40)

      .type
        +bevel-light
        +border-light

      .next, .stream, .prev
        color: #555
        +button-light
        +shine-light(16)

      .editEntry
        +button-light
        +bevel-light
        +confirm(15)

      .deleteEntry
        +button-light
        +bevel-light
        +delete(15)

      .books
        +button-light

      // STARLIGHT COUNT & SHARE OPTIONS
      .starlight_share
        +transparent-light(70)
        +border-light

      // MOOD ICON
      .moodIcon
        +glow-light(10)
        &:hover
          +cursor
          border: 1px solid #bbb


      // CONTENT
      .content
        +flat-light

        // TITLE
        .title
          +flat-light

        // IMAGE GALLERY
        ul.gallery
          li
            +button-light

        // ENTRY LINKS
        .entryLinks
          background: #eee
          .link
            +button-light
            +bevel-light

        // POST TIME & LOCATION
        .postTime, .postLocation
          +indent-light
          border: 1px solid #f1f1f1

        // TAG
        .showTags
          .tagHeader
            +indent-light
            +button-light

          .tagThisEntry
            +button-light
            +shine-light(17)
          .tagThisEntry.selected
            +button-dark
            +shine-dark(17)
            color: #ddd

          .tagInput
            +input-light(small)

        // ANALYSIS
        .entryAnalysis
          .analysisHeader
            +indent-light
            +button-light

          // ANALYSIS TAGS
          .analysisTags
            +bevel-light
            +button-light

            .description
              .source
                +button-light
                +bevel-light

      // COMMENTS
      .commentsPanel
        +panel-light
        +shine-light-alpha(16)

        .commentsHeader
          +indent-light
          +button-light

        .newCommentWrap
          .avatar
            +border-light
          .newComment
            +input-light(large)
            .user
              +border-light
              +bevel-light
            .save
              +shine-light(16)
              +button-light
              +save(16)
            textarea
              color: #333

        .prevCommentWrap
          .avatar
            +button-light
          .prevComment
            +input-light(small)
            border: 2px solid #fff
            .user
              +button-light
              +bevel-light
            ul
              li
                +button-light
            .rePost
              +bevel-light
              +button-light

// COLORS
.dark
  #entryField
    #showEntry
      +transparent-dark(50)
      +glow-dark(40)

      .type
        +bevel-dark
        +border-dark

      .next, .stream, .prev
        color: #ddd
        +button-dark
        +shine-dark(15)

      .editEntry
        +button-dark
        +bevel-dark
        +confirm(15)

      .deleteEntry
        +button-dark
        +bevel-dark
        +delete(15)

      .books
        +button-dark

      // STARLIGHT COUNT & SHARE OPTIONS
      .starlight_share
        +transparent-dark(50)
        +border-dark

      // MOOD ICON
      .moodIcon
        +glow-light(10)
        &:hover
          +cursor
          border: 1px solid #555

      // CONTENT
      .content
        +flat-dark

        // TITLE
        .title
          +flat-dark

        // IMAGE GALLERY
        ul.gallery
          li
            +button-dark

        // ENTRY LINKS
        .entryLinks
          background: #222
          .link
            +button-dark
            +bevel-dark
            a
              color: #ccc

        // POST TIME & LOCATION
        .postTime, .postLocation
          +indent-dark
          border: 1px solid #333

        // TAG
        .showTags
          .tagHeader
            +indent-dark
            +button-dark

          .tagThisEntry
            +button-dark
            +shine-dark(17)
          .tagThisEntry.selected
            +button-light
            +shine-light(17)
            color: #333

          .tagInput
            +input-dark(small)
            input
              color: #ddd

      // ANALYSIS
      .entryAnalysis
        .analysisHeader
          +indent-dark
          +button-dark

        // ANALYSIS TAGS
        .analysisTags
          +bevel-dark
          +button-dark

          .description
            .source
              +button-dark
              +bevel-dark

      // COMMENTS
      .commentsPanel
        +panel-dark
        +shine-dark-alpha(24)

        .commentsHeader
          +indent-dark
          +button-dark

        .newCommentWrap
          .avatar
            +border-dark
          .newComment
            +input-dark(large)
            .user
              +border-dark
              +bevel-dark
            .save
              +shine-dark(16)
              +button-dark
              +save(16)
              color: #fff
            textarea
              color: #ddd

        .prevCommentWrap
          .avatar
            +button-dark
          .prevComment
            +input-dark(small)
            border: 2px solid #000
            .user
              +button-dark
              +bevel-dark
            ul
              li
                +button-dark
            .rePost
              +bevel-dark
              +button-dark

