
#entryField

  /*********** SHOW ENTRY SHARED STYLES***********/
  #showEntry
    .content, .tagEntry, .entryAnalysis
      margin: 0 0 8px

  /*********** SHOW ENTRY ***********/
  // STRUCTURE
  #showEntry, #showEntry.noImage
    +round(16)
    width: 662px 
    padding: 8px

    a.prev
      +round(16)
      +flat-right
      +font(24)
    a.next
      +round(16)
      +flat-left
      +font(24)
    .stream
      +flat-all
    a.next, .stream, a.prev, .books, .type, .editEntry, .deleteEntry
      +block
      +center
      +bold
      margin: 0 0 8px
      padding: 0 18px
      height: 32px
      line-height: 32px
    .type
      +round(16)
      +left
      +cursor
    a.next, .stream, a.prev, .books, .editEntry, .deleteEntry
      +right
    .books
      +round(8)
      margin-right: 8px
    a.editEntry
      +alpha(60)
      +round(16)
      +font(14)
      margin-right: 12px
    a.deleteEntry
      +alpha(60)
      +round(16)
      +font(14)
      margin-right: 12px

    .content
      +round(16)
      +relative
      +clear

      // HEADER IMAGE & TITLE
      .imageHeader
        +round(16)
        +flat-bottom
        margin: 0
        height: 200px
        width: 662px

      // MOOD ICON
      .moodIcon
        +absolute
        top: 0
        right: 0

      // STARLIGHT COUNT & SHARE OPTIONS
      .starlight_share
        +round(16)
        +absolute
        top: 156px
        right: 12px
        height: 32px
        line-height: 32px
        padding: 0 8px
        img.starlight
          +left
          margin: 6px 4px 0 0
        span
          +left
        hr
          +left
          +alpha(20)
          height: 28px
          width: 1px
          margin: 2px 0 0 8px
        .love, .share, .repost
          +left
          +pointer
          width: 28px
          height: 32px
        .love
          background: url(/images/icons/love-16.png) no-repeat center
        .love.selected
          background: url(/images/icons/love-16-selected.png) no-repeat center
        .share
          background: url(/images/icons/share-16.png) no-repeat center
        .share.selected
          background: url(/images/icons/share-16-selected.png) no-repeat center
        .repost
          background: url(/images/icons/repost-24.png) no-repeat center
        .repost.selected
          background: url(/images/icons/repost-24-selected.png) no-repeat center

      // TITLE
      .title
        +round(8)
        +flat-bottom
        +absolute
        +overflow
        +center
        +font(22)
        margin: 0 0 0 20px
        top: 164px
        padding: 0 12px
        height: 36px
        line-height: 32px
        max-width: 620px

      // BODY
      .body
        margin: 0
        padding: 36px

      // GALLERY
      ul.gallery
        margin: 0 0 0 20px
        padding: 4px
        list-style: none
        li
          +round(8)
          +left
          margin: 0 2px 2px 0
          height: 120px
          width: 120px
          background: #ababab
          a
            height: 120px
            width: 120px
            +block
          

      // SHARING
      .entryLinks
        +round(8)
        +clear
        margin: 8px 8px 0
        padding: 8px
        background-color: #ddd
        .link
          +round(16)
          +left
          +center
          margin: 0 8px 0 0
          padding: 0 12px
          height: 30px
          line-height: 30px
          img, span
            +left
          img
            margin: 7px 8px 0 0

      // TAG
      .showTags
        padding: 8px
        margin: 0 0 8px

        .tagHeader
          +flat-right

        .wrapper
          .tagInput
            +left
            +overflow
            padding: 0
            height: 34px
            line-height: 34px
            input
              +overflow
              +font(14)
              width: 230px
              margin: 0 0 0 8px
              height: 26px
              line-height: 26px
              background: transparent
              border: none

          .tagThisEntry
            +round(12)
            +flat-left
            +left
            +center
            +bold
            margin: 0 0 8px
            padding: 0 12px
            height: 34px
            line-height: 34px
            +save(17)
            span
              color: green

          // POST TIME & LOCATION
          .postTime, .postLocation
            +round(16)
            +right
            +center
            margin: 0 8px 0 0
            height: 34px
            line-height: 34px
            padding: 0 8px

          #tag-list
          // SEE ENTRIES.SASS

      // ANALYSIS
      .entryAnalysis
        padding: 8px
        .analysisHeader
          margin-bottom: 8px
          img
            margin: 7px 8px 0 0

        .analysisTags
          +round(12)
          +overflow
          +clear
          line-height: 32px
          margin: 0 0 8px
          padding: 0 12px 0 0
          .title
            +bold
            height: 32px
            padding-left: 42px
            .arrow
              +right
              height: 32px
              width: 16px
              background: url(/images/icons/arrow-down-16.png) no-repeat center
          .description
            +clear
            margin: 20px 8px 20px 20px
            line-height: 20px
            .source
              +round(12)
              +left
              +center
              margin: 0 0 12px 12px
              padding: 0 12px
              height: 24px
              line-height: 24px


    // COMMENTS
    .commentsPanel
      +round(12)
      margin-bottom: 0
      .commentsHeader
        margin-bottom: 8px
        img
          margin: 7px 8px 0 0
        .counter
          +right

      .newCommentWrap, .prevCommentWrap
        margin-top: 8px
        +clear
        .avatar
          +round(12)
          +left
          +overflow
          height: 62px
          width: 62px
          margin: 0 8px
          background: url(/images/avatars/default-avatar-tiny.jpg) top left
        .newComment
          +round(12)
          +right
          width: 546px
          padding: 8px
          textarea
            +transparent
            height: 90px
            width: 546px
            border: none
          .images, .links, .save
            +right
            +center
            height: 32px
            line-height: 32px
            padding: 0 16px
          .images, .links
            img
              +left
              margin: 11px 8px 0 0
          .links
            img
              margin-top: 9px
          .save
            +round(16)
      .prevCommentWrap
        .prevComment
          +round(12)
          +right
          min-height: 112px
          width: 544px
          padding: 8px
          border: 2px solid white
          .user
            +round(8)
          .user, .postTime
            +left
            +center
            height: 32px
            line-height: 32px
            padding: 0 16px
            margin: 0 0 12px
          ul
            +right
            max-width: 270px
            margin: 0 0 0 8px
            padding: 0
            list-style: none
            li
              +round(8)
              +right
              +overflow
              margin: 0 2px 2px 0
              height: 62px
              width: 62px
              background: #ababab

          .comment
            +clear
          .rePost
            +round(16)
            +left
            +center
            height: 32px
            line-height: 32px
            padding: 0 12px
            margin: 12px 0 0


  // SHOW ENTRY - NO IMAGE
  #showEntry.noImage
    .content

      // HEADER IMAGE & TITLE
      .imageHeader
        +hidden

      // MOOD ICON
      .moodIcon
        +relative
        +right

      // STARLIGHT COUNT & SHARE OPTIONS
      .starlight_share
        +relative
        +right
        top: 0
        right: 0
        margin: 16px 12px 8px 8px

      // TITLE
      .title
        +left
        +clear
        text-align: left
        height: auto
        position: relative
        top: 0
        margin: -20px 0 0 20px
        max-width: 540px

      // BODY
      .body
        +clear
        padding: 12px 36px 36px

      // GALLERY
      ul.gallery
        +hidden



// COLORS
.light
  #entryField
    #showEntry
      +transparent-light(50)
      +glow-light(40)

      .type
        +bevel-light
        +border-light

      a.next, a.prev
        color: #ddd
      a.next, .stream, a.prev
        +button-light
        +shine-light(18)

      a.editEntry
        +button-light
        +bevel-light
        +confirm(15)

      .deleteEntry
        +button-light
        +bevel-light
        +delete(15)

      .books
        +button-light

      // CONTENT
      .content
        +flat-light

        // HEADER IMAGE
        .imageHeader

        // STARLIGHT COUNT & SHARE OPTIONS
        .starlight_share
          +transparent-light(50)
          +border-light

        // MOOD ICON
        .moodIcon
          +glow-light(10)
          &:hover
            +cursor
            border: 1px solid #bbb

        // TITLE
        .title
          +transparent-light(50)

        // IMAGE GALLERY
        ul.gallery
          li
            +button-light

        // ENTRY LINKS
        .entryLinks
          .link
            +button-light
            +bevel-light

        // POST TIME & LOCATION
        .postTime, .postLocation
          +indent-light
          +border-light

        // TAG
        .showTags
          .tagHeader
            +indent-light
            +button-light

          .tagThisEntry
            +button-light
            +shine-light(17)

          .tagInput
            +input-light

        // ANALYSIS
        .entryAnalysis
          .analysisHeader
            +indent-light
            +button-light

          // ANALYSIS TAGS
          .analysisTags
            +bevel-light
            +button-light

            .description
              .source
                +button-light
                +bevel-light

      // COMMENTS
      .commentsPanel
        +panel-light
        +shine-light-alpha(16)

        .commentsHeader
          +indent-light
          +button-light

        .newCommentWrap
          .avatar
            +button-light
          .newComment
            +inputTextarea-light
            .save
              +shine-light(16)
              +button-light
              +save(16)
            textarea
              color: #333

        .prevCommentWrap
          .avatar
            +button-light
          .prevComment
            +input-light
            border: 2px solid #fff
            .user
              +button-light
              +bevel-light
            ul
              li
                +button-light
            .rePost
              +bevel-light
              +button-light

// COLORS
.dark
  #entryField
    #showEntry
      +transparent-dark(50)
      +glow-dark(40)

      .type
        +bevel-dark
        +border-dark

      a.next, .stream, a.prev
        +button-dark
        +shine-dark(18)

      a.editEntry
        +button-dark
        +bevel-dark
        +confirm(15)

      a.deleteEntry
        +button-dark
        +bevel-dark
        +delete(15)

      .books
        +button-dark

      // CONTENT
      .content
        +flat-dark

        // HEADER IMAGE
        .imageHeader

        // STARLIGHT COUNT & SHARE OPTIONS
        .starlight_share
          +transparent-dark(50)
          +border-dark

        // MOOD ICON
        .moodIcon
          +glow-light(10)
          &:hover
            +cursor
            border: 1px solid #555

        // TITLE
        .title
          +transparent-dark(50)

        // IMAGE GALLERY
        ul.gallery
          li
            +button-dark

        // ENTRY LINKS
        .entryLinks
          .link
            +button-dark
            +bevel-dark

        // POST TIME & LOCATION
        .postTime, .postLocation
          +indent-dark
          +border-dark

        // TAG
        .showTags
          .tagHeader
            +indent-dark
            +button-dark

          .tagThisEntry
            +button-dark
            +shine-dark(17)

          .tagInput
            +input-dark
            input
              color: #ddd

      // ANALYSIS
      .entryAnalysis
        .analysisHeader
          +indent-dark
          +button-dark

        // ANALYSIS TAGS
        .analysisTags
          +bevel-dark
          +button-dark

          .description
            .source
              +button-dark
              +bevel-dark

      // COMMENTS
      .commentsPanel
        +panel-dark
        +shine-dark-alpha(16)

        .commentsHeader
          +indent-dark
          +button-dark

        .newCommentWrap
          .avatar
            +button-dark
          .newComment
            +inputTextarea-dark
            .save
              +shine-dark(16)
              +button-dark
              +save(16)
            textarea
              color: #ddd

        .prevCommentWrap
          .avatar
            +button-dark
          .prevComment
            +input-dark
            border: 2px solid #000
            .user
              +button-dark
              +bevel-dark
            ul
              li
                +button-dark
            .rePost
              +bevel-dark
              +button-dark



// SHOW ENTRY - NO IMAGE
// COLORS
.light
  #entryField
    #showEntry.noImage

      // MOOD ICON
      .moodIcon
        +glow-light(10)
        &:hover
          +cursor
          border: 1px solid #bbb

      // TITLE
      .title
        background: none


.dark
  #entryField
    #showEntry.noImage

      // STARLIGHT COUNT & SHARE OPTIONS
      .starlight_share
        +transparent-light(50)
        +border-dark

      // MOOD ICON
      .moodIcon
        +glow-dark(10)
        &:hover
          +glow-dark(10)
          +cursor
          border: 1px solid #555

      // TITLE
      .title
        background: none