.tagCloud div
  +user-select
  +left
  +round(8)
  text-decoration: none
  padding: 1px 5px

.tagCloud
  .s0
    +font(23)
    +bold
    line-height: 21px
  .s1
    +font(21)
    line-height: 19px
  .s3
    +font(19)
    line-height: 17px
  .s4
    +font(18)
    line-height: 16px
  .s5
    +font(17)
    line-height: 15px
  .s6, .s7
    +font(16)
    line-height: 14px
  .s8, .s9, .s10, .s11
    +font(15)
    line-height: 13px
  .s12, .s13, .s14, .s15
    +font(14)
    line-height: 12px

#showEntry .tagCloud
  .s0
    +font(68)
    line-height: 48px
  .s1
    +font(62)
    +bold
    line-height: 42px
  .s3
    +font(58)
    line-height: 36px
  .s4
    +font(50)
    line-height: 34px
  .s5
    +font(44)
    line-height: 20px
  .s6, .s7
    +font(18)
    line-height: 16px
  .s8, .s9, .s10, .s11
    +font(15)
    line-height: 15px
  .s12, .s13, .s14, .s15
    +font(14)
    line-height: 12px


#showEntry .tagCloud div
  text-decoration: none
  padding: 0 16px






// COLORS
.light .tagCloud, .dark .tagCloud
  .s0.white
    color: #fff 
  .s0
    color: #88e3f7
  .s1
    color: #55ccff
  .s2
    color: #3ea7eb
  .s3, .s4, .s5
    color: #3086cf
  .s6, .s7, .s8, .s9, .s10
    color: #1265c2
  .s11, .s12, .s13, .s14, .s15
    color: #0049a2



