.tagCloud div
  +user-select
  +right
  +round(8)
  text-decoration: none
  padding: 1px 5px
  line-height: 80%

.thumb-2d .tagCloud

  .s0
    +font(23)
    +bold
    text-shadow: rgba(0,0,0,0.4) 0 0 40px
  .s1
    +font(21)
    text-shadow: rgba(0,0,0,0.4) 0 0 30px
  .s3
    +font(19)
    text-shadow: rgba(0,0,0,0.4) 0 0 20px
  .s4
    +font(18)
    text-shadow: rgba(0,0,0,0.4) 0 0 15px
  .s5
    +font(17)
    text-shadow: rgba(0,0,0,0.4) 0 0 11px
  .s6, .s7
    +font(16)
  .s8, .s9, .s10, .s11
    +font(15)
  .s12, .s13, .s14, .s15
    +font(14)





// SHOW ENTRY MODE

#showEntry .tagCloud div
  text-decoration: none
  padding: 0 16px


#showEntry .tagCloud
  .s0
    +font(68)
    text-shadow: rgba(0,0,0,0.7) 0 0 40px
  .s1
    +font(62)
    +bold
    text-shadow: rgba(0,0,0,0.6) 0 0 40px
  .s3
    +font(58)
    text-shadow: rgba(0,0,0,0.6) 0 0 30px
  .s4
    +font(50)
    text-shadow: rgba(0,0,0,0.6) 0 0 30px
  .s5
    +font(44)
    line-height: 20px
    text-shadow: rgba(0,0,0,0.5) 0 0 30px
  .s6, .s7
    +font(32)
    line-height: 16px
    text-shadow: rgba(0,0,0,0.4) 0 0 30px
  .s8, .s9, .s10, .s11
    +font(18)

  .s12, .s13, .s14, .s15
    +font(14)





// 1D THUMBS

.thumb-1d .tagCloud div
  padding: 1px 8px


.thumb-1d .tagCloud
  .s0
    +font(32)
    text-shadow: rgba(0,0,0,0.4) 0 0 40px
  .s1
    +font(26)
    text-shadow: rgba(0,0,0,0.4) 0 0 30px
    +bold
  .s3
    +bold
    +font(22)
    text-shadow: rgba(0,0,0,0.3) 0 0 20px
  .s4
    +font(19)
    text-shadow: rgba(0,0,0,0.4) 0 0 16px
    line-height: 130%
  .s5
    +font(15)
    +bold
    text-shadow: rgba(0,0,0,0.3) 0 0 12px
  .s6, .s7
    +font(17)
  .s8, .s9, .s10, .s11
    +font(16)
  .s12, .s13, .s14, .s15
    +bold
    +font(14)
  .s15
    line-height: 400%












// COLORS
.light .tagCloud .s0
  color: #6bd3ff

.light .tagCloud, .dark .tagCloud
  .s0.white
    color: #fff 
  .s0
    color: #88e3f7
  .s1
    color: #55ccff
  .s2
    color: #3ea7eb
  .s3, .s4, .s5
    color: #3086cf
  .s5
    line-height: 110%
  .s6, .s7, .s8, .s9, .s10
    color: #1265c2
    line-height: 110%
  .s11, .s12, .s13, .s14, .s15
    color: #0049a2
    line-height: 300%




// LIGHT 1D OVERRIDES

.thumb-1d .tagCloud
  .s0
    text-shadow: #fff 0 0 20px
  .s1
    text-shadow: #fff 0 0 20px
  .s3
    text-shadow: #fff 0 0 20px
  .s4
    text-shadow: #fff 0 0 10px
  .s5
    text-shadow: rgba(255,255,255,0.8) 0 0 12px




