

#entryField .matrix, #home .matrix

  // HOVER
  .thumb-2d:hover
    z-index: 84

    .fadedBack
      .detailsTop, .detailsBottom, .comments, .sharing
        +block



  .thumb-2d
    +round(16)
    +pointer
    +left
    +relative
    +overflow
    margin: 0 10px 10px 0
    z-index: 80

    .link
      +block
      +absolute
      width: 200px
      height: 300px
      z-index: 1000

    .fadedBack
      +round(15)
      width: 200px
      height: 300px
      z-index: 82
      .image
        +absolute
        +round(15)
        +flat-bottom
        top: 0px
        width: 200px
        height: 100px

    .watermark
      +georgia
      +alpha(10)
      +absolute
      +center
      +font(45)
      text-transform: uppercase
      width: 200px
      height: 180px
      line-height: 30px
      top: 0
      z-index: -1

    .detailsTop, .detailsBottom, .title
      z-index: 84
      .date, .location, .comments, .sharing
        +round(12)
        +center
        +font(11)
        margin: 4px
        padding: 4px 8px


    .detailsTop
      +absolute
      +hidden
      width: 200px
      z-index: 100
      table
        +right
        width: 164px
        border-collapse: separate
        border-spacing: 4px
      .date
        +overflow
        white-space: nowrap
      .entryType
        +round(8)
        border-top-left-radius:         12px
        -moz-border-radius-topleft:     12px
        -webkit-border-radius-topleft:  12px
        +left
        width: 32px
        height: 32px
        margin: 4px 0 0 4px

    .detailsBottom
      +absolute
      bottom: 0
      width: 100%

      .comments
        +left
        +hidden
        &.new
          background: rgba(255,0,0,0.80)
          display: block !important
        img
          margin: 0 2px -5px 0
      .sharing
        +right
        +hidden
        img
          margin: -1px 2px -4px -2px

    .title
      +absolute
      +center
      +font(17)
      line-height: 16px
      +bold
      top: 111px
      width: 195px
      margin-left: 5px

    .tagCloud
      +absolute
      z-index: 20
      bottom: 6px
      padding: 0 16px
      max-height: 140px



  // PAGINATION
  .thumb-2d.pagination
    width: 196px
    height: 296px
    .icon
    .all




// COLORS
.light #entryField .matrix, .light #home .matrix
  .thumb-2d
    background-color: #fff !important

    .detailsTop, .detailsBottom, .title
      .date, .location, .comments, .sharing
        +transparent-dark(70)
        color: #fff
      .entryType
        +transparent-dark(70)

  .fadedBack
    background: -moz-linear-gradient(top, rgba(255,255,255,0.0), #fff 160px, #aaa)
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)), color-stop(.6,#fff), to(#aaa))
    // background: url("/images/gradients/thumb-2d-light.png") repeat-x top transparent
  .thumb-2d:hover
    +glow-light(40)


.dark #entryField .matrix,.dark #home .matrix
  .thumb-2d
    background-color: #3a3a3a !important

    .detailsTop, .detailsBottom, .title
      .date, .location, .comments, .sharing
        +transparent-light(70)
        color: #000
      .entryType
        +transparent-light(70)

  .fadedBack
    background: -moz-linear-gradient(top, rgba(0,0,0,0.0), #000 240px, #000)
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.0)), color-stop(.8,#000), to(#000))
    // background: url("/images/gradients/thumb-2d-dark.png") repeat-x top transparent
  .thumb-2d:hover
    +glow-dark(40)


  .thumb-2d.pagination
    border: 2px solid #363636
    background: -moz-linear-gradient(top, #363636, #000)
    background: -webkit-gradient(linear, center top, center bottom, from(#363636), to(#000))

    &:hover
      background: -moz-linear-gradient(top, rgba(0,0,0,0.0), #000 240px, #000)
      background: -webkit-gradient(linear, center top, center bottom, from(#363636), to(#000))
      border: 2px solid #fff



