@import mixins



// STRUCTURE
#entryField, #home
  .matrix

    .thumb-1d:hover, .thumb-1d.noImage:hover
      z-index: 101

      .left .details .starlight, .left .commentCount
        display: block



    .thumb-1d, .thumb-1d.noImage
      +block
      +round(16)
      +flat-bottom
      +relative
      +clear
      +pointer
      +overflow
      z-index: 100
      margin: 0 0 10px
      padding: 0
      width: 670px
      height: 220px
      border-bottom: 4px solid rgb(80,80,80)
      //
        .thumbBack
          +hidden


      // USERNAME + AVATAR

      .user
        +round(8)
        +absolute
        top: 8px
        left: 8px
        padding: 0 12px 0 0
        height: 30px
        line-height: 30px
        z-index: 100

        .avatar
          +round(7)
          +flat-right
          +overflow
          +left
          width: 30px
          height: 30px

        .name
          +bold
          +right
          margin: 0 0 0 12px
          font-size: 16px


      // LEFT SIDE
      .left
        +absolute
        width: 352px
        
        .image
          z-index: 0


        // COMMENT COUNT
        .commentCount
          +hidden
          +absolute
          top: 8px
          right: 8px
          background: url(/images/icons/comments-16.png) no-repeat right

          .counter
            +round(12)
            +right
            +center
            +bold
            +font(14)
            margin: 0 20px 0 0
            height: 16px
            line-height: 16px
            padding: 1px 10px



        // IMAGE
        .image
          width: 352px
          height: 96px
          +round(14)
          +flat-right
          +flat-bottom



        // TITLE & TEXT
        h1.title, p.text
          +overflow
          width: 330px
        h1.title
          +font(24)
          margin: 8px 8px 0 8px
          height: 30px
        h2.titleWatermark
          display: none
        p.text
          margin: 4px 8px 0 8px
          height: 40px



        // POST DETAILS
        .details
          +absolute
          top: 186px
          left: 8px
          height: 26px
          width: 340px
          .rePost, .date, .starlight
            +center
            +left
            padding: 0 8px

          // REPOSTED BY
          .rePost
            +round(4)
            +font(10)
            margin: 4px 8px 0 0
            padding-left: 24px
            height: 16px
            line-height: 14px
            background: url(/images/icons/repost-18.png) no-repeat 4px center

          // DATE
          .date
            +bold
            +font(11)
            margin: 0

          // STARLIGHT
          .starlight
            +hidden
            +round(16)
            +right
            +font(12)
            height: 24px
            line-height: 26px
            margin-top: -12px
            img
              margin: 4px 4px 0 0
            span
              +right
              height: 24px
              line-height: 24px


        .divider
          +absolute
          top: 0
          left: 352px
          width: 1px
          height: 220px
          background: #a3a3a5
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(122,122,122,1.0)), to(rgba(122,122,122,0.0)))
          background: -moz-linear-gradient(top, rgba(122,122,122,1.0), rgba(122,122,122,0.0))



      // RIGHT SIDE
      table.right
        +absolute
        +overflow
        left: 358px
        height: 164px

        td
          border-spacing: 0
          padding: 0
          
          .tagCloud
            +block
            height: 400px


        // TOP
        td.top
          max-height: 62px

          // ENTRY IMAGES AND YOUTUBE LINKS

          ul
            list-style: none
            margin: 0
            padding: 0
            width: 320px

            li
              +left
              margin: 6px 2px 0 0
              height: 60px
              width: 60px
              &.youtube a img
                margin: 6px

            li a
              height: 60px
              width: 60px
              +block


        // BOTTOM
        td.entryTagList
          +overflow
          width: 308px
          border: none
          margin-left: 4px
          padding: 0
          vertical-align: bottom
          .tag
            +round(8)
            +left
            +center
            height: 24px
            line-height: 24px
            margin: 6px 6px 0 0
            padding: 0 8px
            color: #fff
            background: #7a7a7a









    // 1D THUMBS - NO IMAGE
    // STRUCTURE
    .thumb-1d.noImage
      height: 158px
      &:hover
        .left
          h1.title
            +block

      .left
        h1.title
          +absolute
          display: none
          top: 42px

        h2.titleWatermark
          +block
          +font(48)
          +alpha(10)
          +absolute
          +overflow
          height: 56px
          top: 26px
          left: 8px
          font-weight: normal

        p.text
          +absolute
          margin: 4px 8px 0 8px
          top: 82px
          height: 40px
        .image
          +hidden

        .divider
          +hidden

        // POST DETAILS
        .details
          +absolute
          top: 138px






// THUMB 1D VIDEO EXPAND
#entryField, #home
  .matrix

    .thumb-1d.videoExpand, .thumb-1d.noImage.videoExpand
      height: auto
      //
        .thumbBack
          +block












// 1D ENTRY THUMBS
// COLORS
.light

  #entryField, #home

    .matrix
      .thumb-1d, .thumb-1d.noImage
        background: -moz-linear-gradient(top, rgba(243,243,243,0.3), rgba(243,243,243,1.0) 100px, rgba(243,243,243,1.0))
        background: -webkit-gradient(linear, center top, center bottom, from(rgba(243,243,243,0.3)), color-stop(.35,rgba(243,243,243,1.0)), to(rgba(243,243,243,1.0)))
        // background: transparent url(/images/slices/gradient-light-230.png) repeat-x top left
        &:hover
          +glow-light(40)


        // USERNAME + AVATAR
        .user
          +button-light
          +gradient(#fff, #e4e4e4)
          .name
            color: #333

        // LEFT SIDE
        .left

          .commentCount
            .counter
              +transparent-dark(60)
              color: #ccc

          // ENTRY THUMB DETAILS
          .details
            // REPOSTED BY
            .rePost
              +border-light
            // STARLIGHT
            .starlight
              +transparent-dark(30)
              +border-dark
              color: #fff
              +bold


        // GALLERY
        table.right td.top ul li
          +button-light



.dark
  #entryField, #home
    .matrix
      .thumb-1d, .thumb-1d.noImage
        background: -moz-linear-gradient(top, rgba(15,15,15,0.3), rgba(15,15,15,1.0) 100px, rgba(15,15,15,1.0))
        background: -webkit-gradient(linear, center top, center bottom, from(rgba(15,15,15,0.3)), color-stop(.35,rgba(15,15,15,1.0)), to(rgba(15,15,15,1.0)))
        // background: transparent url(/images/slices/gradient-dark-230.png) repeat-x top left
        &:hover
          +glow-dark(40)


        // USERNAME + AVATAR
        .user
          +button-dark
          +gradient(#1d1d1d, #000)
          .name
            color: #ddd

        // LEFT SIDE
        .left
          color: #ccc

          .commentCount
            .counter
              +border-dark

          // ENTRY THUMB DETAILS
          .details
            // REPOSTED BY
            .rePost
              +border-dark
            // STARLIGHT
            .starlight
              +transparent-light(10)
              +border-dark

        // GALLERY
        table.right td.top ul li
          +button-dark

      .thumb-1d.noImage .left .commentCount .counter
        +transparent-light(10)
      .thumb-1d .commentCount .counter
        +transparent-dark(50)














// 1D ENTRY THUMBS - NO IMAGE
// COLORS
.light
  #entryField, #home
    .matrix
      .noImage

        // LEFT SIDE
        .left
          .user
            +border-dark
          .commentCount
            .counter
              +transparent-dark(40)
              color: #fff


.dark
  #entryField, #home
    .matrix
      .noImage

        // LEFT SIDE
        .left
          .user
            +border-dark
          .commentCount
            .counter
              +transparent-light(10)
              color: #ccc






