/******** 2D ENTRY THUMBS LIGHT / DARK ********/
#entryField, #home
  .matrix

    /******** 2D ENTRY THUMBS ********/
    /* HOVER */
    .thumb-2d:hover
      z-index: 84
      .fadedBack
        .detailsTop, .detailsBottom, .title, .comments, .sharing
          +block

    /* */
    .thumb-2d
      +round(16)
      +pointer
      +left
      +relative
      +overflow
      background-repeat: no-repeat
      margin: 0 10px 10px 0
      z-index: 80

      .link
        +block
        +absolute
        width: 198px
        height: 298px
        z-index: 10000

      .fadedBack
        +round(15)
        width: 198px
        height: 298px
        z-index: 82

      .watermark
        +georgia
        +alpha(10)
        +absolute
        +center
        +font(45)
        width: 198px
        height: 180px
        line-height: 30px
        top: 8px
        z-index: -1

      .detailsTop, .detailsBottom, .title
        z-index: 84
        .date, .location, .comments, .sharing
          +transparent-dark(50)
          +round(12)
          +center
          +font(11)
          color: #fff
          margin: 4px
          padding: 4px 8px


      .detailsTop
        +absolute
        +hidden
        width: 198px
        z-index: 100
        table
          border-collapse: separate
          border-spacing: 4px
        .date
          +overflow
          white-space: nowrap

      .detailsBottom
        +absolute
        bottom: 0
        width: 100%

        .comments
          +left
          +hidden
          &.new
            background: rgba(255,0,0,0.80)
            display: block !important
          img
            margin: 0 2px -5px 0
        .sharing
          +right
          +hidden
          img
            margin: -1px 0 -4px 2px

      .title
        +absolute
        +hidden
        +center
        +font(21)
        top: 90px
        line-height: 21px
        width: 192px

      .tagCloud
        +absolute
        z-index: 20
        bottom: 6px
        padding: 0 16px
        max-height: 180px

// COLORS
.light
  #entryField, #home
    .matrix
      .thumb-2d
        background-color: #fff !important
        border: 1px solid #ccc
      .fadedBack
        background: url("/images/gradients/thumb-2d-light.png") repeat-x top transparent
      .thumb-2d:hover
        +glow-light(40)
.dark
  #entryField, #home
    .matrix
      .thumb-2d
        background-color: #3a3a3a !important
        border: 1px solid #111
      .fadedBack
        background: url("/images/gradients/thumb-2d-dark.png") repeat-x top transparent
      .thumb-2d:hover
        +glow-dark(40)
