// LINKS
// removes dotted line around links
a:active, a:focus, select:active, select:focus, select::-moz-focus-inner
  outline: none
  border: 0
.light a, .light a:hover, .light a:focus, .light a:visited, .dark a, .dark a:hover, .dark a:focus, .dark a:visited
  text-decoration: none
.dark a, .dark a:visited
  color: #fff
.light a, .light a:visited
  color: #000
.light a img, .dark a img
  border: 0px



// IN-PAGE LINKS
.body, .comment
  a:link, a:visited
    color: #3086CF
    text-decoration: none
  a:hover
    color: #3EA7EB
    text-decoration: underline


// IN-PAGE YOUTUBE LINKS
.youtube, .vimeo, .soundcloud
  .img
    +left
    display: inline-block
    width: 16px
    height: 21px
    margin: 0 4px -12px 0
    background: asset-url("icons/play-16.png") no-repeat center
  &:hover .img
    background: asset-url("icons/play-16-hover.png") no-repeat center
  &:active .img
    background: asset-url("icons/play-16-active.png") no-repeat center
