<div class="commentsPanel wrapper">
  <div class="trigger showhide">
    <div class="commentsHeader headers">
      <div class="img"></div>
      <b>2 comments</b>
    </div>
  </div>
  <div class="clear"></div>
  <div class="target showhide">
    <a name="bottom" href="#"></a>
    <div class="newCommentWrap">
      <div style="background-image: url('/images/uploads/1-avatar-64.jpg')" class="avatar"></div>
      <div class="newComment">
        <form method="post" id="new_comment" class="new_comment" action="/entries/9/comments" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="t7lViCVc55pqL6aC8oe4FiZQjzdIxLaI+9BH6dZVQaQ=" name="authenticity_token"></div>
          <input type="hidden" value="1" name="comment[user_id]" id="comment_user_id">
          <textarea rows="20" placeholder="add comment..." name="comment[body]" id="comment_body" cols="40" style="overflow: hidden;"></textarea>
          <input type="submit" value="post" name="commit" id="comment_submit" class="save" style="display: none;">
          <div class="clear"></div>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>