<div class="trigger showhide">
  <div class="commentsHeader headers">
    <div class="count">
      <div class="img"></div>
      <span><%= totalCount %></span>
    </div>
    comments
  </div>
</div>
<div class="clear"></div>
<div class="target showhide">
  <div class="showAll">
    show all
    <span><span><%= totalCount %></span></span>
    comments
  </div>
  <div class="comments">

  </div>
  <a name="bottom" href="#"></a>
  <div class="newCommentWrap">
    <div style="background-image: url('/images/uploads/<%= userId %>-avatar-64.jpg')" class="avatar"></div>
    <div class="newComment">
      <input type="hidden" value="1" name="user_id_[1]" id="user_id_1" class="user_id">
      <textarea rows="20" cols="40" class="comment_body" placeholder="add comment..."></textarea>
      <input type="button" value="post" class="save">
      <div class="links hidden">
        <img width="16" height="16" src="/images/icons/link-16.png">
        links
      </div>
      <div class="images hidden">
        <img width="16" height="16" src="/images/icons/images-16.png">
        image
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>




