<div class="prevCommentWrap">
  <a style="background-image: url('/images/uploads/1-avatar-64.jpg')" href="/link-to-username" class="avatar"></a>
  <div class="prevComment">
    <a href="/link-to-username" class="user">comment user name</a>
    <div class="commentTime">time ago in words</div>
    <a rel="nofollow" data-remote="true" data-method="delete" class="deleteComment" href="/entries/9/comments/10"><div class="delete"></div>
    </a>
    <div class="body"><p>this is the body of the comment</p></div>
  </div>
  <div class="clear"></div>
</div>
