
// SHARED
#settingsPanel, #appearancePanel
  .dropdown
    +right
    +font(16)
    +pointer
    +round(8)
    +font(14)
    height: 36px
    width: 160px
    padding: 6px 8px
    option
      padding: 6px 0 6px 24px
      &.stream
        background: url(/images/icons/stream-16-hover.png) no-repeat 4px
      &.home
        background: url(/images/icons/home-16-hover.png) no-repeat 4px
      &.today
        background: url(/images/icons/quasm-16.png) no-repeat 4px
      &.everyone
        background: url(/images/icons/sharing-16-hover.png) no-repeat 4px
      &.friends
        background: url(/images/icons/friend-16.png) no-repeat 4px
      &.followers
        background: url(/images/icons/friend-16-follower.png) no-repeat 4px
      &.anonymous
        background: url(/images/icons/anon-16-hover.png) no-repeat 4px
      &.private
        background: url(/images/icons/private-16-hover.png) no-repeat 4px



// SETTINGS PANEL
.light #settingsPanel, .dark #settingsPanel
  +user-select
  padding: 8px

  .defaults, .network, .changePassword, .feedback
    +clear
    +round(8)
    margin: 0 0 4px
    padding: 8px

  hr
    +alpha(30)

  p.error
    color: red

  .img
    +left
    width: 26px
    height: 36px
    margin-right: 8px

    &#facebook-icon
      background: url(/images/icons/facebook-24-hover.png) no-repeat center transparent
    &#default-fontSize-icon
      background: url(/images/icons/font-24.png) no-repeat center transparent
    &#default-menuStyle-icon
      background: url(/images/icons/menu-24.png) no-repeat center transparent
    &#password-icon
      background: url(/images/icons/admin-24-hover.png) no-repeat center transparent

  h2
    +font(16)
    +bold
    margin: 0px
    padding: 8px
    +block
    +cursor
    +left
    line-height: 32px
    margin: 0
    padding: 0

    &.facebook-label
      margin-top: 3px
    &.password-label
      +pointer
    &.font-label
      margin-top: 5px

  // LABEL BUTTON
  label
    +clear
    +pointer
    +right
    height: 26px
    line-height: 26px
    padding: 0 4px
    border: 1px solid transparent
    margin-top: 8px
    &:hover
      +round(4)
      border: 1px solid #ccc

    input
      +pointer
      +outline
      +right
      margin: 7px 4px 0 8px


  // CANCEL AND CONFIRM
  .cancel, .confirm
    +round(6)
    +center
    margin-top: 6px

  .cancel
    height: 32px
    +font(18)
    +left
    line-height: 32px
    width: 120px

  .confirm
    height: 34px
    +font(16)
    +right
    width: 186px







  // DEFAULT ICON STYLING

  #default-landingPage-icon
    &.stream
      background: url(/images/icons/stream-24-hover.png) no-repeat center transparent
    &.home
      background: url(/images/icons/home-24-hover.png) no-repeat center transparent
    &.today
      background: url(/images/icons/quasm-24.png) no-repeat center transparent

  // DEFAULTS PANEL
  #default-landingPage, #default-menuStyle
    margin-bottom: 4px


  // THE INCREDIBLE FONT SIZER
  #fontLarge, #fontMedium, #fontSmall
    +relative
    +right
    +center
    +pointer
    +round(24)
    margin-left: 14px

  #fontSmall
    +font(12)
    padding: 2px 6px
    margin-top: 11px
  #fontMedium
    +font(16)
    padding: 3px 8px
    margin-top: 7px
  #fontLarge
    +font(18)
    padding: 6px 12px
    margin: 3px 20px 0 14px

  // FACEBOOK LOGIN
  .network
    +clear
    height: 34px

    .linkAccount
      +round(8)
      +absolute
      +center
      +pointer
      +font(18)
      margin: 0
      padding: 0 8px
      width: 142px
      height: 34px
      line-height: 30px
      right: 16px
      +confirm(16)
      +alpha(80)
      &:hover
        +alpha(100)




  // CHANGE PASSWORD FORM
  .changePassword
    padding: 0px 8px
    h2
      line-height: 38px

    .trigger
      width: 318px
      padding: 4px 0 0 4px
      margin: -4px -4px 0
      +pointer
    .changePasswordForm
      padding-bottom: 8px
    span
      +font(12)
      margin: 0 0 0 4px
    #user_old_password, #user_password, #user_password_confirmation
      +outline
      +round(4)
      +font(15)
      margin-bottom: 4px
      padding: 4px
      width: 306px


  .feedback
    +block
    +alpha(80)
    +center
    +font(14)
    margin-bottom: 0px
    +cancel(18)
    &:hover
      +alpha(100)











// COLORS


.light #settingsPanel
  .arrow
    background: url(/images/icons/arrow-up-27-light.png) no-repeat 266px

  .feedback
    +button-light

  .defaults, .network, .changePassword, .feedback
    +panel-light

  .network
    .linkAccount
      +button-light
      +shine-light-alpha(17)

  .changePassword:hover
    border: 1px solid #090909

  #user_old_password, #user_password, #user_password_confirmation
    +input-light(small)

  #fontLarge, #fontMedium, #fontSmall
    +button-light
    +indent-light

  .cancel, .confirm
    +button-light
    +shine-light(16)
    color: #111
  .cancel
    +cancel(16)
  .confirm
    +confirm(16)

// SELECTED FONT SIZE - LIGHT
.light
  &.fontLarge #settingsPanel #fontLarge, &.fontMedium #settingsPanel #fontMedium, &.fontSmall #settingsPanel #fontSmall
    border: 1px solid #777
    +gradient(#aaa, #eee)
    &:hover
      border: 1px solid #777
      +gradient(#aaa, #eee)
    &:active
      border: 1px solid #777
      +gradient(#aaa, #eee)

.light #settingsPanel, .light #appearancePanel
  +panel-light
  +glow-light(40)
  border: none

  .dropdown
    +input-light(small)









.dark #settingsPanel
  .arrow
    background: url(/images/icons/arrow-up-27-dark.png) no-repeat 266px

  .feedback
    +button-dark

  .defaults, .network, .changePassword, .feedback
    +panel-dark

  .defaultSharing
    select
      +input-dark(small)

  .network
    .linkAccount
      +button-dark
      +shine-grey(17)

  .changePassword:hover
    border: 1px solid #ccc

  #user_old_password, #user_password, #user_password_confirmation
    +input-dark(small)

  #fontLarge, #fontMedium, #fontSmall
    +button-dark
    +indent-dark
    border: 1px solid #333

  .cancel, .confirm
    +button-dark
    +shine-dark-alpha(16)
    color: #eee
  .cancel
    +cancel(16)
  .confirm
    +confirm(16)

// SELECTED FONT SIZE - DARK
.dark
  &.fontLarge #settingsPanel #fontLarge, &.fontMedium #settingsPanel #fontMedium, &.fontSmall #settingsPanel #fontSmall
    border: 1px solid #777
    +gradient(#222, #555)
    &:hover
      border: 1px solid #777
      +gradient(#222, #555)
    &:active
      border: 1px solid #777
      +gradient(#222, #555)


.dark #settingsPanel, .dark #appearancePanel
  +panel-dark
  +glow-dark(40)
  border: none

  .dropdown
    +input-dark(small)


