// ENTRY IMAGES
.entryImages.entryPanels{name: 'images'}
  .imagesHeader.headers
    .img
    images

  #uploader

    .dropArea
    .browse
      %img{src:"/images/icons/green-plus-20.png"}
        %span
          click to browse, or drag files here

    %ul#currentImages.imagelist.clearfix



  .clear

   