// ENTRY IMAGES
.entryImages.entryPanels{name: 'images'}
  .imagesHeader.headers
    .img
    images

  #addFromImageBank.hidden
    %img{src: '/images/icons/green-plus-20.png'}
    from Image Bank

  #imageUpload

    #imageDropArea
      .dropboxBrowse
      .clickToBrowse
        %img{src:"/images/icons/green-plus-20.png"}
          %span
            click to browse, or drag files here

    %ul#currentImages.currentImages.clearfix



  .clear

   