// ENTRY IMAGES
.entryImages.entryPanels{name: 'images'}
  .imagesHeader.headers
    .img
    images

  #uploader

    .dropArea
    .browse
      .img
      %span click to browse, or drag files here

    %ul#currentImages.imagelist.clearfix



  .clear

   