// ENTRY IMAGES
.entryImages.entryPanels{name: 'images'}
  .imagesHeader.headers
    .img
    images

  / #addFromImageBank.hidden
  /   %img{src: '/images/icons/green-plus-20.png'}
  /   from Image Bank


  .dropArea
  .clickToBrowse.browse
    / keep browse
    %img{src:"/images/icons/green-plus-20.png"}
      %span
        click to browse, or drag files here

  %ul#currentImages.currentImages.imagelist.clearfix
    / keep imagelist and the currentImages id



  .clear

   