.light #entryField
  .entry-dateTime
    .hour, .month, .day, .year, .minute, .amPm
      +input-light(small)
      +border-light




.dark #entryField
  .entry-dateTime
    .hour, .month, .day, .year, .minute, .amPm
      +input-dark(small)
      +border-dark













#entryField

  .entry-dateTime
    .date, .time
      +left
      margin: 0 0 0 8px
    .hour, .month, .day, .year, .minute, .amPm
      +pointer
      +font(14)
      +transparent
      border: none
      padding: 7px 12px
      height: 36px
    .hour, .month
      margin-left: 8px
    .day, .year, .minute, .amPm
      margin-left: -4px
    .month, .hour
      +round(8)
      +flat-right
    .day, .minute
      +round(8)
      +flat-all
    .year, .amPm
      +round(8)
      +flat-left