<!-- <%= javascript_tag do -%>
  $(document).ready(function() {
    try {
      FB.init({ appId: <%= FB_APP_ID %>, status: true, cookie: true, xfbml: true });
    }
    catch(e) {
      FB = {};
    }
  });
<% end -%> -->

<!-- Facebook Connect uses this do not remove -->
<div id="fb-root"></div>
<!-- = javascript_include_tag "http://connect.facebook.net/en_US/all.js" -->
