// NEW ENTRY
// COLORS
.light #entryField

  .entryImages

    #addFromImageBank
      +bevel-light
      +button-light

    .browse
      +input-light(large)


.dark #entryField

  .entryImages

    #addFromImageBank
      +bevel-dark
      +button-dark

    .browse
      +input-dark(large)














#entryField

  // NOTE: dbl class for specificity, was overwriting .entryImages absolute in 1d-thumbs
  .entryImages.entryPanels
    +relative
    padding: 0
    width: 678px
    min-height: 52px

    .imagesHeader
      float: none
      +absolute
      margin: 8px 0 8px 8px

    #uploader
      +click-through
      +relative
      top: 0
      width: 100%
      height: auto

    .dropArea
      +absolute
      top: 0
      left: 0
      width: 100%
      min-height: 52px
      height: 100%

    .dropArea.active
      +round(2)
      z-index: 4
      @extend .dropbox-26
      background-color: rgba(0,0,0,0.8)

    .browse
      +clickable
      +round(8)
      +center
      position: absolute !important
      top: 6px
      right: 8px
      width: 540px
      height: 38px
      line-height: 38px

      .img
        width: 20px
        height: 20px
        margin: 0px 4px -5px
        display: inline-block
        @extend .green-plus-20


    // .clearfix
    //   display: block !important
    //   // to overwrite clearfix display: inline-block which causes bad positioning
    #currentImages
      +relative
      margin: 58px 0 0 22px
      +user-select
      list-style: none

      .imageBackground
        +round(9)
        +relative
        +left
        top: 0
        left: 0
        margin: 0px 8px 8px 0px
        height: 120px
        width: 120px
        background-color: #a4a6a8

      .entryImageContainer
        +round(8)
        +overflow
        +relative
        margin: 0
        height: 120px
        width: 120px
        z-index: 2

        &:hover
          .radio .input-wrap, .radio .radio-input
            +alpha(100)
          .close
            +alpha(60)

        .radio.selected
          background: rgba(255,255,255,1.0)
          span
            +alpha(100)

        .radio
          +block
          +round(6)
          +flat-top
          +absolute
          +pointer
          bottom: 0
          width: 100%
          height: 28px
          line-height: 28px
          color: #333
          background: rgba(255,255,255,0.0)
          z-index: 100
          &:hover
            background: rgba(255,255,255,0.8)
            span
              +alpha(100)
            .input-wrap
              background: rgba(0,0,0,0.3)

          span
            +alpha(0)
            +bold
            margin-left: 30px

          .radio-input
            +absolute
            +pointer
            +alpha(0)
            top: 8px
            right: 8px
            margin: 0

        .input-wrap
          +alpha(0)
          +absolute
          +round(12)
          right: 4px
          bottom: 4px
          width: 10px
          height: 10px
          padding: 5px
          background: rgba(255,255,255,0.3)

        .close
          +absolute
          +close-24
          +alpha(0)
          top: 2px
          right: 2px

        .entryImageCaption
          +absolute
          +font(16)
          +bold
          color: #333333
          height: 94px
          margin: 4px
          padding: 8px
          width: 184px
          border: 0px
          background: none
          right: 0px

