#newEditEntry


// NEW ENTRY INPUT PANEL
#newEntry
  +round(2)
  width: 662px 
  padding: 8px 8px 0
  margin-bottom: 2px


  // MOOD ICON
  .moodIcon
    +absolute
    right: -26px
    top: -26px
  .moodIcon-picker
    +absolute
    right: -8px
    top: -8px




.entryPanels
  +hidden
  +round(2)
  width: 662px
  padding: 8px
  margin-bottom: 2px



#entry_title, #entry_body
  +outline
  +transparent
  margin: 10px 0 0 10px
  border: none
  font-family: Calibri, Arial, Helvetica, sans-serif


#entry_title
  width: 640px
  padding-bottom: 4px
  +bold

hr
  +alpha(10)
  width: 640px
  margin: 0

#entry_body
  width: 640px
  height: 200px
  min-height: 270px
  min-width: 640px
  max-width: 640px
  padding-bottom: 48px























// NEW ENTRY
// COLORS
.light #entryField

  #newEntry
    +flat-light


.dark #entryField

  #entry_body, #entry_title
    color: #ddd

  #newEntry
    background-color: #121212