// NEW ENTRY
// COLORS
.light #entryField

  .entryTags

    .tagInputWrap
      +input-light(large)
      #newTag
        color: #333
      .tagAdd
        +button-light
        +shine-light-alpha(13)



.dark #entryField

  .entryTags

    .tagInputWrap
      +input-dark(large)
      #newTag
        color: #ddd
      .tagAdd
        +button-dark
        +shine-dark-alpha(13)











#entryField
  // NEW ENTRY TAGS
  .entryTags
    .tagInputWrap
      +right
      +round(8)
      margin: 0 0 8px 8px
      height: 38px
      line-height: 38px
      #newTag
        +left
        +font(16)
        +transparent
        +outline
        width: 456px
        height: 28px
        margin: 6px 0 4px 8px
        border: 0
      .tagAdd
        +round(4)
        +center
        +right
        +bold
        width: 62px
        height: 28px
        line-height: 30px
        margin: 4px 12px 0 0
        span
          color: #009933