#IB_top.dark.C-shine-36.round-12.gradient-9-down
  #IB_browseBackWrap.round-12
    #IB_browseBack.round-12

  / SEARCH Mode
  #IB_searchBoxActiveWrap.round-12
    #IB_searchBoxActive.O-input-15.round-12
      %img(src="/images/icons/searchIcon36.png" width="36" height="36")
      %a#IB_searchOptionsButton.round-8(href="#") Options
      %a#IB_searchOptionsTab.round-8-top.hidden(href="#") Options
      %input#IB_searchText(type="text" value="search")

  <!-- Browse Mode -->
  #IB_browseArrow.float-left
    #IB_browseArrowLeft
    #IB_browseArrowContent
      %p.font-21.float-left
    #IB_browseArrowRight
  
  <!-- Only display on opening view -->
  %img.browseBars(src="/images/icons/browseBars-36-light.png" width="36" height="32")

  %h1#IB_category

  #IB_searchBoxWrap.round-12
    #IB_searchBox.round-12
      %img(src="/images/icons/searchIcon36.png" width="36" height="36")

  #IB_slideshowTimer.uiMode.slideshow.round-8 20
  %a#IB_manageArtistImages.uiMode.artist.round-8
  %a#IB_artistSlideshow.uiMode.artist.round-8
  %span#IB_slideshowCount.uiMode.slideshow
