<% content_for :head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ImageBank Browser - Dreamcatcher</title>
  <%= stylesheet_link_tag "imageBank", "imageBank.browse", "imageBank.artist", "imageBank.artistList", 
    "imageBank.slideshow", "imageBank.search", "imageBank.searchList", "imageBank.searchImages", "compiled/ib" %>

<% end %>

<%= render :partial => 'images/browser/browser' %>

</body>
</html>
