- content_for :head do
  = sass_link_tag 'ib'

#frame.manager

  / TOP
  .browseWrap
    .browse
  .icon
  %h1 manager
  .searchWrap
    .search


  / DROPBOX
  .dropboxWrap#uploader

    .dropArea

    %h2.all select all
    .browse browse
    %h2.drag click or drag files here to upload

    .dropbox

      %ul#imagelist.imagelist

        %li.uploading

          .file

          .size

          %a.cancel{href: '#'} cancel

          .failed.hidden failed

          .progress

          .spinner

          .close


  / ORGANIZATION
  .wrapper
    %h2.header.trigger.showhide organization
    #organization.panel.target.showhide

      %h2.label type
      .listWrap#type
        %input{type: "checkbox"}
        %select.list

      %h2.label category
      .listWrap#category
        %input{type: "checkbox"}
        %select.list

      %h2.label genre
      .listWrap#genre
        %input{type: "checkbox"}
        %select.list
          %option{value: "Placeholder"} Placeholder

      .clear


  / INFO
  .wrapper
    %h2.header.trigger.showhide info
    #info.panel.target.showhide

      .wrap
        .inputWrap#title
          %h2.label title
          %input.text{type: "text"}
          %input.checkbox{type: "checkbox"}

      .wrap
        .inputWrap#album
          %h2.label album
          %input.text{type: "text"}
          %input.checkbox{type: "checkbox"}

      .wrap
        .inputWrap#artist
          %h2.label artist
          %input.text{type: "text"}
          %input.checkbox{type: "checkbox"}

      .wrap
        .inputWrap#location
          %h2.label location
          %input.text{type: "text"}
          %input.checkbox{type: "checkbox"}

      .wrap
        .inputWrap.year#year
          %h2.label year
          %input.text{type: "text"}
          %input.checkbox{type: "checkbox"}

      .wrap
        .inputWrap.notes#notes
          %h2.label notes
          %input.text{type: "text"}
          %input.checkbox{type: "checkbox"}

      .clear



  / SOURCE
  .wrapper
    %h2.header.trigger.showhide SOURCE
    #source.panel.target.showhide.hidden

      .wrap
        .inputWrap.source#date
          %h2.label date
          %input.text{type: "text", :disabled => true}
          /%input.checkbox{type: "checkbox", disabled: "disabled"}

      .wrap
        .inputWrap.source#user
          %h2.label user
          %input.text{type: "text", :disabled => true}
          /%input.checkbox{type: "checkbox"}

      .wrap
        .inputWrap.source#geotag
          %h2.label geotag
          %input.text{type: "text"}
          %input.checkbox{type: "checkbox"}

      .clear



  / TAGS
  .wrapper
    %h2.header.trigger.showhide tags
    #tags.panel.target.showhide.hidden

      .inputWrap.tags#tags
        %textarea{type: "text",  rows: "2", cols: "75"}
        %input{type: "checkbox"}


  / FOOTER BUTTONS
  .saveWrap
    .save save

  .cancelWrap
    .cancel cancel

  .resetWrap
    .reset reset

  .clear



