#metaMenu.public

  #drop_shadow
  #bodyClick

  %a.randomDream{href: '/random'} random dream...

  #rightColumn
    = render :partial => "users/login_panel"

  .joinWrap
    %a{href: join_path} Join now!
