/ APPEARANCE PANEL
#appearancePanel.hidden.target
  .arrow

  / BEDSHEETS
  .bedsheets
    %h2 Bedsheets
    .options{onclick: 'dc.modal()'}
      options
    %ul
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-1.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-2.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-3.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-4.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-5.jpg'}

    .attachment
      %label.fixed
        fixed
        %input{name: 'attachment', value:'fixed', type: 'radio'}
      %label.scroll
        scroll
        %input{name: 'attachment', value:'scroll', type: 'radio'}
      .clear
    /
      .more + browse more...

  / COLOR PICKER
  .colorPicker
    %img.colorSwatch{src: '/images/icons/color_swatch_16.png'}
    %h2 Color
    .buttons
      = link_to user_path(:user => {:view_preference_attributes => {:theme => 'light'}}), :method => :put, :remote => true, :id => 'light', :class => 'sun' do
        sun
        %img{src: '/images/icons/sun-24.png'}
      = link_to user_path(:user => {:view_preference_attributes => {:theme => 'dark'}}), :method => :put, :remote => true, :id => 'dark', :class => 'moon' do
        moon
        %img{src: '/images/icons/moon-24.png'}