/ APPEARANCE PANEL
#appearanceWrap
  #appearanceArrow
    %img{src: '/images/icons/arrow-up-27.png'}
  #appearancePanel.bevel.glow-40.round-8.hidden
    #appearanceArrow
    %img.appearanceIcon{src: '/images/icons/appearance-32.png'}
    %h1 Appearance
    #bedsheets.bevel.round-8
      #details
        %h2 Bedsheets
        %img.appearanceIcon{src: '/images/icons/appearance-32.png'}
        %a{href: '#'} options
      %ul
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-1.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-2.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-3.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-4.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-5.jpg'}

      %a.more.button.round-8{href: '#'} + browse more...


    #colorPicker.bevel.round-8
      %img.colorSwatch{src: '/images/icons/color_swatch_16.png'}
      %h2 Color
      #buttons.inner-shadow-10.round-8
        #sun.round-4.bevel.button.O-outline{onclick: "$('#body').removeClass('dark'), $('#body').addClass('light')"}
          sun
          %img{src: '/images/icons/sun-24.png'}
        #moon.round-4.bevel.button.O-outline{onclick: "$('#body').removeClass('light'), $('#body').addClass('dark')"}
          moon
          %img{src: '/images/icons/moon-24.png'}
