/ APPEARANCE PANEL
#appearancePanel.hidden.panel.glow-40.round-8.target
  .arrow

  / BEDSHEETS
  .bedsheets.panel.round-8
    %h2 Bedsheets
    .options.round-12.button.padding-2-4.alpha-60 options
    %ul
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-1.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-2.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-3.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-4.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-5.jpg'}

    .more.button.confirm.round-8.alpha-60 + browse more...

  / COLOR PICKER
  .colorPicker.panel.round-8
    %img.colorSwatch{src: '/images/icons/color_swatch_16.png'}
    %h2 Color
    #buttons.inner-shadow-10.round-8
      #sun.light.round-4.bevel.button{onclick: "$('#body').removeClass('dark'), $('#body').addClass('light')"}
        sun
        %img{src: '/images/icons/sun-24.png'}
      #moon.dark.round-4.bevel.button{onclick: "$('#body').removeClass('light'), $('#body').addClass('dark')"}
        moon
        %img{src: '/images/icons/moon-24.png'}
