/ APPEARANCE PANEL
#appearancePanel.hidden.target
  .arrow

  / BEDSHEETS
  .bedsheets
    %h2 Bedsheets
    .options{onclick: 'dc.modal()'}
      options
    %ul
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-1.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-2.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-3.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-4.jpg'}
      %li
        %img{src: '/images/art/IB_artistImages/artistImage120-5.jpg'}

    .attachment
      %label.fixed
        fixed
        %input{name: 'attachment', value:'fixed', type: 'radio'}
      %label.scroll
        scroll
        %input{name: 'attachment', value:'scroll', type: 'radio'}
      .clear
    /
      .more + browse more...

  / COLOR PICKER
  .colorPicker
    %img.colorSwatch{src: '/images/icons/color_swatch_16.png'}
    %h2 Color
    .buttons
      .sun{onclick: "$('#body').removeClass('dark'), $('#body').addClass('light')"}
        sun
        %img{src: '/images/icons/sun-24.png'}
      .moon{onclick: "$('#body').removeClass('light'), $('#body').addClass('dark')"}
        moon
        %img{src: '/images/icons/moon-24.png'}
