/ APPEARANCE PANEL
#appearanceWrap
  #appearanceArrow
    %img{src: '/images/icons/arrow-up-27.png'}
  #appearancePanel.dark.O.O-outline.A-bevel.round-8.hidden
    %img.appearanceIcon{src: '/images/icons/appearance-32.png'}
    %h1 Appearance
    #bedsheets.dark.O.O-outline.A-bevel.round-8
      #details
        %h2 Bedsheets
        %img.appearanceIcon{src: '/images/icons/appearance-32.png'}
        %a{href: '/'} options
      %ul
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-1.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-2.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-3.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-4.jpg'}
        %li
          %img{src: '/images/art/IB_artistImages/artistImage120-5.jpg'}

      #more.round-8 + browse more...


    #colorPicker.dark.O-outline.O-bevel.round-8
      %img.colorSwatch{src: '/images/icons/color_swatch_16.png'}
      %h2 Color
      #buttons.dark.O.O-indent.round-8
        #sun.light.round-4.O.O-button.A-bevel.O-outline
          %p sun
          %img{src: '/images/icons/sun-24.png'}
        #moon.dark.round-4.O.O-button.B-bevel.O-outline
          %p moon
          %img{src: '/images/icons/moon-24.png'}