.location
  %label{:class => (current_user.default_location_id==location.id) ? "selected" : ""}
    set as default
    = radio_button_tag 'user[default_location_id]', location.id, (current_user.default_location_id==location.id)
  .edit
  = location.name