#metaMenu.public

  .leftPanel
    %a.item{href: '#'}
      intro
    %a.item{href: '#'}
      books
    %a.item{href: '#'}
      channels
    %form
      %input{type: 'text', name: 'search' }


  .rightPanel
    .prompt
      %a.loginItem
        %img{src: '/images/icons/facebook-16.png', alt: 'Log in with Facebook', border: '0'}
      %a.loginItem
        %img{src: '/images/icons/twitter-16.png', alt: 'Log in with Twitter', border: '0'}
      %a.loginItem
        %img{src: '/images/icons/google-16.png', alt: 'Log in with Google', border: '0'}
      %a.login.confirm{href: '#'}
        login

    / JOIN NOW
    .joinWrap
      %a.join{href: '#'}
        Join Now &rsaquo;

    / LOGIN PANEL
    .loginPanel.hidden
      = form_for('user', {url: user_session_path}) do |f|
        %a.forgot{href: '#'} Forgot password
        %label.stay
          Stay logged in
          %input{tabindex: '4', type: 'checkbox', name: 'remember_me'}
        = f.text_field(:username, {class: 'login-input input round-12', tabindex: '1'})
        = f.password_field(:password, {class: 'login-input input round-12', tabindex: '2'})
        %input#loginButton.confirm{tabindex: '3', name: 'loginButton', type: 'submit', value: 'Log in &rsaquo;'}

    / SIGN UP
    .signupPanel.hidden
      %input{type: 'text', name: 'email', value: 'email' }
      %input{type: 'text', name: 'username', value: 'username' }
      %input{type: 'password', name: 'password', value: 'password' }
      %input{type: 'password', name: 'password', value: 'repeat password' }
      .haveSeedcode have a seed code?
      %input{type: 'THETA', name: 'seedcode', value: 'THETA' }

    / SIGN UP BUTTON
    .signupWrap
      %input.signup{type: 'submit', name: 'signup', value: 'Sign up &rsaquo;'}
