#metaMenu

  .left-panel.padding-8.round-16.flat-top
    %a.item{href: '#'}
      intro
    %a.item{href: '#'}
      books
    %a.item{href: '#'}
      channels


  .right-panel.padding-8.round-16.flat-top
    %a.item{href: '#'}
      intro
    %a.item{href: '#'}
      intro