= coffeescript_include_tag 'metamenu', 'dreamplugs'

- if current_user.blank?
  / META MENU - PUBLIC

  %a.dcLogo{href: root_path}
    %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

  = render :partial => "layouts/meta_menu_public"


- else
  / META MENU - USER

  #report_box= VERSION

  %a#logo{href: root_path}
    %img{src: 'http://www.dreamcatcher.net/basic/inc/images/logos/dreamcatcher_logo-THETA.png', alt: 'Dreamcatcher', border: '0'}

  = render :partial => "layouts/meta_menu_user"