/ HEADER
#report_box
  theta v.1.0 (a)

#logo
  %a{href: '/'}
    %img{src: 'http://www.dreamcatcher.net/basic/inc/images/logos/dreamcatcher_logo-THETA.png', alt: 'Dreamcatcher', border: '0'}

/ META MENU - PUBLIC
= render :partial => "layouts/meta_menu_public"

/ META MENU - USER
/= render :partial => "layouts/meta_menu_user"