/ HEADER
#report_box
  / = VERSION

#logo
  %a{href: '/'}
    %img{src: 'http://www.dreamcatcher.net/basic/inc/images/logos/dreamcatcher_logo-THETA.png', alt: 'Dreamcatcher', border: '0'}

- if current_user.blank?
  / META MENU - PUBLIC
  = render :partial => "layouts/meta_menu_public"
- else
  / META MENU - USER
  = render :partial => "layouts/meta_menu_user"