/ SETTINGS PANEL
#settingsPanel.hidden.panel.glow-40.round-8.target.fade
  .arrow



  / SHARING
  .sharing.panel.round-8
    .defaultSharing
      %img{src: '/images/icons/everyone-16.png'}
      %h2 Default sharing
      %select.sharingList.input.round-8
        %option.everyone{value: 'Everyone'} Everyone
        %option.friends{value: 'Friends Only'} Friends only
        %option.anonymous{value: 'Anonymous'} Anonymous
        %option.private{value: 'Private'} Private
    %label
      I must authorize all follow requests
      %input.authFollow{type: 'checkbox'}

    .network
      %img{src: '/images/icons/facebook-16.png'}
      Facebook
      .linkAccount.button.small.confirm.bevel.round-4
        Link account
    %label
      By default, share on Facebook
      %input.fbShare{type: 'checkbox'}
    .clear-both




  / SAVED LOCATIONS
  .savedLocations.wrapper.panel.round-8

    %h2.trigger.slide
      %img{src: '/images/icons/world-16.png'}
      Saved locations


    .locationView.target.slide
      %form
        .locationList.border

          .locations.flat.button
            %label.default.alpha-50
              set as default
              %input{name: 'default', value:'Home', type: 'radio'}
            .edit
            Home

          .locations.flat.button
            %label.default.alpha-50
              set as default
              %input{name: 'default', value:'The Pearl', type: 'radio'}
            .edit
            The Pearl

          .locations.flat.button
            %label.default.alpha-50.selected
              set as default
              %input{name: 'default', value:'Flow Space', type: 'radio'}
            Flow Space
            .edit

          .locations.flat.button
            %label.default.alpha-50
              set as default
              %input{name: 'default', value:'Flow Space', type: 'radio'}
            Flow Space
            .edit

          .locations.flat.button
            %label.default.alpha-50
              set as default
              %input{name: 'default', value:'Flow Space', type: 'radio'}
            Flow Space
            .edit

          .locations.flat.button
            %label.default.alpha-50
              set as default
              %input{name: 'default', value:'Flow Space', type: 'radio'}
            Flow Space
            .edit

          .locations.flat.button
            %label.default.alpha-50
              set as default
              %input{name: 'default', value:'Under I580', type: 'radio'}
            .edit
            Under I580

        %label.autoLocate.bevel.round-4.padding-2-4.button.small.cancel
          auto locate
          %input{name: 'default', value:'auto', type: 'radio'}

      .newLocation.trigger.toggle.bevel.float-left.round-4.padding-2-4.button.small.confirm
        %img{src: '/images/icons/add-16.png'}
        new location
      .clear-both

    .modifyLocationView.target.toggle.hidden
      %input.input{value: 'Location name'}
      %input.input{value: 'City'}
      %input.input{value: 'State / Province'}
      %input.input{value: 'Country'}
      .confirm.button.small.bevel.round-4 Save
      .cancel.button.small.bevel.round-4 Cancel
      .clear-both





  / CHANGE PASSWORD
  .changePassword.wrapper.slide.panel.round-8
    %h2.trigger
      %img{src: '/images/icons/key-16.png'}
      Change password

    .changePasswordForm.target.hidden
      %input.input{value: 'Current password'}
      %input.input{value: 'New password'}
      %input.input{value: 'Confirm new password'}
      .cancel.button.small.bevel.round-4 Cancel
      .confirm.button.small.bevel.round-4 Change password
      .clear-both


  / FONT SIZING
  .fontSizing.panel.round-8
    %img.fontImage{src: '/images/icons/font_size-16.png'}
    %h2 Font
    .large A
    .medium A
    .small A
