/ SETTINGS PANEL
#settingsPanel.hidden.target
  .arrow

  / SHARING
  .sharing
    .defaultSharing
      %img.sharingIcon{src: '/images/icons/everyone-16.png'}
      %h2 Default sharing
      %select.sharingList
        %option.everyone{value: 'Everyone'} Everyone
        %option.friends{value: 'Friends Only'} Friends only
        %option.anonymous{value: 'Anonymous'} Anonymous
        %option.private{value: 'Private'} Private
    %label.hidden
      I must authorize all follow requests
      %input.authFollow{type: 'checkbox'}
    .clear

    %hr.alpha-20

    .network.wrapper
      %img{src: '/images/icons/facebook-16.png'}
      %h2 Facebook
      .linkAccount.trigger.showhide
        Link account
      %label.target.showhide.hidden
        By default, share on Facebook
        %input.fbShare{type: 'checkbox'}
    .clear




  / SAVED LOCATIONS
  .savedLocations.wrapper

    %h2.trigger.showhide
      %img{src: '/images/icons/world-16.png'}
      Saved locations


    .wrapper.target.showhide.hidden
      .locationView
        %form
          .locationList

            .locations
              %label
                set as default
                %input{name: 'default', value:'Home', type: 'radio'}
              .edit
              Home

            .locations
              %label
                set as default
                %input{name: 'default', value:'The Pearl', type: 'radio'}
              .edit
              The Pearl

            .locations
              %label.selected
                set as default
                %input{name: 'default', value:'Flow Space', type: 'radio'}
              Flow Space
              .edit

            .locations
              %label
                set as default
                %input{name: 'default', value:'Flow Space', type: 'radio'}
              Flow Space
              .edit

            .locations
              %label
                set as default
                %input{name: 'default', value:'Flow Space', type: 'radio'}
              Flow Space
              .edit

            .locations
              %label
                set as default
                %input{name: 'default', value:'Flow Space', type: 'radio'}
              Flow Space
              .edit

            .locations
              %label
                set as default
                %input{name: 'default', value:'Under I580', type: 'radio'}
              .edit
              Under I580

          %label.autoLocate
            auto locate
            %input{name: 'default', value:'auto', type: 'radio'}

        .newLocation.trigger.toggle
          %img{src: '/images/icons/add-16.png'}
          new location
        .clear

      / ADD NEW LOCATION
      .modifyLocationView.target.toggle.hidden
        <b>Add a new location</b>
        %input{value: 'Location name'}
        %input{value: 'City'}
        %input{value: 'State / Province'}
        %input{value: 'Country'}
        .save Save
        .cancel Cancel
        .clear





  / CHANGE PASSWORD
  .changePassword.wrapper.showhide
    %h2.trigger.showhide
      %img{src: '/images/icons/key-16.png'}
      Change password

    .changePasswordForm.target.showhide.hidden
      %span Current password
      %input{type: 'password'}
      %span New password
      %input{type: 'password'}
      %span Repeat new password
      %input{type: 'password'}

      .cancel Cancel
      .confirm Change password
      .clear


  /
    FONT SIZING
    .fontSizing
      %h2
        %img{src: '/images/icons/font_size-16.png'}
        Font
      .large A
      .medium A
      .small A
