/ SETTINGS PANEL
#settingsPanel.hidden.panel.glow-40.round-8
  .arrow

  / SHARING
  .sharing.panel.round-8
    .defaultSharing
      %img{src: '/images/icons/sharing-16.png'}
      %p Default Sharing
      %select.sharingList.input.round-8
        %option{value: 'Everyone'} Everyone
        %option{value: 'Friends Only'} Friend's Only
        %option{value: 'Anonymous'} Anonymous
        %option{value: 'Private'} Private

    .network
      %img{src: '/images/icons/facebook-16.png'}
      %p Facebook
      .linkAccount.shine.button.round-8
        Link Account

  / SAVED LOCATIONS
  .savedLocations.panel.round-8
    %h2 Saved Locations
    .locations
      %p Home
      %p The Pearl
      %p Flow Space
      %p Under I580

  / CHANGE PASSWORD
  .changePassword.panel.round-8
    %h2 Change Password
    %input.input{value: 'Current Password'}
    %input.input{value: 'New Password'}
    %input.input{value: 'Confirm New Password'}
    .cancel.button.bevel.round-8 Cancel
    .save.button.bevel.round-8 Change Password
    .clear-both
